[Desktop Entry]
Name[be]=Шматзадачнасць
Name[bg]=Многозадачност
Name[ca]=Multitasca
Name[cs]=Multitasking
Name[da]=Multitasking
Name[de]=Multitasking
Name[en_GB]=Multitasking
Name[en_US]=Multitasking
Name[es]=Multitarea
Name[et]=Multitegumtöö
Name[eu]=Aldi bereko zereginak
Name[fa]=چندوظیفگی
Name[fi]=Moniajo
Name[fr]=Multi-tâches
Name[gl]=Multitarefa
Name[he]=ריבוי משימות
Name[hr]=Višezadaćnost
Name[hu]=Többfeladatos munkavégzés
Name[id]=Multitasking
Name[is]=Fjölverkavinnsla
Name[it]=Multitasking
Name[ja]=マルチタスク
Name[ka]=მრავალამოცანიანობა
Name[kk]=Көптапсырмалылық
Name[ko]=다중 작업
Name[lt]=Daugiaprogramis apdorojimas
Name[lv]=Vairākuzdevumi
Name[nl]=Multitasking
Name[oc]=Multiprètzfach
Name[pa]=ਬਹੁ-ਕੰਮਕਾਜ
Name[pl]=Wielozadaniowość
Name[pt_BR]=Multitarefas
Name[pt_PT]=Multitarefa
Name[ro]=Sarcini multiple
Name[ru]=Многозадачность
Name[sl]=Večopravilnost
Name[sv]=Multikörning
Name[tr]=Çoklu Görev
Name[uk]=Багатозадачність
Name[vi]=Đa nhiệm
Name[zh_CN]=多任务
Name[zh_TW]=多工運作
Name=Multitasking
Comment[be]=Кіраванне параметрамі прадукцыйнасці і шматзадачнасці
Comment[bg]=Настройките за производителност и работа по много задачи
Comment[ca]=Gestiona les preferències de productivitat i multitasca
Comment[cs]=Správa předvoleb pro produktivitu a multitasking
Comment[da]=Håndtér indstillinger for produktivitet og multitasking
Comment[de]=Einstellungen für Produktivität und Multitasking verwalten
Comment[en_GB]=Manage preferences for productivity and multitasking
Comment[en_US]=Manage preferences for productivity and multitasking
Comment[es]=Gestionar las preferencias para productividad y multitarea
Comment[et]=Halda multitegumtöö seadistusi
Comment[eu]=Kudeatu hobespenak produktibitaterako eta aldi bereko zereginetarako
Comment[fa]=مدیریت ترجیحات برای بهره‌وری و چندوظیفگی
Comment[fi]=Hallinnoi tuottavuuden ja moniajon asetuksia
Comment[fr]=Gérer les préférences de productivité et du multi-tâches
Comment[gl]=Xestionar as preferencias para a productividade e multitarefa
Comment[he]=ניהול העדפות ליעילות וריבוי משימות
Comment[hr]=Upravljajte osobitostima za produktivnost i višezadaćnost
Comment[hu]=A hatékony többfeladatos munkavégzés beállításainak kezelése
Comment[id]=Mengelola preferensi untuk produktivitas dan multitasking
Comment[is]=Sýsla með kjörstillingar varðandi afköst og fjölverkavinnslu
Comment[it]=Gestisce le preferenze di produttività e multitasking
Comment[ja]=生産性とマルチタスクのための環境設定を管理します
Comment[kk]=Өнімділік және көптапсырмалылық баптауларын басқару
Comment[ko]=생산성 및 다중 작업에 대한 환경설정 관리하기
Comment[lt]=Tvarkykite nuostatas produktyvumui ir daugeliui užduočių
Comment[lv]=Pārvaldiet iestatījumus produktivitātei un vairākuzdevumu darbam
Comment[nl]=Voorkeuren beheren voor productiviteit en multitasking
Comment[oc]=Gerir las preferéncias per la productivitat e multi prètzfach
Comment[pa]=ਉਤਪਾਦਨ ਤੇ ਬਹੁ-ਕੰਮਕਾਜ ਲਈ ਤਜਰੀਹਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzanie preferencjami efektywności i wielozadaniowości
Comment[pt_BR]=Gerencie preferências para produtividade e multitarefas
Comment[pt_PT]=Gerir preferências para produtividade e multitarefa
Comment[ro]=Administrează preferințele pentru productivitate și efectuarea de sarcini multiple
Comment[ru]=Управляйте предпочтениями продуктивности и многозадачности
Comment[sl]=Upravljanje nastavitev za učinkovito delo in večopravilnost
Comment[sv]=Hantera inställningar för produktivitet och multikörning
Comment[tr]=Verimlilik ve çoklu görev için tercihleri yönet
Comment[uk]=Керування параметрами продуктивності та багатозадачності
Comment[vi]=Quản lý các tùy chỉnh cho năng suất và đa nhiệm
Comment[zh_CN]=管理生产力和多任务的首选项
Comment[zh_TW]=管理生產力和多工運作的偏好設定
Comment=Manage preferences for productivity and multitasking
Exec=budgie-control-center multitasking
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.buddiesofbudgie.Settings-multitasking-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=Budgie;
# Translators: Search terms to find the Search panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Шматзадачнасць;Прадукцыйнасць;Працоўны стол;Кастамізацыя;
Keywords[bg]=multitasking;multitask;productivity;customize;desktop;многозадачност;паралелност;производителност;продуктивност;работно пространство;
Keywords[ca]=Multitasca;Productivitat;Personalitza;Escriptori;
Keywords[cs]=multitasking;multitask;více úkolů;více úloh;produktivita;přizpůsobit;přizpůsobení;desktop;
Keywords[da]=Multitasking;Multitaske;Produktivitet;Tilpas;Skrivebord;
Keywords[de]=Multitasking;Multitask;Productivity;Produktivität;Customize;Bearbeiten;Desktop;Arbeitsumgebung;
Keywords[en_GB]=Multitasking;Multitask;Productivity;Customise;Desktop;
Keywords[en_US]=Multitasking;Multitask;Productivity;Customize;Desktop;
Keywords[es]=multitarea;productividad;personalizar;escritorio;
Keywords[et]=Multitasking;Multitask;Productivity;Customize;Desktop;töölaud;aknad;rööprähklemine;rööprähklus;mitmiktegumtöö;
Keywords[eu]=Aldi bereko zereginak;Produktibitatea:Pertsonalizazioa;Mahaigaina;
Keywords[fa]=Multitasking;Multitask;Productivity;Customize;Desktop;چندوظیفگی;بهره‌وری;شخصی‌سازی;میزکار;
Keywords[fi]=Multitasking;Multitask;Productivity;Customize;Desktop;moniajo;tuottavuus;mukautus;samanaikainen;
Keywords[fr]=Multi-tâches;productivité;personnalisation;bureau;
Keywords[gl]=Multitarefa;Productividade;Personalizar;Escritorio;
Keywords[he]=ריבוי משימות;ביצוע מפוצל;יעילות;פרודוקטיביות;מולטיטאסקינג;מולטיטסקינג;התאמה;שינוי;עריכה;שולחן עבודה;התאמה אישית;
Keywords[hr]=Višezadaćnost;Višezadaća;Produktivnost;Prilagodi;Radna površina;
Keywords[hu]=Többfeladatos;Hatékony;Testreszabás;Asztal;
Keywords[id]=Multitasking;Multitask;Produktivitas;Menyesuaikan;Desktop;
Keywords[is]=Fjölverkavinnsla;Verkefni;Afköst;Vinna;Sérsníða;Skjáborð;
Keywords[it]=Multitasking;Multitask;Produttività;Personalizzazione;Desktop;
Keywords[ja]=Multitasking;Multitask;Productivity;Customize;Desktop;マルチタスク;生産性;カスタマイズ;デスクトップ;
Keywords[kk]=Multitasking;Multitask;Productivity;Customize;Desktop;көптапсырмалылық;өнімділік;баптау;жұмыс үстелі;
Keywords[ko]=Multitasking;다중작업;다중 작업;멀티태스킹;Multitask;멀티태스크;Productivity;생산성;Customize;사용자설정;사용자 설정;Desktop;데스크톱;
Keywords[lt]=Daugelis užduočių;Produktyvumas;Tinkinti;Darbastalis;
Keywords[lv]=Vairākuzdevumi;Produktivitāte;Pielāgot;Darbvirsma;
Keywords[nl]=Multitasking;Multitask;Productivity;Customize;Desktop;Multitasken;Productiviteit;Aanpassen;Bureaublad;
Keywords[oc]=multi prètzfach;multitasca;productivitat;personalizar;burèu;
Keywords[pa]=ਬਹੁ-ਕੰਮ;ਮਲਟੀ-ਟਾਸਕ;ਉਤਪਾਦਨ,ਕਸਟਮਾਈਜ਼ ਡੈਸਕਟਾਪ;
Keywords[pl]=Wielozadaniowość;Multitasking;Efektywność;Produktywność;Dostosuj;Dostosowanie;Pulpit;Desktop;
Keywords[pt_BR]=Multitarefa;Multitarefas;Produtividade;Personalizar;Customizar;Área de trabalho;Desktop;
Keywords[pt_PT]=Multitasking;Multitask;Productivity;Customize;Desktop;
Keywords[ro]=Multitasking;Multitask;Productivity;Customize;Desktop;Sarcini;Sarcini multiple;Productivitate;Personalizează;Personalizare;
Keywords[ru]=Многозадачность;Продуктивность;Фокус;Настройка;Рабочий стол;
Keywords[sl]=Multitasking;Multitask;Productivity;Customize;Desktop;Namizje;Večopravilnost;Učinkovitost;Prilagajanje;Delo;
Keywords[sv]=Multitasking;Multitask;Multikörning;Produktivitet;Anpassa;Skrivbord;
Keywords[tr]=Çoklugörev;Çoğulgörev;Verimlilik;Üretkenlik;Özelleştir;Masaüstü;
Keywords[uk]=Multitasking;Multitask;Productivity;Customize;Desktop;багатозадачність;задача;завдання;продуктивність;налаштовування;налаштування;стільниця;
Keywords[vi]=Multitasking;Multitask;Productivity;Customize;Desktop;Đa;nhiệm;Tùy;chọn;chỉnh;da nhiem;
Keywords[zh_CN]=多任务;多进程;生产力;自定义;桌面;
Keywords[zh_TW]=Multitasking;Multitask;Productivity;Customize;Desktop;多工運作;多工;生產力;生產力;自定義;桌面;
Keywords=Multitasking;Multitask;Productivity;Customize;Desktop;
