[Desktop Entry]
Name[bs]=D-Feet
Name[cs]=D-Feet
Name[da]=D-Feet
Name[de]=D-Feet
Name[el]=D-Feet
Name[en_GB]=D-Feet
Name[es]=D-Feet
Name[eu]=D-Feet
Name[fi]=D-Feet
Name[fr]=D-Feet
Name[fur]=D-Feet
Name[gl]=D-Feet
Name[hr]=D-Feet
Name[hu]=D-Feet
Name[id]=D-Feet
Name[lv]=D-Feet
Name[nb]=D-Feet
Name[nl]=D-Feet
Name[oc]=D-Feet
Name[pl]=D-Feet
Name[pt]=D-Feet
Name[pt_BR]=D-Feet
Name[ro]=D-Feet
Name[ru]=D-Feet
Name[sl]=D-Feet
Name[sr]=Д-стопа
Name[sr@latin]=D-stopa
Name[sv]=D-Feet
Name[tr]=D-Feet
Name[uk]=D-Feet
Name[zh_CN]=D-Feet
Name=D-Feet
GenericName[bs]=D-Bus Debugger
GenericName[cs]=Program pro ladění D-Bus
GenericName[da]=D-Bus-fejlsøger
GenericName[de]=D-Bus-Fehlerdiagnose
GenericName[el]=Αποσφαλματωτής D-Bus
GenericName[en_GB]=D-Bus Debugger
GenericName[es]=Depurador de D-Bus
GenericName[eu]=D-Bus araztailea
GenericName[fi]=D-Bus-vianjäljitys
GenericName[fr]=Débogueur D-Bus
GenericName[fur]=Debugger D-Bus
GenericName[gl]=Depurador D-Bus
GenericName[hr]=D-Bus otklanjatelj grešaka
GenericName[hu]=D-Bus hibakereső
GenericName[id]=Pengawakutu D-Bus
GenericName[lv]=D-Bus atkļūdotājs
GenericName[nl]=D-Bus-debugger
GenericName[oc]=Desbugador D-Bus
GenericName[pl]=Debuger D-Bus
GenericName[pt]=Depurador de D-Bus
GenericName[pt_BR]=Depurador de D-Bus
GenericName[ro]=Depanator D-Bus
GenericName[ru]=Отладчик D-Bus
GenericName[sl]=Razhroščevalnik vodila D-Bus
GenericName[sr]=Прочишћавач Д-сабирнице
GenericName[sr@latin]=Pročišćavač D-sabirnice
GenericName[sv]=D-Bus-felsökare
GenericName[tr]=D-Bus Hata Ayıklayıcı
GenericName[uk]=Засіб діагностики D-Bus
GenericName[zh_CN]=D-Bus 调试器
GenericName=D-Bus Debugger
Comment[bs]=Traženje grešaka za programe D-Bus
Comment[cs]=Laďte aplikace používající sběrnici D-Bus
Comment[da]=Fejlsøg D-Bus-programmer
Comment[de]=Fehlerdiagnose für D-Bus-Anwendungen
Comment[el]=Αποσφαλμάτωση εφαρμογών D-Bus
Comment[en_GB]=Debug D-Bus applications
Comment[es]=Depurar aplicaciones de D-Bus
Comment[eu]=Araztu D-Bus aplikazioak
Comment[fi]=Jäljitä vikoja D-Bus-sovelluksista
Comment[fr]=Débogue les applications D-Bus
Comment[fur]=Fâs il debug des aplicazions D-Bus
Comment[gl]=Aplicativos de depuración de D-Bus
Comment[hr]=Aplikacija D-Bus otklanjanja grešaka
Comment[hu]=D-Bus alkalmazások hibakeresése
Comment[id]=Mengawakutu aplikasi-aplikasi D-Bus
Comment[lv]=Atkļūdo D-Bus lietotnes
Comment[nb]=Feilsøk D-Bus-programmer
Comment[nl]=Debug D-Bus-toepassingen
Comment[oc]=Desbuga las aplicacions D-Bus
Comment[pl]=Debugowanie programów D-Bus
Comment[pt]=Depure aplicações D-Bus
Comment[pt_BR]=Depure aplicativos D-Bus
Comment[ro]=Aplicații de depanare D-Bus
Comment[ru]=Отладка приложений D-Bus
Comment[sl]=Razhroščevanje programov vodila D-Bus
Comment[sr]=Прочистите програме Д-сабирнице
Comment[sr@latin]=Pročistite programe D-sabirnice
Comment[sv]=Felsök D-Bus-program
Comment[tr]=D-Bus uygulamalarında hata ayıkla
Comment[uk]=Діагностика програм із D-Bus
Comment[zh_CN]=调试 D-Bus 应用程序
Comment=Debug D-Bus applications
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bs]=debug;d-bus;dbus;dfeet;pomak;
Keywords[cs]=ladit;ladění;d-bus;dbus;dfeet;
Keywords[da]=fejlsøg;d-bus;dbus;dfeet;
Keywords[de]=debug;d-bus;dbus;dfeet;
Keywords[el]=αποσφαλμάτωση;δίαυλος δεδομένων;debug;d-bus;dbus;dfeet;
Keywords[en_GB]=debug;d-bus;dbus;dfeet;d-feet;
Keywords[es]=depurar;depurador;d-bus;dfeet;
Keywords[eu]=araztu;d-bus;dbus;dfeet;
Keywords[fi]=debug;d-bus;dbus;dfeet;vianetsintä;vianjäljitys;
Keywords[fr]=débogage;d-bus;dbus;dfeet;
Keywords[fur]=debug;d-bus;dbus;dfeet;
Keywords[hr]=otklanjanje grešaka;d-bus;dbus;dfeet;
Keywords[hu]=hibakeresés;d-bus;dbus;dfeet;
Keywords[id]=debug;d-bus;dbus;dfeet;awakutu;
Keywords[nb]=feilsøk;d-bus;dbus;dfeet;
Keywords[nl]=debug;d-bus;dbus;dfeet;
Keywords[oc]=desbugatge;d-bus;
Keywords[pl]=debugger;debugowanie;debuggowanie;debuguj;debugguj;d-bus;dbus;dfeet;
Keywords[pt]=depuração;d-bus;barramento;dfeet;
Keywords[pt_BR]=depuração;debug;d-bus;dfeet;
Keywords[ro]=debug;d-bus;dbus;dfeet;depanare;depanator;
Keywords[sl]=razhroščevanje;debug;d-bus;dbus;dfeet;vodilo;
Keywords[sr]=прочисти;д-сабирница;дстопа;debug;d-bus;dbus;dfeet;
Keywords[sr@latin]=pročisti;d-sabirnica;dstopa;
Keywords[sv]=debug;felsökning;avlusning;d-bus;dbus;dfeet;
Keywords[tr]=hata ayıklama;d-bus;dbus;dfeet;debug;
Keywords[uk]=debug;d-bus;dbus;dfeet;діагностика;зневадження;дібас;ді-бас;діфіт;
Keywords=debug;d-bus;dbus;dfeet;
Exec=d-feet
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.dfeet
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;Debugger;
StartupNotify=true
