[Desktop Entry]
Name=Bluetooth
Name[ar]=بلوتوث
Name[bg]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en]=Bluetooth
Name[en_GB]=Bluetooth
Name[es]=Bluetooth
Name[fa]=بلوتوث
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[ga]=Bluetooth
Name[gl]=Bluetooth
Name[hi]=ब्लूटूथ
Name[hu]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[kab]=Bluetooth
Name[kk]=Bluetooth
Name[kmr]=Bluetooth
Name[ko]=블루투스
Name[lt]=Bluetooth
Name[nl]=Bluetooth
Name[oc]=Bluetooth
Name[pa]=ਬਲੂਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Energia e Bateria
Name[pt_BR]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sr]=Блутут
Name[sv]=Bluetooth
Name[uk]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_Hant]=藍牙
Comment=Manage Bluetooth devices
Comment[ar]=أدِر أجهزة البلوتوث
Comment[cs]=Správa Bluetooth zařízení
Comment[da]=Administrer Bluetooth-enheder
Comment[de]=Bluetooth-Geräte verwalten
Comment[el]=Διαχείριση συσκευών Bluetooth
Comment[en]=Manage Bluetooth devices
Comment[en_GB]=Manage Bluetooth devices
Comment[fa]=مدیریت دستگاه‌های بلوتوث
Comment[fi]=Hallitse Bluetooth-laitteita
Comment[fr]=Gérer les appareils Bluetooth
Comment[ga]=Bainistigh gléasanna Bluetooth
Comment[gl]=Xestionar dispositivos Bluetooth
Comment[hi]=ब्लूटूथ डिवाइस प्रबंधित करें
Comment[hu]=Bluetooth-eszközök kezelése
Comment[id]=Kelola perangkat Bluetooth
Comment[it]=Gestione di dispositivi Bluetooth
Comment[kab]=Sefrek ibenkan n bluetooth
Comment[kk]=Bluetooth құрылғыларын басқару
Comment[kmr]=Amûrên Bluetooth bi rê ve bibe
Comment[ko]=블루투스 장치 관리
Comment[lt]=Valdyti Bluetooth įrenginius
Comment[nl]=Beheer Bluetooth-apparaten
Comment[oc]=Gerir los aparelhs Bluetooth
Comment[pa]=ਬਲੂਟੁੱਥ ਡਿਵਾਈਸਾਂ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzaj urządzeniami Bluetooth
Comment[pt_BR]=Gerenciar dispositivos Bluetooth
Comment[ru]=Управление устройствами Bluetooth
Comment[sat]=ᱵᱞᱩᱴᱩᱛᱷ ᱥᱟᱫᱷᱚᱱ ᱠᱚ ᱥᱚᱢᱵᱷᱲᱟᱣ ᱢᱮ
Comment[sr]=Управљај Блутут уређајима
Comment[sv]=Hantera Bluetooth-enheter
Comment[uk]=Керування пристроями Bluetooth
Comment[zh_CN]=管理蓝牙设备
Comment[zh_Hant]=管理藍牙裝置
Type=Application
Exec=cosmic-applet-bluetooth
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Bluetooth;
Keywords[ar]=COSMIC;بريمج;بلوتوث;
Keywords[cs]=COSMIC;Applet;Bluetooth;
Keywords[da]=COSMIC;Applet;Bluetooth;
Keywords[de]=COSMIC;Applet;Bluetooth;
Keywords[el]=Μικροεφαρμογή;COSMIC;Applet;Bluetooth;
Keywords[en]=COSMIC;Applet;Bluetooth;
Keywords[en_GB]=COSMIC;Applet;Bluetooth;
Keywords[fi]=COSMIC;Applet;Bluetooth;sovelma;
Keywords[fr]=COSMIC;Applet;Bluetooth;
Keywords[ga]=COSMIC;Feidhmchláirín;Bluetooth;
Keywords[gl]=COSMIC;Miniaplicación;Bluetooth;
Keywords[hu]=COSMIC;kisalkalmazás;bluetooth;
Keywords[id]=COSMIC;Applet;Bluetooth;
Keywords[it]=COSMIC;Applet; Bluetooth;
Keywords[kab]=Cosmic;Tappleṭ;Bluetooth;
Keywords[kk]=COSMIC;Апплет;Bluetooth;
Keywords[kmr]=COSMIC;Sepanok;Bluetooth;
Keywords[ko]=COSMIC;애플릿;블루투스;
Keywords[lt]=COSMIC;Apletas;Bluetooth;
Keywords[nl]=COSMIC;Applet;Bluetooth;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਬਲੂਟੁੱਥ;
Keywords[pl]=COSMIC;Aplet;Bluetooth;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Bluetooth;
Keywords[ru]=COSMIC;Апплет;Bluetooth;Блютуз;Блютус;
Keywords[sr]=COSMIC;Applet;Bluetooth;Космик;Програмчић;Блутут;kosmik;programčić;blutut;
Keywords[sv]=COSMIC;Miniprogram;Bluetooth;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Bluetooth;Блютуз;
Keywords[zh_CN]=COSMIC;小部件;蓝牙;
Keywords[zh_Hant]=COSMIC;小程式;藍牙;
Icon=com.system76.CosmicAppletBluetooth-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
