[Desktop Entry]
Name=Users
Name[ar]=المستخدمين
Name[cs]=Uživatelé
Name[de]=Benutzer
Name[el]=Χρήστες
Name[en]=Users
Name[es]=Usuarios
Name[fi]=Käyttäjät
Name[fr]=Utilisateurs
Name[ga]=Úsáideoirí
Name[gl]=Usuarios
Name[hu]=Felhasználók
Name[id]=Pengguna
Name[it]=Utenti
Name[kab]=Iseqdacen
Name[kk]=Пайдаланушылар
Name[kmr]=Bikarhêner
Name[ko]=사용자
Name[lt]=Naudotojai
Name[nl]=Gebruikers
Name[pa]=ਵਰਤੋਂਕਾਰ
Name[pl]=Użytkownicy
Name[pt]=Usuários
Name[pt_BR]=Usuários
Name[ru]=Пользователи
Name[sk]=Používatelia
Name[sr]=Корисници
Name[sv]=Användare
Name[tr]=Kullanıcılar
Name[uk]=Користувачі
Name[zh_CN]=用户
Name[zh_TW]=使用者
Comment=Authentication and user accounts.
Comment[ar]=الاستيثاق وحسابات المستخدمين
Comment[cs]=Ověření a uživatelské účty
Comment[de]=Authentifizierung und Benutzerkonten
Comment[el]=Πιστοποίηση και λογαριασμοί χρηστών
Comment[en]=Authentication and user accounts
Comment[es]=Autenticación y cuentas de usuario
Comment[fi]=Tunnistus ja käyttäjätilit
Comment[fr]=Authentification et comptes utilisateurs
Comment[ga]=Fíordheimhniú agus cuntais úsáideora
Comment[gl]=Autenticación e contas de usuario
Comment[hu]=Hitelesítés és felhasználói fiókok
Comment[id]=Akun autentikasi dan pengguna
Comment[it]=Autenticazione e account utenti
Comment[kab]=Asesteb akked imiḍanen n iseqdacen
Comment[kk]=Аутентификация және пайдаланушы тіркелгілері
Comment[kmr]=Rastandin û jimarên bikarhêner
Comment[ko]=인증 및 사용자 계정
Comment[lt]=Naudotojų tapatumo patvirtinimas ir paskyros
Comment[nl]=Authenticatie en gebruikersinstellingen
Comment[pa]=ਪਰਮਾਣੀਕਰਨ ਅਤੇ ਵਰਤੋਂਕਾਰ ਖਾਤੇ
Comment[pl]=Uwierzytelnianie i konta użytkowników
Comment[pt]=Autenticação e contas de usuário
Comment[pt_BR]=Autenticação e contas de usuário
Comment[ru]=Аутентификация и уч. записи пользователей
Comment[sk]=Autentifikácia a používateľské účty
Comment[sr]=Потврђивање идентитета и кориснички налози
Comment[sv]=Autentisering och användarkonton
Comment[tr]=Kimlik doğrulama ve kullanıcı hesapları
Comment[uk]=Автентифікація та облікові записи користувачів
Comment[zh_CN]=身份验证和用户账户
Comment[zh_TW]=身分驗證與使用者帳號
Type=Application
Exec=cosmic-settings users
Terminal=false
Categories=COSMIC
Keywords=COSMIC;User;Account;
Keywords[ar]=COSMIC;مستخدم;حساب;
Keywords[cs]=COSMIC;Uživatel;Uživatelé;Účet;Účty;
Keywords[de]=COSMIC;Benutzer;Konto;
Keywords[el]=Λογαριασμός;Χρήστης;COSMIC;User;Account;
Keywords[en]=COSMIC;User;Account;
Keywords[fi]=COSMIC;User;Account;käyttäjä;tili;tunnus;käyttäjätili;käyttätunnus;
Keywords[fr]=COSMIC;Utilisateur;Compte;
Keywords[ga]=COSMIC;Úsáideoir;Cuntas;
Keywords[gl]=COSMIC;Usuario;Conta;
Keywords[hu]=COSMIC;Felhasználó;Fiók;
Keywords[id]=COSMIC;Pengguna;Akun;
Keywords[kab]=COSMIC;Aseqdac;Amiḍan;
Keywords[kk]=COSMIC;Пайдаланушы;Тіркелгі;
Keywords[kmr]=COSMIC;Bikarhêner;Jimar;
Keywords[ko]=COSMIC;사용자;계정;
Keywords[lt]=COSMIC;Naudotojas;Paskyra;
Keywords[pa]=COSMIC;ਵਰਤੋਂਕਾਰ;ਖਾਤਾ;
Keywords[pl]=COSMIC;Użytkownik;Konto;
Keywords[pt_BR]=COSMIC;Usuário;Conta;
Keywords[ru]=COSMIC;Пользователь;Учетная;Учётная;Запись;Аккаунт;
Keywords[sr]=COSMIC;User;Account;Космик;корисник;налог;Kosmik;korisnik;nalog;
Keywords[sv]=COSMIC;Användare;Konto;
Keywords[tr]=COSMIC;Kullanıcı;Hesap;
Keywords[uk]=COSMIC;Користувач;Обліковий;Запис;Обліковка;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;用户;账户;
Keywords[zh_TW]=COSMIC;使用者;帳戶;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-users
StartupNotify=true
