[Desktop Entry]
Name[af]=Atomix
Name[am]=አቶሚክስ
Name[az]=Atomiks
Name[be]=Atomix
Name[bg]=Atomix
Name[bn]=অ্যাটোমিক্স
Name[bs]=Atomix
Name[ca]=Atomix
Name[cs]=Atomix
Name[da]=Atomix
Name[de]=Atomix
Name[dz]=ཨེ་ཊོ་མིགསི་
Name[el]=Atomix
Name[en_CA]=Atomix
Name[en_GB]=Atomix
Name[eo]=Atomix
Name[es]=Atomix
Name[et]=Atomix
Name[eu]=Atomix
Name[fa]=اتومیکس
Name[fi]=Atomix
Name[fr]=Atomix
Name[fur]=Atomix
Name[ga]=Atomix
Name[gl]=Atomix
Name[gu]=એટોમિક્સ
Name[he]=אטומיקס
Name[hi]=एटामिक्स
Name[hu]=Atomix
Name[id]=Atomix
Name[is]=Atomix
Name[it]=Atomix
Name[ja]=Atomix
Name[ka]=Atomix
Name[kn]=ಅಟೂಮಿಕ್ಸ್
Name[ko]=Atomix
Name[lt]=Atomix
Name[lv]=Atomix
Name[mk]=Atomix
Name[ms]=Atomix
Name[nb]=Atomix
Name[ne]=एटोमिक्स
Name[nl]=Atomix
Name[oc]=Atomix
Name[pa]=ਐਟਮਿਕਸ
Name[pl]=Atomix
Name[pt]=Atomix
Name[pt_BR]=Atomix
Name[ro]=Atomix
Name[ru]=Atomix
Name[sk]=Atomix
Name[sl]=Atomix
Name[sq]=Atomix
Name[sr]=Атомикс
Name[sr@latin]=Atomiks
Name[sv]=Atomix
Name[ta]=அட்டாமிக்ச்
Name[th]=อะตอมมิกซ์
Name[tr]=Atomix
Name[uk]=Атомікс
Name[vi]=Atomix
Name[wa]=Atomix
Name[zh_CN]=原子结合
Name[zh_HK]=Atomix
Name[zh_TW]=Atomix
Name=Atomix
GenericName[af]=Molekulêre legkaartspeletjie
GenericName[be]=Галаваломка з малекуламі
GenericName[bg]=Загадки с молекули
GenericName[bn]=পদার্থের অণু নিয়ে ধাঁধার খেলা
GenericName[bs]=Igra slaganja molekula
GenericName[ca]=Joc de Trencaclosques amb molècules
GenericName[cs]=Logická hra s molekulami
GenericName[da]=Molekylpuslespil
GenericName[de]=Molekül-Puzzlespiel
GenericName[dz]=རྡུལ་རྟེན་སྒྲིག་རྩེད་རྩེདམོ་
GenericName[el]=Παιχνίδι γρίφου με μόρια
GenericName[en_CA]=Molecule puzzle game
GenericName[en_GB]=Molecule puzzle game
GenericName[eo]=Molekulo-puzloludo
GenericName[es]=Puzle con moléculas
GenericName[et]=Mõttemäng molekulidest
GenericName[eu]=Molekulen puzzle-jokoa
GenericName[fi]=Molekyyliälypeli
GenericName[fr]=Jeu de mémoire sur les molécules
GenericName[fur]=Berdei di moleculis
GenericName[gl]=Crebacabezas con moléculas
GenericName[gu]=પરમાણું કોયડા રમત
GenericName[he]=משחק פאזל מולקולי
GenericName[hu]=Molekulakirakós játék
GenericName[id]=Permainan teka-teki molekul
GenericName[it]=Rompicapo molecolare
GenericName[ja]=分子構造のパズル・ゲームです
GenericName[ka]=მოლეკულების პაზლი
GenericName[lt]=Molekulių galvosūkis
GenericName[lv]=Molekulu prāta spēle
GenericName[mk]=Мисловна игра со молекули
GenericName[nb]=Puslespill med molekyler
GenericName[ne]=अणु पजल खेल
GenericName[nl]=Molecule-puzzelspel
GenericName[oc]=Jòc de memòria sus las moleculas
GenericName[pa]=ਅਣੂ ਪਹੇਲੀ ਖੇਡ
GenericName[pl]=Gra logiczna w układanie cząsteczek
GenericName[pt]=Jogo de estratégia molecular
GenericName[pt_BR]=Quebra-cabeça com moléculas
GenericName[ro]=Joc puzzle cu molecule
GenericName[ru]=Головоломка с молекулами
GenericName[sk]=Skladačková hra s molekulami
GenericName[sl]=Miselna igra z molekulami
GenericName[sq]=Loja e molekulave
GenericName[sr]=Логичка слагалица са молекулима
GenericName[sr@latin]=Logička slagalica sa molekulima
GenericName[sv]=Molekylpusselspel
GenericName[th]=เกมตัวต่อโมเลกุล
GenericName[tr]=Molekül yapboz oyunu
GenericName[uk]=Гра-головоломка з молекулами
GenericName[vi]=Trò chơi trí tuệ về phân tử
GenericName[zh_CN]=分子智力游戏
GenericName[zh_HK]=分子組合智力遊戲
GenericName[zh_TW]=分子組合智力遊戲
GenericName=Molecule puzzle game
Comment[af]='n Legkaartspeletjie oor atome en molekules
Comment[be]=Галаваломка з атамамі і малекуламі
Comment[bg]=Загадка с атоми и молекули
Comment[bn]=অণু পরমাণুর ধাঁধা
Comment[bs]=Logička slagalica sa atomima i molekulama
Comment[ca]=Un trencaclosques sobre àtoms i molècules
Comment[cs]=Logická hra s atomy a molekulami
Comment[da]=Et puslespil med atomer og molekyler
Comment[de]=Ein Puzzlespiel über Atome und Moleküle
Comment[dz]=རྡུལ་ཕྲན་དང་རྡུལ་རྟེན་ཚུ་གི་སྐོར་ལས་སྒྲིག་རྩེད་རྩེདམོ་ཅིག་
Comment[el]=Ένα παιχνίδι γρίφου με άτομα και μόρια
Comment[en_CA]=A puzzle game about atoms and molecules
Comment[en_GB]=A puzzle game about atoms and molecules
Comment[eo]=Puzloludo pri atomoj kaj molekuloj
Comment[es]=Un juego de puzles sobre átomos y moléculas
Comment[et]=Mõistatus aatomitest ja molekulidest.
Comment[eu]=Atomo eta molekulei buruzko puzzle-jokoa
Comment[fi]=Älypeli atomeista ja molekyyleistä
Comment[fr]=Un jeu de mémoire sur les atomes et molécules
Comment[fur]=Un berdei cun atoms e moleculis
Comment[gl]=Un xogo de crebacabezas sobre átomos e moléculas
Comment[gu]=અણુઓ અને પરમાણુઓ વિશે કોયડાવાળી રમત
Comment[he]=משחק חשיבה על אטומים ומולקולות
Comment[hu]=Egy kirakós játék az atomokról és molekulákról
Comment[id]=Teka-teki tentang atom dan molekul
Comment[it]=Un rompicapo con atomi e molecole.
Comment[ja]=原子と分子の構造をテーマとしたパズル・ゲームです
Comment[ka]=პაზლი ატომებისა და მოლეკულების შესახებ
Comment[lt]=Galvosūkis apie atomus ir molekules
Comment[lv]=Prāta spēle par atomiem un molekulām
Comment[mk]=Мисловна игра за атоми и молекули
Comment[nb]=Et puslespill som handler om atomer og molekyler
Comment[ne]=परमाणु र अणुको बारेमा एउटा पजल खेल
Comment[nl]=Een puzzelspel met atomen en moleculen
Comment[oc]=Un jòc de memòria suls atòms e moleculas
Comment[pa]=ਪਰਮਾਣੂ ਅਤੇ ਅਣੂ ਬਾਰੇ ਇੱਕ ਪਹੇਲੀ ਹੈ
Comment[pl]=Gra logiczna o atomach i cząsteczkach
Comment[pt]=Um jogo de estratégia sobre átomos e moléculas
Comment[pt_BR]=Um jogo mental sobre átomos e moléculas
Comment[ro]=Un joc de puzzle despre atomi și molecule
Comment[ru]=Головоломка с атомами и молекулами
Comment[sk]=Skladačková hra s atómami a molekulami
Comment[sl]=Miselna igra z atomi in molekulami
Comment[sq]=Një ushtrim-lojë truri mbi atomet dhe molekulat
Comment[sr]=Логичка слагалица са атомима и молекулима
Comment[sr@latin]=Logička slagalica sa atomima i molekulima
Comment[sv]=Ett pusselspel om atomer och molekyler
Comment[th]=เกมตัวต่ออะตอม และโมเลกุล
Comment[tr]=Atomlar ve moleküller hakkında bir yapboz oyunu
Comment[uk]=Гра з атомами і молекулами.
Comment[vi]=Trò chơi trí tuệ về nguyên tử và phân tử
Comment[zh_CN]=一款智力游戏，将原子合成为分子
Comment[zh_HK]=一個有關原子和分子組合的智力遊戲
Comment[zh_TW]=一個有關原子和分子組合的智力遊戲
Comment=A puzzle game about atoms and molecules
Exec=atomix
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=atomix
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;лагічная;гульня;логіка;галаваломка;сакабан;
Keywords[cs]=gnome;hra;hry;logické;hlavolam;atomy;molekuly;sokoban;skladník;
Keywords[da]=GNOME;game;spil;logik;puslespil;atomer;molekyler;sokoban;hjernevrider;hovedbrud;
Keywords[de]=GNOME;Spiel;Logik;Puzzle;Atome;Moleküle;Sokoban;
Keywords[el]=GNOME;παιχνίδι;λογική;γρίφος;άτομα;μόρια;sokoban;
Keywords[en_GB]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;
Keywords[es]=GNOME;juego;lógica;puzzle;puzle;átomos;moléculas;sokoban;
Keywords[eu]=GNOME;jokoa;logika;puzzlea;atomoak;molekulak;sokoban;
Keywords[fi]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;molekyylit;
Keywords[fr]=GNOME;jeu;logique;puzzle;atomes;molécules;sokoban;
Keywords[fur]=GNOME;zûc;logjiche;puzzle;atoms;moleculis;sokoban;
Keywords[he]=‫GNOME;גנום;נום;לוגיקה;פאזל;תצרף;אטומים;אטום;מולקולות;מולקולה;סוקובן;
Keywords[hu]=GNOME;játék;logikai;kirakó;atomok;molekulák;sokoban;
Keywords[id]=GNOME;permainan;logika;teka-teki;atom;molekul;sokoban;
Keywords[ja]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;ゲーム;ロジック;パズル;原子;分子;倉庫番;
Keywords[ka]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;
Keywords[lt]=GNOME;žaidimas;logika;galvosūkis;atomai;molekulės;sokoban;
Keywords[ne]=जिनोम;खेल;तर्क;पजल;परमाणु;अणु;सोकोबान;
Keywords[nl]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;spel;logisch;logica;atoom;atomen;moleculen;
Keywords[pl]=gra;gierka;logiczna;łamigłówka;puzzle;puzle;atomy;cząsteczki;molekuły;sokoban;
Keywords[pt]=GNOME;jogo;lógica;puzzle;átomos;moléculas;sokoban;
Keywords[pt_BR]=GNOME;jogo;lógica;quebra-cabeça;átomos;moléculas;sokoban;
Keywords[ro]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;joc;logic;atomi;molecule;
Keywords[ru]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;игра;логическая;головоломка;атомы;молекулы;
Keywords[sl]=GNOME;igra;logika;zabava;atomi;molekule;sokoban;
Keywords[sr]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;Гном;игра;логика;слагалица;атоми;молекули;сокобан;
Keywords[sv]=GNOME;spel;logik;pussel;atomer;molekyler;sokoban;
Keywords[tr]=GNOME;oyun;mantık;bulmaca;atomlar;moleküller;sokoban;
Keywords[uk]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;гноме;гном;ґном;ґноме;гра;логіка;логічна;головломка;атоми;атом;молекула;молекули;сокобан;
Keywords[zh_CN]=GNOME;game;logic;puzzle;atoms;molecules;sokoban;游戏;逻辑;拼图;原子;分子;推箱子;
Keywords=GNOME;game;logic;puzzle;atoms;molecules;sokoban;
