[Desktop Entry]
Name=OpenMesh Analyzer
Exec=/usr/lib64/OpenMesh/Analyzer
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Science
X-Desktop-File-Install-Version=0.28
