[Desktop Entry]
Name[ca]=Ajust Anthy IBus
Name[cs]=Nastavení IBus Anthy
Name[de]=IBus Anthy Einstellungen
Name[el]=Ρύθμιση IBus Anthy
Name[es]=Ajustes de IBus Anthy
Name[fi]=IBus Anthy:n asettaminen
Name[fr]=Configuration d’IBus Anthy
Name[hu]=IBus Anthy beállítások
Name[id]=Penyiapan IBus Anthy
Name[it]=Configurazione IBus Anthy
Name[ja]=IBus Anthy の設定
Name[kk]=IBus Anthy баптауы
Name[ko]=IBUS Anthy 설정
Name[pt_BR]=Configuração de IBus Anthy
Name[ro]=Configurare IBus Anthy
Name[sv]=IBus Anthy inställningar
Name[tr]=IBus Anthy Kurulumu
Name[uk]=Налаштування Anthy IBus
Name[zh_CN]=IBus Anthy 设置
Name=IBus Anthy Setup
Comment[ca]=Prepara el motor Anthy d'IBus
Comment[cs]=Nastavení modulu IBus Anthy
Comment[de]=IBus Anthy Engine konfigurieren
Comment[el]=Ρύθμιση μηχανής IBus Anthy
Comment[es]=Configura el motor Anthy de IBus
Comment[fi]=Aseta IBus Anthy:n moottori
Comment[fr]=Configuration du moteur IBus Anthy
Comment[hu]=Az IBus Anthy motor beállítása
Comment[id]=Siapkan mesin IBus Anthy
Comment[it]=Configura il motore IBus Anthy
Comment[ja]=IBus Anthy エンジンの設定
Comment[ka]=IBus Anthy ძრავის მორგება
Comment[kk]=IBus Anthy қозғалтқышын баптау
Comment[ko]=IBUS Anthy 엔진 설정
Comment[pt_BR]=Configure o motor de IBus Anthy
Comment[ro]=Configurarea motorului IBus Anthy
Comment[sv]=Ställ in IBus Anthy motor
Comment[tr]=IBus Anthy motorunu kur
Comment[uk]=Налаштування рушія Anthy IBus
Comment[zh_CN]=IBus Anthy 引擎设置
Comment=Set up IBus Anthy engine
Exec=/usr/libexec/ibus-setup-anthy
Icon=ibus-anthy
NoDisplay=true
Type=Application
StartupNotify=true
