[Desktop Entry]
Version=1.0
Name=Singular
Comment=run Singular 4.4.1 in a terminal
Comment[de]=Singular 4.4.1 in einem Terminal starten
Comment[fr]=démarrer Singular 4.4.1 dans un terminal
Type=Application
Exec=Singular
Terminal=true
Categories=Math;Science;Education;
Icon=Singular

