[Desktop Entry]
Encoding=UTF-8
Name=Alliance: Patterns Viewer
Exec=/usr/lib/alliance/bin/xpat
Icon=xpat.png
Type=Application
Terminal=false
GenericName=xpat
Categories=Electronics;Engineering;
Comment=View the Patterns
X-Desktop-File-Install-Version=0.27
