[Desktop Entry]
Name=COSMIC Terminal
Name[af]=COSMIC Terminaal
Name[ar]=طرفية COSMIC
Name[be]=Тэрмінал COSMIC
Name[bg]=Терминал на COSMIC
Name[cs]=Terminál COSMIC
Name[de]=COSMIC Terminal
Name[el]=Τερματικό COSMIC
Name[en]=COSMIC Terminal
Name[en_GB]=COSMIC Terminal
Name[es_419]=Terminal de COSMIC
Name[es_ES]=Terminal COSMIC
Name[et]=COSMICu terminal
Name[fi]=COSMICin pääte
Name[fr]=Terminal COSMIC
Name[fy]=COSMIC Terminal
Name[ga]=Teirminéal COSMIC
Name[gl]=Terminal de COSMIC
Name[hi]=कॉस्मिक टर्मिनल
Name[hu]=COSMIC Terminál
Name[id]=Terminal COSMIC
Name[is]=COSMIC Skjáhermir
Name[it]=Terminale COSMIC
Name[ja]=COSMIC端末
Name[kk]=COSMIC терминалы
Name[kmr]=Termînalê COSMIC
Name[kn]=ಕಾಸ್ಮಿಕ್ ಟರ್ಮಿನಲ್
Name[ko]=COSMIC 터미널
Name[lt]=COSMIC Terminalas
Name[nb_NO]=COSMIC Terminal
Name[nl]=COSMIC Terminal
Name[nn]=COSMIC Terminal
Name[pa]=COSMIC ਟਰਮੀਨਲ
Name[pl]=Terminal COSMIC
Name[pt]=Terminal COSMIC
Name[pt_BR]=Terminal
Name[ro]=Terminal COSMIC
Name[ru]=Терминал
Name[sk]=Terminál COSMIC
Name[sr]=Космик терминал
Name[sr_Cyrl]=COSMIC Терминал
Name[sr_Latn]=COSMIC Terminal
Name[sv_SE]=COSMIC Terminal
Name[th]=เทอร์มินัล COSMIC
Name[tr]=COSMIC Uçbirim
Name[uk]=Термінал COSMIC
Name[zh_CN]=COSMIC 终端
Name[zh_TW]=COSMIC 終端機
Comment=Terminal emulator for the COSMIC desktop
Comment[ar]=محاكي طرفي لسطح مكتب COSMIC
Comment[cs]=Emulátor terminálu pro prostředí COSMIC
Comment[de]=Terminalemulator für den COSMIC Desktop
Comment[el]=Εξομοιωτής τερματικού για το περιβάλλον επιφάνειας εργασίας COSMIC
Comment[en]=Terminal emulator for the COSMIC desktop
Comment[es_ES]=Emulador de terminal de escritorio COSMIC
Comment[fi]=Pääte-emulaattori COSMIC-työpöydälle
Comment[fr]=Émulateur de terminal pour le bureau COSMIC
Comment[ga]=Aithriseoir teirminéal don deasc COSMIC
Comment[gl]=Emulador de terminal para o escritorio COSMIC
Comment[hu]=Terminálemulátor a COSMIC asztali környezethez
Comment[id]=Emulator terminal untuk desktop COSMIC
Comment[it]=Emulatore di terminale di COSMIC
Comment[kab]=Amtellal n yixef i tnarit COSMIC
Comment[kk]=COSMIC жұмыс үстелі үшін терминал эмуляторы
Comment[kmr]=Emûlatorê termînalê ji bo sermaseya COSMIC
Comment[ko]=COSMIC 데스크톱용 터미널 에뮬레이터
Comment[lt]=COSMIC desktop terminalo emuliatorius
Comment[nl]=Terminalemulator voor COSMIC
Comment[pa]=COSMIC ਡੈਕਸਟਾਮ ਲਈ ਟਰਮੀਨਲ ਇਮੁਲੇਟਰ
Comment[pl]=Emulator terminala dla pulpitu COSMIC
Comment[pt]=Emulador de terminal do desktop COSMIC
Comment[pt_BR]=Emulador de terminal do ambiente COSMIC
Comment[ru]=Эмулятор терминала для среды COSMIC
Comment[sk]=Emulátor terminálu pre pracovné prostredie COSMIC
Comment[sr]=Емулатор терминала за Космик радну површину
Comment[sv_SE]=Terminalemulator för skrivbordsmiljön COSMIC
Comment[tr]=COSMIC masaüstü için Uçbirim emülatörü
Comment[uk]=Емулятор терміналу для середовища COSMIC
Comment[zh_CN]=COSMIC 桌面的终端模拟器
Comment[zh_TW]=COSMIC 桌面終端機模擬器
Exec=cosmic-term
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicTerm
Categories=COSMIC;System;TerminalEmulator;
Keywords=Command;Shell;Terminal;CLI;
Keywords[ar]=cli;طرفية;أوامر;صدفة;أمر;
Keywords[cs]=Příkazy;Shell;Terminál;Konzole;CLI;
Keywords[de]=Befehl;Shell;Terminal;CLI;
Keywords[el]=Εντολή;Κέλυφος;Τερματικό;Command;Shell;Terminal;CLI;
Keywords[en]=Command;Shell;Terminal;CLI;
Keywords[es_ES]=Comando;Shell;Terminal;Consola;
Keywords[fi]=Command;Shell;Terminal;CLI;Komento;Komentotulkki;Pääte;Terminaali;Komentorivi;
Keywords[fr]=Commande;Shell;Terminal;CLI;
Keywords[ga]=Ordú;Blaosc;Teirminéal;CLI;
Keywords[gl]=Orde; Shell; Terminal; CLI;
Keywords[hu]=parancssor;héj;terminál;CLI;
Keywords[id]=Perintah;Shell;Terminal;CLI;
Keywords[it]=Comando;Shell;Terminale;Console;
Keywords[kab]=Taladna; Ajeɣlal; Ixf; CLI;
Keywords[kk]=Command;Shell;Terminal;CLI;Команда;Қоршам;Терминал;
Keywords[kmr]=Ferman;Shell;Termînal;CLI;
Keywords[ko]=명령어;셸;터미널;CLI;
Keywords[lt]=Komanda;Shell;Terminalas;CLI;
Keywords[nl]=Commando;Shell;Terminal;CLI;
Keywords[pa]=ਕਮਾਂਡ;ਸ਼ੈਲ;ਟਰਮੀਨਲ;CLI;
Keywords[pl]=Cli;WierszPoleceń;Powłoka;Terminal;
Keywords[pt]=Comando;Shell;Terminal;Console;
Keywords[pt_BR]=Comando;Shell;Terminal;Console;CLI;
Keywords[ru]=Команда;Оболочка;Терминал;Консоль;
Keywords[sk]=Príkaz;Shell;Terminál;Konzola;
Keywords[sr]=Command;Shell;Terminal;CLI;Наредба;Шкољка;Терминал;CLI;naredba;školjka;terminal;cli;
Keywords[sv_SE]=Kommando;Skal;Terminal;CLI;Konsol;
Keywords[tr]=Komut;Kabuk;Uçbirim;Komut satırı arayüzü;
Keywords[uk]=Команда;Оболонка;Термінал;Інтерфейс;CLI;
Keywords[zh_CN]=指令;外壳;终端;命令行界面;
Keywords[zh_TW]=指令;殼層;終端;指令行介面CLI;
