[Desktop Entry]
Name[af]=Aanvanklike opstelling
Name[an]=Configuración inicial
Name[ar]=الإعداد الأولي
Name[as]=আৰম্ভণিৰ সংস্থাপন
Name[be]=Першапачатковая наладка
Name[bg]=Първоначални настройки
Name[bn_IN]=প্রাথমিক সেটআপ
Name[bs]=Početna postavka
Name[ca]=Configuració inicial
Name[ca@valencia]=Configuració inicial
Name[ckb]=ڕێکخستنی سەرەتایی
Name[cs]=Prvotní nastavení
Name[da]=Førstegangsopsætning
Name[de]=Ersteinrichtung
Name[el]=Αρχική ρύθμιση
Name[en_GB]=Initial Setup
Name[eo]=Komenca agordado
Name[es]=Configuración inicial
Name[et]=Esialgne seadistus
Name[eu]=Hasierako konfigurazioa
Name[fa]=برپایی نخستین
Name[fi]=Alkuasetukset
Name[fil]=Inisyal na Setup
Name[fr]=Configuration initiale
Name[fur]=Configurazion iniziâl
Name[ga]=Socrú Tosaigh
Name[gd]=Suidheachadh tòiseachaidh
Name[gl]=Configuración inicial
Name[gu]=પ્રારંભિક સુયોજન
Name[he]=התקנה ראשונית
Name[hi]=प्रारंभिक सेटअप
Name[hr]=Početno postavljanje
Name[hu]=Kiinduló beállítások
Name[ia]=Configuration initial
Name[id]=Penyiapan Awal
Name[ie]=Inicial configuration
Name[is]=Upphafsstillingar
Name[it]=Impostazioni iniziali
Name[ja]=初期設定
Name[ka]=საწყისი მორგება
Name[kab]=Asebded amezwaru
Name[kk]=Бастапқы баптау
Name[kn]=ಆರಂಭಿಕ ಏರ್ಪಾಡು
Name[ko]=초기 설정
Name[lt]=Pradinis nustatymas
Name[lv]=Sākotnējā iestatīšana
Name[mjw]=Aphrangsi pangchengsi ke-ot
Name[ml]=ആദ്യ ക്രമീകരണം
Name[mr]=प्रारंभिक सेटअप
Name[ms]=Persediaan Awalan
Name[nb]=Oppsett
Name[ne]=सुरुको सेटअप
Name[nl]=Instellingen voor eerste gebruik
Name[nn]=Oppsett
Name[oc]=Configuracion iniciala
Name[or]=ପ୍ରାରମ୍ଭିକ ବ୍ୟବସ୍ଥା
Name[pa]=ਮੁੱਢਲਾ ਸੈਟਅੱਪ
Name[pl]=Początkowa konfiguracja
Name[pt]=Configuração inicial
Name[pt_BR]=Definições iniciais
Name[ro]=Personalizare inițială
Name[ru]=Первоначальная настройка
Name[sk]=Prvotné nastavenie
Name[sl]=Začetna nastavitev
Name[sr]=Почетно подешавање
Name[sr@latin]=Početno podešavanje
Name[sv]=Initial konfiguration
Name[ta]=தொடக்க அமைவு
Name[te]=ఆరంభ అమరిక
Name[tg]=Танзимоти ибтидоӣ
Name[th]=ตั้งค่าเริ่มแรก
Name[tr]=İlk Kurulum
Name[ug]=دەسلەپكى تەڭشەش
Name[uk]=Перший запуск
Name[uz]=Dastlabki sozlash
Name[vi]=Cài đặt lần đầu dùng
Name[zh_CN]=初始配置
Name[zh_HK]=初始設定
Name[zh_TW]=初始設定
Name=Initial Setup
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=preferences-system
Exec=/usr/libexec/gnome-initial-setup
Type=Application
StartupNotify=true
NoDisplay=true
StartupWMClass=org.gnome.InitialSetup
