[Desktop Entry]
Version=1.0
Type=Application
Name=Digger
Comment=DNS lookup tool with an intuitive GTK interface
Exec=digger-vala
Icon=io.github.tobagin.digger
Terminal=false
StartupNotify=true
Categories=Network;Development;
Keywords=DNS;lookup;network;domain;dig;
StartupWMClass=io.github.tobagin.digger
