[Desktop Entry]
Name=Numbered Workspaces
Name[ar]=مساحات عمل مُرقمة
Name[bg]=Номерирани работни пространства
Name[cs]=Číslované pracovní plochy
Name[da]=Nummererede arbejdsområder
Name[de]=Nummerierte Arbeitsflächen
Name[el]=Αριθμημένοι χώροι εργασίας
Name[en]=Numbered Workspaces
Name[en_GB]=Numbered Workspaces
Name[es]=Espacios de trabajo numerados
Name[fi]=Numeroidut työtilat
Name[fr]=Espaces de travail numérotés
Name[ga]=Spásanna Oibre Uimhrithe
Name[gl]=Espazos de traballo numerados
Name[hi]=क्रमांकित वर्कस्पेस
Name[hu]=Számozott Munkaterületek
Name[id]=Ruang Kerja Bernomor
Name[it]=Aree di lavoro numerate
Name[kab]=Tallunin n umahil s wuṭṭunen
Name[kk]=Нөмірленген жұмыс орындары
Name[kmr]=Qada xebatê jimarkirî
Name[ko]=번호가 지정된 작업 공간
Name[lt]=Sunumeruotos Darbo sritys
Name[nl]=Genummerde werkbladen
Name[oc]=Espacis de trabalha numerotats
Name[pl]=Ponumerowane Obszary robocze
Name[pt]=Áreas de Trabalho Numeradas
Name[pt_BR]=Espaços de trabalho numerados
Name[ru]=Пронумерованные рабочие столы
Name[sk]=Číslované pracovné plochy
Name[sr]=Радни простори обележени бројевима
Name[sv]=Numrerade arbetsytor
Name[uk]=Нумеровані робочі простори
Name[zh_CN]=工作区编号
Name[zh_Hant]=工作區編號
Comment=Switch between numbered workspaces in the panel
Comment[ar]=بدِّل بين مساحات العمل المرقمة في اللوحة
Comment[cs]=Přepínání mezi číslovanými pracovními plochami v panelu
Comment[da]=Skift mellem nummererede arbejdsområder i panelet
Comment[de]=Zwischen nummerierten Arbeitsflächen im Panel wechseln
Comment[el]=Εναλλαγή μεταξύ των αριθμημένων χώρων εργασίας στη γραμμή συστήματος
Comment[en]=Switch between numbered workspaces in the panel
Comment[en_GB]=Switch between numbered workspaces in the panel
Comment[fi]=Vaihda numeroitujen työtilojen välillä paneelissa
Comment[fr]=Changer d’espace de travail numéroté dans le panneau
Comment[ga]=Athraigh idir spásanna oibre uimhrithe sa phainéal
Comment[gl]=Cambia entre os espazos de traballo numerados desde o panel
Comment[hi]=पैनल में क्रमांकित वर्कस्पेस के बीच स्विच करें
Comment[hu]=Váltás számozott munkaterületek között a panelen
Comment[id]=Alihkan antara ruang kerja bernomor di panel
Comment[it]=Passa tra aree di lavoro numerate nel pannello
Comment[kab]=Snifel gar tallunin n umahil s wuṭṭunen deg ugalis
Comment[kk]=Панельдегі нөмірленген жұмыс орындары арасында ауысу
Comment[kmr]=Di navbera qada xebatê jimarkirî de di destgehê de biguherîne
Comment[ko]=패널에서 번호가 지정된 작업 공간 간 전환
Comment[lt]=Perjungti sunumeruotas darbo sritis panelėje
Comment[nl]=Schakel tussen genummerde werkbladen via het paneel
Comment[pl]=Przełączanie pomiędzy ponumerowanymi obszarami roboczymi na panelu
Comment[pt]=Alternar entre áreas de trabalho numeradas no painel
Comment[pt_BR]=Alternar entre espaços de trabalho numerados no painel
Comment[ru]=Переключение между пронумерованными рабочими столами из панели
Comment[sr]=Пребаците између радних простора обележених бројевима у траци
Comment[sv]=Växla mellan numrerade arbetsytor i panelen
Comment[uk]=Кнопковий перехід між нумерованими робочими просторами на панелі
Comment[zh_CN]=在面板上切换带有编号的工作区
Comment[zh_Hant]=在面板上切換帶有編號的工作區
Type=Application
Exec=cosmic-applet-workspaces
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Workspace;
Keywords[ar]=COSMIC;بريمج;مساحة عمل;
Keywords[cs]=COSMIC;Applet;Pracovní;Plocha;Plochy;
Keywords[da]=COSMIC;Applet;Arbejdsområde;
Keywords[de]=COSMIC;Applet;Arbeitsfläche;
Keywords[el]=Μικροεφαρμογή;Χώρος;Εργασίας;COSMIC;Applet;Workspace;
Keywords[en]=COSMIC;Applet;Workspace;
Keywords[en_GB]=COSMIC;Applet;Workspace;
Keywords[fi]=COSMIC;Applet;Workspace;sovelma;työtila;
Keywords[fr]=COSMIC;Applet;Espace de travail;
Keywords[ga]=COSMIC;Feidhmchláirín;Spás Oibre;
Keywords[gl]=COSMIC;Miniaplicación;Espazo de traballo;
Keywords[hu]=COSMIC;kisalkalmazás;munkaterületek;
Keywords[id]=COSMIC;Applet;Ruang Kerja;
Keywords[it]=COSMIC;Applet;Area di lavoro;
Keywords[kab]=COSMIC;Tappleṭ;Tallunt n umahil;
Keywords[kk]=COSMIC;Апплет;Жұмыс орны;
Keywords[kmr]=COSMIC;Sepanok;Qada xebatê;
Keywords[ko]=COSMIC;애플릿;작업 공간;
Keywords[lt]=COSMIC;Apletas;Darbo sritis;
Keywords[nl]=COSMIC;Applet;Werkblad;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਵਰਕਸਪੇਸ;
Keywords[pl]=COSMIC;Aplet;Obszar Roboczy;
Keywords[pt]=COSMIC;Miniaplicação;Applet;Área;Trabalho;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Espaço;Trabalho;Workspace;
Keywords[ru]=COSMIC;Апплет;Рабочий;Стол;
Keywords[sr]=COSMIC;Applet;Workspace;Космик;Програмчић;радни простор;kosmik;programčić;radni prostor;
Keywords[sv]=COSMIC;Miniprogram;Arbetsyta;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Робочий;Простір;Простори;Workspace;
Keywords[zh_CN]=COSMIC;小部件;工作区;
Keywords[zh_Hant]=COSMIC;小程式;工作區;
Icon=com.system76.CosmicAppletWorkspaces
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-OverflowPriority=5
X-OverflowMinSize=8
