[Desktop Entry]
Name=OpenMesh commandlineSubdivider
Exec=/usr/lib64/OpenMesh/commandlineSubdivider
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Science
X-Desktop-File-Install-Version=0.28
