[Desktop Entry]
Name=Workspaces Button
Name[ar]=زر مساحات العمل
Name[bg]=Бутон за работните пространства
Name[cs]=Tlačítko pracovních ploch
Name[da]=Arbejdsområdeknap
Name[de]=Arbeitsflächen-Schaltfläche
Name[el]=Κουμπί χώρων εργασίας
Name[en]=Workspaces Button
Name[en_GB]=Workspaces Button
Name[es]=Botón de espacios de trabajo
Name[fi]=Työtilojen painike
Name[fr]=Bouton Espaces de travail
Name[ga]=Cnaipe Spásanna Oibre
Name[gl]=Botón dos espazos de traballo
Name[hi]=वर्कस्पेस बटन
Name[hu]=Munkaterületek gomb
Name[id]=Tombol Ruang Kerja
Name[it]=Pulsante aree di lavoro
Name[kab]=Taqeffalt n tallunin n umahil
Name[kk]=Жұмыс орындары батырмасы
Name[kmr]=Bişkoka qadên xebatê
Name[ko]=작업 공간 버튼
Name[lt]=Darbo sričių Mygtukas
Name[nl]=Werkbladoverzichtsknop
Name[pa]=ਵਰਕਸਪੇਸ ਬਟਨ
Name[pl]=Przycisk obszarów roboczych
Name[pt]=Botão de áreas de trabalho
Name[pt_BR]=Botão de espaços de trabalho
Name[ru]=Кнопка «Обзор»
Name[sk]=Tlačidlo pracovných plôch
Name[sr]=Дугме радних простора
Name[sv]=Knapp för arbetsytor
Name[uk]=Робочі простори
Name[zh_CN]=工作区按钮
Name[zh_Hant]=工作區按鈕
Comment=Open the workspaces overview to manage and switch workspaces
Comment[ar]=افتح نظرة عامة على مساحات العمل لإدارتها والتبديل بينها
Comment[cs]=Přístup k přehledu pracovních ploch pro jejich správu a přepínání
Comment[da]=Åbn oversigten over arbejdsområder for at administrere og skifte mellem arbejdsområder
Comment[de]=Öffne die Arbeitsflächenübersicht, um Arbeitsflächen zu verwalten und zwischen ihnen zu wechseln
Comment[el]=Άνοιγμα των χώρων εργασίας για διαχείριση και εναλλαγή χώρων εργασίας
Comment[en]=Open the workspaces overview to manage and switch workspaces
Comment[en_GB]=Open the workspaces overview to manage and switch workspaces
Comment[fi]=Avaa työtilojen yleiskuvan työtilojen välillä vaihtamiseksi ja hallitsemiseksi
Comment[fr]=Ouvrir l'aperçu des espaces de travail pour gérer et changer d’espace de travail
Comment[ga]=Oscail forbhreathnú na spásanna oibre chun spásanna oibre a bhainistiú agus a athrú
Comment[gl]=Abre a vista xeral dos espazos de traballo para xestionalos e cambiar entre eles
Comment[hi]=वर्कस्पेस प्रबंधित करने और उनके बीच स्विच करने के लिए वर्कस्पेस ओवरव्यू खोलें
Comment[hu]=A munkaterületek áttekintőjének megnyitása munkaterületek kezeléséhez és váltásához
Comment[id]=Buka ikhtisar ruang kerja untuk mengelola dan mengalihkan ruang kerja
Comment[it]=Apri la panoramica delle aree di lavoro per gestirle e passare da una all’altra
Comment[kab]=Ldi taskant n tallunin n umahil i usefrek d ubeddel gar-asent
Comment[kk]=Жұмыс орындарын басқару және ауыстыру үшін жұмыс орындары шолуын ашу
Comment[kmr]=Pêşdîtina qadên xebatê veke ji bo bi rê ve bibî û biguhêrînî
Comment[ko]=작업 공간 관리 및 전환을 위해 작업 공간 개요 열기
Comment[lt]=Valdyti ir perjungti darbo sritis atvėrus darbo sričių apžvalga
Comment[nl]=Open het werkbladoverzicht om tussen werkbladen te schakelen en ze te beheren
Comment[pl]=Otwórz podgląd obszarów roboczych by nimi zarządzać i przełączać się pomiędzy nimi
Comment[pt]=Abrir a visão geral das áreas de trabalho para gerir e alternar entre elas
Comment[pt_BR]=Abrir a visão geral dos espaços de trabalho para gerenciar e alternar entre eles
Comment[ru]=Открытие обзора рабочих столов для управления и переключения между ними
Comment[sr]=Отвори преглед радних простора за управљање и пребацивање радних простора
Comment[sv]=Öppna arbetsyteöversikten för att hantera och växla arbetsytor
Comment[uk]=Огляд робочих просторів для керування та перемикання
Comment[zh_CN]=打开工作区总览以管理和切换工作区
Comment[zh_Hant]=啟動工作區總覽以管理和切換工作區
Type=Application
Exec=cosmic-panel-button com.system76.CosmicWorkspaces
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Workspace;Overview;
Keywords[cs]=COSMIC;Applet;Pracovní;Plocha;Plochy;Přehled;
Keywords[da]=COSMIC;Applet;Arbejdsområde;Oversigt;
Keywords[de]=COSMIC;Applet;Arbeitsfläche;Übersicht;
Keywords[el]=Μικροεφαρμογή;Χώρος;Εργασίας;Επισκόπηση;COSMIC;Applet;Workspace;Overview;
Keywords[en]=COSMIC;Applet;Workspace;Overview;
Keywords[en_GB]=COSMIC;Applet;Workspace;Overview;
Keywords[fi]=COSMIC;Applet;Workspace;Overview;sovelma;työtila;yleiskuva;yleisnäkymä;
Keywords[fr]=COSMIC;Applet;Espace de travail;Aperçu;
Keywords[ga]=COSMIC;Feidhmchláirín;Spás Oibre;Forbhreathnú;
Keywords[gl]=COSMIC;Miniaplicación;Espazo de traballo;Vista xeral;
Keywords[hu]=COSMIC;kisalkalmazás;munkaterületek;áttekintés;
Keywords[id]=COSMIC;Applet;Ruang Kerja;Ikhtisar;
Keywords[kab]=COSMIC;Tappleṭ;Tallunt n umahil;Taskant;
Keywords[kk]=COSMIC;Апплет;Жұмыс орны;Шолу;
Keywords[kmr]=COSMIC;Sepan;Qada xebatê;Pêşdîtin;
Keywords[ko]=COSMIC;애플릿;작업 공간;개요;
Keywords[lt]=COSMIC;Apletas;Darbo sritis;Apžvalga;
Keywords[nl]=COSMIC;Applet;Werkblad;Overzicht;Werkbladoverzicht;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਵਰਕਸਪੇਸ;ਸਾਰ;
Keywords[pl]=COSMIC;Aplet;Obszary Robocze;Podgląd;
Keywords[pt]=COSMIC;Miniaplicação;Applet;Área;Trabalho;Visão;Geral;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Espaço;Trabalho;Workspace;Visão;Geral;Overview;
Keywords[ru]=COSMIC;Апплет;Рабочий;Стол;Обзор;
Keywords[sr]=COSMIC;Applet;Workspace;Overview;Космик;Програмчић;радни простор;Преглед;kosmik;programčić;radni prostor;pregled;
Keywords[sv]=COSMIC;Miniprogram;Arbetsyta;Översikt;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Робочий;Простір;Простори;Режим;Огляду;Overview;
Keywords[zh_CN]=COSMIC;小部件;工作区;总览;
Keywords[zh_Hant]=COSMIC;小程式;工作區;總覽;
Icon=com.system76.CosmicPanelWorkspacesButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
