[Desktop Entry]
Name=IQmol
Type=Application
GenericName=Molecular Editor
Comment=Build, visualize and animate molecules
Terminal=false
Exec=IQmol
Icon=IQmol
StartupNotify=true
Categories=Education;Science;Chemistry;Physics;Biology;
Name[en]=IQmol
X-Desktop-File-Install-Version=0.28
