[Desktop Entry]
Name=User Session
Name[ar]=جلسة المستخدم
Name[bg]=Потребителска сесия
Name[cs]=Uživatelská relace
Name[da]=Brugersession
Name[de]=Benutzersitzung
Name[el]=Συνεδρία χρήστη
Name[en]=User Session
Name[en_GB]=User Session
Name[es]=Sesión de usuario
Name[fi]=Käyttäjäistunto
Name[fr]=Session utilisateur
Name[ga]=Seisiún Úsáideora
Name[gl]=Sesión de usuario
Name[hi]=यूज़र सेशन
Name[hu]=Felhasználói munkamenet
Name[id]=Sesi Pengguna
Name[it]=Sessione utente
Name[kab]=Tiɣimit n useqdac
Name[kk]=Пайдаланушы сессиясы
Name[kmr]=Danaşîna bikarhêner
Name[ko]=사용자 세션
Name[lt]=Naudotojo Sesija
Name[nl]=Gebruikerssessie
Name[oc]=Session utilizaire
Name[pa]=ਵਰਤੋਂਕਾਰ ਸ਼ੈਸ਼ਨ
Name[pl]=Sesja użytkownika
Name[pt]=Sessão de Usuário
Name[pt_BR]=Sessão de usuário
Name[ru]=Сеанс пользователя
Name[sk]=Používateľská relácia
Name[sr]=Корисничка сесија
Name[sv]=Användarsession
Name[uk]=Сеанс користувача
Name[zh_CN]=用户会话
Name[zh_Hant]=使用者工作階段
Comment=Lock screen, log out, suspend, reboot, and shutdown
Comment[ar]=قفل الشاشة وتسجيل الخروج وتعليق التشغيل وإعادة التشغيل وإيقاف التشغيل
Comment[cs]=Zamykání obrazovky, odhlášení, uspání, restart a vypnutí
Comment[da]=Låseskærm, log ud, dvale, genstart og luk ned
Comment[de]=Bildschirm sperren, abmelden, anhalten, neu starten und herunterfahren
Comment[el]=Κλείδωμα οθόνης, αποσύνδεση, αναστολή, επανεκκίνηση και τερματισμός
Comment[en]=Lock screen, log out, suspend, reboot, and shutdown
Comment[en_GB]=Lock screen, log out, suspend, reboot, and shutdown
Comment[fi]=Lukitse näyttö, kirjaudu ulos, lepotila, käynnistä uudelleen ja sammuta
Comment[fr]=Verrouiller l’écran, se déconnecter, suspendre, redémarrer et éteindre
Comment[ga]=Glasáil an scáileáin, logáil amach, fionraí, atosú, agus múchadh
Comment[gl]=Bloquear a pantalla, pechar a sesión, suspender, reiniciar e apagar
Comment[hi]=स्क्रीन लॉक करें, लॉग आउट करें, सस्पेंड करें, रीबूट करें और शटडाउन करें
Comment[hu]=Képernyő zárolása, kijelentkezés, felfüggesztés, újraindítás és leállítás
Comment[id]=Kunci layar, keluar, hentikan, mulai ulang, dan matikan
Comment[it]=Blocca lo schermo, termina la sessione, sospendi, riavvia e spegni
Comment[kab]=Asekkeṛ n ugdil, tuffɣa, aseḥbes di leɛḍil, ales usenker akked usexsi
Comment[kk]=Экранды құлыптау, жүйеден шығу, күту режиміне өту, қайта жүктеу және өшіру
Comment[kmr]=Dîmenderê kilît bike, derkeve, rawestîne, ji nû ve bide destpêkirin, û vemrîne
Comment[ko]=화면 잠금과 로그아웃, 절전, 재시작 및 종료
Comment[lt]=Užrakinti ekraną, atsijungti, užmigdyti, perkrauti ir išjungti
Comment[nl]=Vergrendel scherm, afmelden, slaapstand, herstarten, en afsluiten
Comment[pa]=ਲਾਕ ਸਕਰੀਨ, ਲਾਗ ਆਉਟ, ਸਸਪੈਂਡ, ਮੁੜ-ਚਾਲੂ ਅਤੇ ਬੰਦ ਕਰੋ
Comment[pl]=Ekran blokady, wylogowanie, uśpienie, ponowne uruchomienie i wyłączenie
Comment[pt_BR]=Bloqueio de tela, encerrar sessão, suspender, reiniciar e fechar
Comment[ru]=Блокировка экрана, выход из системы, спящий режим, перезагрузка и выключение
Comment[sr]=Закључај екран, одјави се, обустави, поново покрени и искључи
Comment[sv]=Låsskärm, logga ut, vänteläge, starta om och stäng av
Comment[uk]=Блокування екрана, вихід із сеансу, призупинення, перезапуск і вимкнення
Comment[zh_CN]=锁屏、登出、待机、重启和关机
Comment[zh_Hant]=鎖定畫面、登出、休眠、重新啟動及關機
Type=Application
Exec=cosmic-applet-power
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;
Keywords[ar]=COSMIC;بريمج;مستخدم;جلسة;قفل;تسجيل الدخول;إعادة التشغيل;إيقاف التشغيل;تعليق;
Keywords[cs]=COSMIC;Applet;Uživatelé;Relace;Sezení;Zamykání;Zamknutí;Odhlášení;Restart;Vypnutí;Uspání;
Keywords[da]=COSMIC;Applet;Bruger;Session;Lås;Log;Genstart;Luk ned;Dvale;
Keywords[de]=COSMIC;Applet;Benutzer;Sitzung;Sperre;Protokoll;Neustart;Herunterfahren;Bereitschaft;
Keywords[el]=Μικροεφαρμογή;Χρήστης;Συνεδρία;Κλείδωμα;Αποσύνδεση;Επανεκκίνηση;Τερματισμός;Αναστολή;COSMIC;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;
Keywords[en]=COSMIC;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;
Keywords[en_GB]=COSMIC;Applet;User;Session;Lock;Log out;Reboot;Shutdown;Suspend;
Keywords[fi]=COSMIC;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;sovelma;käyttäjäistunto;istunto;lukitse;kirjaudu;boottaa;käynnistä;sammuta;
Keywords[fr]=COSMIC;Applet;Utilisateur;Session;Verrouiller;Se déconnecter;Redémarrer;Éteindre;Suspendre;
Keywords[ga]=COSMIC;Feidhmchláirín;Úsáideoir;Seisiún;Glasáil;Logáil;Atosaigh;Múchadh;Cuir ar Fionraí;
Keywords[gl]=COSMIC;Miniaplicación;Usuario;Sesión;Bloquear;Pechar sesión;Reiniciar;Apagar;Suspender;
Keywords[hu]=COSMIC;kisalkalmazás;felhasználói munkamenet;zárolás;kijelentkezés;újraindítás;leállítás;felfüggesztés;
Keywords[id]=COSMIC;Applet;Pengguna;Sesi;Kunci;Keluar;Mulai Ulang;Matikan;Hentikan;
Keywords[it]=COSMIC;Applet;Utente;Sessione;Blocca;Termina sessione;Riavvia;Spegni;Sospendi;
Keywords[kab]=COSMIC;Tappleṭ;Aseqdac;Tiɣimit;Sekkeṛ;Qqen;Ales asenker;Sexsi;Seḥbes di leɛḍil;
Keywords[kk]=COSMIC;Апплет;Пайдаланушы;Сессия;Құлыптау;Шығу;Қайта жүктеу;Өшіру;Күту;
Keywords[kmr]=COSMIC;Sepanok;Bikarhêner;Danaşîn;Kilîtkirin;Derketin;Destpêkirin;Vemirandin;Rawestandin;
Keywords[ko]=COSMIC;애플릿;사용자;세션;잠금;로그;재시작;종료;절전;
Keywords[lt]=COSMIC;Apletas;Naudotojas;Sesija;Užrakinti;Perkrauti;Išjungti;Užmigdyti;
Keywords[nl]=COSMIC;Applet;Gebruiker;Sessie;Vergrendelen;Afmelden;Opnieuw;Opstarten;Herstarten;Afsluiten;Slaapstand;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਵਰਤੋਂਕਾਰ;ਸ਼ੈਸ਼ਨ;ਲਾਕ,ਲਾਗ;ਮੁੜ-ਚਾਲੂ;ਬੰਦ ਕਰੋ;ਸਸਪੈਂਡ;
Keywords[pl]=COSMIC;Aplet;Użytkownik;Sesja;Ekran Blokady;Blokada;Ponowne uruchomienie;Wyłączanie;Uśpienie;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Usuário;Sessão;Bloqueio;Encerrar;Reiniciar;Desligar;Suspender;
Keywords[ru]=COSMIC;Апплет;Пользователь;Сессия;Сеанс;Блокировка;Выход;Перезагрузка;Выключение;Спящий;Режим;
Keywords[sr]=COSMIC;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;Космик;Програмчић;Корисник;Сесија;Закључавање;Одјава;Поновно покретање;Искључивање;Обустава;kosmik;programčić;korisnik;sesija;zaključavanje;odjava;ponovno pokretanje;isključivanje;obustava;
Keywords[sv]=COSMIC;Miniprogram;Användare;Session;Lås;Logga;Omstart;Stäng;Vänteläge;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Сеанс;Користувач;Блокування;Вихід;Перезапуск;Вимкнення;Призупинення;Сон;
Keywords[zh_CN]=COSMIC;小部件;用户;会话;锁屏;登录;登出;重启;关机;待机;
Keywords[zh_Hant]=COSMIC;工具程式;使用者;工作階段;鎖定;登入;登出;重新啟動;關閉電源;休眠;
Icon=com.system76.CosmicAppletPower-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
