[Desktop Entry]
Name=Region & Language
Name[ar]=اللغة والمنطقة
Name[cs]=Region a jazyk
Name[de]=Region & Sprache
Name[el]=Περιοχή και γλώσσα
Name[en]=Region & Language
Name[es]=Región e Idioma
Name[fi]=Alue ja kieli
Name[fr]=Région et langue
Name[ga]=Réigiún & Teanga
Name[gl]=Rexión e Linguaxe
Name[hu]=Régió és nyelv
Name[id]=Wilayah & Bahasa
Name[it]=Regione e lingua
Name[kab]=Tamnaḍt akked Tutlayt
Name[kk]=Аймақ және тіл
Name[kmr]=Herêm & Ziman
Name[ko]=지역 & 언어
Name[lt]=Regionas ir Kalba
Name[nl]=Taal en regio
Name[pa]=ਖੇਤਰ ਅਤੇ ਭਾਸ਼ਾ
Name[pl]=Region i język
Name[pt]=Região e Idioma
Name[pt_BR]=Região e Idioma
Name[ru]=Язык и регион
Name[sk]=Región & Jazyk
Name[sr]=Регион и језик
Name[sv]=Region & språk
Name[tr]=Bölge & Dil
Name[uk]=Регіон та мова
Name[zh_CN]=区域与语言
Name[zh_TW]=地區與語言
Comment=Format dates, times, and numbers based on your region.
Comment[ar]=نسق التواريخ والأوقات والأرقام بناءً على منطقتك
Comment[cs]=Formátování data, času a čísel podle vašeho regionu
Comment[de]=Datumsangaben, Uhrzeiten und Zahlen entsprechend deiner Region formatieren
Comment[el]=Μορφοποίηση ημερομηνιών, ώρας και αριθμών με βάση την περιοχή σας
Comment[en]=Format dates, times, and numbers based on your region
Comment[es]=Formato de fechas, horas y números según su región
Comment[fi]=Muotoile päivät, kellonajat ja numerot alueesi mukaisesti
Comment[fr]=Formater les dates, les heures et les nombres en fonction de votre région
Comment[ga]=Formáidigh dátaí, amanna agus uimhreacha bunaithe ar do réigiún
Comment[gl]=Formatar datas, horas e números segundo a túa rexión
Comment[hu]=Dátumok, időpontok és számok formázása a régió alapján
Comment[id]=Format tanggal, waktu, dan angka berdasarkan wilayah Anda
Comment[it]=Formato della data, dell'ora e dei numeri in base alla regione
Comment[kab]=Msel izemzen, isragen akked yemḍanen almend n temnaḍt-ik·im
Comment[kk]=Күндерді, уақытты және сандарды аймағыңызға сәйкес пішімдеу
Comment[kmr]=Li gorî herêma xwe dîrok, dem û jimaran saz bike
Comment[ko]=지역에 기반한 날짜와 시간 및 숫자 형식
Comment[lt]=Datų, laiko ir skaičių formatas pagal pasirinktą regioną
Comment[nl]=Regionale datum-, tijd- en getalweergave
Comment[pa]=ਤੁਹਾਡੇ ਖੇਤਰ ਦੇ ਮੁਤਾਬਕ ਤਾਰੀਖ, ਸਮੇਂ ਅਤੇ ਅੰਕਾਂ ਦਾ ਰੂਪ
Comment[pl]=Format wyświetlanych dat, godzin i liczb dopasowany do regionu
Comment[pt]=Formatação de datas, horas e números baseados em sua região
Comment[pt_BR]=Formatação de datas, horas e números baseados em sua região
Comment[ru]=Форматирование дат, времени и чисел в соответствии с вашим регионом
Comment[sk]=Formátovanie dátumov, časov a čísel podľa vášho regiónu
Comment[sr]=Форматирајте датуме, време и бројеве на основу вашег региона
Comment[sv]=Formatera datum, tider och siffror baserat på din region
Comment[tr]=Tarihleri, saatleri ve sayıları bölgenize göre biçimlendirin
Comment[uk]=Формат дати, часу та чисел на основі вашого регіону
Comment[zh_CN]=根据您的区域格式化日期、时间和数字
Comment[zh_TW]=依據您所在的地區設定日期、時間和數字的格式
Type=Application
Exec=cosmic-settings region-language
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Region;Language;Date;Format;Time;Locale;Localization;
Keywords[ar]=COSMIC;المنطقة;اللغة;التاريخ;التنسيق;الوقت;الإعدادات المحلية;التوطين;
Keywords[cs]=COSMIC;Region;Oblast;Jazyk;Datum;Formát;Čas;Lokalizace;
Keywords[de]=COSMIC;Region;Sprache;Datum;Format;Uhrzeit;Gebietsschema;Lokalisierung;
Keywords[el]=Περιοχή;Γλώσσα;Ημερομηνία;Μορφή;Ώρα;Τοπικές;Τοπικοποίηση;COSMIC;Region;Language;Date;Format;Time;Locale;Localization;
Keywords[en]=COSMIC;Region;Language;Date;Format;Time;Locale;Localization;
Keywords[fi]=COSMIC;Region;Language;Date;Format;Time;Locale;Localization;alue;kieli;päivä;päiväys;muotoile;muoto;aika;kello;lokaali;maa-asetus;lokalisointi;kotoistus;
Keywords[fr]=COSMIC;Région;Langue;Date;Format;Heure;Paramètres régionaux;Localisation;
Keywords[ga]=COSMIC;Réigiún;Teanga;Dáta;Formáid;Am;Suíomh;Logánú;
Keywords[gl]=COSMIC;Rexión;Lingua;Data;Formato;Hora;Configuración rexional;Localización;
Keywords[hu]=COSMIC;Régió;Nyelv;Dátum;Formátum;Idő;Területi;Beállítások;
Keywords[id]=COSMIC;Wilayah;Bahasa;Tanggal;Format;Waktu;Lokal;Lokalisasi;
Keywords[kab]=COSMIC;Tamnaḍt;Tutlayt;Azemz;Amasal;Asrag;Iɣewwaṛen idiganen;Asideg;
Keywords[kk]=COSMIC;Аймақ;Тіл;Күн;Пішім;Уақыт;Локаль;Локализация;
Keywords[kmr]=COSMIC;Herêm;Ziman;Dîrok;Awa;Dem;Sazkariyên herêmî;Herêmîkirin;
Keywords[lt]=COSMIC;Regionas;Kalba;Data;Formatas;Laikas;Vietovė;Lokalizavimas;
Keywords[pa]=COSMIC;ਖੇਤਰ;ਭਾਸ਼ਾ;ਤਾਰੀਖ;ਫਾਰਮੈਟ;ਸਮਾਂ;ਲੋਕੇਲ;ਇਲਾਕਾਈਕਰਨ;
Keywords[pl]=COSMIC;Region;Język;Data;Format;Czas;Ustawienia Regionalne;Położenie;Lokalizacja;
Keywords[pt_BR]=COSMIC;Região;Idioma;Data;Formato;Hora;Localização;
Keywords[ru]=COSMIC;Регион;Язык;Дата;Формат;Время;Языковая;Локаль;Локализация;
Keywords[sr]=COSMIC;Region;Language;Date;Format;Time;Locale;Localization;Космик;Регион;Језик;Датум;Формат;Време;Локалитет;Локализација;kosmik;region;jezik;datum;format;vreme;lokalitet;lokalizacija;
Keywords[sv]=COSMIC;Region;Språk;Datum;Format;Tid;Lokal;Lokalisering;
Keywords[tr]=COSMIC;Bölge;Dil;Tarih;Biçim;Saat;Yerel Ayar;Yerelleştirme;
Keywords[uk]=COSMIC;Регіон;Мова;Дата;Формат;Час;Локалізація;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;地区;语言;日期;格式;时间;当地;本地化;
Keywords[zh_TW]=COSMIC;地區;語言;日期;格式;時間;本地;本地化;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-region-and-language
StartupNotify=true
