[Desktop Entry]
Name=Power & Battery
Name[ar]=الطاقة والمُدَّخرة
Name[cs]=Napájení a baterie
Name[de]=Energie & Akku
Name[el]=Ενέργεια και μπαταρία
Name[en]=Power & Battery
Name[es]=Energía y batería
Name[fi]=Virranhallinta ja akku
Name[fr]=Alimentation et batterie
Name[ga]=Cumhacht & Ceallraí
Name[gl]=Enerxía e batería
Name[hu]=Energia és akkumulátor
Name[id]=Daya & Baterai
Name[it]=Alimentazione e batteria
Name[kab]=Tazmart akked uẓru
Name[kk]=Қуат және батарея
Name[kmr]=Hêz & Betarî
Name[ko]=전원 & 배터리
Name[lt]=Energija ir Baterija
Name[nl]=Energie en batterij
Name[pa]=ਪਾਵਰ ਅਤੇ ਬੈਟਰੀ
Name[pl]=Zasilanie i bateria
Name[pt]=Energia e bateria
Name[pt_BR]=Energia e bateria
Name[ru]=Питание и аккумулятор
Name[sk]=Napájanie & Batéria
Name[sr]=Напајање и батерија
Name[sv]=Ström & Batteri
Name[tr]=Güç & Pil
Name[uk]=Живлення та акумулятор
Name[zh_CN]=电源与电池
Name[zh_TW]=電源與電池
Comment=Power modes and power saving options.
Comment[ar]=أوضاع الطاقة وخيارات توفير الطاقة
Comment[cs]=Režimy napájení a možnosti úspory energie
Comment[de]=Energiemodi und Energiesparoptionen
Comment[el]=Λειτουργίες ενέργειας και επιλογές εξοικονόμησης ενέργειας
Comment[en]=Power modes and power saving options
Comment[es]=Modos de energía y opciones de ahorro de energía
Comment[fi]=Tehotilat ja virransäästön asetukset
Comment[fr]=Modes d'alimentation et options d'économie d'énergie
Comment[ga]=Modhanna cumhachta agus roghanna coigilte cumhachta
Comment[gl]=Modos de enerxía e opcións de aforro de enerxía
Comment[hu]=Energiagazdálkodási módok és energiagazdálkodási beállítások
Comment[id]=Opsi mode daya dan penghematan daya
Comment[it]=Modalità di alimentazione e opzioni risparmio energia
Comment[kab]=Iskaren n tnezmart akked tnefrunin n uḥraz n tnezmart
Comment[kk]=Қуат режимдері мен қуатты үнемдеу опциялары
Comment[kmr]=Awayên hêzê û vebijêrkên parastina hêzê
Comment[ko]=전원 모드 및 절전 옵션
Comment[lt]=Energijos režimai ir energijos taupymo parinktys
Comment[nl]=Energieverbruik en -besparingsopties
Comment[pa]=ਪਾਵਰ ਮੋਡ ਅਤੇ ਪਾਵਰ ਬੱਚਤ ਚੋਣਾਂ
Comment[pl]=Tryby zasilania i opcje oszczędzania energii
Comment[pt]=Modos de energia e opções de poupança de energia
Comment[pt_BR]=Modos de energia e opções de economia de energia
Comment[ru]=Режимы питания и параметры энергосбережения
Comment[sk]=Režimy napájania a možnosti úspory energie
Comment[sr]=Режими напајања и могућности уштеде енергије
Comment[sv]=Ström- och energisparalternativ
Comment[tr]=Güç modları ve güç tasarrufu seçenekleri
Comment[uk]=Режими живлення та параметри заощадження енергії
Comment[zh_CN]=电源模式和节能选项
Comment[zh_TW]=電源模式和省電選項
Type=Application
Exec=cosmic-settings power
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Power;Battery
Keywords[ar]=COSMIC;طاقة;مدخرة;بطارية
Keywords[cs]=COSMIC;Napájení;Baterie;
Keywords[de]=COSMIC;Energie;Akku
Keywords[el]=Μπαταρία;Ισχύς;Ενέργεια;COSMIC;Power;Battery
Keywords[en]=COSMIC;Power;Battery
Keywords[fi]=COSMIC;Power;Battery;virta;virranhallinta;akku
Keywords[fr]=COSMIC;Alimentation;Batterie
Keywords[ga]=COSMIC;Cumhacht;Ceallraí
Keywords[gl]=COSMIC;Enerxía;Batería
Keywords[hu]=COSMIC;Energia;Akkumulátor;
Keywords[id]=COSMIC;Daya;Baterai
Keywords[kab]=COSMIC;Tanezmart;Aẓru
Keywords[kk]=COSMIC;Қуат;Батарея
Keywords[kmr]=COSMIC;Hêz;Betarî
Keywords[ko]=COSMIC;전원;배터리
Keywords[lt]=COSMIC;Energija;Baterija
Keywords[pa]=COSMIC;ਪਾਵਰ;ਬੈਟਰੀ
Keywords[pl]=COSMIC;Zasilanie;Bateria
Keywords[pt]=COSMIC;Energia;Bateria
Keywords[pt_BR]=COSMIC;Energia;Bateria
Keywords[ru]=COSMIC;Питание;Аккумулятор;Батарея
Keywords[sr]=COSMIC;Power;Battery;Космик;Напајање;Батерија;kosmik;napajanje;baterija
Keywords[sv]=COSMIC;Ström;Batteri
Keywords[tr]=COSMIC;Güç;Pil
Keywords[uk]=COSMIC;Живлення;Акумулятор;КОСМІК;КОСМОС;КОСМІЧНЕ
Keywords[zh_CN]=COSMIC;电源;电池
Keywords[zh_TW]=COSMIC;電源;電池
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-power-and-battery
StartupNotify=true
