[Desktop Entry]
Name=Default applications
Name[af]=Standaard toepassings
Name[ar]=التطبيقات المبدئية
Name[cs]=Výchozí aplikace
Name[da]=Standardprogrammer
Name[de]=Standardanwendungen
Name[el]=Προεπιλεγμένες εφαρμογές
Name[en]=Default Applications
Name[es]=Aplicaciones predeterminadas
Name[fi]=Oletussovellukset
Name[fr]=Applications par défaut
Name[ga]=Feidhmchláir Réamhshocraithe
Name[gl]=Aplicacións por defecto
Name[hu]=Alapértelmezett alkalmazások
Name[id]=Aplikasi Bawaan
Name[it]=Applicazioni predefinite
Name[kab]=Isnasen imezwar
Name[kk]=Әдепкі қолданбалар
Name[kmr]=Sepanên berdest
Name[ko]=기본 앱
Name[lt]=Numatytosios programos
Name[nl]=Standaardtoepassingen
Name[pa]=ਮੂਲ ਐਪਲੀਕੇਸ਼ਨਾਂ
Name[pl]=Domyślne aplikacje
Name[pt]=Aplicativos padrão
Name[pt_BR]=Aplicativos padrão
Name[ru]=Приложения по умолчанию
Name[sk]=Predvolené aplikácie
Name[sr]=Подразумевани програми
Name[sv]=Standardprogram
Name[tr]=Varsayılan Uygulamalar
Name[uk]=Типові застосунки
Name[zh_CN]=默认应用程序
Name[zh_TW]=預設應用程式
Comment=Default web browser, mail client, file browser, and other applications.
Comment[af]=Default web browser, mail client, file browser, and other applications
Comment[ar]=متصفح الويب المبدئي، عميل البريد، متصفح الملفات، والتطبيقات الأخرى
Comment[cs]=Výchozí webový prohlížeč, poštovní klient, správce souborů a další aplikace
Comment[da]=Standardwebbrowser, mailklient, filhåndtering og andre programmer
Comment[de]=Standard-Webbrowser, E-Mail-Client, Dateibrowser und andere Anwendungen
Comment[el]=Προεπιλεγμένο πρόγραμμα περιήγησης ιστού, πρόγραμμα ηλεκτρονικού ταχυδρομείου, εφαρμογή περιήγησης αρχείων και άλλες εφαρμογές
Comment[en]=Default web browser, mail client, file browser, and other applications
Comment[es]=Navegador web predeterminado, cliente de correo, explorador de archivos y otras aplicaciones
Comment[fi]=Oletusselain, sähköposti, tiedostonhallinta ja muut sovellukset
Comment[fr]=Navigateur par défaut, client mail, explorateur de fichiers, et autres applications
Comment[ga]=Brabhsálaí gréasáin réamhshocraithe, cliant ríomhphoist, brabhsálaí comhad, agus feidhmchláir eile
Comment[gl]=Navegador web predeterminado, cliente de correo, xestor de ficheiros e outras aplicacións
Comment[hu]=Alapértelmezett böngésző, levelezőprogram, fájlkezelő és egyéb alkalmazások
Comment[id]=Peramban web, klien surat, peramban berkas, dan aplikasi lain bawaan
Comment[it]=Browser web predefinito, client di posta, esplora file e altre applicazioni
Comment[kab]=Iminig n web amezwer, amsaɣ n yimayl, iminig n yifuyla, akked yisnasen nniḍen
Comment[kk]=Әдепкі веб-браузер, пошта клиенті, файлдық браузер және басқа да қолданбалар
Comment[kmr]=Geroka tevnê ya berdest, rajegirê enameyê, geroka pelê, û sepanên din
Comment[ko]=기본 웹 브라우저와 메일 클라이언트, 파일 탐색기 및 다른 앱
Comment[lt]=Numatytoji naršyklė, pašto programa, failų naršyklė ir kitos programos
Comment[nl]=Standaard webbrowser, e-mailclient, bestandsbeheerder, en andere toepassingen
Comment[pa]=ਮੂਲ ਵੈੱਬ ਬਰਾਊਜ਼ਰ, ਮੇਲ ਕਲਾਈਂਟ, ਫ਼ਾਇਲ ਬਰਾਊਜ਼ਰ ਅਤੇ ਹੋਰ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Domyślna przeglądarka, klient poczty e-mail, menedżer plików i inne aplikacje
Comment[pt]=Navegador web padrão, cliente de email, gestor de arquivos e outros aplicativos
Comment[pt_BR]=Navegador padrão, cliente de email, navegador de arquivos e outros aplicativos
Comment[ru]=Веб-браузер, почтовый клиент, файловый менеджер и другие приложения, выбираемые по умолчанию
Comment[sk]=Predvolený webový prehliadač, e-mailový klient, správca súborov a ďalšie aplikácie
Comment[sr]=Подразумевани веб-прегледач, програм за е-пошту, прегледач датотека и остали програми
Comment[sv]=Standardwebbläsare, e-postklient, filbläddrare och andra program
Comment[tr]=Varsayılan web tarayıcısı, e-posta istemcisi, dosya yöneticisi ve diğer uygulamalar
Comment[uk]=Типовий вебпереглядач, поштовий клієнт, файли та інші застосунки
Comment[zh_CN]=默认网络浏览器、邮件客户端、文件管理器和其他应用程序
Comment[zh_TW]=預設網頁瀏覽器、郵件用戶端、檔案管理器和其他應用程式
Type=Application
Exec=cosmic-settings default-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Default;Application
Keywords[ar]=COSMIC;مبدئي;تطبيق
Keywords[cs]=COSMIC;Výchozí;Aplikace;
Keywords[da]=COSMIC;Standard;Program
Keywords[de]=COSMIC;Standard;Anwendung
Keywords[el]=Προεπιλογή;Προεπιλεγμένη;Εφαρμογή;COSMIC;Default;Application
Keywords[en]=COSMIC;Default;Application
Keywords[fi]=COSMIC;Default;Application;oletus;sovellus;oletussovellus
Keywords[fr]=COSMIC;Défaut;Application
Keywords[ga]=COSMIC;Réamhshocrú;Feidhmchlár
Keywords[gl]=COSMIC;Aplicación;Predeterminada
Keywords[hu]=COSMIC;Alapértelmezett;Alkalmazások;
Keywords[id]=COSMIC;Bawaan;Aplikasi
Keywords[kab]=COSMIC;Amezwer;Asnas
Keywords[kk]=COSMIC;Әдепкі;Қолданба
Keywords[kmr]=COSMIC;Berdest;Sepan
Keywords[ko]=COSMIC;기본;앱
Keywords[lt]=COSMIC;Numatyta;Programa
Keywords[nl]=COSMIC;Standaard;Toepassing;Standaardtoepassing
Keywords[pa]=COSMIC;ਮੂਲ;ਐਪਲੀਕੇਸ਼ਨ;
Keywords[pl]=COSMIC;Dosyślne;Aplikacje
Keywords[pt_BR]=COSMIC;Padrão;Aplicativo
Keywords[ru]=COSMIC;По;умолчанию;Приложения
Keywords[sr]=COSMIC;Default;Application;Космик;Подразумевано;Програм;kosmik;podrazumevano;program
Keywords[sv]=COSMIC;Standard;Program
Keywords[tr]=COSMIC;Varsayılan;Uygulama
Keywords[uk]=COSMIC;Типові;Застосунки;Програми;КОСМІК;КОСМОС;КОСМІЧНЕ
Keywords[zh_CN]=COSMIC;默认;应用程序
Keywords[zh_TW]=COSMIC;預設;應用程式
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-default-applications
StartupNotify=true
