[Desktop Entry]
Name=Notifications Tray
Name[ar]=دُرج الإشعارات
Name[bg]=Тава за известия
Name[cs]=Oznamovací oblast
Name[da]=Notifikationsområde
Name[de]=Benachrichtigungsübersicht
Name[el]=Περιοχή ειδοποιήσεων
Name[en]=Notifications Tray
Name[en_GB]=Notifications Tray
Name[es]=Bandeja de notificaciones
Name[fi]=Ilmoitusalue
Name[fr]=Volet de notifications
Name[ga]=Tráidire Fógraí
Name[gl]=Bandexa de Notificacións
Name[hi]=नोटिफ़िकेशन ट्रे
Name[hu]=Értesítési terület
Name[id]=Baki Notifikasi
Name[it]=Area notifiche
Name[kk]=Хабарландырулар науасы
Name[kmr]=Desgeha agahdariyan
Name[ko]=알림 트레이
Name[lt]=Pranešimų Dėtuvė
Name[nl]=Statusvak
Name[oc]=Cinta de notificacions
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਟਰੇ
Name[pl]=Zasobnik powiadomień
Name[pt]=Área de Notificações
Name[pt_BR]=Área de notificações
Name[ru]=Область уведомлений
Name[sat]=ᱱᱚᱴᱤᱯᱷᱤᱠᱮᱥᱚᱱ ᱴᱨᱮ
Name[sk]=Panel oznámení
Name[sr]=Обавештајна касета
Name[sv]=Aviseringsfält
Name[uk]=Область сповіщень
Name[zh_CN]=通知托盘
Name[zh_Hant]=通知托盤
Comment=Application indicators which may export menus to the panel
Comment[ar]=مؤشرات التطبيقات التي قد تصدِّر القوائم إلى اللوحة
Comment[cs]=Ikony aplikací, které mohou zobrazovat nabídky na panelu
Comment[da]=Programindikatorer, som kan eksportere menuer til panelet
Comment[de]=Anwendungsindikatoren, die Menüs in das Panel exportieren können
Comment[el]=Ενδείξεις εφαρμογών που ενδέχεται να εξάγουν μενού στη γραμμή συστήματος
Comment[en]=Application indicators which may export menus to the panel
Comment[en_GB]=Application indicators which may export menus to the panel
Comment[fi]=Sovellusilmaisimet, jotka saattavat tarjota valikkoja paneelista
Comment[fr]=Indicateurs d’applications pouvant exporter des menus vers le panneau
Comment[ga]=Táscairí feidhmchláir a fhéadfaidh biachláir a onnmhairiú chuig an bpainéal
Comment[gl]=Indicadores de aplicación que poden exportar menús ao panel
Comment[hi]=एप्लिकेशन इंडिकेटर जो पैनल में मेनू एक्सपोर्ट कर सकते हैं
Comment[hu]=Alkalmazásjelzők, melyek menüt is megjeleníthetnek a panelen
Comment[id]=Indikator aplikasi yang mungkin mengekspor menu ke panel
Comment[it]=Indicatori di applicazioni che possono esportare menu nel pannello
Comment[kab]=Inamalen n isnasen i izemren ad sifḍen umuɣen ɣer ugalis
Comment[kk]=Панельге мәзірлерді шығара алатын қолданба индикаторлары
Comment[kmr]=Nîşanderên sepanan ên ku dibe ku menuyan bo destgehê derxînin
Comment[ko]=패널에 메뉴를 노출할 수도 있는 앱 표시기
Comment[lt]=Aplikacijų indikatorius galintis eksportuoti meniu į panelę
Comment[nl]=Statusindicators met contextmenu's van toepassingen
Comment[pl]=Wskaźniki aplikacji mogących eksportować menu na panelu
Comment[pt_BR]=Indicadores de aplicativos que podem exportar menus para o painel
Comment[ru]=Индикаторы приложений, которые могут выносить меню на панель
Comment[sat]=ᱮᱯᱞᱤᱠᱮᱥᱚᱱ ᱤᱱᱰᱤᱠᱮᱴᱚᱨ ᱚᱠᱟ ᱫᱚ ᱯᱮᱱᱮᱞ ᱨᱮ ᱢᱮᱱᱭᱩᱥ ᱮ ᱮᱠᱥᱯᱚᱨᱴ ᱫᱟᱲᱮᱭᱟᱜᱼᱟ
Comment[sr]=Показивачи програма који могу извести изборнике у површ
Comment[sv]=Programindikatorer som kan exportera menyer till panelen
Comment[uk]=Значки застосунків із меню на панелі
Comment[zh_CN]=可能在面板上显示的应用指示
Comment[zh_Hant]=可能在面板上顯示的應用指示器
Type=Application
Exec=cosmic-applet-status-area
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Indicator;Notification;Tray;Status;
Keywords[ar]=COSMIC;بريمج;تطبيق;مؤشر;إشعار;صينية;حالة;
Keywords[cs]=COSMIC;Applet;Aplikace;Indikátory;Oznámení;Notifikace;Oblast;Status;Stav;
Keywords[da]=COSMIC;Applet;App;Indikator;Notifikation;Statusområde;Status;
Keywords[de]=COSMIC;Applet;App;Indikator;Benachrichtigung;Übersicht;Status;
Keywords[el]=Μικροεφαρμογή;Εφαρμογή;Ένδειξη;Ειδοποίηση;Περιοχή;Κατάσταση;COSMIC;Applet;App;Indicator;Notification;Tray;Status;
Keywords[en]=COSMIC;Applet;App;Indicator;Notification;Tray;Status;
Keywords[en_GB]=COSMIC;Applet;App;Indicator;Notification;Tray;Status;
Keywords[fi]=COSMIC;Applet;App;Indicator;Notification;Tray;Status;sovelma;sovellus;äppi;ilmaisin;indikaattori;ilmoitus;tila;
Keywords[fr]=COSMIC;Applet;Appli;Indicateur;Notification;Volet;État;
Keywords[ga]=COSMIC;Feidhmchláirín;Aip;Táscaire;Fógra;Tráidire;Stádas;
Keywords[gl]=COSMIC;Miniaplicación;Aplicación;Indicador;Notificación;Bandexa;Estado;
Keywords[hu]=COSMIC;kisalkalmazás;alkalmazás;app;jelző;értesítések;tálca;állapot;
Keywords[id]=COSMIC;Applet;Aplikasi;Indikator;Notifikasi;Baki;Status;
Keywords[it]=COSMIC;Applet;Applicazione;Indicatore;Notifiche;Area;Stato;
Keywords[kk]=COSMIC;Апплет;Қолданба;Индикатор;Хабарландыру;Сөре;Күй;
Keywords[kmr]=COSMIC;Sepanok;Sepan;Nîşander;Agahdarî;Destgeh;Rewş;
Keywords[ko]=COSMIC;애플릿;앱;표시기;알림;트레이;상태;
Keywords[lt]=COSCMIC;Apletas;Aplikacija;Indikatorius;Pranešimas;Dėtuvė;Būsena;
Keywords[nl]=COSMIC;Applet;Toepassing;Indicator;Status;Vak;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਇੰਡੀਕੇਟਰ;ਨੋਟੀਫਿਕੇਸ਼ਨ;ਟਰੇ;ਸਥਿਤੀ;
Keywords[pl]=COSMIC;Aplet;Aplikacja;Apka;Wskaźnik;Powiadomienia;Tacka Systemowa;Status;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Aplicativo;App;Indicador;Notificação;Área;Bandeja;Tray;Estado;
Keywords[ru]=COSMIC;Апплет;Приложение;Индикатор;Уведомление;Лоток;Статус;Область;
Keywords[sat]=ᱠᱚᱥᱢᱤᱠ; ᱮᱯᱞᱮᱴ; ᱮᱯ; ᱤᱱᱰᱤᱠᱮᱴᱚᱨ; ᱱᱚᱴᱤᱯᱷᱤᱠᱮᱥᱚᱱ; ᱴᱨᱮ; ᱥᱴᱮᱴᱟᱥ;
Keywords[sr]=COSMIC;Applet;App;Indicator;Notification;Tray;Status;Космик;Програмчић;Програм;Показатељ;Обавештење;Пољце;Статус;kosmik;programčić;program;pokazatelj;obaveštenje;poljce;status;
Keywords[sv]=COSMIC;Miniprogram;Program;Indikator;Aviseringar;Fält;Status;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Індикатор;Іконка;Значок;Сповіщення;
Keywords[zh_CN]=COSMIC;小部件;应用;指示;通知;托盘;状态;
Keywords[zh_Hant]=COSMIC;小程式;應用程式;指示器;通知;托盤;狀態;
Icon=com.system76.CosmicAppletStatusArea
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=99
X-OverflowMinSize=2
