[Desktop Entry]
Name=Bluetooth
Name[af]=Bluetooth
Name[ar]=بلوتوث
Name[be]=Bluetooth
Name[bg]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en]=Bluetooth
Name[es]=Bluetooth
Name[es_419]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[ga]=Bluetooth
Name[gl]=Bluetooth
Name[hi]=ब्लूटूथ
Name[hu]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[kab]=Bluetooth
Name[kk]=Bluetooth
Name[kmr]=Bluetooth
Name[kn]=ಬ್ಲೂಟೂತ್
Name[ko]=블루투스
Name[lt]=Bluetooth
Name[nb_NO]=Bluetooth
Name[nl]=Bluetooth
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sr]=Блутут
Name[sr_Cyrl]=Bluetooth
Name[sr_Latn]=Bluetooth
Name[sv]=Bluetooth
Name[th]=บลูทูธ
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_TW]=藍牙
Comment=Manage Bluetooth devices.
Comment[af]=Bestuur Bluetooth-toestelle
Comment[ar]=أدِر أجهزة البلوتوث
Comment[cs]=Správa Bluetooth zařízení
Comment[da]=Håndter Bluetoothenheder
Comment[de]=Bluetooth-Geräte verwalten
Comment[el]=Διαχείριση συσκευών Bluetooth
Comment[en]=Manage Bluetooth devices
Comment[es]=Gestionar dispositivos Bluetooth
Comment[fi]=Hallitse Bluetooth-laitteita
Comment[fr]=Gérer les appareils Bluetooth
Comment[ga]=Bainistigh gléasanna Bluetooth
Comment[gl]=Xestionar dispositivos Bluetooth
Comment[hu]=Bluetooth-eszközök kezelése
Comment[id]=Kelola perangkat Bluetooth
Comment[it]=Gestione dispositivi Bluetooth
Comment[kab]=Sefrek ibenkan n Bluetooth
Comment[kk]=Bluetooth құрылғыларын басқару
Comment[kmr]=Amûrên Bluetoothê bi rê ve bibe
Comment[ko]=블루투스 장치 관리
Comment[lt]=Valdyti Bluetooth įrenginius
Comment[nl]=Bluetooth-apparaten beheren
Comment[pa]=ਬਲੂਟੁੱਥ ਡਿਵਾਈਸਾਂ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzaj urządzeniami Bluetooth
Comment[pt]=Gerenciar dispositivos Bluetooth
Comment[pt_BR]=Gerenciar dispositivos Bluetooth
Comment[ru]=Управление Bluetooth-устройствами
Comment[sk]=Spravovať Bluetooth zariadenia
Comment[sr]=Управљај Блутут уређајима
Comment[sv]=Hantera Bluetooth-enheter
Comment[tr]=Bluetooth cihazlarını yönetin
Comment[uk]=Керувати Bluetooth пристроями
Comment[zh_CN]=管理蓝牙设备
Comment[zh_TW]=管理藍牙裝置
Type=Application
Exec=cosmic-settings bluetooth
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Bluetooth;
Keywords[ar]=COSMIC;بلوتوث;
Keywords[cs]=COSMIC;Bluetooth;
Keywords[da]=COSMIC;Bluetooth;
Keywords[de]=COSMIC;Bluetooth;
Keywords[el]=Σύνδεση;COSMIC;Bluetooth;
Keywords[en]=COSMIC;Bluetooth;
Keywords[fi]=COSMIC;Bluetooth;
Keywords[fr]=COSMIC;Bluetooth;
Keywords[ga]=COSMIC;Bluetooth;
Keywords[gl]=COSMIC;Bluetooth;
Keywords[hu]=COSMIC;Bluetooth;
Keywords[id]=COSMIC;Bluetooth;
Keywords[kab]=COSMIC;Bluetooth;
Keywords[kk]=COSMIC;Bluetooth;
Keywords[kmr]=COSMIC;Bluetooth;
Keywords[ko]=COSMIC;블루투스;
Keywords[lt]=COSMIC;Bluetooth;
Keywords[nl]=COSMIC;Bluetooth;
Keywords[pa]=COSMIC;ਬਲੂਟੁੱਥ;
Keywords[pl]=COSMIC;Bluetooth;
Keywords[pt_BR]=COSMIC;Bluetooth;
Keywords[ru]=COSMIC;Bluetooth;Блютуз;
Keywords[sr]=COSMIC;Bluetooth;Космик;Блутут;kosmik;blutut;
Keywords[sv]=COSMIC;Bluetooth;
Keywords[tr]=COSMIC;Bluetooth;
Keywords[uk]=COSMIC;Bluetooth;Блютуз;Бездротове;З’єднання;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;蓝牙;
Keywords[zh_TW]=COSMIC;藍牙;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-bluetooth
StartupNotify=true
