[Desktop Entry]
Name=Touchpad
Name[ar]=لوحة اللمس
Name[cs]=Touchpad
Name[de]=Touchpad
Name[el]=Επιφάνεια αφής
Name[en]=Touchpad
Name[es]=Panel táctil
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[ga]=Ceap tadhaill
Name[gl]=Panel táctil
Name[hu]=Érintőpárna
Name[id]=Papan Sentuh
Name[it]=Touchpad
Name[kk]=Тачпад
Name[kmr]=Touchpad
Name[ko]=터치패드
Name[lt]=Jutiklinis kilimėlis
Name[nl]=Touchpad
Name[pa]=ਟੱਚਪੈਡ
Name[pl]=Gładzik
Name[pt]=Touchpad
Name[pt_BR]=Touchpad
Name[ru]=Сенсорная панель
Name[sk]=Touchpad
Name[sr]=Додирна табла
Name[sv]=Pekplatta
Name[tr]=Dokunmatik yüzey
Name[uk]=Сенсорна панель
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
Comment=Touchpad speed, click options, and gestures.
Comment[ar]=سرعة لوحة اللمس، خيارات النقر، الإيماءات
Comment[cs]=Rychlost touchpadu, možnosti klikání a gesta
Comment[de]=Touchpad-Geschwindigkeit, Klickoptionen und Gesten
Comment[el]=Ταχύτητα επιφάνειας αφής, επιλογές κλικ και χειρονομίες
Comment[en]=Touchpad speed, click options, and gestures
Comment[es]=Velocidad del panel táctil, opciones de clic, gestos
Comment[fi]=Kosketuslevyn nopeus, napsautusvalinnat ja eleet
Comment[fr]=Vitesse du pavé tactile, options de clic, gestes
Comment[ga]=Luas an ceap tadhaill, roghanna cliceáil, agus gothaí
Comment[gl]=Velocidade do panel táctil, opcións de clic e xestos
Comment[hu]=Érintőpárna sebessége, kattintási beállítások és gesztusok
Comment[id]=Kecepatan papan sentuh, opsi klik, dan gerakan
Comment[it]=Velocità del touchpad, opzioni di tocco e gesti
Comment[kk]=Тачпад жылдамдығы, шерту опциялары және қимылдар
Comment[kmr]=Leza touchpadê, vebijêrkên tikandinê û tevger
Comment[ko]=터치패드 속도와 클릭 옵션 및 제스처
Comment[lt]=Jutiklinis kilimėlio greitis, valdymo parinktys, gestai
Comment[nl]=Touchpad muisversnelling, klikeigenschappen en veeggebaren
Comment[pl]=Prędkość gładzika, opcje kliknięć, gesty
Comment[pt]=Velocidade do touchpad, opções de clique, gestos
Comment[pt_BR]=Velocidade do touchpad, opções do clique e gestos
Comment[ru]=Скорость сенсорной панели, параметры нажатия и жесты
Comment[sk]=Rýchlosť touchpadu, možnosti kliknutia, gestá
Comment[sr]=Брзина додирне табле, могућности клика и гестова
Comment[sv]=Pekplattans hastighet, klickalternativ, gester
Comment[tr]=Dokunmatik yüzey hızı, tıklama seçenekleri ve hareketler
Comment[uk]=Швидкість сенсорної панелі, варіанти натискання, жести
Comment[zh_CN]=触摸板速度、点击选项和手势
Comment[zh_TW]=觸控板速度、點按選項及手勢
Type=Application
Exec=cosmic-settings touchpad
Terminal=false
Categories=COSMIC
Keywords=COSMIC;System;Time;Date;Region;Language;
Keywords[ar]=COSMIC;لوحة اللمس;إيماءة;
Keywords[cs]=COSMIC;Touchpad;Gesta;
Keywords[de]=COSMIC;Touchpad;Geste;
Keywords[el]=Επιφάνεια;Αφή;Χειρονομία;COSMIC;Touchpad;Gesture;
Keywords[en]=COSMIC;Touchpad;Gesture;
Keywords[fi]=COSMIC;Touchpad;Gesture;kosketuslevy;ele;
Keywords[fr]=COSMIC;Pavé tactile;Gestes;
Keywords[ga]=COSMIC;Ceap tadhaill;Gothaí;
Keywords[gl]=COSMIC;PanelTáctil;Xesto;
Keywords[hu]=COSMIC;Érintőpárna;Mozdulat;
Keywords[id]=COSMIC;Papan Sentuh;Gerakan;
Keywords[kk]=COSMIC;Тачпад;Қимыл;
Keywords[kmr]=COSMIC;Touchpad;Tevger;
Keywords[ko]=COSMIC;터치패드;제스처;
Keywords[lt]=COSMIC;Jutiklinis kilimėlis; Gestai;
Keywords[pl]=COSMIC;Gładzik;Gesty;
Keywords[pt_BR]=COSMIC;Touchpad;Gestos;
Keywords[ru]=COSMIC;Сенсорная;Панель;Тачпад;Жесты;
Keywords[sr]=COSMIC;Touchpad;Gesture;Космик;додирна табла;гест;Kosmik;dodirna tabla;gest;
Keywords[sv]=COSMIC;Pekplatta;Gest;
Keywords[tr]=COSMIC;Dokunmatik yüzey; Hareket;
Keywords[uk]=COSMIC;Сенсорна;Панель;Тачпад;Жести;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;触摸板;手势;
Keywords[zh_TW]=COSMIC;觸控板;手勢;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-touchpad
StartupNotify=true
