[Desktop Entry]
Encoding=UTF-8
Name=MyPasswordSafe
GenericName=Password Manager
Comment=Manage your passwords
Exec=MyPasswordSafe
Terminal=false
Type=Application
Categories=Utility;Database;Security;
X-Desktop-File-Install-Version=0.28
