[Desktop Entry]
Name=Startup Applications
Name[ar]=تطبيقات بدء التشغيل
Name[cs]=Automaticky spouštěné aplikace
Name[de]=Startanwendungen
Name[el]=Εφαρμογές εκκίνησης
Name[en]=Startup Applications
Name[fi]=Käynnistettävät sovellukset
Name[fr]=Applications de démarrage
Name[ga]=Feidhmchláir tosaithe
Name[gl]=Aplicacións de Inicio
Name[hu]=Indítási alkalmazások
Name[id]=Aplikasi Pemulaian
Name[it]=Applicazioni all'avvio
Name[kab]=Isnasen n tnekra
Name[kk]=Автоқосылатын қолданбалар
Name[kmr]=Sepanên destpêkê
Name[ko]=시작 앱
Name[lt]=Paleisties programos
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਐਪਲੀਕੇਸ਼ਨਾਂ
Name[pl]=Aplikacje startowe
Name[pt_BR]=Aplicativos de Inicialização
Name[ru]=Автозапуск приложений
Name[sr]=Почетни програми
Name[sv]=Uppstartsprogram
Name[tr]=Başlangıç Uygulamaları
Name[uk]=Автозапуск
Name[zh_CN]=自动启动应用程序
Name[zh_TW]=開機啟動應用程式
Comment=Configure applications which run on login.
Comment[ar]=اضبط التطبيقات التي تعمل عند الولوج
Comment[cs]=Správa aplikací, které se spouštějí při přihlášení
Comment[de]=Anwendungen konfigurieren, die bei der Anmeldung ausgeführt werden
Comment[el]=Διαμόρφωση των εφαρμογών που εκτελούνται κατά τη σύνδεση
Comment[en]=Configure applications which run on login
Comment[fi]=Määritä kirjautumisen jälkeen käynnistettävät sovellukset
Comment[fr]=Configurer les applications qui s'exécutent lors de la connexion
Comment[ga]=Cumraigh feidhmchláir a ritheann ar logáil isteach
Comment[gl]=Configurar as aplicacións que se executan ao iniciar sesión
Comment[hu]=Azoknak az alkalmazásoknak a beállítása, amelyek bejelentkezéskor elindulnak
Comment[id]=Konfigurasikan aplikasi yang berjalan saat masuk
Comment[it]=Configura le applicazioni da avviare automaticamente al login
Comment[kab]=Swel isnasen i yettwaselkamen deg tuqqna
Comment[kk]=Жүйеге кіргенде іске қосылатын қолданбаларды баптау
Comment[kmr]=Sepanên ku di dema têketinê de dixebitin bi rêk bixîne
Comment[ko]=로그인 시 실행할 앱 설정
Comment[lt]=Konfigūruoti programas paleidžiamas prisijungus
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ, ਜੋ ਲਾਗਇਨ ਕਰਨ ਸਮੇਂ ਚੱਲਣ
Comment[pl]=Konfiguracja aplikacji uruchamianych po zalogowaniu
Comment[pt_BR]=Configurar aplicativos que serão executados ao iniciar sessão
Comment[ru]=Настройка приложений, запускаемых при входе в систему
Comment[sr]=Подеси програме који се покрећу при пријави
Comment[sv]=Konfigurera program som körs vid inloggning
Comment[tr]=Oturum açıldığında çalışan uygulamaları yapılandırın
Comment[uk]=Налаштування застосунків, які запускаються при вході у систему
Comment[zh_CN]=配置登录时运行的应用程序
Comment[zh_TW]=當登入運行的應用程式進行調設
Type=Application
Exec=cosmic-settings startup-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Startup;Application;
Keywords[ar]=COSMIC;بدء التشغيل;تطبيق;
Keywords[cs]=COSMIC;Automatické;Spuštění;Spouštění;Start;Aplikace;
Keywords[de]=COSMIC;Start;Anwendung;
Keywords[el]=Εφαρμογή;Εκκίνηση;COSMIC;Startup;Application;
Keywords[en]=COSMIC;Startup;Application;
Keywords[fi]=COSMIC;Startup;Application;käynnistys;sovellus;
Keywords[fr]=COSMIC;Démarrage;Application;
Keywords[ga]=COSMIC;Tosú;Feidhmchlár;
Keywords[gl]=COSMIC;Inicio;Aplicación;
Keywords[hu]=COSMIC;Automatikus;Indítási alkalmazás;
Keywords[id]=COSMIC;Pemulaian;Aplikasi;
Keywords[kab]=COSMIC;Asekker;Asnas;
Keywords[kk]=COSMIC;Автоқосылу;Қолданба;
Keywords[kmr]=COSMIC;Destpêk;Sepan;
Keywords[ko]=COSMIC;시작;앱;
Keywords[lt]=COSMIC;Paleistis;Programa;
Keywords[pa]=COSMIC;ਸ਼ੁਰੂ;ਐਪਲੀਕੇਸ਼ਨ;
Keywords[pl]=COSMIC;Aplikacje Startowe;Aplikacje;
Keywords[pt_BR]=COSMIC;Iniciar;Inicialização;Aplicativo;
Keywords[ru]=COSMIC;Автозапуск;Автозагрузка;Приложение;
Keywords[sr]=COSMIC;Startup;Application;Космик;Покретање;Програм;kosmik;pokretanje;program;
Keywords[sv]=COSMIC;Uppstart;Program;
Keywords[tr]=COSMIC;Başlangıç;Uygulama;
Keywords[uk]=COSMIC;Автозапуск;Запуск;Застосунок;Програма;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;自动启动;应用程序;
Keywords[zh_TW]=COSMIC;開機啟動;應用程式;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-startup-applications
StartupNotify=true
