[Desktop Entry]
Name[af]=Gevorderde Instellings
Name[ar]=التطويعات
Name[as]=টুইকচ্
Name[be]=Tweaks
Name[bg]=Настройки
Name[bs]=Tuniranja
Name[ca]=Retocs
Name[ca@valencia]=Ajustaments
Name[ckb]=تویکەکان
Name[cs]=Vyladění
Name[da]=Tilpasninger
Name[de]=Optimierungen
Name[el]=Μικρορυθμίσεις
Name[en_GB]=Tweaks
Name[eo]=Alĝustigoj
Name[es]=Retoques
Name[eu]=Doikuntzak
Name[fa]=سیخونک‌ها
Name[fi]=Lisäasetukset
Name[fr]=Ajustements
Name[fur]=Personalizazions
Name[gl]=Axustes
Name[he]=התאמות
Name[hi]=Tweaks
Name[hr]=Prilagodbe
Name[hu]=Finomhangoló
Name[id]=Oprekan
Name[ie]=Retuche
Name[is]=Sérbreytingar
Name[it]=Personalizzazioni
Name[ja]=Tweaks
Name[ka]=მცირე ცვლილებები
Name[kk]=Қосымша баптаулар
Name[ko]=기능 개선
Name[lt]=Reguliavimai
Name[lv]=Piedares
Name[mjw]=Tweaks
Name[ml]=ട്വീക്ക്
Name[ms]=Tweak
Name[nb]=Konfigurasjonsendringer
Name[ne]=ट्विकस्
Name[nl]=Afstellingen
Name[oc]=Ajustaments
Name[pa]=ਟਵਿਕ
Name[pl]=Dostrajanie
Name[pt]=Ajustes
Name[pt_BR]=Ajustes
Name[ro]=Reglări
Name[ru]=Дополнительные настройки
Name[sk]=Vyladenia
Name[sl]=Prilagoditve okolja
Name[sr]=Лицкања
Name[sr@latin]=Lickanja
Name[sv]=Justeringar
Name[th]=รายการดัดแปลง
Name[tr]=İnce Ayarlar
Name[uk]=Налаштування
Name[vi]=Tinh chỉnh
Name[zh_CN]=优化
Name[zh_HK]=調校
Name[zh_TW]=調校
Name=Tweaks
Comment[be]=Пашыраныя налады GNOME
Comment[bg]=Нагласяне на разширените настройки на GNOME
Comment[ca]=Retoca paràmetres avançats del GNOME
Comment[cs]=Vylaďte si pokročilá nastavení GNOME
Comment[da]=Tilpas avancerede indstillinger for GNOME
Comment[de]=Erweiterte Einstellungen für GNOME optimieren
Comment[el]=Τροποποιήστε τις προηγμένες ρυθμίσεις του GNOME
Comment[en_GB]=Tweak advanced GNOME settings
Comment[es]=Ajustes de configuración avanzados en GNOME
Comment[eu]=Doitu GNOMEren ezarpen aurreratuak
Comment[fa]=به تنظیمات پیشرفتهٔ گنوم سیخونک بزنید
Comment[fi]=Muokkaa Gnomen lisäasetuksia
Comment[fr]=Ajuster les paramètres avancés de GNOME
Comment[fur]=Personalize lis impostazions avanzadis di GNOME
Comment[gl]=Axustes de retoques avanzados en GNOME
Comment[he]=התאמת הגדרות מתקדמות ב־GNOME
Comment[hi]=उन्नत GNOME सेटिंग्स में बदलाव करें
Comment[hu]=A GNOME speciális beállításainak finomhangolása
Comment[id]=Ubah pengaturan tingkat lanjut GNOME
Comment[ie]=Retuchar avansat parametres de GNOME
Comment[ja]=GNOME の高度な設定を調整する
Comment[ka]=შეცვალეთ GNOME-ის დამატებითი პარამეტრები
Comment[kk]=GNOME қосымша баптауларын өзгерту
Comment[ko]=그놈 기능 개선 고급 설정
Comment[lt]=Reguliuokite papildomus GNOME nustatymus
Comment[lv]=Pieregulēt paplašinātos GNOME iestatījumus
Comment[nl]=Uitgebreide instellingen voor GNOME
Comment[pl]=Dostrajanie zaawansowanych ustawień środowiska GNOME
Comment[pt]=Ajustar definições avançadas do GNOME
Comment[pt_BR]=Ajuste as configurações avançadas do GNOME
Comment[ro]=Reglări avansate pentru interfața GNOME
Comment[ru]=Настройка дополнительных параметров GNOME
Comment[sk]=Vyladenie pokročilých nastavení prostredia GNOME
Comment[sl]=Prilagajanje naprednih nastavitev okolja GNOME
Comment[sr]=Налицкајте Гном напредним подешавањима
Comment[sr@latin]=Nalickajte Gnom naprednim podešavanjima
Comment[sv]=Justera avancerade GNOME-inställningar
Comment[tr]=Gelişmiş GNOME ayarlarını yapılandır
Comment[uk]=Додаткові налаштування для GNOME
Comment[vi]=Tinh chỉnh các cài đặt GNOME nâng cao
Comment[zh_CN]=调整 GNOME 高级设置
Comment=Tweak advanced GNOME settings
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.tweaks
Exec=gnome-tweaks
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
StartupWMClass=gnome-tweaks
Categories=GNOME;GTK;Utility;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;Налады;Настройкі;Пашыраныя;Прасунутыя;Параметры;Шрыфты;Тэма;Матыў;Стыль;XKB;Клавіятура;Друк;Набор;Увод;Аўтазапуск;
Keywords[bg]=настройки;разширени;предпочитания;шрифтове;тема;клавиатура;въвеждане;таман;натаманяване;стартиране;зареждане;settings;advanced;preferences;fonts;theme;xkb;keyboard;startup;
Keywords[ca]=Paràmetres;Avançat;Preferències;Tipus de lletra;Tema;XKB;Teclat;Escriptura;Inici;
Keywords[cs]=nastavení;pokročilé;předvolby;písma;písmo;fonty;motiv;XKB;klávesnice;psaní;spuštění;
Keywords[da]=Indstillinger;Avanceret;Egenskaber;Skrifttyper;Tema;XKB;Tastatur;Indtastning;Opstart;
Keywords[en_GB]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;
Keywords[es]=Configuración;Avanzada;Preferencias;Tipografías;Tema;XKB;Teclado;Escritura;Inicio;
Keywords[eu]=Ezarpenak;Aurreratua;Hobespenak;Letra-tipoak;Gaia;XKB;Teklatua;Idazketa;Abioa;
Keywords[fa]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;تنظیمات;پیشرفته;ترجیحات;قلم;تم;صفحه‌کلید;تایپ;راه‌انداز;
Keywords[fi]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;asetukset;lisäasetukset;fontit;teema;näppäimistö;kirjoittaminen;
Keywords[fr]=paramètres;avancés;préférences;polices;thème;xkb;clavier;saisie;démarrage;
Keywords[gl]=Preferencias;Avanzadas;Configuracións;Tipos de letra;Tema;XKB;Teclado;Escritura;Inicio;
Keywords[he]=הגדרות;מתקדם;העדפות;גופנים;ערכת נושא;XKB;מקלדת;הקלדה;הפעלה;
Keywords[hi]=सेटिंग्स;उन्नत;प्राथमिकताएं;फ़ॉन्ट;Theme;XKB;कीबोर्ड;टाइपिंग;स्टार्टअप;
Keywords[hu]=Beállítások;Speciális;Tulajdonságok;Betűkészletek;Téma;XKB;Billentyűzet;Gépelés;Indítás;
Keywords[ja]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;設定;高度;フォント;テーマ;キーボード;タイピング;customize;カスタマイズ;addon;addin;アドオン;アドイン;gnomeshell;TweakTool;
Keywords[ka]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;
Keywords[kk]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;Баптаулар;Кеңейтілген;Қалаулар;Кеңейтулер;Қаріптер;Тема;XKB;Пернетақта;Теру;Іске қосылу;
Keywords[lt]=Nustatymai;Sudėtingesni;Nuostatos;Šriftai;Tema;XKB;Klaviatūra;Rašymas;Paleidimas;
Keywords[lv]=Iestatījumi;Paplašināti;Fonti;Motīvi;XKB;Tastatūra;Rakstīšana;Palaišana;
Keywords[pl]=Ustawienia;Zaawansowane;Preferencje;Opcje;Konfiguracja;Czcionki;Motywy;XKB;Klawiatura;Pisanie;Uruchamianie;Autostart;
Keywords[pt]=Definições;Avançadas;Preferências;;Letras;Fontes;Tema;XKB;Teclado;Escrita;Arranque;
Keywords[pt_BR]=Configurações;Avançado;Preferências;Fontes;Tema;XKB;Teclado;Digitação;
Keywords[ro]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;Configurări;Reglări;Avansate;Preferințe;Litere;Caractere;Aspect;Tastatură;Pornire;
Keywords[ru]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Настройки;Дополнительные;Параметры;Шрифты;Тема;Клавиатура;Ввод;Автозапуск;
Keywords[sk]=Nastavenia;Pokročilé;Predvoľby;Písma;Téma;XKB;Klávesnica;Písanie;Po spustení;
Keywords[sl]=nastavitve;napredno;lastnosti;pisave;teme;tema;tipkovnica;prilagajanje;tipkanje;XKB;tipkanje;vnos;zagon;
Keywords[sr]=Подешавања;напредно;поставке;слова;фонтови;тема;икскб;тастатура;куцање;почетак;почетни;Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;podešavanja;napredno;postavke;proširenja;slova;fontovi;tema;ikskb;tastatura;kucanje;početni
Keywords[sr@latin]=Podešavanja;napredno;postavke;slova;fontovi;tema;ikskb;tastatura;kucanje;početak;početni;Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;podešavanja;napredno;postavke;proširenja;slova;fontovi;tema;ikskb;tastatura;kucanje;početni
Keywords[sv]=Inställningar;Avancerad;Typsnitt;Tema;XKB;Tangentbord;Inmatning;Uppstart;Autostart;
Keywords[tr]=Ayarlar;Gelişmiş;Tercihler;Yeğler;Yazı Tipleri;Yazıtipleri;Gövde;Tema;XKB;Klavye;Yazım;Yazma;Yazış;Başlangıç;
Keywords[uk]=Параметри;Додаткові;Налаштування;Шрифти;Теми;XKB;Клавіатура;Введення;запуск;
Keywords[zh_CN]=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;设置;高级;首选项;字体;主题;键盘;打字;开始;
Keywords=Settings;Advanced;Preferences;Fonts;Theme;XKB;Keyboard;Typing;Startup;
OnlyShowIn=GNOME;Unity;Pantheon;
