[Desktop Entry]
Name[ar]=تفضيلات مسرّع الكتابة
Name[ca]=Preferències de l'Accelerador Mecanogràfic
Name[cs]=Předvolby Urychlovače psaní
Name[de]=Einstellungen für Typing Booster
Name[es]=Preferencias de Acelerador Mecanográfico
Name[fr]=Préférences de l’accélérateur de saisie
Name[it]=Preferenze di Typing Booster
Name[ja]=タイピングブースターの設定
Name[ka]=აკრეფის ამაჩქარებელის მორგება
Name[pl]=Preferencje wspierania pisania
Name[pt]=Preferências do Typing Booster
Name[ru]=Настройки Typing Booster
Name[sv]=Typing Booster inställningar
Name[tr]=Yazma Yardımcısı Tercihleri
Name[uk]=Налаштування «Пришвидшувач введення»
Name[zh_CN]=打字加速器首选项
Name[zh_TW]=打字輔助器偏好設定
Name[el]=Προτιμήσεις επιτάχυνσης πληκτρολόγησης
Name[kab]=Iɣewwaren n umesɣiwel n tira
Name[ko]=입력 부스터 환경설정
Name[fi]=Typing Boosterin asetukset
Name[ro]=Preferințe pentru acceleratorul de tastare
Name[lo]=ການຕັ້ງຄ່າ Typing Booster
Name=Typing Booster Preferences
Comment[ar]=عيّن خيارات مسرّع الكتابة
Comment[ca]=Configura les Opcions de l'Accelerador mecanogràfic
Comment[cs]=Nastavte možnosti Urychlovače psaní
Comment[de]=Typing Booster-Optionen festlegen
Comment[es]=Poner Opciones de Acelerador Mecanográfico
Comment[fr]=Configurer les options de l’accélérateur de saisie
Comment[it]=Imposta le opzioni di Typing Booster
Comment[ja]=タイピングブースターのオプションを設定する
Comment[ka]=აკრეფის ამაჩქარებელის პარამეტრების დაყენება
Comment[pl]=Ustawianie opcji wspierania pisania
Comment[pt]=Definir Opções do Typing Booster
Comment[ru]=Установите параметры Typing Booster
Comment[sv]=Ställ in Typing Booster alternativ
Comment[tr]=Yazma Yardımcısı Seçeneklerini Ayarlayın
Comment[uk]=Встановлення параметрів «Пришвидшувача введення»
Comment[zh_CN]=设定打字加速器选项
Comment[zh_TW]=設定打字輔助器選項
Comment[kab]=Sbedd tixtiṛiyin n umesɣiwel n tira
Comment[ko]=입력 부스터 옵션을 설정합니다
Comment[fi]=Aseta Typing Boosterin vaihtoehdot
Comment[ro]=Configurarea opțiunilor acceleratorului de tastare
Comment[lo]=ຕັ້ງຄ່າຕົວເລືອກ Typing Booster
Comment=Set Typing Booster Options
Exec=/usr/libexec/ibus-setup-typing-booster
Icon=ibus-typing-booster
NoDisplay=true
Type=Application
StartupNotify=true
Categories=Settings;
