[Desktop Entry]
Name=Sound
Name[ar]=الصوت
Name[cs]=Zvuk
Name[de]=Klang
Name[el]=Ήχος
Name[en]=Sound
Name[es]=Sonido
Name[fi]=Ääni
Name[fr]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[hu]=Hang
Name[id]=Suara
Name[it]=Audio
Name[kab]=Imesli
Name[kk]=Дыбыс
Name[kmr]=Deng
Name[ko]=소리
Name[lt]=Garsas
Name[nl]=Geluid
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ru]=Звук
Name[sk]=Zvuk
Name[sr]=Звук
Name[sv]=Ljud
Name[tr]=Ses
Name[uk]=Звук
Name[zh_CN]=声音
Name[zh_TW]=音效
Comment=Audio settings for devices, alerts, and applications.
Comment[ar]=إعدادات الصوت للأجهزة والتنبيهات والتطبيقات
Comment[cs]=Nastavení zvuku pro zařízení, upozornění a aplikace
Comment[de]=Audioeinstellungen für Geräte, Alarme und Anwendungen
Comment[el]=Ρυθμίσεις ήχου για συσκευές, ειδοποιήσεις και εφαρμογές
Comment[en]=Audio settings for devices, alerts, and applications
Comment[es]=Configuraciones de audio para dispositivos, alertas y aplicaciones
Comment[fi]=Ääniasetukset laitteille, hälytyksille ja sovelluksille
Comment[fr]=Paramètres audio pour les appareils, les alertes et les applications
Comment[ga]=Socruithe fuaime do ghléasanna, d’fholáirimh agus d’fheidhmchláir
Comment[gl]=Configuración de son para dispositivos, alertas e aplicacións
Comment[hu]=Hangbeállítások eszközökhöz, figyelmeztetésekhez és alkalmazásokhoz
Comment[id]=Pengaturan audio untuk perangkat, peringatan, dan aplikasi
Comment[it]=Impostazioni audio per dispositivi, allarmi e applicazioni
Comment[kab]=Iɣewwaṛen n umeslaw i yibenkan, ilɣa akked yisnasen
Comment[kk]=Құрылғылар, ескертулер және қолданбаларға арналған аудио баптаулары
Comment[kmr]=Sazkariyên dengê yên ji bo amûr, hişyarî û sepanan
Comment[lt]=Įrenginių, pranešimų ir programų garso nuostatos
Comment[nl]=Geluidsinstellingen voor apparaten, alarmen en programma's
Comment[pa]=ਡਿਵਾਈਸ, ਚੇਤਾਵਨੀਆਂ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਆਡੀਓ ਸੈਟਿੰਗਾਂ
Comment[pl]=Opcje dźwięku dla urządzeń, alertów i aplikacji
Comment[pt]=Configurações de áudio para dispositivos, alertas e aplicativos
Comment[pt_BR]=Configurações de áudio para dispositivos, alertas e aplicativos
Comment[ru]=Настройки звука для устройств, оповещений и приложений
Comment[sk]=Zvukové nastavenia pre zariadenia, upozornenia a aplikácies
Comment[sr]=Подешавања звука за уређаје, упозорења и програме
Comment[sv]=Ljudinställningar för enhter, larm och program
Comment[tr]=Cihazlar, uyarılar ve uygulamalar için ses ayarları
Comment[uk]=Налаштування звуку для пристроїв, сповіщень та застосунків
Comment[zh_CN]=设备、警报和应用程序的音频设置
Comment[zh_TW]=裝置、提醒和應用程式的音訊設定
Type=Application
Exec=cosmic-settings sound
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Sound;Audio;Alert;Pipewire;
Keywords[ar]=COSMIC;صوت;صوتي;تنبيه;Pipewire;
Keywords[cs]=COSMIC;Zvuk;Audio;Upozornění;Pipewire;
Keywords[de]=COSMIC;Klang;Audio;Alarm;Pipewire;
Keywords[el]=Ήχος;Ειδοποίηση;COSMIC;Sound;Audio;Alert;Pipewire;
Keywords[en]=COSMIC;Sound;Audio;Alert;Pipewire;
Keywords[fi]=COSMIC;Sound;Audio;Alert;Pipewire;ääni;hälytys;
Keywords[fr]=COSMIC;Son;Audio;Alerte;Pipewire;
Keywords[ga]=COSMIC;Fuaim;Cloisteáil;Foláireamh;Pipewire;
Keywords[gl]=COSMIC;Son;Audio;Alerta;PipeWire;
Keywords[hu]=COSMIC;Hang;Figyelmeztetés;PipeWire;
Keywords[id]=COSMIC;Suara;Audio;Peringatan;Pipewire;
Keywords[kab]=Cosmic;Imesli;Ameslaw;Alɣu;Pipewire;
Keywords[kk]=COSMIC;Дыбыс;Аудио;Ескерту;Pipewire;
Keywords[kmr]=COSMIC;Deng;Deng;Hişyarî;Pipewire;
Keywords[ko]=COSMIC;소리;오디오;알림;Pipewire;
Keywords[lt]=COSMIC;Garsas;Audio;Pranešimai;Pipewire;
Keywords[pa]=COSMIC;ਸਾਊਂਡ;ਆਡੀਓ;ਚੇਤਾਵਨੀ;ਪਾਇਪਵਾਇਰ;
Keywords[pl]=COSMIC;Dźwięk;Audio;Powiadomienie; Pipewire;
Keywords[pt_BR]=COSMIC;Som;Áudio;Alerta;Pipewire;
Keywords[ru]=COSMIC;Звук;Аудио;Оповещение;Pipewire;
Keywords[sr]=COSMIC;Sound;Audio;Alert;Pipewire;Космик;Звук;Аудио;Упозорење;Пајпвајер;kosmik;zvuk;audio;upozorenje;pajpvajer;
Keywords[sv]=COSMIC;Ljud;Ljud;Varning;Pipewire;
Keywords[tr]=COSMIC;Ses;Sesli;Uyarı;Kablolu Sistem;
Keywords[uk]=COSMIC;Звук;Аудіо;Сповіщення;Сигнал;Pipewire;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;声音;音频;警报;Pipewire;
Keywords[zh_TW]=COSMIC;Sound;Audio;Alert;Pipewire;音效;音訊;提醒;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-sound
StartupNotify=true
