[Desktop Entry]
Name=X11 Applications Compatibility
Name[ar]=توافق تطبيقات اكس11
Name[cs]=Kompatibilita aplikací X11
Name[de]=Kompatibilität mit X11-Anwendungen
Name[el]=Συμβατότητα εφαρμογών X11
Name[en]=X11 Applications Compatibility
Name[es]=Compatibilidad para aplicaciones X11
Name[fi]=X11-sovellusten yhteensopivuus
Name[fr]=Compatibilité des applications X11
Name[ga]=Comhoiriúnacht Feidhmchláir X11
Name[gl]=Compatibilidade de aplicacións X11
Name[hu]=X11-alkalmazások támogatása
Name[id]=Kompatibilitas Aplikasi X11
Name[it]=Compatibilità applicazioni X11
Name[kab]=Amṣada n Isnasen X11
Name[kk]=X11 қолданбаларының үйлесімділігі
Name[kmr]=Lihevhatina sepanên X11
Name[ko]=X11 앱 호환성
Name[lt]=Suderinamumas su X11 programomis
Name[nl]=Compatibiliteit met X11-toepassingen.
Name[pl]=Kompatybilność aplikacji X11
Name[pt]=Compatibilidade com aplicativos X11.
Name[pt_BR]=Compatibilidade com aplicativos X11
Name[ru]=Совместимость с приложениями для X11
Name[sk]=Kompatibilita X11 aplikácií
Name[sr]=Усаглашеност програма Икс-11
Name[sv]=X11-programkompatibilitet
Name[tr]=X11 Uygulamaları Uyumluluğu
Name[uk]=Сумісність із застосунками X11
Name[zh_CN]=X11 应用程序兼容性
Name[zh_TW]=X11 應用程式相容性
Comment=X11 window system application scaling, primary display, and global shortcuts.
Comment[ar]=توسيع نطاق تطبيق نظام النوافذ اكس11 والاختصارات العامة
Comment[cs]=Měřítko aplikací využívajících okenní systém X11, hlavní displej a globální zkratky
Comment[de]=Skalierung von X11-Fenstersystemanwendungen, primärer Bildschirm und globale Tastenkombinationen
Comment[el]=Κλιμάκωση εφαρμογών συστήματος παραθύρων X11, κύρια οθόνη και καθολικές συντομεύσεις
Comment[en]=X11 window system application scaling, primary display, and global shortcuts
Comment[es]=Escalado de aplicaciones del sistema de ventanas X11 y atajos globales
Comment[fi]=X11-ikkunajärjestelmän sovellusskaalaus, ensisijainen näyttö ja yleiset pikanäppäimet
Comment[fr]=Mise à l’échelle des applications du gestionnaire de fenêtres X11, écran principal et raccourcis globaux
Comment[ga]=Scálú feidhmchlár chóras fuinneoga X11, príomhthaispeántas, agus aicearraí domhanda
Comment[gl]=Escala das aplicacións do sistema de xanelas X11, pantalla principal e atallos globais
Comment[hu]=X11 ablakrendszer alkalmazásméretezés, elsődleges kijelző és globális gyorsbillentyűk
Comment[id]=Penskalaan aplikasi sistem jendela X11, tampilan utama, dan pintasan global
Comment[it]=Scaling applicazioni X11 e shortcut globali
Comment[kk]=X11 терезе жүйесінің қолданбаларын масштабтау, негізгі экран және глобалды жарлықтар
Comment[kmr]=Pîvandina sepanên pergala çarçoveya X11, dîmenderê sereke û kurteriyên gerdûnî
Comment[lt]=X11 langų sistemos programų mastelis, pagrindinis ekranas ir sistemos greitieji klavišai
Comment[nl]=X11-toepassingsvensters schalen, en globale sneltoetsen
Comment[pl]=Skalowanie aplikacji systemu okien X11 i globalne skróty klawiszowe
Comment[pt]=Dimensionamento de aplicativos com sistema de janelas X11 e atalhos globais
Comment[pt_BR]=Escalonamento de aplicativos com sistema de janelas X11, tela primária e atalhos globais
Comment[ru]=Масштабирование приложений X11, основной дисплей и глобальные сочетания клавиш
Comment[sk]=Škálovanie X11 aplikácií a globálne skratky
Comment[sr]=Размера програма прозорног система Икс-11, главни екран и опште пречице
Comment[sv]=Applikationsskalning för fönstersystemet X11, primär bildskärm och globala genvägar
Comment[tr]=X11 pencere sistemi uygulama ölçeklendirmesi, birincil ekran ve genel kısayollar
Comment[uk]=Масштабування застосунків X11 і глобальні сполучення клавіш
Comment[zh_CN]=X11 窗口系统应用程序缩放、主要显示器和全局快捷键
Comment[zh_TW]=X11 視窗系統應用程式縮放大小、主要顯示螢幕和整體快速鍵
Type=Application
Exec=cosmic-settings legacy-applications
Terminal=false
Categories=COSMIC
Keywords=COSMIC;X11;Application;Game;Compatibility;
Keywords[ar]=COSMIC;X11;تطبيق;لعبة;التوافق;
Keywords[cs]=COSMIC;X11;Aplikace;Hra;Hry;Kompatibilita;
Keywords[de]=COSMIC;X11;Anwendung;Spiel;Kompatibilität;
Keywords[el]=Εφαρμογή;Παιχνίδι;Συμβατότητα;COSMIC;X11;Application;Game;Compatibility;
Keywords[en]=COSMIC;X11;Application;Game;Compatibility;
Keywords[fi]=COSMIC;X11;Application;Game;Compatibility;sovellus;peli;yhteensopivuus;
Keywords[fr]=COSMIC;X11;Application;Jeu;Compatibilité;
Keywords[ga]=COSMIC;X11;Feidhmchlár;Cluiche;Comhoiriúnacht;
Keywords[gl]=COSMIC;X11;Aplicación;Xogo;Compatibilidade;
Keywords[hu]=COSMIC;X11;Alkalmazás;Játék;Támogatás;
Keywords[id]=COSMIC;X11;Aplikasi;Permainan;Kompatibilitas;
Keywords[kab]=COSMIC;X11;Asnas;Urar;Amṣada;
Keywords[kk]=COSMIC;X11;Қолданба;Ойын;Үйлесімділік;
Keywords[kmr]=COSMIC;X11;Sepan;Lîstik;Lihevhatin;
Keywords[ko]=COSMIC;X11;앱;게임;호환성;
Keywords[lt]=COSMIC;X11;Programa;Žaidimas;Suderinamumas;
Keywords[pl]=COSMIC;X11;Aplikacje;Gry;Zgodność;
Keywords[pt_BR]=COSMIC;X11;Aplicativo;Jogos;Compatibilidade;
Keywords[ru]=COSMIC;X11;Иксы;Приложение;Игра;Совместимость;
Keywords[sr]=COSMIC;X11;Application;Game;Compatibility;Космик;Икс-11;Програм;Игрица;Усаглашеност;kosmik;iks-11;program;igrica;usaglašenost;
Keywords[sv]=COSMIC;X11;Program;Spel;Kompatibilitet;
Keywords[tr]=COSMIC;X11;Uygulama;Oyun;Uyumluluk;
Keywords[uk]=COSMIC;X11;Застосунок;Програма;Гра;Сумісність;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;X11;应用程序;游戏;兼容性;
Keywords[zh_TW]=COSMIC;X11;應用程式;遊戲;相容性;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-x11-applications-compatibility
StartupNotify=true
