[Desktop Entry]
Name=4Pane
GenericName=File Manager
Comment=A four-pane file manager
Exec=4Pane
Icon=4Pane
Version=1.0
Type=Application
Terminal=false
StartupNotify=false
Categories=FileManager;Utility;System;
Keywords=file;manager;disk;filesystem;
