[Desktop Entry]
Name=COSMIC Store
Name[af]=COSMIC Winkel
Name[ar]=متجر COSMIC
Name[be]=Крама COSMIC
Name[bg]=Магазин за програми на COSMIC
Name[ca]=Botiga del COSMIC
Name[cs]=Obchod COSMIC
Name[da]=COSMIC Store
Name[de]=COSMIC Store
Name[el]=Κατάστημα COSMIC
Name[en]=COSMIC Store
Name[es]=Tienda COSMIC
Name[es_419]=Tienda de aplicaciones de COSMIC
Name[et]=COSMICu pood
Name[fa]=فروشگاه برنامه کازمیک
Name[fi]=COSMICin sovelluskauppa
Name[fr]=Store COSMIC
Name[fy]=COSMIC Winkel
Name[ga]=Stóras COSMIC
Name[gl]=Tenda de COSMIC
Name[he]=חנות COSMIC
Name[hi]=कॉस्मिक स्टोर
Name[hu]=COSMIC Áruház
Name[id]=Toko COSMIC
Name[is]=COSMIC verslun
Name[it]=COSMIC Store
Name[ja]=COSMICストア
Name[kab]=Taḥanut n COSMIC
Name[kk]=COSMIC дүкені
Name[kmr]=Markêta COSMIC
Name[kn]=ಕಾಸ್ಮಿಕ್ ಸ್ಟೋರ್
Name[ko]=COSMIC 스토어
Name[lt]=COSMIC Store
Name[nb_NO]=COSMIC Butikk
Name[nl]=COSMIC Store
Name[nn]=COSMIC Butikk
Name[pa]=COSMIC ਸਟੋਰ
Name[pl]=Sklep COSMIC
Name[pt]=Loja de Aplicações COSMIC
Name[pt_BR]=Loja de Aplicativos
Name[ro]=Magazin COSMIC
Name[ru]=Магазин приложений
Name[sk]=Obchod COSMIC
Name[sr]=Космик продавница
Name[sr_Cyrl]=COSMIC Продавница
Name[sr_Latn]=COSMIC Prodavnica
Name[sv]=COSMIC Butik
Name[th]=ร้านค้า COSMIC
Name[tr]=COSMIC Uygulama Mağazası
Name[uk]=Крамниця COSMIC
Name[zh_CN]=COSMIC 软件商店
Name[zh_TW]=COSMIC 應用程式商店
Comment=Application store for the COSMIC desktop
Comment[ar]=متجر تطبيقات لسطح مكتب COSMIC
Comment[ca]=Botiga d'aplicacions per a l'escriptori COSMIC
Comment[cs]=Obchod s aplikacemi pro prostředí COSMIC
Comment[da]=Softwarecenter til COSMIC-skrivebordet
Comment[de]=App-Store für den COSMIC Desktop
Comment[el]=Κατάστημα εφαρμογών για το περιβάλλον επιφάνειας εργασίας COSMIC
Comment[en]=Application store for the COSMIC desktop
Comment[es]=Tienda de aplicaciones para el escritorio COSMIC
Comment[fi]=Sovelluskauppa COSMIC-työpöydälle
Comment[fr]=Store d'applications pour le bureau COSMIC
Comment[ga]=Siopa feidhmchlár don deasc COSMIC
Comment[gl]=Tenda de aplicacións para o escritorio COSMIC
Comment[hu]=Alkalmazásáruház a COSMIC asztali környezethez
Comment[id]=Toko aplikasi untuk desktop COSMIC
Comment[it]=App Store di COSMIC
Comment[kab]=Taḥanut n yisnasen i tnarit n COSMIC
Comment[kk]=COSMIC жұмыс үстелі үшін қолданбалар дүкені
Comment[kmr]=Markêta sepanan ji bo sermaseya COSMIC
Comment[ko]=COSMIC 데스크톱용 앱 스토어
Comment[lt]=COSMIC desktop aplikacijų parduotuvė
Comment[nl]=Appstore voor COSMIC
Comment[pa]=COSMIC ਡੈਸਕਟਾਪ ਲਈ ਐਪਲੀਕੇਸ਼ਨ ਸਟੋਰ
Comment[pl]=Sklep z aplikacjami pulpitu COSMIC
Comment[pt]=Loja de aplicações para o ambiente de trabalho COSMIC
Comment[pt_BR]=Loja de aplicativos do ambiente COSMIC
Comment[ru]=Магазин приложений для среды COSMIC
Comment[sk]=Obchod s aplikáciami pre pracovné prostredie COSMIC
Comment[sr]=Продавница програма за Космик радну површину
Comment[sv]=Programbutik för skrivbordsmiljön COSMIC
Comment[tr]=COSMIC masaüstü için uygulama mağazası
Comment[uk]=Крамниця застосунків для середовища COSMIC
Comment[zh_CN]=COSMIC 桌面的软件商店
Comment[zh_TW]=COSMIC 桌面應用程式商店
Exec=cosmic-store %u
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicStore
Categories=COSMIC;System;PackageManager;
Keywords=App;Software;Store;Shop;
Keywords[ar]=متجر;تطبيق;تطبيقات;برامج;
Keywords[ca]=Aplicacions;Apps;Software;Botiga;Store;
Keywords[cs]=Aplikace;Balíček;Balíčky;Programy;Software;Obchod;Repozitáře;Zdroje;Instalovat;Odinstalovat;Přidat;Odstranit;Odebrat;Aktualizace;Aktualizovat;Flatpak;
Keywords[de]=App;Software;Store;Shop;
Keywords[el]=Κατάστημα;Μαγαζί;Εφαρμογή;Λογισμικό;App;Software;Store;Shop;
Keywords[en]=App;Software;Store;Shop;
Keywords[es]=Aplicaciones;Software;Tienda;Store;
Keywords[fi]=App;Software;Store;Shop;Sovellus;Appi;Ohjelma;Ohjelmisto;Kauppa;Sovelluskauppa;
Keywords[fr]=Appli;Logiciel;Store;Magasin;
Keywords[ga]=Aip;Bogearraí;Siopa;
Keywords[gl]=App;Software;Tenda;Tenda de aplicacións;
Keywords[hu]=applikációk;bolt;szoftver;csomagkezelő;alkalmazások;programok;
Keywords[id]=Aplikasi;Perangkat Lunak;Toko;Belanja;
Keywords[it]=Applicazioni;Software;Store;
Keywords[kk]=App;Software;Store;Shop;Қолданба;БҚ;Дүкен;
Keywords[kmr]=Sepan;Bername;Markêt;Kirrîn;
Keywords[ko]=앱;소프트웨어;스토어;상점;
Keywords[lt]=Aplikacija;Programinė įranga;Parduotuvė;Parduotuvė;
Keywords[nl]=Toepassing;App;Software;Store;Winkel;Appstore;
Keywords[pa]=ਐਪ;ਸਾਫਟਵੇਅਰ;ਸਟੋਰ;ਦੁਕਾਨ;
Keywords[pl]=Aplikacje;Soft;Oprogramowanie;Sklep;
Keywords[pt]=App;Aplicação;Software;Programas;Loja;Store;
Keywords[pt_BR]=Aplicativo;Software;Loja;App;
Keywords[ru]=Приложения;Приложений;ПО;Программы;Маркет;Магазин;
Keywords[sk]=Aplikácie;Softvér;Obchod;Shop;Programy;
Keywords[sr]=App;Software;Store;Shop;Програм;Програми;Продавница;Продавница;program;programi;prodavnica;prodavnica;
Keywords[sv]=App;Software;Store;Program;Applikation;Butik;
Keywords[tr]=Uygulama;Yazılım;Mağaza;Dükkan;
Keywords[uk]=Застосунок;Програма;Крам;Крамниця;Магазин;
Keywords[zh_CN]=应用;应用程序;软件;商店;
Keywords[zh_TW]=應用;應用程式;軟體;商店;
MimeType=application/x-debian-package;application/vnd.debian.binary-package;application/vnd.flatpak.ref;x-scheme-handler/appstream;x-scheme-handler/mime;application/x-rpm;
