[Desktop Entry]
Name=Wired
Name[ar]=سلكي
Name[cs]=Drátové
Name[de]=Kabelgebunden
Name[el]=Ενσύρματη δικτύωση
Name[en]=Wired
Name[es]=Red cableada
Name[fi]=Kiinteä
Name[fr]=Filaire
Name[ga]=Sreangaithe
Name[gl]=Cableado
Name[hu]=Vezetékes kapcsolatok
Name[id]=Berkabel
Name[it]=Cablato
Name[kab]=S ugatu
Name[kk]=Сымды
Name[kmr]=Têlkirî
Name[ko]=유선
Name[lt]=Laidinis
Name[nl]=Kabelverbinding
Name[pa]=ਤਾਰ ਵਾਲੇ
Name[pl]=Połączenia przewodowe
Name[pt]=Rede Cabeada
Name[pt_BR]=Rede cabeada
Name[ru]=Проводная сеть
Name[sk]=Káblové
Name[sr]=Жичана
Name[sv]=Tråndbunden anslutning
Name[tr]=Kablolu
Name[uk]=Дротове
Name[zh_CN]=有线连接
Name[zh_TW]=有線連接
Comment=Wired connections and connection profiles.
Comment[ar]=الاتصالات السلكية وملفات تعريف الاتصال
Comment[cs]=Drátové připojení a profily
Comment[de]=Kabelgebundene Verbindungen und Verbindungsprofile
Comment[el]=Ενσύρματες συνδέσεις και προφίλ σύνδεσης
Comment[en]=Wired connections and connection profiles
Comment[es]=Conexiones cableadas y perfiles de conexión
Comment[fi]=Kiinteät yhteydet ja yhteysprofiilit
Comment[fr]=Connexions filaires et profils
Comment[ga]=Naisc sreangaithe agus próifílí nasc
Comment[gl]=Conexións con fíos e perfís de conexión
Comment[hu]=Vezetékes kapcsolatok és kapcsolódási profilok
Comment[id]=Sambungan berkabel dan profil sambungan
Comment[it]=Connessioni cablate e profili
Comment[kab]=Tuqqniwin ugatu akked imeɣna n tuqqniwin
Comment[kk]=Сымды қосылымдар және қосылымдар профильдері
Comment[kmr]=Girêdanên têlkirî û profîlên girêdanê
Comment[ko]=유선 연결 및 연결 프로필
Comment[lt]=Laidiniai ryšiai ir ryšių profiliai
Comment[nl]=Kabelverbinding en verbindingsprofielen
Comment[pa]=ਤਾਰ ਵਾਲੇ ਕਨੈਕਸ਼ਨ ਅਤੇ ਕਨੈਕਸ਼ਨ ਪਰੋਫ਼ਾਇਲ
Comment[pl]=Połączenia przewodowe i profile połączeń
Comment[pt]=Conexões de rede cabeada e perfis de conexão
Comment[pt_BR]=Conexões de rede com fio e perfis de conexão
Comment[ru]=Проводные соединения и профили
Comment[sk]=Káblové pripojenia a profily pripojení
Comment[sr]=Жичане везе и профили везе
Comment[sv]=Trådbundna anslutningar och anslutningsprofiler
Comment[tr]=Kablolu bağlantılar ve bağlantı profilleri
Comment[uk]=Дротове з’єднання і профілі з’єднань
Comment[zh_CN]=有线连接和配置文件
Comment[zh_TW]=有線連接和連接設定檔案
Type=Application
Exec=cosmic-settings wired
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Wired;LAN;Network;Connection;
Keywords[ar]=COSMIC;سلكي;LAN;شبكة;اتصال;
Keywords[cs]=COSMIC;Drátové;LAN;Síť;Připojení;
Keywords[de]=COSMIC;Kabelgebunden;LAN;Netzwerk;Verbindung;
Keywords[el]=Σύνδεση;Δίκτυο;Ενσύρματο;COSMIC;Wired;LAN;Network;Connection;
Keywords[en]=COSMIC;Wired;LAN;Network;Connection;
Keywords[fi]=COSMIC;Wired;LAN;Network;Connection;kiinteä;paikallisverkko;langallinen;verkko;yhteys;
Keywords[fr]=COSMIC;Filaire;LAN;Réseau;Connexion;
Keywords[ga]=COSMIC;Sreangaithe;Líonra Ceantair Áitiúil;Líonra;Nasc;
Keywords[gl]=COSMIC;Con Fíos;LAN;Rede;Conexión;
Keywords[hu]=COSMIC;Vezetékes;LAN;Hálózat;Kapcsolat;
Keywords[id]=COSMIC;Berkabel;LAN;Jaringan;Sambungan;
Keywords[kab]=COSMIC;Agatu;LAN;Aẓeṭṭa;Tuqqna;
Keywords[kk]=COSMIC;Сымды;LAN;Желі;Қосылым;
Keywords[kmr]=COSMIC;Têlkirî;LAN;Tor;Girêdan;
Keywords[ko]=COSMIC;유선;LAN;네트워크;연결;
Keywords[lt]=COSMIC;Laidinis;LAN;Tinklas;Ryšys;
Keywords[pa]=COSMIC;ਤਾਰ ਵਾਲਾ;LAN;ਨੈੱਟਵਰਕ;ਕਨੈਕਸ਼ਨ;
Keywords[pl]=COSMIC;Przewodowe;LAN;Sieć;Łącze;
Keywords[pt_BR]=COSMIC;Wired;Cabeada;LAN;Rede;Conexão;
Keywords[ru]=COSMIC;Проводная;LAN;Сеть;Подключение;Соединение;
Keywords[sr]=COSMIC;Wired;LAN;Network;Connection;Космик;Жичана;ЛАН;Мрежа;Веза;kosmik;žičana;lan;mreža;veza;
Keywords[sv]=COSMIC;Trådbundet;LAN;Nätverk;Anslutning;
Keywords[tr]=COSMIC;Kablolu; Yerel Ağ; Ağ; Bağlantı;
Keywords[uk]=COSMIC;Дротове;LAN;Мережа;З'єднання;Підключення;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;有线;LAN;网络;连接;
Keywords[zh_TW]=COSMIC;有線連接;LAN;網路;連接;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wired
StartupNotify=true
