[Desktop Entry]
Name=Accessibility
Comment=Screen reader, magnifier, high contrast, and color filters.
Comment[ar]=قارئ الشاشة والمكبر والتباين العالي وتصفيات الألوان
Comment[cs]=Čtečka obrazovky, lupa, vysoký kontrast a barevné filtry
Comment[da]=Skærmoplæsning, forstørrelse, høj kontrast og farvefiltre
Comment[de]=Bildschirmleser, Vergrößerungsglas, hoher Kontrast und Farbfilter
Comment[el]=Ανάγνωση οθόνης, μεγεθυντικός φακός, υψηλή αντίθεση και χρωματικά φίλτρα
Comment[en]=Screen reader, magnifier, high contrast, and color filters
Comment[es]=Configuración de accesibilidad
Comment[fi]=Näytönlukija, suurennuslasi, suuri kontrasti ja värisuodattimet
Comment[fr]=Lecteur d’écran, loupe, contraste élevé et filtres de couleur
Comment[ga]=Léitheoir scáileáin, formhéadaitheoir, ardchodarsnacht, agus scagairí datha
Comment[gl]=Lector de pantalla, ampliador, alto contraste e filtros de cor
Comment[hu]=Képernyőolvasó, nagyító, magas kontraszt és színszűrők
Comment[id]=Pembaca layar, kaca pembesar, kontras tinggi, dan filter warna
Comment[it]=Impostazioni accessibilità
Comment[kab]=Ameɣri n ugdil, asemɣer, agnil afellay, akked tistayin n yini
Comment[kk]=Экрандық диктор, лупа, жоғары контраст және түс сүзгілері
Comment[kmr]=Xwînerê dîmenderê, mezinker, berevajiya bilind, û parzûnên rengan
Comment[ko]=스크린 리더, 돋보기, 고대비, 색상 필터
Comment[lt]=Ekrano Skaitytuvas, didinamasis stiklas, didelis kontrastas ir spalvų filtrai
Comment[nl]=Schermlezer, vergrootglas, hoog contrast, en kleurenfilters
Comment[pl]=Czytnik ekranowy, lupa, wysoki kontrast i filtry kolorów
Comment[pt]=Configurações de acessibilidade
Comment[pt_BR]=Leitor de tela, ampliador de tela, alto contraste e filtros de cor
Comment[ru]=Экранный диктор, лупа, высокая контрастность и цветовые фильтры
Comment[sk]=Nastavenia prístupnosti
Comment[sr]=Читач екрана, лупа, велики контраст и филтери боја
Comment[sv]=Skärmläsare, förstoringsglas, hög kontrast och färgfilter
Comment[tr]=Ekran okuyucu, büyüteç, yüksek kontrast ve renk filtreleri
Comment[uk]=Екранний читач, лупа, високий контраст і фільтри кольорів
Comment[zh_CN]=屏幕阅读器、放大镜、高对比度以及色彩滤镜
Comment[zh_TW]=螢幕閱讀器、放大鏡、高對比以及濾色鏡
Type=Application
Exec=cosmic-settings accessibility
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[af]=COSMIC;Toeganklikhede;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[ar]=COSMIC;الإتاحة;A11y;شاشة;قارئ;مكبر;تباين;لون;
Keywords[cs]=COSMIC;Přístupnost;A11y;Obrazovka;Obrazovky;Čtečka;Lupa;Přiblížení;Kontrast;Barva;Barvy;
Keywords[da]=COSMIC;Tilgængelighed;A11y;Skærm;Oplæser;Forstørrelse;Kontrast;Farve;
Keywords[de]=COSMIC;Barrierefreiheit;A11y;Bildschirm;Leser;Vergrößerungsglas;Kontrast;Farbe;
Keywords[el]=Προσβασιμότητα;Προσιτότητα;Οθόνη;Ανάγνωση;Αναγνώστης;Μεγεθυντικός;Φακός;Αντίθεση;Χρώμα;COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[en]=COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[fi]=COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;esteettömyys;näytönlukija;ruudunluku;suurennuslasi;kontrasti;väri;
Keywords[fr]=COSMIC;Accessibilité,A11y;Écran;Lecteur;Loupe;Contraste;Couleur;
Keywords[ga]=COSMIC;Inrochtaineacht;A11y;Scáileán;Léitheoir;Formhéadaitheoir;Codarsnacht;Dath;
Keywords[gl]=COSMIC;Accesibilidade;A11y;Pantalla;Lector;Ampliador;Contraste;Cor;
Keywords[hu]=COSMIC;Akadálymentesség;Képernyő;Olvasó;Nagyító;Kontraszt;Szín;
Keywords[id]=COSMIC;Aksesibilitas;A11y;Layar;Pembaca;Kaca Pembesar;Kontras;Warna;
Keywords[kab]=Cosmic;Tuffart;A11y;Agdil;Ameɣri;Asemɣer;Agnil;Ini;
Keywords[kk]=COSMIC;Арнайы мүмкіндіктер;A11y;Экран;Диктор;Лупа;Контраст;Түс;
Keywords[kmr]=COSMIC;Gihîştin;A11y;Dîmender;Xwîner;Mezinker;Berevajî;Reng;
Keywords[ko]=COSMIC;접근성;접근성;스크린;리더;돋보기;대비;색상;
Keywords[lt]=COSMIC;Prieinamumas;A11y;Ekranas;Skaitytuvas;Didinamasis stiklas;Kontrastas;Spalva;
Keywords[nl]=COSMIC;Toegankelijkheid;A11y;Scherm;Lezer;Schermlezer;Vergrootglas;Contrast;Kleur;
Keywords[pl]=COSMIC;Dostępność;A11y;Ekran;Czytnik;Lupa;Kontrast;Kolor;
Keywords[pt_BR]=COSMIC;Acessibilidade;A11y;Tela;Leitor;Lupa;Ampliador;Contraste;Cor;
Keywords[ru]=COSMIC;Доступность;A11y;Экранный;Диктор;Лупа;Контраст;Цвет;Специальные;Возможности;
Keywords[sr]=COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;Космик;Приступачност;Екран;Читач;Лупа;Контраст;Боја;kosmik;pristupačnost;ekran;čitač;lupa;kontrast;boja;
Keywords[sv]=COSMIC;Tillgänglighet;A11y; Skärm;Läsare;Förstoringsglas;Kontrast;Färg;
Keywords[tr]=COSMIC;Erişilebilirlik;A11y;Ekran;Okuyucu;Büyüteç;Kontrast;Renk;
Keywords[uk]=COSMIC;Доступність;Екран;Читач;Диктор;Лупа;Контраст;Колір;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;无障碍;A11y;屏幕;阅读器;放大镜;对比;对比度;颜色;色彩;
Keywords[zh_TW]=COSMIC;無障礙;A11y;螢幕;閱讀器;放大鏡;對比;對比度;颜色;色彩;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-accessibility
StartupNotify=true
