[Desktop Entry]
Name=Sound
Name[ar]=الصوت
Name[bg]=Звук
Name[cs]=Zvuk
Name[da]=Lyd
Name[de]=Klang
Name[el]=Ήχος
Name[en]=Sound
Name[en_GB]=Sound
Name[es]=Sonido
Name[fa]=صدا
Name[fi]=Ääni
Name[fr]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[hi]=ध्वनि
Name[hu]=Hang
Name[id]=Suara
Name[it]=Suono
Name[kab]=Imesli
Name[kk]=Дыбыс
Name[kmr]=Deng
Name[ko]=소리
Name[lt]=Garsai
Name[nl]=Geluid
Name[oc]=Son
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ru]=Звук
Name[sk]=Zvuk
Name[sr]=Звук
Name[sv]=Ljud
Name[uk]=Звук
Name[zh_CN]=音频
Name[zh_Hant]=音效
Comment=Audio device selection, volume control, and MPRIS media controls
Comment[ar]=حديد جهاز الصوت والتحكم في مستوى الصوت وعناصر التحكم في الوسائط MPRIS
Comment[cs]=Výběr zvukového zařízení, ovládání hlasitosti a ovládání médií MPRIS
Comment[da]=Valg af lydenhed, lydstyrkekontrol og MPRIS-mediekontrol
Comment[de]=Audiogeräteauswahl, Lautstärkeregelung und MPRIS-Mediensteuerung
Comment[el]=Επιλογή συσκευής ήχου, έλεγχος έντασης και στοιχεία ελέγχου πολυμέσων MPRIS
Comment[en]=Audio device selection, volume control, and MPRIS media controls
Comment[en_GB]=Audio device selection, volume control, and MPRIS media controls
Comment[fi]=Äänilaitteen valinta, äänenvoimakkuus ja MPRIS-mediasäätimet
Comment[fr]=Sélection du périphérique audio, contrôle du volume et contrôles multimédia MPRIS
Comment[ga]=Roghnú gléas fuaime, rialú toirte, agus rialuithe meán MPRIS
Comment[gl]=Selección do dispositivo de son, control do volume e controis multimedia MPRIS
Comment[hi]=ऑडियो उपकरण चयन, ध्वनि स्तर नियंत्रण और MPRIS मीडिया नियंत्रण
Comment[hu]=Hangeszköz kiválasztása, hangerőszabályozás és MPRIS médiavezérlés
Comment[id]=Pemilihan perangkat audio, kontrol volume, dan kontrol media MPRIS
Comment[it]=Selezione dispositivi audio, controllo del volume e controlli multimediali MPRIS
Comment[kab]=Afran n yibenk ameslaw, asenqed n ubleɣ akked isenqaden n umidya MPRIS
Comment[kk]=Аудио құрылғыны таңдау, дыбыс деңгейін реттеу және MPRIS медиа басқару элементтері
Comment[kmr]=Hilbijartina amûra dengê, kontrola dengê, û kontrolên mediyaya MPRIS
Comment[ko]=소리 출력 장치 선택, 음량 제어, MPRIS 미디어 제어
Comment[lt]=Garso įrenginio pasirinkimai, garso nustatymai ir MPRIS media valdymas
Comment[nl]=Beheer audioapparaten, volume-instellingen, en mediaspelers
Comment[pl]=Wybór urządzeń audio, regulacja głośności i sterowanie mediami MPRIS
Comment[pt_BR]=Seleção de dispositivo de áudio, controle de volume e controles de mídia MPRIS
Comment[ru]=Выбор аудиоустройства, регулировка громкости и управление мультимедиа MPRIS
Comment[sr]=Избор уређаја звука, управљање јачином звука и MPRIS контроле медија
Comment[sv]=Ljudenhetsväljare, volymkontroll och MPRIS mediakontroller
Comment[uk]=Вибір аудіопристроїв, керування гучністю та відтворенням (MPRIS)
Comment[zh_CN]=音频设备选择、音量调整和 MPRIS 媒体控制
Comment[zh_Hant]=音訊裝置選擇、音量控制及 MPRIS 媒體控制
Type=Application
Exec=cosmic-applet-audio
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Sound;Audio;MPRIS;
Keywords[ar]=COSMIC;بريمج;صوت;صوتيات;MPRIS;
Keywords[cs]=COSMIC;Applet;Zvuk;Audio;MPRIS;
Keywords[da]=COSMIC;Applet;Lyd;Lyd;MPRIS;
Keywords[de]=COSMIC;Applet;Klang;Audio;MPRIS;
Keywords[el]=Μικροεφαρμογή;Ήχος;COSMIC;Applet;Sound;Audio;MPRIS;
Keywords[en]=COSMIC;Applet;Sound;Audio;MPRIS;
Keywords[en_GB]=COSMIC;Applet;Sound;Audio;MPRIS;
Keywords[fi]=COSMIC;Applet;Sound;Audio;MPRIS;sovelma:ääni;
Keywords[fr]=COSMIC;Applet;Son;Audio;MPRIS;
Keywords[ga]=COSMIC;Feidhmchláirín;Fuaim;Cloisteáil;MPRIS;
Keywords[gl]=COSMIC;Miniaplicación;Son;Audio;MPRIS;
Keywords[hu]=COSMIC;kisalkalmazás;hang;MPRIS;
Keywords[id]=COSMIC;Applet;Suara;Audio;MPRIS;
Keywords[it]=COSMIC;Applet;Suono;Audio;MPRIS;
Keywords[kab]=COSMIC;Tappleṭ;Imesli;Ameslaw;MPRIS;
Keywords[kk]=COSMIC;Апплет;Дыбыс;Аудио;MPRIS;
Keywords[kmr]=COSMIC;Sepanok;Deng;Deng;MPRIS;
Keywords[ko]=COSMIC;애플릿;소리;오디오;MPRIS;
Keywords[lt]=COSMIC;Apletas;Garsas;Audio;MPRIS;
Keywords[nl]=COSMIC;Applet;Geluid;Audio;MPRIS;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਸਾਊਂਡ;ਆਡੀਓ;MPRIS;
Keywords[pl]=COSMIC;Aplet;Dźwięk;Audio;MPRIS;
Keywords[pt]=COSMIC;Miniaplicação;Applet;Som;Áudio;MPRIS;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Som;Áudio;MPRIS;
Keywords[ru]=COSMIC;Апплет;Звук;Аудио;MPRIS;
Keywords[sr]=COSMIC;Applet;Sound;Audio;MPRIS;Космик;Програмчић;Аудио;Звук;Јачина звука;МПРИС;Медија;kosmik;programčić;audio;zvuk;jačina zvuka;medija;
Keywords[sv]=COSMIC;Miniprogram;Ljud;MPRIS;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Звук;Аудіо;Гучність;MPRIS;
Keywords[zh_CN]=COSMIC;小部件;声音;音频;MPRIS;
Keywords[zh_Hant]=COSMIC;小程式;音效;音訊;MPRIS;
Icon=com.system76.CosmicAppletAudio-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=End
X-OverflowPriority=10
