[Desktop Entry]
Name[it]=Bottles
Name[fr]=Bouteilles
Name[de]=Bottles
Name[hi]=Bottles
Name[pt]=Bottles
Name[es]=Botellas
Name[nb_NO]=Flasker
Name[pt_BR]=Garrafas
Name[id]=Bottles
Name[nl]=Bottles
Name[tr]=Şişeler
Name[sv]=Bottles
Name[ru]=Bottles
Name[eo]=Boteloj
Name[zh_Hans]=Bottles
Name[fi]=Pullot
Name[ja]=ボトル
Name[hr]=Butelje
Name[cs]=Láhve
Name[uk]=Пляшки
Name[hu]=Palackok
Name[pl]=Bottles
Name[zh_Hant]=Bottles
Name[ko]=Bottles
Name[vi]=Bottles
Name[eu]=Bottles
Name[bg]=„Bottles“
Name[el]=Bottles
Name[gl]=Botellas
Name[sk]=Fľaše
Name[ro]=Sticle
Name[ms]=Botol
Name[ckb]=بۆتڵز
Name[fa]=بطری‌ها
Name[th]=ขวด
Name[ar]=القوارير
Name[bn]=Bottles
Name[sl]=Steklenice
Name[ca]=Bottles
Name[lt]=Bottles
Name[sr]=Флаше
Name[et]=Bottles
Name[ta]=பாட்டில்கள்
Name[ie]=Botelles
Name=Bottles
Comment=Run Windows software
Icon=com.usebottles.bottles
Exec=bottles %u
TryExec=bottles
Terminal=false
Type=Application
Categories=Utility;Game;Graphics;3DGraphics;Emulator;GNOME;GTK;
StartupNotify=true
StartupWMClass=bottles
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;
Keywords=wine;windows;gaming;emulate;emulator;game;
X-GNOME-UsesNotifications=true
