[Desktop Entry]
Name=Mouse
Name[ar]=الفأرة
Name[cs]=Myš
Name[de]=Maus
Name[el]=Ποντίκι
Name[en]=Mouse
Name[es]=Ratón
Name[fi]=Hiiri
Name[fr]=Souris
Name[ga]=Luch
Name[gl]=Rato
Name[hu]=Egér
Name[id]=Tetikus
Name[it]=Mouse
Name[kab]=Taɣerdayt
Name[kk]=Тышқан
Name[kmr]=Mişk
Name[ko]=마우스
Name[lt]=Pelė
Name[nl]=Muis
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Mouse
Name[pt_BR]=Mouse
Name[ru]=Мышь
Name[sk]=Myš
Name[sr]=Миш
Name[sv]=Mus
Name[tr]=Fare
Name[uk]=Миша
Name[zh_CN]=鼠标
Name[zh_TW]=滑鼠
Comment=Mouse speed, acceleration, and natural scrolling.
Comment[ar]=سرعة الفأرة، والتسارع، والتمرير الطبيعي
Comment[cs]=Rychlost myši, zrychlení, přirozené rolování
Comment[de]=Mausgeschwindigkeit, -beschleunigung und natürliches Scrollen
Comment[el]=Ταχύτητα ποντικιού, επιτάχυνση και φυσική κατεύθυνση κύλισης
Comment[en]=Mouse speed, acceleration, and natural scrolling
Comment[es]=Velocidad del ratón, aceleración y desplazamiento natural
Comment[fi]=Hiiren nopeus, kiihdytys ja luonnollinen vieritys
Comment[fr]=Vitesse de la souris, accélération et défilement naturel
Comment[ga]=Luas luiche, luasghéarú, agus scrollú nádúrtha
Comment[gl]=Velocidade do rato, aceleración e desprazamento natural
Comment[hu]=Egérsebesség, gyorsítás és természetes görgetés
Comment[id]=Kecepatan, akselerasi, dan pengguliran natural tetikus
Comment[it]=Velocità del cursore, accelerazione e scorrimento naturale
Comment[kab]=Arured n tɣerdayt, asɣiwel, d udrurem agaman
Comment[kk]=Тышқан жылдамдығы, үдеуі және табиғи айналдыру
Comment[kmr]=Leza mişkê, lezbûn û şemitandina xwezayî
Comment[ko]=마우스 속도와 가속 및 자연스러운 스크롤
Comment[lt]=Pelės greitis, pagreitis ir natūralus slinkimas
Comment[nl]=Muissnelheid en -versnelling, en 'natuurlijk' scrollen
Comment[pl]=Prędkość myszy, przyspieszenie i naturalne przewijanie
Comment[pt]=Velocidade do mouse, aceleração e rolagem natural
Comment[pt_BR]=Velocidade do mouse, aceleração e rolagem natural
Comment[ru]=Скорость мыши, ускорение и естественная прокрутка
Comment[sk]=Rýchlosť myši, akcelerácia a prirodzené rolovanie
Comment[sr]=Брзина миша, убрзање и природно помицање
Comment[sv]=Mushastighet, acceleration, och naturlig rullning
Comment[tr]=Fare hızı, ivme ve doğal kaydırma
Comment[uk]=Швидкість миші, прискорення, природне гортання
Comment[zh_CN]=鼠标速度、加速度和自然滚动
Comment[zh_TW]=滑鼠速度、加速度和自然滾動
Type=Application
Exec=cosmic-settings mouse
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Mouse;Acceleration;Scrolling;
Keywords[ar]=COSMIC;فأرة;تسارع;تمرير;
Keywords[cs]=COSMIC;Myš;Zrychlení;Rolování;
Keywords[de]=COSMIC;Maus;Beschleunigung;Scrollen;
Keywords[el]=Ποντίκι;Επιτάχυνση;Κύλιση;COSMIC;Mouse;Acceleration;Scrolling;
Keywords[en]=COSMIC;Mouse;Acceleration;Scrolling;
Keywords[fi]=COSMIC;Mouse;Acceleration;Scrolling;hiiri;kiihdytys;vieritys;skrollaus;
Keywords[fr]=COSMIC;Souris;Accélération;Défilement;
Keywords[ga]=COSMIC;Luch;Luasghéarú;Scrolláil;
Keywords[gl]=COSMIC;Rato;Aceleración;Desprazamento;Natural;
Keywords[hu]=COSMIC;Egér;Gyorsítás;Görgetés;
Keywords[id]=COSMIC;Tetikus;Akselerasi;Pengguliran;
Keywords[kab]=COSMIC;Taɣerdayt;Asɣiwel;Adrurem;
Keywords[kk]=COSMIC;Тышқан;Үдеу;Айналдыру;
Keywords[kmr]=COSMIC;Mişk;Lezbûn;Şemitandin;
Keywords[ko]=COSMIC;마우스;가속;스크롤;
Keywords[lt]=COSMIC;Pelė;Pagreitis;Slinkimas;
Keywords[pl]=COSMIC;Mysz;Myszka;Przyśpieszenie;Akceleracja;Skrolowanie;Scrollowanie;
Keywords[pt_BR]=COSMIC;Mouse;Aceleração;Rolagem;
Keywords[ru]=COSMIC;Мышь;Ускорение;Прокрутка;Скроллинг;
Keywords[sr]=COSMIC;Mouse;Acceleration;Scrolling;Космик;миш;убрзање;помицање;Kosmik;miš;ubrzanje;pomicanje;
Keywords[sv]=COSMIC;Mus;Acceleration;Rullning;
Keywords[tr]=COSMIC;Fare; Hızlanma; Kaydırma;
Keywords[uk]=COSMIC;Миша;Прискорення;Прокручування;Гортання;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;鼠标;加速度;滚动;
Keywords[zh_TW]=COSMIC;滑鼠;加速度;滾動;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-mouse
StartupNotify=true
