[Desktop Entry]
Name=OpenMesh ProgViewer
Exec=/usr/lib64/OpenMesh/ProgViewer
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Science
X-Desktop-File-Install-Version=0.28
