[Desktop Entry]
Version=1.0
Type=Application
Name=AirTV
Comment=Qt GUI to start a RAOP server
Exec=AirTV
Icon=airtv
Categories=AudioVideo;Qt;TrayIcon;
OnlyShowIn=GNOME;KDE;XFCE;
X-Desktop-File-Install-Version=0.28
