[Desktop Entry]
Name=OpenMesh DecimaterGui
Exec=/usr/lib64/OpenMesh/DecimaterGui
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Science
X-Desktop-File-Install-Version=0.28
