[Desktop Entry]
Name=Dock
Name[af]=Dock
Name[ar]=الإرساء
Name[cs]=Dok
Name[da]=Dock
Name[de]=Dock
Name[el]=Μπάρα εφαρμογών
Name[en]=Dock
Name[es]=Dock
Name[fi]=Telakka
Name[fr]=Dock
Name[ga]=Duga
Name[gl]=Dock
Name[hu]=Dokk
Name[id]=Dok
Name[it]=Dock
Name[kab]=Adekkan
Name[kk]=Док
Name[kmr]=Bender
Name[ko]=독
Name[lt]=Dokas
Name[nl]=Dock
Name[pa]=ਡੌਕ
Name[pl]=Dok
Name[pt]=Dock
Name[pt_BR]=Dock
Name[ru]=Док
Name[sk]=Dok
Name[sr]=Док
Name[sv]=Docka
Name[tr]=Dock
Name[uk]=Область завдань
Name[zh_CN]=程序坞
Name[zh_TW]=Dock
Comment=An optional bar for apps and applets.
Comment[af]='n Opsionele balk vir programme en applets
Comment[ar]=شريط إختياري للتطبيقات والبُريمجات
Comment[cs]=Volitelná lišta pro aplikace a applety
Comment[da]=En valgfri bjælke til apps og applets
Comment[de]=Eine optionale Leiste für Apps und Applets
Comment[el]=Μια προαιρετική μπάρα για εφαρμογές και μικροεφαρμογές
Comment[en]=An optional bar for apps and applets
Comment[es]=Panel opcional para aplicaciones y otros applets
Comment[fi]=Valinnainen palkki sovelluksille ja sovelmille
Comment[fr]=Barre facultative pour les applis et les applets
Comment[ga]=Barra roghnach le haghaidh aipeanna agus feidhmchláiríní
Comment[gl]=Unha barra opcional para aplicacións e miniaplicacións
Comment[hu]=Választható sáv alkalmazásokhoz és kisalkalmazásokhoz
Comment[id]=Bilah opsional untuk aplikasi dan applet
Comment[it]=Una barra opzionale per le applicazioni e le applet
Comment[kab]=Afeggag anefrunan i isnasen akked teplaḍin
Comment[kk]=Қолданбалар мен апплеттерге арналған қосымша панель
Comment[kmr]=Bendeke vebijêrkî ji bo sepan û sepanokan
Comment[ko]=앱과 애플릿을 위한 선택적 바
Comment[lt]=Pasirinktinė juosta programoms ir apletams
Comment[nl]=Een optionele balk voor apps en applets
Comment[pa]=ਐਪਾਂ ਅਤੇ ਐਪਲਿਟਾਂ ਲਈ ਚੋਣਵੀਂ ਪੱਟੀ
Comment[pl]=Opcjonalny panel na aplikacje i aplety
Comment[pt]=Painel com aplicativos fixados e outros miniaplicativos
Comment[pt_BR]=Uma barra opcional para aplicativos e miniaplicativos
Comment[ru]=Дополнительная панель для приложений и апплетов
Comment[sk]=Voliteľný panel pre aplikácie a applety
Comment[sr]=Необавезна трака за апликације и програмчиће
Comment[sv]=En valfri list för program och miniprogram
Comment[tr]=Uygulamalar ve eklentiler için isteğe bağlı bir çubuk
Comment[uk]=Необов’язкова область для панелі застосунків і віджетів
Comment[zh_CN]=可选的应用程序和小部件的工具栏
Comment[zh_TW]=可選應用程式和小程式的工具列
Type=Application
Exec=cosmic-settings dock
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Dock;Panel;Applet
Keywords[ar]=COSMIC;مرسى;لوحة;بريمج
Keywords[cs]=COSMIC;Dok;Panel;Applet;
Keywords[da]=COSMIC;Dock;Panel;Applet
Keywords[de]=COSMIC;Dock;Panel;Applet
Keywords[el]=Μικροεφαρμογή;Μπάρα;Εφαρμογών;Γραμμή;Συστήματος;COSMIC;Dock;Panel;Applet
Keywords[en]=COSMIC;Dock;Panel;Applet
Keywords[fi]=COSMIC;Dock;Panel;Applet;telakka;paneeli;sovelma
Keywords[fr]=COSMIC;Dock;Panneau;Applet
Keywords[ga]=COSMIC;Duga;Painéal;Feidhmchláirín
Keywords[gl]=COSMIC;Dock;Panel;Miniaplicativo
Keywords[hu]=COSMIC;Dokk;Panel;Kisalkalmazás;
Keywords[id]=COSMIC;Dok;Panel;Applet
Keywords[kab]=COSMIC;Adekkan;Agalis;Tappleṭ
Keywords[kk]=COSMIC;Док;Панель;Апплет
Keywords[kmr]=COSMIC;Bender;Destgeh;Sepanok
Keywords[ko]=COSMIC;독;패널;애플릿
Keywords[lt]=COSMIC;Dokas;Skydelis;Apletas
Keywords[pa]=COSMIC;ਡੌਕ;ਪੈਨਲ;ਐਪਲਿਟ
Keywords[pl]=COSMIC;Dok;Panel;Aplet
Keywords[pt_BR]=COSMIC;Dock;Painel;Applet;Miniaplicativo
Keywords[ru]=COSMIC;Док;Панель;Апплет
Keywords[sr]=COSMIC;Dock;Panel;Applet;Космик;Док;Окно;Програмчић;kosmik;dok;okno;programčić
Keywords[sv]=COSMIC;Docka;Panel;Applet;Miniprogram
Keywords[tr]=COSMIC;Dock;Panel;Eklenti
Keywords[uk]=COSMIC;Область;Завдань;Док;Панель;Віджет;КОСМІК;КОСМОС;КОСМІЧНЕ
Keywords[zh_CN]=COSMIC;程序坞;面板;小部件
Keywords[zh_TW]=COSMIC;Dock;面板;小程式
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-dock
StartupNotify=true
