[Desktop Entry]
Name=Keyboard
Name[ar]=لوحة المفاتيح
Name[cs]=Klávesnice
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en]=Keyboard
Name[es]=Teclado
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[ga]=Méarchlár
Name[gl]=Teclado
Name[hu]=Billentyűzet
Name[id]=Papan Ketik
Name[it]=Tastiera
Name[kab]=Anasiw
Name[kk]=Пернетақта
Name[kmr]=Kilîtdank
Name[ko]=키보드
Name[lt]=Klaviatūra
Name[nl]=Toetsenbord
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ru]=Клавиатура
Name[sk]=Klávesnica
Name[sr]=Тастатура
Name[sv]=Tangentbord
Name[tr]=Klavye
Name[uk]=Клавіатура
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤
Comment=Input sources, switching, special character entry, shortcuts.
Comment[ar]=مصادر الإدخال، التبديل، إدخال الأحرف الخاصة، الاختصارات
Comment[cs]=Vstupní zdroje, přepínání, vkládání speciálních znaků, zkratky
Comment[de]=Eingabequellen, Umschalten, Eingabe von Sonderzeichen, Tastenkombinationen
Comment[el]=Πηγές εισόδου, εναλλαγή, εισαγωγή ειδικών χαρακτήρων, συντομεύσεις
Comment[en]=Input sources, switching, special character entry, shortcuts
Comment[es]=Entrada de teclado, conmutación, carácteres especiales, atajos
Comment[fi]=Syötelähteet, vaihtaminen, erikoismerkkien syöttäminen, pikanäppäimet
Comment[fr]=Sources d'entrée, commutation, saisie de caractères spéciaux, raccourcis
Comment[ga]=Foinsí ionchuir, athrú, iontráil carachtar speisialta, aicearraí
Comment[gl]=Fontes de entrada, cambio, introdución de caracteres especiais e atallos de teclado
Comment[hu]=Bemeneti források, speciális karakterek, gyorsbillentyűk
Comment[id]=Sumber masukan, pengalihan, entri karakter spesial, pintasan
Comment[it]=Sorgenti di immissione, switch, caratteri speciali e scorciatoie
Comment[kab]=Iɣbula n unekcum, asenfel, anekcum n isekkilen uzzigen, inegzumen
Comment[kk]=Енгізу көздері, ауыстыру, арнайы таңбаларды енгізу, жарлықтар
Comment[kmr]=Çavkaniyên ketanê, guhertin, ketanê tîpên taybet, kurterê
Comment[ko]=입력 소스, 전환, 특수 문자 모음, 단축키
Comment[lt]=Įvesties įtaisai, perjungimas, specialių ženklų įvestis, spartieji klavišai
Comment[nl]=Invoermethodes, speciale tekens, en sneltoetsen
Comment[pa]=ਇਨਪੁੱਟ ਸਰੋਤ, ਸਵਿੱਚ ਕਰਨਾ, ਖਾਸ ਅੱਖਰ ਪਾਉਣੇ, ਸ਼ਾਰਟਕੱਟ
Comment[pl]=Źródła wprowadzania, przełączanie, specjalne klawisze, skróty
Comment[pt]=Métodos de entrada, entrada de caracteres especiais, atalhos
Comment[pt_BR]=Fontes de entrada, alternância, entrada de caracteres especiais, atalhos
Comment[ru]=Источники ввода, переключение, ввод специальных символов, сочетания клавиш
Comment[sk]=Vstupné zdroje, prepínanie, zadávanie špeciálnych znakov, skratky
Comment[sr]=Извори уноса, пребацивање, унос посебних знакова, пречице
Comment[sv]=Inmatningskällor, växling, specialtecken, genvägar
Comment[tr]=Giriş kaynakları, geçiş, özel karakter girişi, kısayollar
Comment[uk]=Джерела введення, перемикання, введення спеціальних символів, сполучення
Comment[zh_CN]=输入源、切换、特殊字符输入、快捷键
Comment[zh_TW]=輸入源、切換、特殊字符輸入、快速鍵
Type=Application
Exec=cosmic-settings keyboard
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Keyboard;Input;Source;Shortcuts;
Keywords[ar]=COSMIC;لوحة المفاتيح;الإدخال;المصدر;الاختصارات;
Keywords[cs]=COSMIC;Klávesnice;Vstup;Zdroj;Zdroje;Metoda;Metody;Zkratky;
Keywords[de]=COSMIC;Tastatur;Eingabe;Quelle;Tastenkombinationen;
Keywords[el]=Πληκτρολόγιο;Είσοδος;Πηγή;Συντομεύσεις;COSMIC;Keyboard;Input;Source;Shortcuts;
Keywords[en]=COSMIC;Keyboard;Input;Source;Shortcuts;
Keywords[fi]=COSMIC;Keyboard;Input;Source;Shortcuts;näppäimistö;syöte;sisääntulo;lähde;pikanäppäimet;
Keywords[fr]=COSMIC;Clavier;Saisie;Source;Raccourcis;
Keywords[ga]=COSMIC;Méarchlár;Ionchur;Foinse;Aicearraí;
Keywords[gl]=COSMIC;Teclado;Entrada;Fonte;Atallos;
Keywords[hu]=COSMIC;Billentyűzet;Beviteli;Forrás;Gyorsbillentyűk;
Keywords[id]=COSMIC;Papan Ketik;Masukan;Sumber;Pintasan;
Keywords[kab]=COSMIC;Anasiw;Anekcum;Aɣbalu;Inegzumen;
Keywords[kk]=COSMIC;Пернетақта;Енгізу;Көз;Жарлықтар;
Keywords[kmr]=COSMIC;Kilîtdank;Ketan;Çavkanî;Kurterê;
Keywords[ko]=COSMIC;키보드;입력;소스;단축키;
Keywords[lt]=COSMIC;Klaviatūra;Įvestis;Šaltinis;Spartieji klavišai;
Keywords[pa]=COSMIC;ਕੀਬੋਰਡ;ਇਨਪੁੱਟ;ਸਰੋਤ;ਸ਼ਾਰਟਕੱਟ;
Keywords[pl]=COSMIC;Klawiatura;Wejście;Źródła;Skróty;
Keywords[pt_BR]=COSMIC;Teclado;Entrada;Dispositivos;Atalhos;
Keywords[ru]=COSMIC;Клавиатура;Ввод;Источник;Горячие;Клавиши;Клавиш;Сочетания;Раскладки;
Keywords[sr]=COSMIC;Keyboard;Input;Source;Shortcuts;Космик;тастатура;унос;извор;пречице;Kosmik;tastatura;unos;izvor;prečice;
Keywords[sv]=COSMIC;Tangentbord;Inmatning;Källa;Genvägar;
Keywords[tr]=COSMIC;Klavye;Giriş;Kaynak;Kısayollar;
Keywords[uk]=COSMIC;Клавіатура;Ввід;Джерело;Сполучення;Клавіш;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;键盘;输入;输入源;快捷键;
Keywords[zh_TW]=COSMIC;鍵盤;輸入;輸入源;快速鍵;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-keyboard
StartupNotify=true
