[Desktop Entry]
Name=COSMIC Text Editor
Name[af]=COSMIC Teksedigeerder
Name[ar]=محرِّر نصوص COSMIC
Name[be]=Тэкставы рэдактар COSMIC
Name[bg]=COSMIC Текстов редактор
Name[cs]=Textový editor COSMIC
Name[da]=COSMIC-teksteditor
Name[de]=COSMIC Texteditor
Name[el]=Επεξεργασία κειμένου COSMIC
Name[en]=COSMIC Text Editor
Name[en_GB]=COSMIC Text Editor
Name[eo]=KOSMIK Tekstredaktilo
Name[es]=Editor de texto COSMIC
Name[es_419]=Editor de texto de COSMIC
Name[et]=COSMICu tekstitoimeti
Name[fa]=ویرایشگر متن COSMIC
Name[fi]=COSMICin tekstimuokkain
Name[fr]=Éditeur de texte COSMIC
Name[fy]=COSMIC Tekstbewurker
Name[ga]=Eagarthóir Téacs COSMIC
Name[gl]=Editor de Texto de COSMIC
Name[hi]=कॉस्मिक टेक्स्ट एडिटर
Name[hu]=COSMIC Szövegszerkesztő
Name[id]=Penyunting Teks COSMIC
Name[is]=COSMIC Textaritill
Name[it]=Editor di testo COSMIC
Name[ja]=COSMICテキストエディター
Name[kab]=Amaẓrag n uḍris COSMIC
Name[kk]=COSMIC мәтіндік түзеткіші
Name[kmr]=Edîtorê nivîsê ya COSMIC
Name[kn]=ಕಾಸ್ಮಿಕ್ ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko_KR]=COSMIC 텍스트 편집기
Name[lt]=COSMIC Rašyklė
Name[nb_NO]=COSMIC Tekstredigerer
Name[nl]=COSMIC Tekstbewerker
Name[nn]=COSMIC Tekstredigerer
Name[pa]=COSMIC ਲਿਖਤ ਐਡੀਟਰ
Name[pl]=Edytor Tekstu COSMIC
Name[pt]=Editor de Texto COSMIC
Name[pt_BR]=Editor de Texto
Name[ro]=Editor de text COSMIC
Name[ru]=Текстовый редактор
Name[sk]=Textový editor COSMIC
Name[sr]=Космик уређивач текста
Name[sr_Cyrl]=COSMIC Уређивач Текста
Name[sr_Latn]=COSMIC Tekst Editor
Name[sv_SE]=COSMIC Textredigerare
Name[tr]=COSMIC Metin Düzenleyici
Name[uk]=Текстовий редактор COSMIC
Name[zh_CN]=COSMIC 文本编辑器
Name[zh_TW]=COSMIC 文字編輯器
Comment=Text editor for the COSMIC desktop
Comment[ar]=محرِّر نصوص لسطح مكتب COSMIC
Comment[cs]=Textový editor pro prostředí COSMIC
Comment[da]=Teksteditor til COSMIC-skrivebordet
Comment[de]=Texteditor für den COSMIC Desktop
Comment[el]=Πρόγραμμα επεξεργασίας κειμένου για το περιβάλλον επιφάνειας εργασίας COSMIC
Comment[en]=Text editor for the COSMIC desktop
Comment[en_GB]=Text editor for the COSMIC desktop
Comment[es]=Editor de texto de escritorio COSMIC
Comment[fi]=Tekstimuokkain COSMIC-työpöydälle
Comment[fr]=Éditeur de texte pour le bureau COSMIC
Comment[ga]=Eagarthóir téacs don deasc COSMIC
Comment[gl]=Editor de texto para o escritorio COSMIC
Comment[hi]=कॉस्मिक डेस्कटॉप के लिए टेक्स्ट एडिटर
Comment[hu]=Szövegszerkesztő a COSMIC asztali környezethez
Comment[id]=Penyuntingan teks untuk desktop COSMIC
Comment[it]=Editor di testo per il desktop COSMIC
Comment[kab]=Amaẓrag n uḍris i tnarit COSMIC
Comment[kk]=COSMIC жұмыс үстелі үшін мәтіндік редакторы
Comment[kmr]=Edîtorê nivîsê ji bo sermaseya COSMIC
Comment[ko_KR]=COSMIC 데스크톱용 텍스트 편집기
Comment[lt]=COSMIC aplinkos rašyklė
Comment[nl]=Tekstbewerkingsprogramma voor COSMIC
Comment[pa]=COSMIC ਡੈਸਕਟਾਪ ਲਈ ਲਿਖਤ ਸੰਪਾਦਕ
Comment[pl]=Edytor tekstu pulpitu COSMIC
Comment[pt_BR]=Editor de texto do ambiente COSMIC
Comment[ru]=Текстовый редактор для среды COSMIC
Comment[sk]=Textový editor pre pracovné prostredie COSMIC
Comment[sr]=Уређивач текста за Космик радну површину
Comment[sv_SE]=Textredigerare för skrivbordsmiljön COSMIC
Comment[tr]=COSMIC masaüstü için metin editörü
Comment[uk]=Текстовий редактор для середовища COSMIC
Comment[zh_CN]=COSMIC 桌面的文本编辑器
Comment[zh_TW]=COSMIC 桌面文字編輯器
Exec=cosmic-edit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;application/x-zerosize;
Icon=com.system76.CosmicEdit
Categories=COSMIC;Utility;TextEditor;
Keywords=Text;Editor;
