[Desktop Entry]
Name[be]=Мабiльная сетка
Name[bg]=Мобилни мрежи
Name[ca]=Xarxa mòbil
Name[cs]=Mobilní síť
Name[da]=Mobilt netværk
Name[de]=Mobiles Netzwerk
Name[en_GB]=Mobile Network
Name[en_US]=Mobile Network
Name[es]=Red móvil
Name[et]=Mobiilne sidevõrk
Name[eu]=Sare mugikorra
Name[fa]=شبکهٔ همراه
Name[fi]=Mobiiliverkko
Name[fr]=Réseau mobile
Name[gl]=Rede móbil
Name[he]=רשת סלולרית
Name[hr]=Mobilna mreža
Name[hu]=Mobilhálózat
Name[id]=Jaringan Seluler
Name[is]=Farsímanet
Name[it]=Rete Mobile
Name[ja]=モバイルネットワーク
Name[ka]=მობილური ქსელის
Name[kk]=Мобильді желі
Name[ko]=모바일 네트워크
Name[lt]=Mobilusis tinklas
Name[lv]=Mobilais tīkls
Name[nl]=Mobiel netwerk
Name[oc]=Ret mobila
Name[pa]=ਮੋਬਾਈਲ ਨੈੱਟਵਰਕ
Name[pl]=Sieć komórkowa
Name[pt_BR]=Rede móvel
Name[pt_PT]=Rede móvel
Name[ro]=Rețea mobilă
Name[ru]=Мобильная сеть
Name[sl]=Mobilno omrežje
Name[sv]=Mobilnätverk
Name[tr]=Mobil Ağ
Name[uk]=Мобільна мережа
Name[vi]=Mạng di động
Name[zh_CN]=移动网络
Name[zh_TW]=流動網絡
Name=Mobile Network
Comment[be]=Канфігураванне тэлефаніі і перадачы даных праз мабільную сетку
Comment[bg]=Настройки на мобилни връзки и телефония
Comment[ca]=Configura les connexions de dades de telefonia i mòbils
Comment[cs]=Nastavte si telefonní a mobilní datová připojení
Comment[da]=Indstil telefoni og mobildataforbindelser
Comment[de]=Telefonie und mobile Datenverbindungen einrichten
Comment[en_GB]=Configure Telephony and mobile data connections
Comment[en_US]=Configure Telephony and mobile data connections
Comment[es]=Configurar telefonía y conexiones de datos móviles
Comment[et]=Kontrolli kuidas sa telefoni ja mobiilse andmeside ühendusi kasutad
Comment[eu]=Konfiguratu telefoniako eta datu mugikorreko konexioak
Comment[fa]=پیکربندی اتّصال‌های دادهٔ همراه و تلفن
Comment[fi]=Määritä puhelinverkko- ja mobiilidatayhteydet
Comment[fr]=Configurer la téléphonie et les connexions de données mobiles
Comment[gl]=Configurar as conexións de telefonía e datos móbiles
Comment[he]=הגדרת טלפוניה וחיבורי נתונים סלולריים
Comment[hr]=Prilagodite telefoniranje i povezivanje mobilnim podacima
Comment[hu]=Telefónia és mobil adatkapcsolatok beállítása
Comment[id]=Mengkonfigurasi koneksi data seluler dan telefoni
Comment[is]=Stilla nettæki og farsímatengingar
Comment[it]=Configura la telefonia e le connessioni dati mobili
Comment[ja]=テレフォニ（IP 電話）とモバイルデータ接続を設定します
Comment[kk]=Телефония және мобильді деректер байланыстарын баптау
Comment[ko]=전화 통신 및 모바일 데이터 연결 구성하기
Comment[lt]=Konfigūruoti telefonijos ir mobiliųjų duomenų ryšius
Comment[lv]=Konfigurēt telefoniju un mobilo datu savienojumus
Comment[nl]=Configureer telefonie en mobielegegevensverbindingen
Comment[oc]=Configurar la telefonia e las connexion de donadas mobil
Comment[pa]=ਟੈਲੀਫ਼ੋਨੀ ਤੇ ਮੋਬਾਈਲ ਡਾਟਾ ਕਨੈਕਸ਼ਨਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja połączeń telefonicznych i komórkowych
Comment[pt_BR]=Configure telefonia e conexões de dados móveis
Comment[pt_PT]=Configurar ligações telefónicas e de dados móveis
Comment[ro]=Configurează Telefonia și conexiunile de date mobile
Comment[ru]=Настроить телефонию и соединения для мобильных данных
Comment[sl]=Nastavitve telefonije in mobilnih podatkovnih povezav
Comment[sv]=Konfigurera telefoni och mobildataanslutningar
Comment[tr]=Telefon ve mobil veri bağlantılarını yapılandır
Comment[uk]=Налаштовування телефонії та мобільних з'єднань для передавання даних
Comment[vi]=Cấu hình kết nối cho điện thoại và dữ liệu di động
Comment[zh_CN]=配置电话和移动数据连接
Comment[zh_TW]=設定你的Telephony及流動數據連接
Comment=Configure Telephony and mobile data connections
Exec=budgie-control-center wwan
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.buddiesofbudgie.Settings-mobile-network-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-ConnectivitySettings;
OnlyShowIn=Budgie
# Translators: Search terms to find the WWAN panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=сотавая;мабільная;тэлэфанія;сім;
Keywords[bg]=cellular;wwan;telephony;sim;mobile;клетъчна;безжична;мобилна;сим;телефон;
Keywords[ca]=cel·lular;wwan;telefonia;sim;mòbil;
Keywords[cs]=celulární;wwan;telefon;telefonie;sim;karta;mobil;mobilní;
Keywords[da]=mobil;wwan;telefoni;sim;simkort;
Keywords[de]=cellular;wwan;telephony;sim;mobile;Funknetzwerk;Mobilfunk;Weitverkehrsfunk;Telefonie;
Keywords[en_GB]=cellular;wwan;telephony;sim;mobile;
Keywords[en_US]=cellular;wwan;telephony;sim;mobile;
Keywords[es]=teléfono;wwan;telefonía;sim;móvil;
Keywords[et]=cellular;wwan;telephony;sim;mobile;mobiilne andmeside;mobiilivõrk;mobiilid;
Keywords[eu]=telefonoa;wwan;telefonia;sim;mugikorra;
Keywords[fa]=cellular;wwan;telephony;sim;mobile;موبایل;تلفن;همراه;سیم‌کارت;
Keywords[fi]=cellular;wwan;telephony;sim;mobile;mobiili;
Keywords[fr]=cellulaire;wwan;téléphonie;sim;mobile;
Keywords[gl]=celular;wwan;telefonía;sim;móbil;
Keywords[he]=סלולרי;אלחוטי;סים;SIM;נייד;תקשורת;מובייל;פלאפון;סלקום;פרטנר;רמי לוי;גולן;טלקום;טלפוניה;חיוג;טלפון;
Keywords[hr]=mobitel;wwan;telefoniranje;sim;mobilno;
Keywords[hu]=mobil;wwan;telefónia;sim;telefon;
Keywords[id]=seluler;wwan;telefoni;sim;mobile;
Keywords[is]=farsími;wwan;símkerfi;sim;gsm;sími;
Keywords[ja]=cellular;wwan;telephony;sim;mobile;セルラー;ワイヤレスワイドエリアネットワーク;テレフォニ;IP電話;モバイル;
Keywords[kk]=cellular;wwan;telephony;sim;mobile;ұялы;телефония;сим;мобильді;
Keywords[ko]=cellular;무선전화;셀룰러;wwan;무선;telephony;텔레포니;sim;mobile;모바일;
Keywords[lt]=mobilusis;wwan;telefonija;sim;mibilusis;
Keywords[lv]=mobilais;wwan;telefonija;sim;mobilais;
Keywords[nl]=cellular;wwan;telephony;sim;mobile;mobiel;simkaart;telefonie;cellulair;
Keywords[oc]=mobil;wwan;telefòn;sim;telefonet;portable;
Keywords[pa]=ਸੈਲੂਲਰ;ਵੈਨ;ਵੈੱਨ;ਟੈਲੀਫ਼ੋਨੀ;ਸਿਮ;ਮੋਬਾਈਲ;ਮੋਬਾਇਲ;
Keywords[pl]=komórkowa;komórka;wwan;telefon;telefonia;sim;pin;puk;mobilna;
Keywords[pt_BR]=célula;celular;wwan;telefonia;sim;mobile;móvel;
Keywords[pt_PT]=cellular;wwan;telephony;sim;mobile;
Keywords[ro]=cellular;wwan;telephony;sim;mobile;celular;telefonie;mobilă;
Keywords[ru]=сотовый;мобильник;мобильный;мобильная;wwan;телефония;телефон;sim;сим;
Keywords[sl]=cellular;wwan;telephony;telefon;kartica;klicanje;mobilno;sim;mobile;
Keywords[sv]=cellular;mobilnätverk;wwan;telefoni;sim;mobil;
Keywords[tr]=hücresel;wwan;telefon;telefonculuk;sim;mobil;taşınabilir;taşınır;seyyar;gezici;gezgin;
Keywords[uk]=cellular;wwan;telephony;sim;mobile;стільниковий;телефонія;телефон;сім;картка;мобільний;вван;
Keywords[vi]=cellular;wwan;telephony;sim;mobile;di động;di dong;
Keywords[zh_CN]=蜂窝;移动;无线;
Keywords[zh_TW]=cellular;wwan;telephony;sim;mobile;流動網絡;
Keywords=cellular;wwan;telephony;sim;mobile;
