[Desktop Entry]
Name=Wallpaper
Name[ar]=الخلفية
Name[cs]=Tapeta
Name[de]=Hintergrundbild
Name[el]=Ταπετσαρία
Name[en]=Wallpaper
Name[es]=Fondo de pantalla
Name[fi]=Taustakuva
Name[fr]=Fond d'écran
Name[ga]=Cúlbhrat
Name[gl]=Fondo de pantalla
Name[hu]=Háttérkép
Name[id]=Wallpaper
Name[it]=Sfondo
Name[kab]=Aɣrab n ugdil
Name[kk]=Тұсқағаз
Name[kmr]=Wêneya dîwêr
Name[ko]=배경화면
Name[lt]=Darbalaukio fonas
Name[nl]=Schermachtergrond
Name[pa]=ਵਾਲਪੇਪਰ
Name[pl]=Tapeta
Name[pt]=Papel de Parede
Name[pt_BR]=Plano de fundo
Name[ru]=Фон
Name[sk]=Tapeta
Name[sr]=Позадина
Name[sv]=Bakgrundsbild
Name[tr]=Duvar Kağıdı
Name[uk]=Тло
Name[zh_CN]=壁纸
Name[zh_TW]=背景圖片
Comment=Wallpaper images, colors, and slideshow options.
Comment[ar]=صور الخلفية والألوان وخيارات عرض الشرائح
Comment[cs]=Obrázky tapet, barvy a možnosti prezentace
Comment[de]=Hintergrundbilder, Farben und Slideshow-Optionen
Comment[el]=Εικόνες ταπετσαρίας, χρώματα και επιλογές παρουσίασης διαφανειών
Comment[en]=Wallpaper images, colors, and slideshow options
Comment[es]=Imágenes de fondo, colores y opciones de carrusel de imágenes
Comment[fi]=Taustakuvat, -värit ja diaesityksen valinnat
Comment[fr]=Images de fond d'écran, couleurs et options de diaporama
Comment[ga]=Íomhánna cúlbhrat, dathanna agus roghanna taispeántais sleamhnán
Comment[gl]=Imaxes de fondo de pantalla, cores e opcións da presentación de diapositivas
Comment[hu]=Háttérképek, színek és diavetítési beállítások
Comment[id]=Opsi gambar wallpaper, warna, dan tayangan salindia
Comment[it]=Immagine di sfondo, colori e opzioni di transizione
Comment[kab]=Tugniwin n uɣrab n ugdil, initen akked tigri n tugna
Comment[kk]=Тұсқағаз суреттері, түстері және слайдшоу опциялары
Comment[kmr]=Wêneyên dîwêr, reng û vebijêrkên pêşandana wêneyan
Comment[ko]=바탕화면 이미지와 색상 및 슬라이드 쇼 옵션
Comment[lt]=Darbalaukio paveikslėlis, spalvos ir skaidrių parinktys
Comment[nl]=Schermachtergrond: Afbeeldingen, kleuren en diavoorstellingen
Comment[pa]=ਵਾਲਪੇਪਰ ਚਿੱਤਰ, ਰੰਗ ਅਤੇ ਸਲਾਈਡ-ਸ਼ੋਅ ਚੋਣਾਂ
Comment[pl]=Obraz tła, kolory i opcje pokazu slajdów
Comment[pt]=Imagens de plano de fundo, cores, e opções de exibição em slide
Comment[pt_BR]=Imagens do plano de fundo, cores e opções de transição
Comment[ru]=Фоновое изображение, цвета и параметры слайд-шоу
Comment[sk]=Obrázky tapiet, farby a možnosti prezentácie
Comment[sr]=Слике позадине, боје и могућности покретног приказа
Comment[sv]=Bakgrundsbilder, färger, och bildspelsalternativ
Comment[tr]=Duvar kağıdı resimleri, renkleri ve slayt gösterisi seçenekleri
Comment[uk]=Відображення тла: зображення, колір або показ слайдів
Comment[zh_CN]=壁纸图片、颜色和幻灯片选项
Comment[zh_TW]=背景圖片、顏色及投影片選項
Type=Application
Exec=cosmic-settings wallpaper
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Wallpaper;Background;Slideshow;
Keywords[ar]=COSMIC;خلفية;خلفية الشاشة;عرض شرائح;
Keywords[cs]=COSMIC;Tapeta;Tapety;Pozadí;Prezentace;
Keywords[de]=COSMIC;Hintergrundbild;Hintergrund;Slideshow;
Keywords[el]=Ταπετσαρία;Φόντο;Παρουσίαση;Διαφανειών;COSMIC;Wallpaper;Background;Slideshow;
Keywords[en]=COSMIC;Wallpaper;Background;Slideshow;
Keywords[fi]=COSMIC;Wallpaper;Background;Slideshow;taustakuva;tausta;diaesitys;
Keywords[fr]=COSMIC;Fond d'écran;Arrière-plan;Diaporama;
Keywords[ga]=COSMIC;Cúlbhrat;Cúlra;Taispeántas sleamhnán;
Keywords[gl]=COSMIC;FondoDePantalla;Fondo;PresentaciónDeDiapositivas;
Keywords[hu]=COSMIC;Háttérkép;Háttér;Diavetítés;
Keywords[id]=COSMIC;Wallpaper;Latar Belakang;Tayangan Salindia;
Keywords[kab]=COSMIC;Aɣrab n ugdil;Agilal;Tigri n tugna;
Keywords[kk]=COSMIC;Тұсқағаз;Фон;Слайдшоу;
Keywords[kmr]=COSMIC;Wêneya dîwêr;Paşrû;Pêşandan;
Keywords[lt]=COSMIC;Darbalaukio fonas;Fonas;Skaidrės;
Keywords[pa]=COSMIC;ਵਾਲਪੇਪਰ;ਬੈਕਗਰਾਉਂਡ;ਸਲਾਈਡ-ਸ਼ੋਅ;
Keywords[pl]=COSMIC;Tapeta;Tło;Pokaz Slajdów;Slajdy;
Keywords[pt_BR]=COSMIC;Wallpaper;PapelParede;Background;Slideshow;Transição;Plano;Fundo;
Keywords[ru]=COSMIC;Обои;Фон;Слайд-шоу;
Keywords[sr]=COSMIC;Wallpaper;Background;Slideshow;Космик;позадина;позадина;покретни приказ;Kosmik;pozadina;pozadina;pokretni prikaz;
Keywords[sv]=COSMIC;Bakgrundsbild;Bakgrund;Bildspel;
Keywords[tr]=COSMIC;Duvar kağıdı; Arka plan; Slayt gösterisi;
Keywords[uk]=COSMIC;Тло;Шпалери;Показ;Слайдів;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;壁纸;背景;幻灯片;
Keywords[zh_TW]=COSMIC;背景圖片;背景;投影片;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-wallpaper
StartupNotify=true
