[Desktop Entry]
Name=VPN
Name[af]=VPN
Name[ar]=VPN
Name[be]=VPN
Name[bg]=ВЧМ
Name[cs]=VPN
Name[da]=VPN
Name[de]=VPN
Name[el]=VPN
Name[en]=VPN
Name[es]=VPN
Name[es_419]=VPN
Name[fi]=VPN
Name[fr]=VPN
Name[ga]=VPN
Name[gl]=VPN
Name[hi]=VPN
Name[hu]=VPN
Name[id]=VPN
Name[is]=VPN
Name[it]=VPN
Name[ja]=VPN
Name[kab]=VPN
Name[kk]=VPN
Name[kmr]=VPN
Name[kn]=VPN
Name[ko]=VPN
Name[lt]=VPN
Name[nb_NO]=VPN
Name[nl]=VPN
Name[pl]=VPN
Name[pt]=VPN
Name[pt_BR]=VPN
Name[ro]=VPN
Name[ru]=VPN
Name[sk]=VPN
Name[sr]=ВПН
Name[sr_Cyrl]=VPN
Name[sr_Latn]=VPN
Name[sv]=VPN
Name[th]=VPN
Name[tr]=VPN
Name[uk]=VPN
Name[zh_CN]=VPN
Name[zh_TW]=VPN
Comment=VPN connections and connection profiles.
Comment[ar]=اتصالات VPN وملفات تعريف الاتصال
Comment[cs]=VPN připojení a profily
Comment[de]=VPN-Verbindungen und Verbindungsprofile
Comment[el]=Συνδέσεις VPN και προφίλ σύνδεσης
Comment[en]=VPN connections and connection profiles
Comment[es]=Conexiones VPN y perfiles de conexión
Comment[fi]=VPN-yhteydet ja -yhteysprofiilit
Comment[fr]=Connexions VPN et profils de connexion
Comment[ga]=Naisc VPN agus próifílí nasc
Comment[gl]=Conexións VPN e perfís de conexión
Comment[hu]=VPN-kapcsolatok és kapcsolódási profilok
Comment[id]=Sambungan VPN dan profil sambungan
Comment[it]=Connessioni VPN e profili di connessione
Comment[kab]=Tuqqniwin VPN akked imeɣna n tuqqna
Comment[kk]=VPN байланыстары және байланыс профильдері
Comment[kmr]=Girêdanên VPN û profîlên girêdanê
Comment[ko]=VPN 연결 및 연결 프로필
Comment[lt]=VPN ryšiai ir prisijungimų profiliai
Comment[nl]=VPN-verbindingen en VPN-profielen
Comment[pa]=VPN ਕਨੈਕਸ਼ਨ ਅਤੇ ਕਨੈਕਸ਼ਨ ਪਰੋਫ਼ਾਇਲ
Comment[pl]=Połączenia VPN i profile połączeń
Comment[pt]=Conexões VPN e perfis de conexão
Comment[pt_BR]=Conexões VPN e perfis de conexão
Comment[ru]=VPN-соединения и профили
Comment[sk]=VPN pripojenia a profily pripojení
Comment[sr]=ВПН везе и профили везе
Comment[sv]=VPN-anslutningar och anslutningsprofiler
Comment[tr]=VPN bağlantıları ve bağlantı profilleri
Comment[uk]=VPN з'єднання та профілі підключення
Comment[zh_CN]=VPN 连接和配置文件
Comment[zh_TW]=VPN 連接和連接設定檔案
Type=Application
Exec=cosmic-settings vpn
Terminal=false
Categories=COSMIC
Keywords=COSMIC;VPN;Network;Connection;OpenVPN;OpenConnect;
Keywords[ar]=COSMIC;VPN;شبكة;اتصال;OpenVPN;OpenConnect;
Keywords[cs]=COSMIC;VPN;Síť;Připojení;OpenVPN;OpenConnect;
Keywords[de]=COSMIC;VPN;Netzwerk;Verbindung;OpenVPN;OpenConnect;
Keywords[el]=Δίκτυο;Σύνδεση;COSMIC;VPN;Network;Connection;OpenVPN;OpenConnect;
Keywords[en]=COSMIC;VPN;Network;Connection;OpenVPN;OpenConnect;
Keywords[fi]=COSMIC;VPN;Network;Connection;OpenVPN;OpenConnect;verkko;yhteys;netti;
Keywords[fr]=COSMIC;VPN;Réseau;Connexion;OpenVPN;OpenConnect;
Keywords[ga]=COSMIC;VPN;Líonra;Nasc;OpenVPN;OpenConnect;
Keywords[gl]=COSMIC;VPN;Rede;Conexión;OpenVPN;OpenConnect;
Keywords[hu]=COSMIC;VPN;Hálózat;Kapcsolat;OpenVPN;OpenConnect;
Keywords[id]=COSMIC;VPN;Jaringan;Sambungan;OpenVPN;OpenConnect;
Keywords[kab]=COSMIC;VPN;Aẓeṭṭa;Tuqqna;OpenVPN;OpenConnect;
Keywords[kk]=COSMIC;VPN;Желі;Байланыс;OpenVPN;OpenConnect;
Keywords[kmr]=COSMIC;VPN;Tor;Girêdan;OpenVPN;OpenConnect;
Keywords[ko]=COSMIC;VPN;네트워크;연결;OpenVPN;OpenConnect;
Keywords[lt]=COSMIC;VPN;Ryšys;Prisijungimai;OpenVPN;OpenConnect;
Keywords[pl]=COSMIC;VPN;Sieć;Połączenie;OpenVPN;OpenConnect;
Keywords[pt_BR]=COSMIC;VPN;Rede;Conexão;OpenVPN;OpenConnect;
Keywords[ru]=COSMIC;VPN;ВПН;Сеть;Подключение;OpenVPN;OpenConnect;
Keywords[sr]=COSMIC;VPN;Network;Connection;OpenVPN;OpenConnect;Космик;ВПН;мрежа;веза;ОпенВПН;ОпенКонект;kosmik;vpn;mreža;veza;openvpn;openkonekt;
Keywords[sv]=COSMIC;VPN;Nätverk;Anslutning;OpenVPN;OpenConnect;
Keywords[tr]=COSMIC;VPN;Ağ;Bağlantı;OpenVPN;OpenConnect;
Keywords[uk]=COSMIC;VPN;Мережа;З'єднання;Підключення;OpenVPN;OpenConnect;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;VPN;网络;连接;OpenVPN;OpenConnect;
Keywords[zh_TW]=COSMIC;VPN;網路;連接;OpenVPN;OpenConnect;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-vpn
StartupNotify=true
