[Desktop Entry]
Name[ab]=Адиск ахархәара анализҟаҵага
Name[af]=Skyfgebruik
Name[an]=Analizador d'uso de disco
Name[ar]=محلل استخدام القرص
Name[as]=ডিস্ক ব্যৱহাৰ বিশ্লেষক
Name[ast]=Analizador d'Usu de Discu
Name[az]=Disk İstifadə Analizatoru
Name[be]=Аналіз дыскавай прасторы
Name[be@latin]=Analizatar zaniataści dyskavaj prastory
Name[bg]=Анализатор на ползването на диска
Name[bn]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
Name[bn_IN]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
Name[br]=Dezranner arver ar c'hantennoù
Name[bs]=Alat za analizu upotrebe diska
Name[ca]=Analitzador de l'ús dels discs
Name[ca@valencia]=Analitzador de l'ús dels discs
Name[crh]=Disk Qullanımı Tahlilcisi
Name[cs]=Analyzátor využití disku
Name[da]=Diskforbrugsanalyse
Name[de]=Festplattenbelegungsanalyse
Name[dz]=ཌིཀསི་གི་བེད་སྤྱོད་དཔྱད་ཞིབ་པ།
Name[el]=Αναλυτής χρήσης δίσκου
Name[en_GB]=Disk Usage Analyser
Name[en@shaw]=𐑛𐑦𐑕𐑒 𐑿𐑕𐑦𐑡 𐑨𐑯𐑩𐑤𐑲𐑟𐑻
Name[eo]=Analizilo de disk-uzado
Name[es]=Analizador de uso de disco
Name[et]=Kettakasutuse analüsaator
Name[eu]=Disko-erabileraren analizatzailea
Name[fa]=تحلیلگر مصرف دیسک
Name[fi]=Levynkäytön analysointi
Name[fo]=Disksnýtslugreinari
Name[fr]=Analyseur d’utilisation des disques
Name[fur]=Analizadôr di utilizazion dal disc
Name[fy]=Skiifgebrûk
Name[ga]=Anailíseoir Úsáid Diosca
Name[gd]=Sgrùdair cleachdadh nan diosga
Name[gl]=Analizador do uso do disco
Name[gu]=ડિસ્ક વપરાશકર્તા વિશ્લેષક
Name[he]=מנתח השימוש בכונן
Name[hi]=डिस्क उपयोग विश्लेषक
Name[hr]=Analizator iskoristivosti diska
Name[hu]=Lemezhasználat-elemző
Name[ia]=Analysator de usage de disco
Name[id]=Penganalisa Penggunaan Diska
Name[ie]=Analisator del usage de discos
Name[is]=Disknotkunargreining
Name[it]=Analizzatore di utilizzo del disco
Name[ja]=ディスク使用量アナライザー
Name[ka]=დისკის მოხმარების ანალიზატორი
Name[kab]=Anaslaḍ n useqdec n uḍebsi
Name[kk]=Диск қолдануын анализдеушісі
Name[km]=កម្មវិធី​វិភាគ​ការ​ប្រើ​ថាស
Name[kn]=ಡಿಸ್ಕ್‍ ಬಳಕೆಯ ವಿಶ್ಲೇಷಕ
Name[ko]=디스크 사용량 분석
Name[ku]=Analîzkerê Bikaranîna Dîskê
Name[kw]=Dielvenner Usadow Plasen
Name[lt]=Disko naudojimo analizatorius
Name[lv]=Diska izmantojuma analizators
Name[mai]=डिस्क प्रयोग विश्लेषण
Name[mjw]=Disk Usage Analyzer
Name[mk]=Употребата на дискот
Name[ml]=ഡിസ്ക് യൂസേജ് അനലൈസർ
Name[mr]=डीस्क वापर विश्लेषक
Name[ms]=Penganalisis Penggunaan Cakera
Name[nb]=Lagring
Name[nds]=Spiekergebruk unnersöken
Name[ne]=डिस्क प्रयोग विश्लेषक
Name[nl]=Schijfgebruik
Name[nn]=Analyse av diskplass
Name[oc]=Analisador d'utilizacion dels disques
Name[or]=ଡିସ୍କ ବ୍ଯବହାର ବିଧି ବିଶ୍ଳେଷକ
Name[pa]=ਡਿਸਕ ਵਰਤੋਂ ਜਾਂਚਕਾਰ
Name[pl]=Wykorzystanie dysku
Name[ps]=د ټيکلي کارونې شننونکی
Name[pt]=Analisador de utilização do disco
Name[pt_BR]=Analisador de uso de disco
Name[ro]=Analizatorul utilizării discului
Name[ru]=Анализатор использования дисков
Name[si]=තැටි භාවිත විශ්ලේෂකය
Name[sk]=Analyzátor využitia disku
Name[sl]=Orodje za preučevanje porabe diska
Name[sr]=Испитивач искоришћености диска
Name[sr@latin]=Ispitivač iskorišćenosti diska
Name[sv]=Diskanvändningsanalysator
Name[ta]=வட்டு பயன்பாடு ஆராய்வி
Name[te]=డిస్క్ వినిమయ విశ్లేషకం
Name[tg]=Таҳлилгари истифодаи диск
Name[th]=เครื่องมือวิเคราะห์การใช้ดิสก์
Name[tr]=Disk Kullanımı İnceleyici
Name[ug]=دىسكا ئىشلىتىش تەھلىلچىسى
Name[uk]=Аналізатор використання диска
Name[uz]=Diskdan foydalanish tahlilchisi
Name[vi]=Bộ phân tích đĩa
Name[zh_CN]=磁盘占用分析器
Name[zh_HK]=磁碟用量分析器
Name[zh_TW]=磁碟用量分析器
Name=Disk Usage Analyzer
Comment[af]=Kontroleer gidsgroottes en beskikbare skyfspasie
Comment[an]=Compreba la grandaria d'as carpetas y lo espacio disponible en disco
Comment[ar]=افحص حجم المجلدات ومساحة القرص المتوفرة
Comment[as]=ফোল্ডাৰৰ মাপ আৰু ডিস্কত উপলব্ধ স্থান নিৰীক্ষণ কৰক
Comment[ast]=Comprobar el tamañu de les carpetes y l'espaciu disponible en discu
Comment[az]=Qovluq ölçülərini və mövcud disk sahəsini yoxlayın
Comment[be]=Праверка памеру папак і даступнай дыскавай прасторы
Comment[be@latin]=Spraŭdź pamiery katalohaŭ i dyskavuju prastoru
Comment[bg]=Проверка на размерите на папките и свободното пространство на диска
Comment[bn]=ফোল্ডারের মাপ ও ডিস্কে বিদ্যমান স্থান পরীক্ষা করা হবে
Comment[bn_IN]=ফোল্ডারের মাপ ও ডিস্কে উপলব্ধ স্থান পরীক্ষা করা হবে
Comment[br]=Gwiriañ mentoù an teuliadoù ha plas hegerz war ar gantennad
Comment[bs]=Provjeri veličinu direktorija i raspoloživ prostor na disku
Comment[ca]=Comprova la mida de les carpetes i l'espai disponible al disc
Comment[ca@valencia]=Comprova la mida de les carpetes i l'espai disponible al disc
Comment[ckb]=چێکردنی قەبارەی بوخچە و بۆشایی بەردەست لە پەپکەکاندا
Comment[crh]=Cilbent ölçülerini ve faydalanışlı disk fezasını teşker
Comment[cs]=Zkontrolovat velikost složek a dostupné místo na disku
Comment[da]=Kontrollér mappestørrelser og tilgængelig diskplads
Comment[de]=Ordnergrößen und freien Festplattenplatz analysieren
Comment[dz]=ཡིག་སྣོད་ཀྱི་ཚད་ཚུ་དང་འཐོབ་ཚུགས་པའི་ཌིཀསི་ས་སྟོང་ཞིབ་དཔྱད་འབད
Comment[el]=Έλεγχος μεγέθους φακέλων και διαθέσιμου χώρου στο δίσκο
Comment[en_GB]=Check folder sizes and available disk space
Comment[en@shaw]=𐑗𐑧𐑒 𐑓𐑴𐑤𐑛𐑼 𐑕𐑲𐑟𐑩𐑟 𐑯 𐑩𐑝𐑱𐑤𐑩𐑚𐑩𐑤 𐑛𐑦𐑕𐑒 𐑕𐑐𐑱𐑕
Comment[eo]=Kontroli dosierujajn grandojn kaj disponeblan diskspacon
Comment[es]=Compruebe el tamaño de las carpetas y el espacio disponible en disco
Comment[et]=Kaustade suuruse ja saadaoleva kettaruumi kontroll
Comment[eu]=Egiaztatu karpeten tamainak eta diskoan dagoen leku erabilgarria
Comment[fa]=بررسی اندازهٔ شاخه‌ها و فضای دیسک موجود
Comment[fi]=Tarkista kansioiden koko ja käytettävissä oleva levytila
Comment[fo]=Skoða skjáttustøddir og tøkt diskspláss
Comment[fr]=Vérifier la taille des dossiers et l’espace disque disponible
Comment[fur]=Controle la dimension des cartelis e il spazi libar sul disc
Comment[fy]=Kontrolearje map gruttes en beskikbere skiifromte
Comment[ga]=Seiceáil méideanna fillteán agus spás diosca le fáil
Comment[gd]=Thoir sùil air meud nam pasganan ’s an rum shaor air an diosga
Comment[gl]=Comprobe o tamaño dos cartafoles e o espazo dispoñíbel no disco
Comment[gu]=ફોલ્ડર માપો અને ઉપલબ્ધ ડિસ્ક જગ્યા ચકાસો
Comment[he]=בדיקת גודלי התיקיות והמקום פנוי בכונן
Comment[hi]=फोल्डर आकर व उपलब्ध डिस्क स्पेस जांचें
Comment[hr]=Provjerite veličinu mapa  i dostupan prostor na disku
Comment[hu]=Mappaméretek és elérhető lemezterület vizsgálata
Comment[ia]=Verifica dimensiones de dossieres e le spatio disponibile de disco
Comment[id]=Periksa ukuran folder dan ruang diska yang tersedia
Comment[ie]=Controlar grandores de fólderes e disc-spacie disponibil
Comment[is]=Athuga hve mikið pláss skrár taka á tölvunni og hve mikið pláss er eftir
Comment[it]=Controlla la dimensione delle cartelle e lo spazio disco disponibile
Comment[ja]=フォルダーと利用可能なディスク容量をチェック
Comment[ka]=საქაღალდის ზომებისა და ხელმისაწვდომი ადგილის შემოწმება
Comment[kab]=Senqed teɣzi n yikaramen akked tallunt yellan deg uḍebsi
Comment[kk]=Бумалар өлшемдерін және дисктердегі қолжетерлік орынды тексеру
Comment[km]=ពិនិត្យ​មើល​ទំហំ​ថត និង​ទំហំ​ថាស​ដែល​អាច​ប្រើ​បាន
Comment[kn]=ಕಡತಕೋಶದ ಗಾತ್ರಗಳು ಹಾಗು ಲಭ್ಯವಿರುವ ಡಿಸ್ಕಿನ ಜಾಗಕ್ಕಾಗಿ ನೋಡು
Comment[ko]=폴더 용량과 디스크의 빈 공간을 검사합니다
Comment[kw]=Checkya brasterow restrenva ha spas plasen kavadow
Comment[lt]=Tikrinti aplankų dydžius ir laisvą vietą
Comment[lv]=Pārbauda mapju izmērus un pieejamo diska vietu
Comment[mjw]=Folder apun lapen disk space angse kelang
Comment[mk]=Провери ја големината на папките и достапниот простор на дискот
Comment[ml]=ഫോൾഡറുകളുടെ വ്യാപ്തിയും ഡിസ്കില്‍ ലഭ്യമായ സ്ഥലവും പരിശോധിയ്ക്കുക
Comment[mr]=फोल्डर आकार व उपलब्ध डीस्क जागा तपासा
Comment[ms]=Periksa saiz folder dan ruang cakera yang tersedia
Comment[nb]=Kontroller lagringsplassen din
Comment[ne]=फोल्डर साइज र उपलब्ध डिस्क खालीस्थान जाँच गर्नुहोस्
Comment[nl]=Bekijk mapgroottes en beschikbare schijfruimte
Comment[nn]=Undersøk mappestorleikar og tilgjengeleg diskplass
Comment[oc]=Verificar la talha dels dorsièrs e l'espaci de disc disponible
Comment[or]=ଫୋଲଡରର ଆକାର ଏବଂ ଉପଲବ୍ଧ ଡିସ୍କ ସ୍ଥାନ ଯାଞ୍ଚ କରନ୍ତୁ
Comment[pa]=ਫੋਲਡਰ ਸਾਇਜ਼ ਅਤੇ ਉਪਲੱਬਧ ਡਿਸਕ ਥਾਂ ਚੈੱਕ ਕਰੋ
Comment[pl]=Wyświetlanie rozmiaru katalogów i dostępnego miejsca na dysku
Comment[ps]=د پوښۍ کچونه او شته ټيکلی تشه وګورﺉ
Comment[pt]=Verificar o tamanho das pastas e o espaço disponível em disco
Comment[pt_BR]=Verifique o tamanho de pastas e o espaço disponível em disco
Comment[ro]=Verifică mărimea dosarului și spațiul disponibil pe disc
Comment[ru]=Изучение размера папок и свободного места на дисках
Comment[sk]=Kontroluje veľkosti priečinkov a dostupné miesto na disku
Comment[sl]=Preveri velikosti map in prostor na disku
Comment[sr]=Проверите величине фасцикли и слободан простор на диску
Comment[sr@latin]=Proverite veličine fascikli i slobodan prostor na disku
Comment[sv]=Kontrollera mappstorlekar och tillgängligt diskutrymme
Comment[ta]=அடைவு அளவு மற்றும் கிடைக்கக்கூடிய வட்டு இடைவெளி ஆகியவற்றை சரிபார் 
Comment[te]=అందుబాటులోవున్న డిస్క్ స్థలం మరియు సంచయపు పరిమాణాలను తనిఖీచేయి
Comment[tg]=Санҷиши андозаи ҷузвдонҳо ва фазои диски дастрас
Comment[th]=ตรวจสอบขนาดของโฟลเดอร์ต่างๆ และเนื้อที่ว่างในดิสก์
Comment[tr]=Klasör boyutlarını ve kullanılabilir disk alanını denetle
Comment[ug]=قىسقۇچ چوڭلۇقى ۋە ئىشلىتىشكە بولىدىغان دىسكا بوشلۇقىنى تەكشۈر
Comment[uk]=Перевірте розміри тек та дисковий простір
Comment[uz]=Jild o'lchamlarini va bo'sh disk xotirasini tekshiring
Comment[vi]=Kiểm tra kích cỡ của thư mục và chỗ trống trên đĩa
Comment[zh_CN]=检查文件夹大小和可用磁盘空间
Comment[zh_HK]=檢查資料夾大小與可用的磁碟空間
Comment[zh_TW]=檢查資料夾大小與可用的磁碟空間
Comment=Check folder sizes and available disk space
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=stoor;spasie;skoonmaak;
Keywords[an]=almacenamiento;espacio;limpieza;
Keywords[ar]=التخزين;المساحة;التنظيف;storage;space;cleanup;
Keywords[as]=সংৰক্ষণ;স্থান;পৰিষ্কাৰ;
Keywords[az]=saxlama;sahə;silinmə;
Keywords[be]=storage;space;cleanup;сховішча;дыск;прастора;ачыстка;
Keywords[bg]=пространство;обем;размер;свободно;заето;изчистване;освобождаване;storage;space;cleanup;
Keywords[bn_IN]=স্টোরেজ;স্পেস;ক্লিন-অাপ;
Keywords[br]=kadaviñ;egor;naetaat;
Keywords[bs]=smještaj;skladištenje;prostor;čišćenje;
Keywords[ca]=emmagatzematge;emmagatzemament;espai;neteja;
Keywords[ca@valencia]=emmagatzematge;emmagatzemament;espai;neteja;
Keywords[crh]=mağaz;feza;temizlik;temizle;
Keywords[cs]=úložiště;místo;prostor;vyčistit;uvolnit;
Keywords[da]=lager;plads;oprydning;
Keywords[de]=Speicherplatz;Belegung;Kapazität;frei;aufräumen;
Keywords[el]=αποθήκευση;χώρος;καθαρισμός;storage;space;cleanup;
Keywords[en_GB]=storage;space;cleanup;
Keywords[eo]=spaco;diskospaco;purigi;senrubigi;
Keywords[es]=almacenamiento;espacio;limpieza;
Keywords[et]=ruum;kettakasutus;andmed;puhastamine;puhastus;
Keywords[eu]=biltegia;lekua;garbitu;
Keywords[fa]=storage;space;cleanup;ذخیره;فضا;پاکسازی;
Keywords[fi]=storage;space;cleanup;tila;tilankäyttö;levytila;tallennustila;
Keywords[fo]=goymsla;pláss;upprudding;
Keywords[fr]=stockage;espace disque;nettoyage;
Keywords[fur]=archivi;spazi;pulizie;
Keywords[fy]=storage;opslach;space;romte;cleanup;
Keywords[ga]=stóras;spás;glanadh;
Keywords[gd]=storage;space;cleanup;stòras;rum;àite;glanadh;sgioblachadh;sgioblaich;diosga;
Keywords[gl]=almacenamento;espazo;limpeza;
Keywords[gu]=સંગ્રહ;જગ્યા;સાફ કરવુ;
Keywords[he]=אחסון;מקום;שטח;נפח;ניקוי;
Keywords[hi]=संचय;स्पेस;अनुकूलन;
Keywords[hr]=pohrana;prostor;čišćenje;
Keywords[hu]=tároló;lemezterület;takarítás;
Keywords[ia]=immagazinage;spatio;nettage
Keywords[id]=penyimpanan;ruang;pembersihan;
Keywords[ie]=inmagasinage;spacie;vacuar;nettar;
Keywords[is]=gögn;geymsla;pláss;hreinsun;tiltekt;
Keywords[it]=archiviazione;spazio;pulizia;
Keywords[ja]=storage;space;cleanup;ストレージ;スペース;空間;容量;使用量;クリーンアップ;
Keywords[ka]=storage;space;cleanup;
Keywords[kab]=aseqdec;tallunt;asizdeg;
Keywords[kk]=storage;space;cleanup;сақтауыш;орын;тазарту;
Keywords[kn]=ಶೇಖರಣೆ;ಸ್ಥಳ;ಸ್ವಚ್ಛಗೊಳಿಸು;
Keywords[ko]=storage;저장;장치;하드;space;공간;cleanup;지우기;
Keywords[kw]=gwithva;spas;glanhe;
Keywords[lt]=saugykla;vieta;išvalymas;
Keywords[lv]=uzkopšana;vieta;krātuve;
Keywords[mjw]=storage;space;cleanup;
Keywords[ml]=storage;space;cleanup;
Keywords[mr]=स्टोरेज;स्पेस;क्लिनअप;
Keywords[ms]=storan;ruang;pembersihan;
Keywords[nb]=lagring;lagringsplass;lagringsenheter;plassbruk;diskplass;lagringsmedier;analyse;fjerning;unødvendige;overflødige;filer;rensing;rensning;rengjøring;disk usage analyzer;baobab;
Keywords[ne]=भण्डारण;space;सफा गर्नुहोस्;
Keywords[nl]=storage;opslag;ruimte;schijfgebruik;cleanup;opschonen;
Keywords[oc]=emmagazinatge;espaci disc;netejatge;
Keywords[or]=storage;space;cleanup;
Keywords[pa]=ਸਟੋਰੇਜ਼;ਥਾਂ;ਸਫ਼ਾਈ;storage;space;cleanup;
Keywords[pl]=pamięć masowa;dyski;miejsce;przestrzeń;czyszczenie;analizator;foldery;katalogi;
Keywords[pt]=armazenamento;espaço;limpar;
Keywords[pt_BR]=armazenamento;espaço;limpeza;
Keywords[ro]=storage;space;cleanup;spațiu;curăță;șterge;depozitare;stocare;
Keywords[ru]=накопитель;пространство;очистка;
Keywords[sk]=úložisko;miesto;premazanie;vyčistenie;čistenie;
Keywords[sl]=shranjevanje;prostor;čiščenje;zasedenost;datoteke;shramba;storage;clean;počisti;
Keywords[sr]=смештај;складиштење;простор;чишћење;storage;space;cleanup;
Keywords[sr@latin]=smeštaj;skladištenje;prostor;čišćenje;storage;space;cleanup;
Keywords[sv]=lagring;utrymme;rensning;
Keywords[ta]=கிடங்கு;இடம்;சுத்தகரிப்பு;
Keywords[te]=storage;space;cleanup;
Keywords[tg]=захирагоҳ;фазо;поксозӣ;
Keywords[th]=ที่เก็บข้อมูล;ที่ว่าง;ทำความสะอาด;
Keywords[tr]=Disk Usage Analyzer;storage;space;cleanup;baoab;depolama;biriktirme;saklama;boşluk;alan;temizlik;
Keywords[ug]=storage;space;cleanup;ساقلىغۇچ;بوشلۇق;تازىلاش;
Keywords[uk]=пам'ять;місце;очистити;
Keywords[uz]=xotira;bo'sh joy;tozalash;
Keywords[vi]=storage;space;cleanup;kho;chứa;đĩa;dia;trống;trong;dọn dẹp;don dep;xóa;xoa;
Keywords[zh_CN]=storage;space;cleanup;存储;空间;清理;占用;磁盘使用;硬盘;固态;机械;
Keywords[zh_HK]=storage;space;cleanup;儲存區;空間;清理;
Keywords[zh_TW]=storage;space;cleanup;儲存區;空間;清理;磁碟用量;分析;垃圾;
Keywords=storage;space;cleanup;
TryExec=baobab
Exec=baobab %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.baobab
Terminal=false
Type=Application
StartupNotify=true
MimeType=inode/directory;
Categories=GTK;GNOME;System;Filesystem;Utility;
DBusActivatable=true
X-GNOME-UsesNotifications=true
