[Desktop Entry]
Categories=Game;ArcadeGame;
Name=BZFlag
GenericName=3D multi-player tank battle game
Comment=Drive around in your tank and shoot others
Exec=bzflag-wrapper
Icon=bzflag.svg
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.28
