[Desktop Entry]
Name[ar]=Bubblemail
Name[de]=Bubblemail
Name[el]=Bubblemail
Name[es]=Bubblemail
Name[fr]=Bubblemail
Name[it]=Bubblemail
Name[ka]=Bubblemail
Name[pt]=Bubblemail
Name[pt_BR]=Bubblemail
Name[ru]=Bubblemail
Name[zh_CN]=Bubblemail
Name[zh_TW]=Bubblemail
Name=Bubblemail
Comment=Bubblemail Settings
Keywords=mail;notify;notification;config;settings;preferences;
Exec=/usr/bin/bubblemail
Icon=bubblemail
Terminal=false
Type=Application
Categories=Network;Email;
StartupNotify=false
X-AppStream-Ignore=true
