[Desktop Entry]
Exec=xasy
Icon=asy
Terminal=false
Name=Asymptote
GenericName=xasy
Comment=GUI tool for using Asymptote vector graphics
Type=Application
Categories=Graphics;VectorGraphics;2DGraphics;3DGraphics;
StartupNotify=true
X-Desktop-File-Install-Version=0.28
