[Desktop Entry]
Name=Date & Time
Name[af]=Datum en tyd
Name[ar]=التاريخ والوقت
Name[cs]=Datum a čas
Name[da]=Dato & tid
Name[de]=Datum & Uhrzeit
Name[el]=Ημερομηνία και ώρα
Name[en]=Date & Time
Name[es]=Fecha y Hora
Name[fi]=Päivä ja aika
Name[fr]=Date et heure
Name[ga]=Dáta & Am
Name[gl]=Data e hora
Name[hu]=Dátum és idő
Name[id]=Tanggal & Waktu
Name[it]=Data e Ora
Name[kab]=Azemz akked usrag
Name[kk]=Күн және уақыт
Name[kmr]=Dîrok & Dem
Name[ko]=날짜 & 시간
Name[lt]=Data ir Laikas
Name[nl]=Datum en tijd
Name[pa]=ਤਾਰੀਖ ਅਤੇ ਸਮਾਂ
Name[pl]=Godzina i Data
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sr]=Датум и време
Name[sv]=Datum & Tid
Name[tr]=Tarih & Saat
Name[uk]=Дата та час
Name[zh_CN]=日期与时间
Name[zh_TW]=日期與時間
Comment=Time zone, automatic clock settings, and time formatting.
Comment[af]=Tydsone, outomatiese klokinstellings en tydformatering
Comment[ar]=المنطقة الزمنية وإعدادات الساعة التلقائية وتنسيق الوقت
Comment[cs]=Časové pásmo, automatické nastavení hodin a formátování času
Comment[da]=Tidszone, automatiske ur-indstillinger og tidsformat
Comment[de]=Zeitzone, automatische Uhrzeiteinstellungen und Zeitformatierung
Comment[el]=Ζώνη ώρας, αυτόματη ρύθμιση ρολογιού και μορφοποίηση ώρας
Comment[en]=Time zone, automatic clock settings, and time formatting
Comment[es]=Zona horaria, configuración automática del reloj y formatos de hora
Comment[fi]=Aikavyöhyke, automaattiset kellon asetukset ja ajan muotoilu
Comment[fr]=Fuseau horaire, réglage de l'heure automatique et formatage de l'heure
Comment[ga]=Crios ama, socruithe uathoibríocha cloig, agus formáidiú ama
Comment[gl]=Fuso horario, axustes automáticos do reloxo e formato da hora
Comment[hu]=Időzóna, automatikus órabeállítások és időformátum
Comment[id]=Zona waktu, pengaturan jam otomatis, dan pemformatan waktu
Comment[it]=Fuso orario, impostazione automatica dell'ora e del formato
Comment[kab]=Tamennaḍt tasragant, iɣewwaṛen n temrilt tawurmant akked umasal n usrag
Comment[kk]=Уақыт белдеуі, сағатты автоматты баптау және уақыт пішімі
Comment[kmr]=Herêma demê, sazkariyên demjimêra xweber û awaya demê
Comment[ko]=시간대와 자동 시계 설정 및 시간 형식
Comment[lt]=Laiko juosta, automatinės laikrodžio nuostatos ir laiko formatai
Comment[nl]=Tijdszone, automatische tijdinstellingen en tijdnotatie
Comment[pa]=ਸਮਾਂ-ਖੇਤਰ, ਆਪਣੇ-ਆਪ ਘੜੀ ਸੈਟਿੰਗਾਂ, ਅਤੇ ਸਮਾਂ ਰੂਪ
Comment[pl]=Strefy czasowe, automatyczna konfiguracja zegara i format wyświetlania czasu
Comment[pt]=Fuso horário, hora automática e formatação
Comment[pt_BR]=Fuso horário, configurações de relógio e formatação de hora
Comment[ru]=Часовой пояс, автонастройка часов и форматирование времени
Comment[sk]=Časové pásmo, automatické nastavenie hodín a formátovanie času
Comment[sr]=Временска зона, самостална подешавања сата и форматирање времена
Comment[sv]=Tidszon, automatiska klockinställningar och tidsformat
Comment[tr]=Saat dilimi, otomatik saat ayarları ve zaman biçimlendirme
Comment[uk]=Часовий пояс, автоматичне налаштування годинника та формат часу
Comment[zh_CN]=时区、自动时钟设置和时间格式
Comment[zh_TW]=時區、自動時鐘設定和時間格式
Type=Application
Exec=cosmic-settings date-time
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Time;Zone;
Keywords[ar]=COSMIC;الوقت;المنطقة;
Keywords[cs]=COSMIC;Čas;Pásmo;Zóna;
Keywords[da]=COSMIC;Tid;Zone;
Keywords[de]=COSMIC;Zeit;Zone;
Keywords[el]=Ζώνη;Ώρα;COSMIC;Time;Zone;
Keywords[en]=COSMIC;Time;Zone;
Keywords[fi]=COSMIC;Time;Zone;aika;aikavyöhyke;
Keywords[fr]=COSMIC;Horaire;Fuseau;
Keywords[ga]=COSMIC;Am;Crios;
Keywords[gl]=COSMIC;Fuso;Horario;
Keywords[hu]=COSMIC;Idő;Zóna;
Keywords[id]=COSMIC;Waktu;Zona;
Keywords[kab]=COSMIC;Asrag;Tamennaḍt;
Keywords[kk]=COSMIC;Уақыт;Белдеу;
Keywords[kmr]=COSMIC;Dem;Herêm;
Keywords[ko]=COSMIC;시간;대;
Keywords[lt]=COSMIC;Laikas;Zona;
Keywords[nl]=COSMIC;Tijd;Zone;Tijdzone;
Keywords[pa]=COSMIC;ਸਮਾਂ;ਖੇਤਰ;ਇਲਾਕਾ;
Keywords[pl]=COSMIC;Czas;Strefa Czasowa;
Keywords[pt_BR]=COSMIC;Hora;Fuso;
Keywords[ru]=COSMIC;Время;Часовой;Пояс;Зона;
Keywords[sr]=COSMIC;Time;Zone;Космик;Време;Зона;kosmik;vreme;zona;
Keywords[sv]=COSMIC;Tidszon;Tid;Zon;
Keywords[tr]=COSMIC;Saat;Zaman Dilimi;
Keywords[uk]=COSMIC;Час;Часовий;Пояс;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;时间;时区;
Keywords[zh_TW]=COSMIC;時間;時區;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-date-and-time
StartupNotify=true
