[Desktop Entry]
Name=Accessibility
Name[ar]=الإتاحة
Name[bg]=Достъпност
Name[cs]=Přístupnost
Name[da]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[el]=Προσβασιμότητα
Name[en]=Accessibility
Name[en_GB]=Accessibility
Name[es]=Accesibilidad
Name[fa]=دسترسی‌پذیری
Name[fi]=Esteettömyys
Name[fr]=Accessibilité
Name[ga]=Inrochtaineacht
Name[gl]=Accesibilidade
Name[hi]=अभिगम्यता
Name[hu]=Akadálymentesség
Name[id]=Aksesibilitas
Name[it]=Accessibilità
Name[ja]=アクセシビリティ
Name[kab]=Tuffart
Name[kk]=Арнайы мүмкіндіктер
Name[kmr]=Gihîştin
Name[ko]=접근성
Name[lt]=Prieinamumas
Name[nl]=Toegankelijkheid
Name[oc]=Accessibilitat
Name[pa]=ਅਸੈਸਬਿਲਟੀ
Name[pl]=Dostępność
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ru]=Специальные возможности
Name[sk]=Zjednodušenie ovládania
Name[sr]=Приступачност
Name[sv]=Tillgänglighet
Name[uk]=Доступність
Name[zh_CN]=无障碍
Name[zh_Hant]=無障礙
Comment=Configure accessibility settings from the panel
Comment[ar]=اضبط إعدادات الإتاحة من اللوحة
Comment[cs]=Konfigurace nastavení přístupnosti z panelu
Comment[da]=Konfigurer tilgængelighedsindstillinger fra panelet
Comment[de]=Einstellungen für Barrierefreiheit über das Panel konfigurieren
Comment[el]=Διαμόρφωση των ρυθμίσεων προσβασιμότητας από τη γραμμή συστήματος
Comment[en]=Configure accessibility settings from the panel
Comment[en_GB]=Configure accessibility settings from the panel
Comment[fi]=Määritä esteettömyysasetukset paneelista
Comment[fr]=Configurer les paramètres d’accessibilité depuis le panneau
Comment[ga]=Cumraigh socruithe inrochtaineachta ón bpainéal
Comment[gl]=Configurar os axustes de accesibilidade dende o panel
Comment[hi]=पैनल से अभिगम्यता सेटिंग्स विन्यस्त करें
Comment[hu]=Akadálymentességi beállítások kezelése a panelen
Comment[id]=Konfigurasikan pengaturan aksesibilitas dari panel
Comment[it]=Configura le impostazioni di accessibilità dal pannello
Comment[kab]=Swel iɣewwaṛen n tuffart seg ugalis
Comment[kk]=Панельден арнайы мүмкіндіктер баптауларын конфигурациялау
Comment[kmr]=Sazkariyên gihîştinê ji destgehê saz bike
Comment[ko]=패널에서 접근성 설정 구성
Comment[lt]=Konfigūruoti prieinamumo nustatymus panelėje
Comment[nl]=Pas toegankelijkheidsinstellingen aan via het paneel
Comment[oc]=Configurar los paramètres d’accessibilitat del panèl estant
Comment[pl]=Konfiguracja ustawień dostępności na panelu
Comment[pt]=Configurar definições de acessibilidade a partir do painel
Comment[pt_BR]=Configurar opções de acessibilidade a partir do painel
Comment[ru]=Настройка параметров специальных возможностей из панели
Comment[sr]=Подеси подешавања приступачности из траке
Comment[sv]=Konfigurera tillgänglighetsinställningar från panelen
Comment[uk]=Керування параметрами доступності
Comment[zh_CN]=从面板调整无障碍设置
Comment[zh_Hant]=從面板設定無障礙功能
Type=Application
Exec=cosmic-applet-a11y
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[ar]=COSMIC; الإتاحة;الاتاحة;بريمج;إمكانية الوصول;A11y;شاشة;قارئ;مكبر;تباين;لون;
Keywords[cs]=COSMIC;Applet;Přístupnost;A11y;Obrazovka;Obrazovky;Čtečka;Lupa;Kontrast;Barva;Barvy;
Keywords[da]=COSMIC;Applet;Tilgængelighed;A11y;Skærm;Skærmlæser;Forstørrelsesglas;Kontrast;Farve;
Keywords[de]=COSMIC;Applet;Barrierefreiheit;A11y;Bildschirm;Leser;Vergrößerungsglas;Kontrast;Farbe;
Keywords[el]=Μικροεφαρμογή;Προσβασιμότητα;Προσιτότητα;Οθόνη;Ανάγνωση;Αναγνώστης;Μεγεθυντικός;Φακός;Αντίθεση;Χρώμα;COSMIC;Applet;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[en]=COSMIC;Applet;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
Keywords[en_GB]=COSMIC;Applet;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Colour;
Keywords[fi]=COSMIC;Applet;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;sovelma;esteettömyys;saavutettavuus;näytönlukija;ruudunluku;suurennuslasi;kontrasti;
Keywords[fr]=COSMIC;Applet;Accessibilité;A11y;Écran;Lecteur;Loupe;Contraste;Couleur;
Keywords[ga]=COSMIC;Feidhmchláirín;Inrochtaineacht;A11y;Scáileán;Léitheoir;Formhéadaitheoir;Codarsnacht;Dath;
Keywords[gl]=COSMIC;Miniaplicación;Accesibilidade;A11y;Pantalla;Lector;Lupa;Contraste;Cor;
Keywords[hu]=COSMIC;kisalkalmazás;akadálymentesség;akadálymentesítés;képernyő;olvasó;nagyító;szín;
Keywords[id]=COSMIC;Applet;Aksesibilitas;A11y;Layar;Pembaca;Kaca Pembesar;Kontras;Warna;
Keywords[it]=COSMIC;Applet;Accessibilità;A11y;Lettore di schermo;Lente d'ingrandimento;Contrasto;Colore;
Keywords[kab]=COSMIC;Tappleṭ;Tuffart;A11y;Agdil;Imeɣri;Tasemɣert;Agnil;Ini;
Keywords[kk]=COSMIC;Апплет;Арнайы мүмкіндіктер;A11y;Экрандық;Оқу;Лупа;Контраст;Түс;
Keywords[kmr]=COSMIC;Sepanok;Gihîştin;Dîmender;A11y;Xwîner;Dîmender;Mezinker;Bijberî;Reng;
Keywords[ko]=COSMIC;애플릿;접근성;접근성;스크린;리더;돋보기;대비;색상;
Keywords[lt]=COSMIC;Apletas;Prieinamumas;A11y;Ekranas;Skaitytuvas;Didinamasis stiklas;Kontrastas;Spalva;
Keywords[nl]=COSMIC;Applets;Toegankelijkheid;A11y;Schermlezer;Vergrootglas;Contrast;Kleur;
Keywords[pl]=COSMIC;Aplet;Dostępność;A11y;Ekran;Czytnik;Lupa;Kontrast;Kolory;
Keywords[pt]=COSMIC;Miniaplicação;Applet;Acessibilidade;A11y;Ecrã;Leitor;Lupa;Ampliador;Contraste;Cor;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Acessibilidade;A11y;Tela;Leitor;Lupa;Ampliador;Contraste;Cor;
Keywords[ru]=COSMIC;Апплет;Доступность;Специальные;Возможности;A11y;Экран;Экранный;Диктор;Лупа;Контраст;Цвет;
Keywords[sat]=COSMIC; ᱮᱯᱞᱮᱴ; ᱮᱠᱥᱮᱥᱤᱵᱤᱞᱤᱴᱤ; A11y; ᱥᱠᱨᱤᱱ; ᱨᱤᱰᱟᱨ; ᱢᱮᱜᱽᱱᱤᱯᱷᱟᱭᱟᱨ; ᱠᱚᱱᱴᱨᱟᱥᱴ; ᱨᱚᱝ;
Keywords[sr]=COSMIC;Applet;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;Космик;Програмчић;Приступачност;А11ј;Екран;Читач;Лупа;Контраст;Боја;kosmik;programčić;pristupačnost;a11j;ekran;čitač;lupa;kontrast;boja;
Keywords[sv]=COSMIC;Miniprogram;Tillgänglighet;A11y;Skärmläsare;Förstoringsglas;Kontrast;Färg;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Доступність;A11y;Екранний;Читач;Лупа;Контраст;Колір;
Keywords[zh_CN]=COSMIC;小部件;无障碍;屏幕;阅读器;放大镜;对比;颜色;
Keywords[zh_Hant]=COSMIC;小程式;無障礙;螢幕;閱讀器;放大鏡;對比;顏色;
Icon=preferences-desktop-accessibility-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
