[Desktop Entry]
Name=AWF GTK 4
Comment=A widget factory is a theme preview application for GTK and Qt.
Comment[fr]=La fabrique à widgets est une application d'aperçu de thème pour GTK et Qt.
Exec=awf-gtk4
Icon=awf-gtk4
Terminal=false
Type=Application
Keywords=gtk;css;
Categories=GTK;Development;
StartupNotify=true