[Desktop Entry]
Type=Application
Name=Bristol
Exec=startBristol -b3
Comment=Synthesizer emulator
Icon=bristol
Terminal=false
Categories=Audio;AudioVideo;
StartupNotify=false
X-Desktop-File-Install-Version=0.28
