[Desktop Entry]
Name=Date, Time & Calendar
Name[ar]=التاريخ والوقت والتقويم
Name[bg]=Дата, час и календар
Name[cs]=Datum, čas a kalendář
Name[da]=Dato, tid og kalender
Name[de]=Datum, Uhrzeit & Kalender
Name[el]=Ημερομηνία, ώρα και ημερολόγιο
Name[en]=Date, Time & Calendar
Name[en_GB]=Date, Time & Calendar
Name[es]=Fecha, hora y calendario
Name[fi]=Päivä, aika ja kalenteri
Name[fr]=Date, heure et calendrier
Name[ga]=Dáta, Am & Féilire
Name[gl]=Data, hora e calendario
Name[hi]=दिनांक, समय और कैलेंडर
Name[hu]=Dátum, idő és naptár
Name[id]=Tanggal, Waktu & Kalender
Name[it]=Data, ora e calendario
Name[kab]=Azemz, akud akked uwitay
Name[kk]=Күн, уақыт және күнтізбе
Name[kmr]=Dîrok, dem & Salname
Name[ko]=날짜와 시간 & 달력
Name[lt]=Data, Laikas ir Kalendorius
Name[nl]=Datum, tijd, en agenda
Name[oc]=Data, ora e calendièr
Name[pa]=ਤਾਰੀਖ, ਸਮਾਂ ਅਤੇ ਕੈਲੰਡਰ
Name[pl]=Data, godzina i kalendarz
Name[pt]=Data, Hora e Calendário
Name[pt_BR]=Data, hora e calendário
Name[ru]=Дата, время и календарь
Name[sat]=ᱢᱟᱦᱟᱸ, ᱚᱠᱛᱚ ᱟᱨ ᱠᱮᱞᱮᱱᱰᱟᱨ
Name[sk]=Dátum, čas a kalendár
Name[sr]=Датум, време и календар
Name[sv]=Datum, tid & kalender
Name[uk]=Дата, час і календар
Name[zh_CN]=日期、时间与日历
Name[zh_Hant]=日期、時間與行事曆
Comment=Display the current time in the panel with a calendar popup
Comment[ar]=اعرض الوقت الحالي في اللوحة مع نافذة تقويم منبثقة
Comment[cs]=Aktuální čas v panelu s vyskakovacím oknem kalendáře
Comment[da]=Vis den aktuelle tid i panelet med en kalenderpopup
Comment[de]=Aktuelle Uhrzeit im Panel mit einem Kalender-Popup anzeigen
Comment[el]=Προβολή της τρέχουσας ώρας στη γραμμή συστήματος με αναδυόμενο ημερολόγιο
Comment[en]=Display the current time in the panel with a calendar popup
Comment[en_GB]=Display the current time in the panel with a calendar popup
Comment[fi]=Näytä tämän hetken aika paneelissa ja kalenteriponnahdus
Comment[fr]=Afficher l’heure actuelle dans le panneau avec une popup calendrier
Comment[ga]=Taispeáin an t-am reatha sa phainéal le fuinneog aníos féilire
Comment[gl]=Mostra a hora actual no panel cun calendario emerxente
Comment[hi]=पैनल में कैलेंडर पॉपअप के साथ वर्तमान समय प्रदर्शित करें
Comment[hu]=Az aktuális idő megjelenítése a panelen, felugró naptárral
Comment[id]=Tampilkan waktu saat ini di panel dengan popup kalender
Comment[it]=Mostra l’ora corrente nel pannello con popup del calendario
Comment[kab]=Sken akud amiran deg ugalis s usfaylu udhim
Comment[kk]=Күнтізбе терезесімен панельде ағымдағы уақытты көрсету
Comment[kmr]=Demê niha li ser destgehê bi salnameyeke vebûyî nîşan bide
Comment[ko]=캘린더 팝업과 함께 패널에 현재 시간 표시
Comment[lt]=Rodyti darbartinį laiką panelėje kalendoriaus kortelėje
Comment[nl]=Toon de huidige datum en tijd met een pop-upagenda in het paneel
Comment[pa]=ਕੈਲੰਡਰ ਪੌਪ-ਅੱਪ ਨਾਲ ਪੈਨਲ ਵਿੱਚ ਮੌਜੂਦਾ ਸਮੇਂ ਨੂੰ ਦਿਖਾਉਂਦਾ ਹੈ
Comment[pl]=Pokaż obecny czas w panelu z oknem podręcznym kalendarza
Comment[pt_BR]=Mostrar a hora atual no painel com um calendário pop-up
Comment[ru]=Показ текущего времени на панели со всплывающим календарём
Comment[sr]=Приказује тренутно време у површи са искакућим календаром
Comment[sv]=Visa aktuell tid i panelen med en kalender-popup
Comment[uk]=Час на панелі з висувним календарем
Comment[zh_CN]=在面板上显示时间以及弹出日历
Comment[zh_Hant]=在面板上顯示目前時間，並附帶彈出式日曆視窗
Type=Application
Exec=cosmic-applet-time
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Date;Time;Calendar;
Keywords[ar]=COSMIC;بريمج;التاريخ;الوقت;التقويم;
Keywords[cs]=COSMIC;Applet;Datumy;Časy;Kalendář;Hodiny;
Keywords[da]=COSMIC;Applet;Dato;Tid;Kalender;
Keywords[de]=COSMIC;Applet;Datum;Uhrzeit;Kalender;
Keywords[el]=Μικροεφαρμογή;Ημερομηνία;Ώρα;Ημερολόγιο;COSMIC;Applet;Date;Time;Calendar;
Keywords[en]=COSMIC;Applet;Date;Time;Calendar;
Keywords[en_GB]=COSMIC;Applet;Date;Time;Calendar;
Keywords[fi]=COSMIC;Applet;Date;Time;Calendar;sovelma:päivä;päiväys;aika;kello;kalenteri;
Keywords[fr]=COSMIC;Applet;Date;Heure;Calendrier;
Keywords[ga]=COSMIC;Feidhmchláirín;Dáta;Am;Féilire;
Keywords[gl]=COSMIC;Miniaplicación;Data;Hora;Calendario;
Keywords[hu]=COSMIC;kisalkalmazás;dátum;idő;naptár;
Keywords[id]=COSMIC;Applet;Tanggal;Waktu;Kalender;
Keywords[it]=COSMIC;Applet;Data;Ora;Calendario;
Keywords[kab]=COSMIC;Tappleṭ;Azemz;Akud;Awitay;
Keywords[kk]=COSMIC;Апплет;Күн;Уақыт;Күнтізбе;
Keywords[kmr]=COSMIC;Sepanok;Dîrok;Dem;Salname;
Keywords[ko]=COSMIC;애플릿;날짜;시간;달력;
Keywords[lt]=COSMIC;Apletas;Data;Laikas;Kalendorius;
Keywords[nl]=COSMIC;Applet;Datum;Tijd;Agenda;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਤਾਰੀਖ;ਸਮਾਂ;ਕੈਲੰਡਰ;
Keywords[pl]=COSMIC;Aplet;Data;Czas;Kalendarz;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Data;Hora;Calendário;
Keywords[ru]=COSMIC;Апплет;Дата;Время;Календарь;
Keywords[sr]=COSMIC;Applet;Date;Time;Calendar;Космик;Програмчић;Датум;Време;Календар;kosmik;programčić;datum;vreme;kalendar;
Keywords[sv]=COSMIC;Miniprogram;Datum;Tid;Kalender;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Дата;Час;Календар;
Keywords[zh_CN]=COSMIC;小部件;日期;时间;日历;
Keywords[zh_Hant]=COSMIC;小程式;日期;時間;日曆;行事曆;
Icon=com.system76.CosmicAppletTime-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
