[Desktop Entry]
Name=About
Name[af]=Oor
Name[ar]=عن
Name[cs]=O systému
Name[da]=Om
Name[de]=Über
Name[el]=Πληροφορίες
Name[en]=About
Name[es]=A cerca de
Name[fi]=Tietoa
Name[fr]=À propos
Name[ga]=Maidir
Name[gl]=Sobre
Name[hu]=Rendszerinformáció
Name[id]=Tentang
Name[it]=Informazioni su
Name[kab]=Ɣef
Name[kk]=Осы туралы
Name[kmr]=Derbar
Name[ko]=정보
Name[lt]=Apie
Name[nl]=Over
Name[pa]=ਇਸ ਬਾਰੇ
Name[pl]=O systemie
Name[pt]=Sobre
Name[pt_BR]=Sobre
Name[ru]=Сведения
Name[sk]=O systéme
Name[sr]=О програму
Name[sv]=Om
Name[tr]=Hakkında
Name[uk]=Про систему
Name[zh_CN]=关于
Name[zh_TW]=關於
Comment=Device name, hardware information, operating system defaults.
Comment[af]=Toestelnaam, hardeware-inligtings, standaardinstellings van die bedryfstelsel
Comment[ar]=اسم الجهاز ومعلومات العتاد وإعدادات نظام التشغيل المبدئية
Comment[cs]=Název zařízení, informace o hardwaru, výchozí nastavení operačního systému
Comment[da]=Enhedsnavn, hardwareoplysninger og standardindstillinger for operativsystemet
Comment[de]=Gerätename, Hardware-Informationen, Betriebssystem-Standardeinstellungen
Comment[el]=Όνομα συσκευής, πληροφορίες υλικού, προεπιλογές λειτουργικού συστήματος
Comment[en]=Device name, hardware information, operating system defaults
Comment[es]=Nombre del dispositivo, información de hardware y valores del sistema operativo
Comment[fi]=Laitenimi, laitteistotiedot, käyttöjärjestelmän oletukset
Comment[fr]=Nom de l'appareil, informations sur le matériel et paramètres par défaut du système d'exploitation
Comment[ga]=Ainm gléis, faisnéis crua-earraí, réamhshocruithe córais oibriúcháin
Comment[gl]=Nome do dispositivo, información do hardware, valores predeterminados do sistema operativo
Comment[hu]=Eszköznév, hardverinformációk és az operációs rendszer alapértelmezett beállításai
Comment[id]=Nama perangkat, informasi perangkat keras, bawaan sistem operasi
Comment[it]=Nome del dispositivo, informazioni sull'hardware e sul sistema operativo
Comment[kab]=Isem n yibenk, talɣut ɣef warrum akked iɣewwaṛen imezwar n unagraw n wammud
Comment[kk]=Құрылғы аты, жабдық туралы ақпарат, операциялық жүйенің әдепкі параметрлері
Comment[kmr]=Navê amûrê, zanyariyên reqalavê, sazkariyên kesane yên pergala xebitandinê
Comment[ko]=장치 이름, 하드웨어 정보, 운영체제 기본값
Comment[lt]=Įrenginio pavadinimas, techninė informacija, operacinės sistemos numatytosios nuostatos
Comment[nl]=Apparaatnaam, hardware-informatie, standaardinstellingen van het besturingssysteem
Comment[pa]=ਡਿਵਾਈਸ ਦਾ ਨਾਂ, ਹਾਰਡਵੇਅਰ ਜਾਣਕਾਰੀ, ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ ਮੂਲ
Comment[pl]=Nazwa urządzenia, informacje o sprzęcie i systemie operacyjnym
Comment[pt]=Nome do dispositivo, informações de hardware e padrões do sistema operacional
Comment[pt_BR]=Nome do dispositivo, informações de hardware, padrões do sistema operacional
Comment[ru]=Имя устройства, информация об оборудовании, параметры операционной системы по умолчанию
Comment[sk]=Názov zariadenia, hardvérové informácie, predvolené nastavenia systému
Comment[sr]=Назив уређаја, подаци о хардверу, подразумевана подешавања оперативног система
Comment[sv]=Enhetsnamn, hårdvaruinformation, standardinställningar för operativsystem
Comment[tr]=Cihaz adı, donanım bilgileri, işletim sistemi varsayılan ayarları
Comment[uk]=Назва пристрою, відомості про обладнення і операційну систему
Comment[zh_CN]=设备名称、硬件信息、操作系统默认设置
Comment[zh_TW]=裝置名稱、硬體資訊、作業系統預設
Type=Application
Exec=cosmic-settings about
Terminal=false
Categories=COSMIC
Keywords=COSMIC;About
Keywords[af]=COSMIC;Oor
Keywords[ar]=COSMIC;عن;حول
Keywords[cs]=COSMIC;O systému;
Keywords[da]=COSMIC;Om
Keywords[de]=COSMIC;Über
Keywords[el]=Πληροφορίες;Σχετικά;Περί;COSMIC;About
Keywords[en]=COSMIC;About
Keywords[fi]=COSMIC;About;tietoa;tietoja
Keywords[fr]=COSMIC;À propos
Keywords[ga]=COSMIC;Maidir
Keywords[gl]=COSMIC;Sobre
Keywords[hu]=COSMIC;Névjegy;
Keywords[id]=COSMIC;Tentang
Keywords[kab]=COSMIC;Ɣef
Keywords[kk]=COSMIC;Осы туралы
Keywords[kmr]=COSMIC;Derbar
Keywords[ko]=COSMIC;정보
Keywords[lt]=COSMIC;Apie
Keywords[nl]=COSMIC;Over;
Keywords[pa]=COSMIC;ਇਸ ਬਾਰੇ
Keywords[pl]=COSMIC;O programie
Keywords[pt_BR]=COSMIC;Sobre
Keywords[ru]=COSMIC;О:Системе;Сведения
Keywords[sr]=COSMIC;About;Космик;О програму;Kosmik;O programu
Keywords[sv]=COSMIC;Om
Keywords[tr]=COSMIC;Hakkında
Keywords[uk]=COSMIC;Про;Систему;КОСМІК;КОСМОС;КОСМІЧНЕ
Keywords[zh_CN]=COSMIC;关于
Keywords[zh_TW]=COSMIC;關於
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-about
StartupNotify=true
