[Desktop Entry]
Type=Application
Name[ab]=Апортал
Name[ar]=بوابة
Name[be]=Партал
Name[bg]=Портал
Name[ca]=Portal
Name[cs]=Portál
Name[da]=Portal
Name[de]=Portal
Name[el]=Πύλη
Name[en_GB]=Portal
Name[eo]=Portalo
Name[es]=Portal
Name[eu]=Ataria
Name[fa]=درگاه
Name[fi]=Portaali
Name[fil]=Portal
Name[fr]=Portail
Name[fur]=Portâl
Name[gl]=Portal
Name[he]=שער
Name[hi]=पोर्टल
Name[hr]=Portal
Name[hu]=Portál
Name[ia]=Portal
Name[id]=Portal
Name[ie]=Portale
Name[is]=Gátt
Name[it]=Portale
Name[ja]=ポータル
Name[ka]=Portal
Name[kab]=Awwur
Name[kk]=Портал
Name[ko]=포털
Name[kw]=Portal
Name[lt]=Portalas
Name[lv]=Portāls
Name[nb]=Portal
Name[ne]=पोर्टल
Name[nl]=Portaal
Name[oc]=Portal
Name[pa]=ਮੰਚ
Name[pl]=Portal
Name[pt]=Portal
Name[pt_BR]=Portal
Name[ro]=Portal
Name[ru]=Портал
Name[sk]=Portál
Name[sl]=Portal
Name[sr]=Портал
Name[sr@latin]=Portal
Name[sv]=Portal
Name[th]=พอร์ทัล
Name[tr]=Kapı
Name[ug]=دەرۋازا
Name[uk]=Портал
Name[uz]=Portal
Name[zh_CN]=门户
Name[zh_TW]=入口
Name=Portal
# TRANSLATORS: Don't translate this text (this is icon name)
Icon=applications-system-symbolic
Exec=/usr/libexec/xdg-desktop-portal-gnome
NoDisplay=true
