[Desktop Entry]
Name[ar]=المكالمات
Name[be]=Выклікі
Name[bg]=Обаждания
Name[ca]=Trucades
Name[cs]=Volání
Name[da]=Opkald
Name[de]=Anrufe
Name[el]=Κλήσεις
Name[en_GB]=Calls
Name[eo]=Vokoj
Name[es]=Llamadas
Name[eu]=Deiak
Name[fa]=تماس‌ها
Name[fi]=Puhelut
Name[fil]=Tawag
Name[fr]=Appels
Name[fur]=Clamadis
Name[gl]=Chamadas
Name[he]=שיחות
Name[hi]=कॉल
Name[hr]=Pozivi
Name[ht]=Apèl  yo
Name[hu]=Hívások
Name[hy]=Զանգեր
Name[ia]=Appellos
Name[id]=Panggilan
Name[it]=Chiamate
Name[ja]=通話
Name[ka]=ზარები
Name[kab]=Isawalen
Name[kk]=Қоңыраулар
Name[ko]=통화
Name[kw]=Galowyow
Name[lt]=Skambučiai
Name[lv]=Zvani
Name[my]=ဖုန်းခေါ်ကိရိယာ
Name[nb]=Calls
Name[ne]=कलहरू
Name[nl]=Oproepen
Name[nn]=Samtaler
Name[oc]=Sonadas
Name[pa]=ਕਾਲ
Name[pl]=Rozmowy
Name[pt]=Chamadas
Name[pt_BR]=Chamadas
Name[ro]=Apeluri
Name[ru]=Вызовы
Name[sk]=Hovory
Name[sl]=Klici
Name[sr]=Позиви
Name[sr@latin]=Pozivi
Name[sv]=Samtal
Name[th]=สายโทร
Name[tr]=Çağrılar
Name[ug]=چاقىرىش
Name[uk]=Дзвінки
Name[uz]=Qo'ng'iroqlar
Name[vi]=Calls
Name[zh_CN]=通话
Name[zh_TW]=通話
Name=Calls
GenericName[ar]=هاتف
GenericName[be]=Тэлефон
GenericName[bg]=Телефон
GenericName[ca]=Telèfon
GenericName[cs]=Telefon
GenericName[da]=Telefon
GenericName[de]=Telefon
GenericName[el]=Τηλέφωνο
GenericName[en_GB]=Phone
GenericName[eo]=Telefono
GenericName[es]=Teléfono
GenericName[eu]=Telefonoa
GenericName[fa]=تلفن
GenericName[fi]=Puhelin
GenericName[fil]=Telepono
GenericName[fr]=Téléphone
GenericName[fur]=Telefon
GenericName[gl]=Teléfono
GenericName[he]=טלפון
GenericName[hi]=फोन
GenericName[hr]=Telefon
GenericName[ht]=Telefòn
GenericName[hu]=Telefon
GenericName[ia]=Telephono
GenericName[id]=Telepon
GenericName[it]=Telefono
GenericName[ka]=ტელეფონი
GenericName[kab]=Tiliɣri
GenericName[kk]=Телефон
GenericName[ko]=전화
GenericName[kw]=Kellgowser
GenericName[lt]=Telefonas
GenericName[lv]=Tālrunis
GenericName[my]=ဖုန်း
GenericName[nb]=Telefon
GenericName[ne]=फोन
GenericName[nl]=Telefoon
GenericName[nn]=Telefon
GenericName[oc]=Telefòn
GenericName[pa]=ਫ਼ੋਨ
GenericName[pl]=Telefon
GenericName[pt]=Telefone
GenericName[pt_BR]=Telefone
GenericName[ro]=Telefon
GenericName[ru]=Телефон
GenericName[sk]=Telefón
GenericName[sl]=Telefon
GenericName[sr]=Телефон
GenericName[sr@latin]=Telefon
GenericName[sv]=Telefon
GenericName[th]=โทรศัพท์
GenericName[tr]=Telefon
GenericName[ug]=تېلېفون
GenericName[uk]=Телефон
GenericName[uz]=Telefon
GenericName[vi]=Điện thoại
GenericName[zh_CN]=电话
GenericName[zh_TW]=電話
GenericName=Phone
Comment[ar]=طالب هاتف ومعالج اتصال
Comment[be]=Набіральнік нумара і апрацоўшчык выклікаў
Comment[bg]=Избиране по телефон и приемане на обаждания
Comment[ca]=Marcador telefònic i gestor de trucades
Comment[cs]=Vytáčení a obsluha hovorů
Comment[da]=Et program til at ringe op og håndtere opkald med
Comment[de]=Eine Telefonanwendung
Comment[el]=Ένα πρόγραμμα τηλεφωνικών κλήσεων και χειρισμού κλήσεων
Comment[en_GB]=A phone dialler and call handler
Comment[eo]=Telefonovokilo kaj voktraktisto
Comment[es]=Un marcador telefónico y gestor de llamadas
Comment[eu]=Telefono-markatzailea eta dei-kudeatzailea
Comment[fa]=یک شماره‌گیر تلفن و برقرارکنندهٔ تماس
Comment[fi]=Puhelusovellus
Comment[fil]=Dialer ng telepono at tagapangasiwa ng tawag
Comment[fr]=Une application pour passer et recevoir des appels téléphoniques
Comment[fur]=Une tastiere telefoniche e un gjestôr di clamadis
Comment[gl]=Un marcador telefónico e xestor de chamadas
Comment[he]=חייגן לטלפון עם אפשרויות שיחה
Comment[hi]=एक फोन डायलर और कॉल नियंत्रक
Comment[hr]=Telefonsko biranje i upravljanje pozivima
Comment[hu]=Telefontárcsázó és híváskezelő
Comment[id]=Pemutar-nomor telepon dan penanganan panggilan
Comment[it]=Un chiamante telefonico e un gestore di chiamate
Comment[ka]=ციფერბლატი და ზარების მართვა
Comment[kk]=Телефон нөмірін теруші және қоңырауларды өңдеуші
Comment[ko]=전화 걸기 및 통화 처리 앱
Comment[kw]=Unn galowyer kellgowser ha handler galowyow
Comment[lt]=Telefono skambučiai
Comment[lv]=Zvanītājprogramma un zvanu apstrādātājs
Comment[my]=ဖုန်းခေါ်ဆိုမှုနှင့်လက်ခံမှုကိရိယာ
Comment[nb]=Start og motta anrop
Comment[ne]=एक फोन डायलर र कल ह्यान्डलर
Comment[nl]=Een telefoonkiezer en oproepafhandelaar
Comment[nn]=Ein telefonoppringar og samtalehandsamar
Comment[oc]=Un telefòn e gestionari de sonadas
Comment[pa]=ਫ਼ੋਨ ਡਾਇਲਰ ਤੇ ਕਾਲ ਹੈਂਡਲਰ
Comment[pl]=Wykonywanie i odbieranie połączeń telefonicznych
Comment[pt]=Um marcador telefónico e um gestor de chamadas
Comment[pt_BR]=Discador de telefone e identificador de chamadas
Comment[ro]=Apelant telefonic și gestionarea apelurilor
Comment[ru]=Телефонный номеронабиратель и обработчик вызовов
Comment[sk]=Telefónny číselník a správca hovorov
Comment[sl]=Klicalnik in upravljalnik klicev
Comment[sr]=Телефонски позивар и руковалац позивом
Comment[sr@latin]=Telefonski pozivar i rukovalac pozivom
Comment[sv]=En telefonuppringare och samtalshanterare
Comment[th]=ตัวเรียกเลขหมายโทรศัพท์และจัดการสายโทร
Comment[tr]=Telefon çevirici ve arama işleyici
Comment[ug]=تېلېفون نومۇر بۇرىغۇچ ۋە تۇتقۇچ
Comment[uk]=Засіб набирання номерів та обробки викликів
Comment[uz]=Telefon terish va qo'ng'iroqlarni qayta ishlash
Comment[vi]=Gọi điện và quản lý cuộc gọi
Comment[zh_CN]=一款电话拨号器和通话管理软件
Comment[zh_TW]=用於撥打及接聽電話
Comment=A phone dialer and call handler
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=Telephone;Call;Phone;Dial;Dialer;PSTN;هاتف;مكالمة;طلب;طالب;PSTN;
Keywords[be]=Telephone;Call;Phone;Dial;Dialer;PSTN;Тэлефон;Выклікі;Званкі;Званіць;Набор;
Keywords[bg]=телефон;обаждане;набиране;слушалка;telephone;call;phone;dial;dialer;pstn;
Keywords[ca]=Telèfon;Trucada;Teclat;Marcador;XTC;
Keywords[cs]=telefon;volat;volání;hovor;telefonování;vytočit;vytáčení;číselník;PSTN;
Keywords[da]=Telefon;Opkald;Ring;Ring op;Opringer;PSTN;
Keywords[de]=Telephone;Call;Phone;Dial;Dialer;PSTN;Telefon;Handy;Anruf;Wählen;
Keywords[el]=Τηλέφωνο;Κλήση;Τηλέφωνο;Κλήση;Dialer;PSTN;
Keywords[en_GB]=Telephone;Call;Phone;Dial;Dialler;PSTN;
Keywords[eo]=Telefono;Voko;Voki;Vokilo;Voktraktisto;PSTN;
Keywords[es]=Teléfono;Llamada;Teléfono fijo;Marcación;Marcador;PSTN;
Keywords[eu]=Telefonoa;Deia;Mugikorra;Markatu;Markatzailea;PSTN;
Keywords[fa]=Telephone;Call;Phone;Dial;Dialer;PSTN;تلفن;تماس;زنگ;گوشی;
Keywords[fi]=Telephone;Call;Phone;Dial;Dialer;PSTN;puhelin;soita;puhelu;
Keywords[fil]=Telephone;Call;Phone;Dial;Dialer;PSTN;Telepono;Tawag;Pantawag;
Keywords[fr]=Téléphone;Appel;Compositeur;Cadran;
Keywords[fur]=Telefon;Clamade;Tastierin;PSTN;
Keywords[gl]=Teléfono;Chamada;Chamar;Marcador;PSTN;
Keywords[he]=טלפון;פלאפון;שיחות;שיחה;חיוג;חייגן;PSTN;
Keywords[hi]=टेलीफोन;कॉल;फोन;डायल;डायलर;PSTN;
Keywords[hr]=Telefon;Poziv;;Biranje;Birač;PSTN;
Keywords[ht]=Telefòn; Apèl; Telefòn; Fè apèl; Moun k ap fè apèl la; PSTN;
Keywords[hu]=Telefon;Hívás;Tárcsázás;Tárcsázó;PSTN;
Keywords[ia]=Telephono;Appello;Phono;Dial;Marcator;PSTN;
Keywords[id]=Telepon;Panggil;Dial;Pemanggil;PSTN;
Keywords[it]=Telephone;Call;Phone;Dial;Dialer;PSTN;Telefono;Chiamata;Chiama;Chiamante;
Keywords[ka]=ტელეფონი;ზარი;დარეკვა;
Keywords[kk]=Telephone;Call;Phone;Dial;Dialer;PSTN;Телефон;Қоңырау;Теру;Теруші;
Keywords[ko]=Telephone;전화;Call;통화;Phone;Dial;다이얼;Dialer;걸기;PSTN;
Keywords[kw]=Kellgowser;Galow;Klapkodh;PSTN;
Keywords[lt]=Telefonas;Skambutis;Skambinti;
Keywords[lv]=Tālrunis;Telefons;Mobilais;Zvans;Ciparnīca;Zvanītājs;Sastādītājs;PSTN;
Keywords[my]=တယ်လီဖုန်း;ဖုန်း;ဖုန်းခေါ်ဆိုမှု;Dial;Dialer;PTSN;
Keywords[nb]=Telefon;Ringing;Calls;Anrop;PSTN;
Keywords[ne]=टेलिफोन; कल; फोन; डायल; डायलर; PSTN;
Keywords[nl]=Telephone;Call;Phone;Dial;Dialer;PSTN;Telefoon;Bellen;Telefoneren;Kiezen;Kiezer;
Keywords[nn]=Telefon;Samtale;Oppringing;Telefonoppringar;PSTN;
Keywords[oc]=Telefòn;sonada;sonar;VoIP;PSTN;crida;apèl;
Keywords[pa]=ਟੈਲੀਫ਼ੋਨ;ਕਾਲ;ਫ਼ੋਨ;ਡਾਇਲ;ਡਾਇਲਰ;ਡਾਈਲ;ਫੋਨ;
Keywords[pl]=Telefon;Rozmowa;Połączenie;Dzwonienie;Dzwonić;Zadzwonić;Zadzwoń;PSTN;
Keywords[pt]=Telefone;Chamada;Telemóvel;Marcar;Teclado; PSTN;
Keywords[pt_BR]=Telefone;Chamada;Fone;Discagem;Discador;RPTC;
Keywords[ro]=Telephone;Call;Phone;Dial;Dialer;PSTN;Telefon;Apel;Apelează;Apelant;
Keywords[ru]=Telephone;Call;Phone;Dial;Dialer;PSTN;Телефон;Вызовы;Набор;Номера;Вызов;
Keywords[sk]=telefón;telefonovanie;telefonovať;hovor;vytočiť;vytočenie;číselník;volič;PSTN;
Keywords[sl]=Telefon;Klic;Pogovor;Call;Phone;Dial;Dialer;PSTN;Telefoniranje;Govor;
Keywords[sr]=телефон;позив;веза;PSTN;Telephone;Call;Phone;Dial;Dialer;
Keywords[sr@latin]=telefon;poziv;veza;PSTN;Telephone;Call;Phone;Dial;Dialer;
Keywords[sv]=Telefon;Samtal;Lur;Ring;Uppringare;PSTN;
Keywords[th]=โทรศัพท์;สายโทร;เรียกเลขหมาย;ตัวเรียกเลขหมาย;PSTN;
Keywords[tr]=Telephone;Call;Phone;Dial;Dialer;Calls;PSTN;Telefon;Arama;Ara;Çağrı;Çevir;Tuşla;Çevirici;Tuşlayıcı;Arayıcı;Çağrıcı;
Keywords[ug]=تېلېفون؛چاقىرىش؛تېلېفون؛نومۇر بۇرا؛بۇرىغۇچ؛PSTN;
Keywords[uk]=Telephone;Call;Phone;Dial;Dialer;PSTN;телефон;виклик;дзвінок;набір;набирання;
Keywords[uz]=Telefon;Qo'ng'iroq;Telefon;Telefon;Telefon;PSTN;
Keywords[vi]=Điện thoại;Gọi;Gọi điện;Gọi điện thoại;PSTN;
Keywords[zh_CN]=Telephone;Call;Phone;Dial;Dialer;PSTN;电话;呼叫;通话;拨号;
Keywords[zh_TW]=Telephone;Call;Phone;Dial;Dialer;PSTN;電話;手機;撥號;打電話;
Keywords=Telephone;Call;Phone;Dial;Dialer;PSTN;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Calls
TryExec=gnome-calls
Exec=gnome-calls %u
Type=Application
StartupNotify=true
Terminal=false
Categories=Network;GNOME;GTK;Telephony;Audio;AudioVideo;
MimeType=x-scheme-handler/tel;x-scheme-handler/sip;x-scheme-handler/sips
DBusActivatable=true
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
X-Phosh-UsesFeedback=true
