[Desktop Entry]
Name[az]=Söhbətlər
Name[be]=Паведамленні
Name[bg]=Чатове
Name[cs]=Konverzace
Name[da]=Chats
Name[de]=Unterhaltungen
Name[el]=Συνομιλίες
Name[en_GB]=Chats
Name[eo]=Babilejoj
Name[es]=Chatty
Name[eu]=Berriketak
Name[fa]=گپ‌ها
Name[fi]=Keskustelut
Name[fr]=Discussions
Name[fur]=Conversazions
Name[he]=התכתבויות
Name[hi]=चैट
Name[ht]=Chat yo
Name[hu]=Csevegések
Name[id]=Obrolan
Name[it]=Chats
Name[ja]=チャット
Name[ka]=საუბრები
Name[ko]=대화
Name[la]=Fabulae
Name[nl]=Berichten
Name[pt]=Conversas
Name[pt_BR]=Conversas
Name[ro]=Discuții
Name[ru]=Сообщения
Name[sl]=Klepeti
Name[sv]=Chattar
Name[sr]=Разговори
Name[tr]=Konuşmalar
Name[uk]=Спілкування
Name[uz]=Chatlar
Name[zh_CN]=聊天
Name=Chats
Exec=chatty %u
Icon=sm.puri.Chatty
Comment[az]=SMS/MMS, Matrix və XMPP söhbət tətbiqi
Comment[be]=Праграма для абмену паведамленнямі праз SMS/MMS, Matrix і XMPP
Comment[bg]=Програма за разговаряне чрез SMS/MMS, Matrix и XMPP
Comment[cs]=SMS/MMS, Matrix a XMPP konverzační aplikace
Comment[de]=Unterhaltungsanwendung für SMS/MMS, Matrix und XMPP
Comment[el]=Εφαρμογή συνομιλιών SMS/MMS, Matrix και XMPP
Comment[en_GB]=SMS/MMS, Matrix and XMPP chat application
Comment[eo]=Aplikaĵo por babilado per SMS/MMS, Matrix kaj XMPP
Comment[eu]=SMS/MMS, Matrix eta XMPP berriketa-aplikazioa
Comment[fa]=برنامهٔ گپ XMPP، ماتریکس و پیامک
Comment[he]=יישום התכתבות במסרונים, Matrix וב־XMPP
Comment[hi]=एसएमएस/एमएमएस, मैट्रिक्स और एक्सएमपीपी चैट एप्लिकेशन
Comment[ht]=SMS/MMS, Matrix ak XMPP aplikasyon chat
Comment[ka]=SMS/MMS, Matrix და XMPP საუბრის აპლიკაცია
Comment[nl]=Sms-, mms-, Matrix- en XMPP-berichtentoepassing
Comment[pt]=Aplicação de conversas SMS/MMS, Matrix e XMPP
Comment[pt_BR]=Aplicativo de conversa via XMPP,Matrix e SMS/MMS
Comment[ro]=Aplicație de conversații SMS/MMS, Matrix și XMPP
Comment[ru]=Приложение для общения через SMS/MMS, Matrix и XMPP
Comment[sl]=Programček za klepet SMS, Matrix in XMPP
Comment[sv]=SMS/MMS-, Matrix- och XMPP-chattprogram
Comment[tr]=SMS/MMS, Matrix ve XMPP konuşma uygulaması
Comment[uk]=Програма для спілкування за допомогою SMS/MMS, Matrix і XMPP
Comment[uz]=SMS/MMS, Matrix va XMPP chat ilovasi
Comment[zh_CN]=短信/彩信、Matrix 与 XMPP 聊天应用程序
Comment=SMS/MMS, Matrix and XMPP chat application
Keywords[az]=XMPP;SMS;söhbət;jabber;mesajlaşma;modem;matrix;
Keywords[be]=XMPP;SMS;chat;jabber;messaging;modem;matrix;смс;чат;камунікаванне;мадэм;паведамленні;абмен паведамленнямі;
Keywords[bg]=чат;разговаряне;модем;смс;есемес;джабър;матрица;матрикс;съобщение;XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[cs]=XMPP;SMS;chat;jabber;zprávy;modem;matrix;
Keywords[de]=XMPP;SMS;chat;jabber;messaging;modem;Nachrichten;Textnachrichten;Unterhaltungen;Matrix;
Keywords[el]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[en_GB]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[eo]=XMPP;SMS;babili;jabber;mesaĝado;modemo;matrix;
Keywords[eu]=XMPP;SMS;berriketa;jabber;mezularitza;modem;matrix;
Keywords[fa]=XMPP;SMS;chat;jabber;messaging;modem;matrix;پیامک;گپ;جبر;پیام;مودم;ماتریکس;
Keywords[he]=XMPP;מסרון;מסרונים;אס אם אס;SMS;התכתבות;צ׳אט;שיח;מודם;ג׳אבר;ג'אבר;מטריקס;מאטריקס;מודם;
Keywords[hi]=एक्सएमपीपी;एसएमएस;चैट;जैबर;मैसेजिंग;मॉडेम;मैट्रिक्स;
Keywords[ht]=XMPP;SMS;chat;jabber;mesaj;modèm;matrix;
Keywords[ka]=XMPP;SMS;საუბარი;jabber;შეტყობინებები;მოდემი;matrix;
Keywords[nl]=XMPP;SMS;chat;jabber;messaging;modem;matrix;berichten;gesprekken;
Keywords[pt]=XMPP;SMS;conversa;conferência;jabber;mensagem;modem;matrix;
Keywords[pt_BR]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[ro]=XMPP;SMS;chat;jabber;messaging;modem;discuție;mesagerie;mesaj;matrix;
Keywords[ru]=XMPP;SMS;chat;jabber;messaging;modem;matrix;смс;чат;общение;модем;сообщение;
Keywords[sl]=XMPP;SMS;klepet;jabber;chat;sporočanje;sporočila;modem;matrix;
Keywords[sv]=XMPP;SMS;chatt;jabber;meddelanden;modem;matrix;
Keywords[tr]=XMPP;SMS;chat;chats;jabber;messaging;modem;mesajlaşma;iletişim;ileti;kısamesaj;kısaileti;MMS;multimedyamesajı;multimedyailetisi;çokluortammesajı;çokluortamiletisi;matrix;matriks;
Keywords[uk]=XMPP;SMS;chat;jabber;messaging;modem;есемес;чат;балачка;спілкування;джабер;повідомлення;модем;матрикс;метрікс;
Keywords[uz]=XMPP;SMS;chat;jabber;xabarlar;modem;matritsa;
Keywords[zh_CN]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Terminal=false
Type=Application
Categories=Network;GNOME;GTK;Chat;InstantMessaging;
StartupNotify=true
MimeType=x-scheme-handler/sms
DBusActivatable=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
X-Phosh-UsesFeedback=true
