[Desktop Entry]
Name=App Library Button
Name[ar]=زر مكتبة التطبيقات
Name[bg]=Бутон за библиотеката с програми
Name[cs]=Tlačítko knihovny aplikací
Name[da]=Appbibliotek-knap
Name[de]=App-Bibliothek-Schaltfläche
Name[el]=Κουμπί βιβλιοθήκης εφαρμογών
Name[en]=App Library Button
Name[en_GB]=App Library Button
Name[es]==Botón de biblioteca de aplicaciones
Name[fi]=Sovelluskirjaston painike
Name[fr]=Bouton Bibliothèque d’applis
Name[ga]=Cnaipe Leabharlann Aipeanna
Name[gl]=Botón da biblioteca de aplicacións
Name[hi]=ऐप लाइब्रेरी बटन
Name[hu]=Alkalmazáskönyvtár gomb
Name[id]=Tombol Pustaka Aplikasi
Name[it]=Pulsante della libreria delle applicazioni
Name[kab]=Taqeffalt n temkarḍit n yisnasen
Name[kk]=Қолданбалар жинағы батырмасы
Name[kmr]=Bişkoka pirtûkxaneya sepanan
Name[ko]=앱 라이브러리 버튼
Name[nl]=Toepassingskiezersknop
Name[pa]=ਐਪ ਲਾਇਬਰੇਰੀ ਬਟਨ
Name[pl]=Przycisk biblioteki aplikacji
Name[pt]=Botão da Biblioteca de Aplicativos
Name[pt_BR]=Botão da biblioteca de aplicativos
Name[ru]=Кнопка «Приложения»
Name[sk]=Tlačidlo knižnice aplikácií
Name[sr]=Дугме за библиотеку програма
Name[sv]=Knapp för programbibliotek
Name[uk]=Бібліотека застосунків
Name[zh_CN]=应用程序库按钮
Name[zh_Hant]=應用程式庫按鈕
Comment=Open the application library for launching installed applications
Comment[ar]=افتح مكتبة التطبيقات لتشغيل التطبيقات المثبتة
Comment[cs]=Přístup ke knihovně pro spouštění nainstalovaných aplikací
Comment[da]=Åbn applikationsbiblioteket for at starte installerede programmer
Comment[de]=Öffne die Anwendungsbibliothek, um installierte Anwendungen zu starten
Comment[el]=Άνοιγμα της βιβλιοθήκης εφαρμογών για εκκίνηση εγκατεστημένων εφαρμογών
Comment[en]=Open the application library for launching installed applications
Comment[en_GB]=Open the application library for launching installed applications
Comment[fi]=Avaa sovelluskirjasto käynnistääksesi asennettuja sovelluksia
Comment[fr]=Ouvrir la bibliothèque d’applis pour lancer les applications installées
Comment[ga]=Oscail an leabharlann feidhmchlár chun feidhmchláir suiteáilte a sheoladh
Comment[gl]=Abre a biblioteca de aplicacións para iniciar as aplicacións instaladas
Comment[hi]=इंस्टॉल किए गए एप्लिकेशन लॉन्च करने के लिए ऐप लाइब्रेरी खोलें
Comment[hu]=Az alkalmazáskönyvtár megnyitása a telepített alkalmazások indításához
Comment[id]=Buka pustaka aplikasi untuk meluncurkan aplikasi yang terpasang
Comment[it]=Apri la libreria delle applicazioni per avviare le applicazioni installate
Comment[kab]=Ldi tamkarḍit n yisnasen i usekker n yisnasen yettwasbedden
Comment[kk]=Орнатылған қолданбаларды жөнелту үшін қолданбалар жинағын ашу
Comment[kmr]=Pirtûkxaneya sepanan ji bo vekirina sepanên sazkirî veke
Comment[ko]=설치된 앱 실행을 위해 앱 라이브러리 열기
Comment[nl]=Open de toepassingskiezer om geïnstalleerde toepassingen te starten
Comment[pl]=Otwórz bibliotekę aplikacji by uruchomić zainstalowaną aplikację
Comment[pt_BR]=Abrir a biblioteca para iniciar os aplicativos instalados
Comment[ru]=Открытие библиотеки приложений для запуска установленных программ
Comment[sr]=Отвори библиотеку програма за покретање инсталираних програма
Comment[sv]=Öppna programbiblioteket för att starta installerade program
Comment[uk]=Відкрийте бібліотеку для запуску встановлених програм
Comment[zh_CN]=打开应用程序库来启动已安装的应用
Comment[zh_Hant]=啟動應用程式庫來啟動已安裝的應用程式
Type=Application
Exec=cosmic-panel-button com.system76.CosmicAppLibrary
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Library;Tray;
Keywords[ar]=COSMIC;بريمج;تطبيق;مكتبة;صينية;
Keywords[cs]=COSMIC;Applet;Aplikace;Knihovna;Oblast;Spuštění;Spouštění;
Keywords[da]=COSMIC;Applet;App;Bibliotek;Statusområde;
Keywords[de]=COSMIC;Applet;App;Bibliothek;Übersicht;
Keywords[el]=Μικροεφαρμογή;Εφαρμογή;Βιβλιοθήκη;Περιοχή;COSMIC;Applet;App;Library;Tray;
Keywords[en]=COSMIC;Applet;App;Library;Tray;
Keywords[en_GB]=COSMIC;Applet;App;Library;Tray;
Keywords[fi]=COSMIC;Applet;App;Library;Tray;sovelma;sovellus;äppi;kirjasto;
Keywords[fr]=COSMIC;Applet;Appli;Bibliothèque;Volet;
Keywords[ga]=COSMIC;Feidhmchláirín;Aip;Leabharlann;Tráidire;
Keywords[gl]=COSMIC;Miniaplicación;Aplicación;Biblioteca;Bandexa;
Keywords[hu]=COSMIC;kisalkalmazás;alkalmazás;könyvtár;tálca;
Keywords[id]=COSMIC;Applet;Aplikasi;Pustaka;Baki;
Keywords[it]=COSMIC;Applet;App;Libreria;Tray;
Keywords[kk]=COSMIC;Апплет;Қолданба;Жинақ;Сөре;
Keywords[kmr]=COSMIC;Sepanok;Sepan;Pirtûkxane;Destgeh;
Keywords[ko]=COSMIC;애플릿;앱;라이브러리;트레이;
Keywords[nl]=COSMIC;Applet;Toepassing;Kiezer;Toepassingskiezer;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਐਪ;ਲਾਇਬਰੇਰੀ;ਟਰੇ;
Keywords[pl]=COSMIC;Aplet;Apka;Aplikacja;Biblioteka;Zasobnik;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Aplicativo;App;Biblioteca;Bandeja;Tray;
Keywords[ru]=COSMIC;Апплет;Приложение;Библиотека;Лоток;Область;
Keywords[sr]=COSMIC;Applet;App;Library;Tray;Космик;Програмчић;Програм;Библиотека;Касета;kosmik;programčić;program;biblioteka;kaseta;
Keywords[sv]=COSMIC;Miniprogram;Program;Bibliotek;Fält;Applet;App;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Застосунок;Бібліотека;Застосунків;Програм;
Keywords[zh_CN]=COSMIC;小部件;应用;库;托盘;
Keywords[zh_Hant]=COSMIC;小程式;應用;應用程式;庫;托盤;
Icon=com.system76.CosmicPanelAppButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
