[Desktop Entry]
Encoding=UTF-8
Name=Beediff
Comment=Compare and merge text files
Exec=beediff
Terminal=false
Type=Application
Icon=beediff
Categories=Development;TextTools;Qt;
X-Desktop-File-Install-Version=0.28

