[Desktop Entry]
Name=Minimized Windows
Name[ar]=النوافذ المصغّرة
Name[bg]=Минимизирани прозорци
Name[cs]=Minimalizovaná okna
Name[da]=Minimerede vinduer
Name[de]=Minimierte Fenster
Name[el]=Ελαχιστοποιημένα παράθυρα
Name[en]=Minimized Windows
Name[en_GB]=Minimised Windows
Name[es]=Ventanas minimizadas
Name[fi]=Pienennetyt ikkunat
Name[fr]=Fenêtres minimisées
Name[ga]=Fuinneoga Íoslaghdaithe
Name[gl]=Xanelas minimizadas
Name[hi]=न्यूनतम की गई विंडोज़
Name[hu]=Minimalizált ablakok
Name[id]=Jendela yang Diperkecil
Name[it]=Finestre minimizzate
Name[kk]=Жиырылған терезелер
Name[kmr]=Çarçoveyên biçûk
Name[ko]=최소화된 창
Name[lt]=Minimizuoti Langai
Name[nl]=Geminimaliseerde vensters
Name[pl]=Zminimalizowane okna
Name[pt]=Janelas Minimizadas
Name[pt_BR]=Janelas minimizadas
Name[ru]=Свёрнутые окна
Name[sat]=ᱦᱩᱰᱤᱧ ᱟᱠᱟᱱ ᱡᱟᱨᱞᱟ
Name[sk]=Minimalizované okná
Name[sr]=Умањени прозори
Name[sv]=Minimerade fönster
Name[uk]=Згорнуті вікна
Name[zh_CN]=最小化窗口
Name[zh_Hant]=最小化視窗
Comment=Manage minimized windows
Comment[ar]=أدِر النوافذ المصغرة
Comment[cs]=Správa minimalizovaných oken
Comment[da]=Administrer minimerede vinduer
Comment[de]=Minimierte Fenster verwalten
Comment[el]=Διαχείριση ελαχιστοποιημένων παραθύρων
Comment[en]=Manage minimized windows
Comment[en_GB]=Manage minimised windows
Comment[fi]=Hallitse pienennettyjä ikkunoita
Comment[fr]=Gérer les fenêtres minimisées
Comment[ga]=Bainistigh fuinneoga íoslaghdaithe
Comment[gl]=Xestionar xanelas minimizadas
Comment[hi]=न्यूनतम की गई विंडोज़ प्रबंधित करें
Comment[hu]=Minimalizált ablakok kezelése
Comment[id]=Kelola jendela yang diperkecil
Comment[it]=Gestisci le finestre minimizzate
Comment[kk]=Жиырылған терезелерді басқару
Comment[kmr]=Çarçoveyên biçûk bi rê ve bibe
Comment[ko]=최소화된 창 관리
Comment[lt]=Valdyti minimizuotus langus
Comment[nl]=Beheer geminimaliseerde vensters
Comment[pl]=Zarządzanie zminimalizowanymi oknami
Comment[pt_BR]=Gerenciar janelas minimizadas
Comment[ru]=Управление свёрнутыми окнами
Comment[sr]=Управљај умањеним прозорима
Comment[sv]=Hantera minimerade fönster
Comment[uk]=Керування згорнутими вікнами
Comment[zh_CN]=管理最小化窗口
Comment[zh_Hant]=管理最小化的視窗
Type=Application
Exec=cosmic-applet-minimize
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Minimize;
Keywords[ar]=COSMIC;بريمج;تصغير;
Keywords[cs]=COSMIC;Applet;Minimalizace;
Keywords[da]=COSMIC;Applet;Minimer;
Keywords[de]=COSMIC;Applet;Minimieren;
Keywords[el]=Μικροεφαρμογή;Ελαχιστοποίηση;COSMIC;Applet;Minimize;
Keywords[en]=COSMIC;Applet;Minimize;
Keywords[en_GB]=COSMIC;Applet;Minimise;
Keywords[fi]=COSMIC;Applet;Minimize;sovelma;pienennä;
Keywords[fr]=COSMIC;Applet;Minimiser;
Keywords[ga]=COSMIC;Feidhmchláirín;Íoslaghdaigh;
Keywords[gl]=COSMIC;Miniaplicación;Minimizar;
Keywords[hu]=COSMIC;kisalkalmazás;minimizálás;
Keywords[id]=COSMIC;Applet;Perkecil;
Keywords[it]=COSMIC;Applet;Minimizzare;
Keywords[kk]=COSMIC;Апплет;Жиыру;
Keywords[kmr]=COSMIC;Sepanok;Biçûkkirin;
Keywords[ko]=COSMIC;애플릿;최소화;
Keywords[lt]=COSMIC;Apletas;Minimizuoti;
Keywords[nl]=COSMIC;Applet;Minimaliseer;Geminimaliseerd;
Keywords[pl]=COSMIC;Aplet;Minimalizacja;Zminimalizowane;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Minimizar;
Keywords[ru]=COSMIC;Апплет;Свернуть;Свёрнутые;
Keywords[sr]=COSMIC;Applet;Minimize;Космик;Програмчић;Умањи;kosmik;programčić;umanji;
Keywords[sv]=COSMIC;Applet;Minimera;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Згорнути;Згорнуті;Вікна;Вікно;
Keywords[zh_CN]=COSMIC;小部件;最小化;
Keywords[zh_Hant]=COSMIC;小程式;最小化;
Icon=com.system76.CosmicAppletMinimize
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=10
X-HostWaylandDisplay=true
X-OverflowPriority=50
X-OverflowMinSize=2
