[Desktop Entry]
Name[ar]=دودة الكتب
Name[be]=Bookworm
Name[ca]=Bookworm
Name[cs]=Bookworm
Name[de]=Bookworm
Name[el]=Bookworm
Name[en_GB]=Bookworm
Name[es]=Bookworm
Name[es_MX]=Bookworm
Name[et]=Bookworm
Name[fi]=Bookworm
Name[fr]=Bookworm
Name[hr]=Bibliofil
Name[id]=Bookworm
Name[ie]=Bookworm
Name[is]=Bókaormur
Name[it]=Bookworm
Name[ja]=Bookworm
Name[nb_NO]=Bokorm
Name[pl]=Bookworm
Name[pt]=Bookworm
Name[pt_BR]=Bibliófilo
Name[ru]=Bookworm
Name[sc]=Bookworm
Name[sv]=Bookworm
Name[tr]=Bookworm
Name[uk]=Bookworm
Name[zh]=书虫
Name[zh_HK]=書蟲
Name[zh_TW]=Bookworm
Name=Bookworm
GenericName[ar]=قارئ كتب إلكترونية
GenericName[as]=ই-কিতাপ ৰীডাৰ
GenericName[be]=Чытач электронных кніг
GenericName[bn]=ই-বুক রিডার
GenericName[ca]=Lector de llibres
GenericName[cs]=Čtečka elektronických knih
GenericName[da]=E-bogs-læser
GenericName[de]=E-Book-Reader
GenericName[el]=Αναγνώστης βιβλίων
GenericName[en_GB]=eBook Reader
GenericName[es]=Lector de libros electrónicos
GenericName[es_MX]=Lector de eBook
GenericName[et]=E-raamatu luger
GenericName[fi]=E-kirjan lukija
GenericName[fr]=Lecteur de livres électroniques
GenericName[gl]=Lector de eBooks
GenericName[he]=קורא ספרים אלקטרוניים
GenericName[hi]=ईबुक पाठक
GenericName[hr]=Čitač e-knjiga
GenericName[id]=Pembaca e-Book
GenericName[ie]=Letor de eLibres
GenericName[is]=Rafbókalesari
GenericName[it]=Lettore di eBook
GenericName[ja]=電子書籍リーダー
GenericName[ku]=Xwînereke ePirtûk
GenericName[ml]=ഇ-ബുക്ക് റീഡർ
GenericName[mr]=ई - पुस्तक रीडर
GenericName[nb_NO]=e-bokleser
GenericName[nl]=e-boek lezer
GenericName[pl]=Czytnik e-booków
GenericName[pt]=Leitor de livros digitais
GenericName[pt_BR]=Leitor de eBook
GenericName[ro]=Cititor eBook
GenericName[ru]=Программа для чтения электронных книг
GenericName[sc]=leghidore de libros eletrònicos
GenericName[sk]=Čítačka elektronických chýb
GenericName[sq]=Lexuesi i eLibrave
GenericName[sr]=Читач еКњига
GenericName[sv]=E-bokläsplatta
GenericName[th]=อุปกรณ์อ่านอีบุ๊ค
GenericName[tr]=eKitap Okuyucu
GenericName[uk]=Для читання електронних книг
GenericName[vi]=Đọc sách điện tử
GenericName[zh]=电子书阅读器
GenericName[zh_CN]=电子书阅读器
GenericName[zh_HK]=eBook 閱讀器
GenericName[zh_TW]=電子書閱讀器
GenericName=eBook Reader
Comment[ar]=قراءة وإدارة الكتب اﻹلكترونية
Comment[as]=ই-কিতাপ পঢ়ক আৰু পৰিচালনা কৰক
Comment[be]=Чытаць і караваць eBook'амі
Comment[ca]=Llegiu i gestioneu llibres electrònics
Comment[cs]=Číst a spravovat elektronické knihy
Comment[de]=Lese und verwalte E-Books
Comment[el]=Ανάγνωση και διαχείριση ηλεκτρονικών βιβλίων
Comment[en_GB]=Read and manage eBooks
Comment[es]=Leer y gestionar los libros electrónicos
Comment[es_MX]=Leer y gestionar los libros
Comment[et]=Loe ja halda e-raamatuid
Comment[fi]=Luo ja järjestä e-kirjoja
Comment[fr]=Lisez et gérez des livres numériques
Comment[hr]=Čitaj i upravljaj e-knjigama
Comment[id]=Baca dan atur Ebook
Comment[ie]=Leer e gerer eLibres
Comment[is]=Lesa og sýsla með rafbækur
Comment[it]=Leggi e gestisci eBooks
Comment[ja]=電子書籍を読んだり管理したりします
Comment[mr]=ईपुस्तके वाचा आणि व्यवस्थापित करा
Comment[nb_NO]=Les og behandle e-bøker
Comment[pl]=Czytaj i zarządzaj eBookami
Comment[pt]=Ler e gerir livros digitais
Comment[pt_BR]=Ler e gerenciar eBooks
Comment[ro]=Citește și administrează eBook-uri
Comment[ru]=Читать и управлять книгами
Comment[sc]=Leghe e manìgia libros eletrònicos
Comment[sv]=Läs och hantera e-böcker
Comment[tr]=eKitapları oku ve yönet
Comment[uk]=Читайте електронні книги та керуйте ними
Comment[zh]=阅读和管理电子书
Comment[zh_HK]=管理書本
Comment[zh_TW]=閱讀和管理電子書
Comment=Read and manage eBooks
Categories=Office;Viewer;
MimeType=application/epub+zip;application/pdf;application/x-pdf;application/cbr;application/x-cbz;application/fb2+xml;application/fb2+zip;
Exec=com.github.babluboy.bookworm %F
Icon=com.github.babluboy.bookworm
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=bookworm
Keywords[ar]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[be]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[ca]=Bookworm;llibre electrònic;lector;Epub;Mobi;Còmic;Cbr;Cbz;Pdf;
Keywords[cs]=Bookworm;elektronická kniha;čtečka;EPUB;Mobi;komiks;kreslené příběhy;CBR;CBZ;PDF;
Keywords[de]=Bookworm;E-Book;E-Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[el]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[en_GB]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[es]=Bookworm;Libro electrónico;Ebook;Reader;Lector;Epub;Mobi;Comic;Cómic;Cbr;Cbz;Pdf;
Keywords[es_MX]=Bookworm;Libro electrónico;Ebook;Reader;Lector;Epub;Mobi;Comic;Cómic;Cbr;Cbz;Pdf;
Keywords[et]=Bookworm;e-raamat;luger;epub;mobi;comic;cbr;cbz;pdf;
Keywords[fi]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[fr]=Bookworm;Ebook;Lecteur;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[hr]=Bibliofil;E-knjiga;Čitač;Epub;Mobi;Strip;Cbr;Cbz;Pdf;
Keywords[id]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[ie]=Bookworm;Ebook;ELibre;Leer;Letor;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[is]=Bookworm;Bókaormur;Rafbók;Lesari;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[it]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[ja]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;本の虫;電子書籍;リーダー;コミック;
Keywords[pl]=Bookworm;Ebook;Czytnik;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[pt]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[pt_BR]=Bookworm;Ebook;Reader;Leitor;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[ru]=Bookworm;Ebook;Ридер;Книга;Читалка;Epub;Mobi;Комикс;Cbr;Cbz;Pdf;FB2;
Keywords[sc]=Bookworm;Libru eletrònicu;Leghidore;Epub;Mobi;Fumetu;Cbr;Cbz;Pdf;
Keywords[sv]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[tr]=Bookworm;Ekitap;Okuyucu;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[uk]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[zh]=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;书虫;电子书;阅读器;漫画;
Keywords[zh_HK]=書蟲;電子書;閱讀器;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
Keywords[zh_TW]=Bookworm;電子書;閱讀器;電子出版;Mobi;漫畫; CBR; Cbz; PDF閱讀器;
Keywords=Bookworm;Ebook;Reader;Epub;Mobi;Comic;Cbr;Cbz;Pdf;
