[Desktop Entry]
Name[ab]=Аекскурсиа
Name[ar]=جَوْلَة
Name[be]=Знаёмства
Name[bg]=Обиколка
Name[bn]=সফর
Name[ca]=Visita guiada
Name[cs]=Prohlídka
Name[da]=Rundvisning
Name[de]=Einführung
Name[el]=Ξενάγηση
Name[en_GB]=Tour
Name[eo]=Rondvojaĝo
Name[es]=Tour
Name[eu]=Bisita
Name[fa]=گشت
Name[fi]=Tutustumiskierros
Name[fr]=Visite guidée
Name[fur]=Visite vuidade
Name[gl]=Tour
Name[he]=סיור מודרך
Name[hi]=दौरा
Name[hr]=Vodič
Name[hu]=Bemutató
Name[ia]=Tour
Name[id]=Tur
Name[is]=Kynning
Name[it]=Visita guidata
Name[ja]=ツアー
Name[ka]=ტური
Name[kab]=Inig
Name[kk]=Тур
Name[ko]=둘러보기
Name[kw]=Torn
Name[lt]=Turas
Name[lv]=Ceļvedis
Name[ml]=പര്യടനം
Name[nb]=Omvisning
Name[ne]=भ्रमण गर्नुहोस्
Name[nl]=Rondleiding
Name[nn]=Omvising
Name[oc]=Visita guidada
Name[pa]=ਟੂਰ
Name[pl]=Przewodnik
Name[pt]=Apresentação
Name[pt_BR]=Tour
Name[ro]=Tur
Name[ru]=Экскурсия
Name[sk]=Prehliadka
Name[sl]=Vodič GNOME
Name[sr]=Обилазак
Name[sr@latin]=Obilazak
Name[sv]=Rundtur
Name[ta]=சுற்றுலா
Name[th]=แนะนำการใช้งาน
Name[tr]=Gezinti
Name[ug]=ساياھەت
Name[uk]=Тур
Name[uz]=Sayohat
Name[vi]=Thăm quan
Name[zh_CN]=导览
Name[zh_TW]=導覽
Name=Tour
GenericName[ab]=Аԥсшәаҳәареи Аекскурсиеи
GenericName[ar]=مُرحِّب وجولة
GenericName[be]=Вітанне і знаёмства
GenericName[bg]=Приветствие и обиколка
GenericName[bn]=স্বাগতকারী ও সফর
GenericName[ca]=Benvinguda i visita guiada
GenericName[cs]=Uvítání a prohlídka
GenericName[da]=Velkomst og rundvisning
GenericName[de]=Begrüßer und Einführung
GenericName[el]=Υποδοχή και ξενάγηση
GenericName[en_GB]=Greeter & Tour
GenericName[eo]=Enkonduko & Rondvojaĝo
GenericName[es]=Bienvenida y tour
GenericName[eu]=Ongietorria eta bisita
GenericName[fa]=خوش‌آمدگویی و گشت
GenericName[fi]=Tutustumiskierros
GenericName[fr]=Accueil et visite guidée
GenericName[fur]=Benvignût e visite vuidade
GenericName[gl]=Benvida e tour
GenericName[he]=סיור מודרך וקבלת פנים
GenericName[hi]=स्वागतकर्ता एवं दौरा
GenericName[hr]=Dobrodošlica i vodič
GenericName[hu]=Köszöntő és bemutató
GenericName[ia]=Benvenita e tour
GenericName[id]=Penyapa & Tur
GenericName[is]=Ávarp og kynning
GenericName[it]=Visita guidata e accoglienza
GenericName[ja]=ウェルカム & ツアー
GenericName[ka]=მისალმება და ტური
GenericName[kab]=Greeter & Tour
GenericName[kk]=Қарсы алу және тур
GenericName[ko]=안내 및 둘러보기
GenericName[kw]=Dynerghyer & Torn
GenericName[lt]=Pasisveikinimas ir turas
GenericName[lv]=Sveicējs un ceļvedis
GenericName[nb]=Omvisning
GenericName[ne]=ग्रिटर र टुर
GenericName[nl]=Ontmoeting & rondleiding
GenericName[nn]=Velkomst og omvising
GenericName[oc]=Acuèlh e visita guidada
GenericName[pa]=ਸਵਾਗਤ ਤੇ ਟੂਰ
GenericName[pl]=Ekran powitalny i przewodnik
GenericName[pt]=Saudação e Apresentação
GenericName[pt_BR]=Saudação & Tour
GenericName[ro]=Persoană care salută și tur
GenericName[ru]=Приветствие и Экскурсия
GenericName[sk]=Privítanie a prehliadka
GenericName[sl]=Pozdrav in uvod
GenericName[sr]=Водич и обилазак
GenericName[sr@latin]=Vodič i obilazak
GenericName[sv]=Hälsare och rundtur
GenericName[ta]=வரவேற்பு & சுற்றுலா
GenericName[th]=ผู้ต้อนรับและแนะนำการใช้งาน
GenericName[tr]=Karşılayıcı ve Gezinti
GenericName[ug]=سالام ۋە ساياھەت
GenericName[uk]=Тур і вітання
GenericName[uz]=Salomlashuv va Sayohat
GenericName[vi]=Giới thiệu &amp; Thăm quan
GenericName[zh_CN]=欢迎界面和导览
GenericName[zh_TW]=歡迎與導覽
GenericName=Greeter & Tour
Type=Application
Exec=gnome-tour
Terminal=false
Categories=GNOME;GTK;Documentation;Utility;
Keywords[ab]=Gnome;GTK;
Keywords[ar]=Gnome;GTK;جنوم;جي تي كي;
Keywords[be]=Gnome;GTK;
Keywords[bg]=гном;гтк;gnome;gtk;
Keywords[bn]=গ্নোম;জিটিকে
Keywords[ca]=Gnome;GTK;
Keywords[cs]=Gnome;GTK;
Keywords[da]=Gnome;GTK;
Keywords[de]=Gnome; GTK;
Keywords[el]=Gnome;GTK;
Keywords[en_GB]=Gnome;GTK;
Keywords[eo]=Gnomo;GTK;
Keywords[es]=Gnome;GTK;
Keywords[eu]=Gnome;GTK;
Keywords[fa]=Gnome;GTK;گنوم;
Keywords[fi]=Gnome;GTK;
Keywords[fr]=Gnome;GTK;
Keywords[fur]=Gnome;GTK;
Keywords[gl]=GNOME;GTK;
Keywords[he]=‫Gnome;GTK;גנום;
Keywords[hi]=Gnome;GTK;गनोम;
Keywords[hr]=Gnome;GTK;
Keywords[hu]=GNOME;GTK;
Keywords[ia]=Gnome;GTK;
Keywords[id]=Gnome;GTK;
Keywords[is]=Gnome;GTK;
Keywords[it]=Gnome;GTK;
Keywords[ja]=Gnome;GTK;
Keywords[ka]=Gnome;GTK;
Keywords[kab]=Gnome;GTK;
Keywords[kk]=Gnome;GTK;
Keywords[ko]=Gnome;GTK;그놈;
Keywords[kw]=Gnome;GTK;
Keywords[lt]=Gnome;GTK;
Keywords[lv]=Gnome;GTK;
Keywords[ml]=ഗ്നോം;ജിറ്റികെ;
Keywords[nb]=Gnome;GTK;Tips;Informasjon;Hjelp;Veiledning;Instruksjoner;
Keywords[ne]=जिनोम;जिटिके;
Keywords[nl]=Gnome;GTK;
Keywords[nn]=Gnome;GTK;
Keywords[oc]=Gnome;GTK;
Keywords[pa]=ਗਨੋਮ;ਜੀਟੀਕੇ;
Keywords[pl]=GNOME;GTK;
Keywords[pt]=Gnome;GTK;
Keywords[pt_BR]=Gnome;GTK;
Keywords[ro]=Gnome;GTK;
Keywords[ru]=Gnome;GTK;Гном;ГТК;
Keywords[sk]=Gnome;GTK;
Keywords[sl]=Gnome;GTK;Vodnik;vodič;pozdrav;tour;zagon;pomoč;
Keywords[sr]=Gnome;GTK;Гном;ГТК;
Keywords[sr@latin]=Gnome;GTK;Gnom;GTK;
Keywords[sv]=Gnome;GTK;
Keywords[th]=Gnome;GTK;
Keywords[tr]=Gnome;GTK;Tour;
Keywords[ug]=Gnome;GTK;
Keywords[uk]=Gnome;GTK;гноме;гном;жтека;гтк;
Keywords[uz]=Gnome;GTK;
Keywords[vi]=Gnome;GTK;
Keywords[zh_CN]=Gnome;GTK;
Keywords[zh_TW]=Gnome;GTK;
Keywords=Gnome;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Tour
DBusActivatable=true
StartupNotify=true
OnlyShowIn=GNOME;
