[Desktop Entry]
Name[cs]=Black Box
Name[de]=Black Box
Name[es]=Black Box
Name[fr]=Black Box
Name[it]=Scatola nera
Name[nl]=Black Box
Name[ru]=Black Box
Name[sv]=Black Box
Name[tr]=Kara Kutu
Name[zh_CN]=Black Box
Name[pt_BR]=Black Box
Name[ja]=Black Box
Name[pl]=Black Box
Name[pt]=Black Box
Name[uk]=Black Box
Name[ro]=Black Box
Name[ar]=الصندوق الأسود
Name[fi]=Black Box
Name[ka]=Black Box
Name[bn]=ব্ল্যাক বক্স
Name[id]=Black Box
Name[sq]=Kutia e Zezë
Name=Black Box
Exec=blackbox-terminal
Terminal=false
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=false
Keywords[cs]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;příkazový řádek;terminál;
Keywords[de]=Terminal;terminal;shell;prompt;kommando;kommandozeile;cmd;box;
Keywords[es]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;comando;línea;consola;caja;
Keywords[fr]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;ligne de commande;boîte;
Keywords[it]=Terminale;terminale;shell;prompt;comando;lineadicomando;cmd;riquadro;
Keywords[nl]=Terminal;terminal;shell;prompt;opdracht;commando;opdrachtregel;cmd;box;
Keywords[ru]=Терминал;терминал;оболочка;строка;команда;командная строка;cmd;box;
Keywords[sv]=Terminal;terminal;skal;prompt;kommando;kommandorad;cmd;box;
Keywords[tr]=Uçbirim;uçbirim;shell;kabuk;komut satırı;komut;cmd;box;kutu;
Keywords[zh_CN]=终端;命令;命令行;外壳;Terminal;terminal;shell;prompt;command;commandline;cmd;box;
Keywords[pt_BR]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;comando;linha;console;
Keywords[ja]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;ターミナル;端末;シェル;プロンプト;コマンド;コマンドライン;ボックス;
Keywords[pl]=Terminal;terminal;powłoka;prompt;polecenie;wiersz poleceń;cmd;box;
Keywords[pt]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;comando;linha;console;
Keywords[uk]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;
Keywords[ro]=Terminal;terminal;shell;prompt;comandă;linie de comandă;cmd;casetă;
Keywords[ar]=طرفية;مظرف;صندوق;أمر;سطر الأوامر;
Keywords[fi]=Pääte;pääte;kuori;kehote;komento;komentorivi;cmd;laatikko;
Keywords[ka]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;ტერმინალი;გარსი;
Keywords[bn]=টার্মিনাল;শেল;প্রম্পট;কমান্ড;কমান্ডলাইন;সি.এম.ডি;বক্স;
Keywords[id]=Terminal;terminal;shell;prompt;perintah;baris perintah;cmd;kotak;
Keywords[sq]=Terminal;terminal;shell;prompt;komandë;rrjeshtkomande;cmd;kuti;
Keywords=Terminal;terminal;shell;prompt;command;commandline;cmd;box;
Icon=com.raggesilver.BlackBox
X-GNOME-UsesNotifications=true
