[Desktop Entry]
Version=1.0
Encoding=UTF-8
MimeType=text/calendar
Categories=Office;Calendar;GTK;GNOME;
Exec=dayplanner
Icon=dayplanner.png
Name=Day Planner
StartupNotify=false
Terminal=false
Type=Application
Name[nb]=Dagsplanlegger
Name[nb_NO]=Dagsplanlegger
Name[no_NO]=Dagsplanlegger
Name[sk]=Plánovaè
Name[sk_SK]=Plánovaè
Name[slovak]=Plánovaè
Name[cs]=Denní plánovaè
Name[cs_CZ]=Denní plánovaè
Name[czech]=Denní plánovaè
Name[it]=Agenda Del Giorno
Name[it_IT]=Agenda Del Giorno
Name[sv]=Dagplanerare
Name[sv_SE]=Dagplanerare
Name[sv_FI]=Dagplanerare
Name[nn]=Dagsplanleggar
Name[nn_NO]=Dagsplanleggar
Name[nl]=Dagplanner
X-Desktop-File-Install-Version=0.28
