[Desktop Entry]
Name[af]=Hoofkieslys
Name[an]=Menu prencipal
Name[as]=মূখ্য তালিকা
Name[ast]=Menú Principal
Name[ar]=القائمة الرئيسية
Name[az]=Əsas Menyu
Name[be]=Галоўнае меню
Name[be@latin]=Hałoŭnaje menu
Name[bem]=Menu Ikalamba
Name[bg]=Основно меню
Name[bn]=প্রধান মেনু
Name[bn_IN]=প্রধান মেনু
Name[br]=Pennlañser
Name[brx]=गुदि मिनु
Name[bs]=Glavni meni
Name[ca]=Menú principal
Name[ca@valencia]=Menú principal
Name[crh]=Baş Menü
Name[cs]=Hlavní nabídka
Name[cy]=Prif Ddewislen
Name[da]=Hovedmenu
Name[de]=Hauptmenü
Name[dz]=དཀར་ཆག་ངོ་མ་
Name[el]=Κυρίως μενού
Name[en_CA]=Main Menu
Name[en_GB]=Main Menu
Name[en@shaw]=𐑥𐑱𐑯 𐑥𐑧𐑯𐑿
Name[eo]=Ĉefa menuo
Name[es]=Menú principal
Name[et]=Peamenüü
Name[eu]=Menu nagusia
Name[fa]=فهرست اصلی
Name[fi]=Päävalikko
Name[fr]=Menu principal
Name[fur]=Menu principâl
Name[fy]=Haadmenu
Name[ga]=Príomhroghchlár
Name[gl]=Menú principal
Name[gu]=મુખ્ય મેનુ
Name[he]=תפריט ראשי
Name[hi]=मुख्य मेनू
Name[hr]=Glavni izbornik
Name[hu]=Főmenü
Name[hy]=Գլխավոր մենյու
Name[id]=Menu Utama
Name[ie]=Menú principal
Name[io]=Precipua Menuo
Name[is]=Aðalvalmynd
Name[it]=Menù principale
Name[ja]=メイン・メニュー
Name[ka]=მთავარი მენიუ
Name[kk]=Бас мәзір
Name[km]=ម៉ឺនុយ​មេ
Name[kn]=ಮುಖ್ಯ ಪರಿವಿಡಿ
Name[ko]=주 메뉴
Name[ku]=Pêşeka Bingehîn
Name[lt]=Pagrindinis meniu
Name[lv]=Galvenā izvēlne
Name[mai]=मुख्य मेनू
Name[mg]=Tolotra Fototra
Name[mk]=Главно мени
Name[ml]=പ്രധാന മെനു
Name[mn]=Үндсэн цэс
Name[mr]=मुख्य मेन्यु
Name[ms]=Menu Utama
Name[nb]=Hovedmeny
Name[nds]=Hööftmenü
Name[nn]=Hovudmeny
Name[or]=ମୁଖ୍ୟ ତାଲିକା
Name[pa]=ਮੁੱਖ ਮੇਨੂ
Name[pl]=Menu główne
Name[ps]=اره غورنۍ
Name[pt]=Menu principal
Name[pt_BR]=Menu principal
Name[ro]=Meniu principal
Name[ru]=Главное меню
Name[sk]=Hlavná ponuka
Name[sl]=Glavni meni
Name[sq]=Menuja kryesore
Name[sr]=Главни изборник
Name[sr@latin]=Glavni izbornik
Name[sv]=Huvudmeny
Name[sw]=Menyu kuu
Name[ta]=முதன்மை புப் பட்டி
Name[te]=ముఖ్య జాబితా
Name[th]=เมนูหลัก
Name[tr]=Ana Menü
Name[ug]=ئاساسىي تىزىملىك
Name[uk]=головне меню
Name[uz@cyrillic]=Асосий меню
Name[vi]=Trình đơn chính
Name[zh_CN]=主菜单
Name[zh_HK]=主選單
Name[zh_TW]=主選單
Name[zu]=Ingqikithi yemenyu
Name=Main Menu
Comment[az]=Əsas menyudan tətbiqləri əlavə edin və ya silin
Comment[be]=Дадаванне або выдаленне праграм з галоўнага меню
Comment[bg]=Добавяне или премахване на програмите в основното меню
Comment[br]=Kemmañ roll an arloadoù diskouezet el lañser meur
Comment[bs]=Dodaj ili obriši programe sa glavnog menija
Comment[ca]=Afegiu o suprimiu aplicacions al menú principal
Comment[ca@valencia]=Afegiu o suprimiu aplicacions al menú principal
Comment[cs]=Přidat nebo odebrat aplikace v hlavní nabídce
Comment[da]=Tilføj eller fjern programmer fra hovedmenuen
Comment[de]=Anwendungen dem Hauptmenü hinzufügen oder daraus löschen
Comment[el]=Προσθέστε ή αφαιρέστε εφαρμογές από το κύριο μενού
Comment[en_GB]=Add or remove applications from the main menu
Comment[es]=Añadir o quitar aplicaciones del menú principal
Comment[et]=Peamenüüs näidatavate rakenduste lisamine või eemaldamine
Comment[eu]=Gehitu edo kendu aplikazioak menu nagusitik
Comment[fa]=افزودن یا برداشتن برنامه‌ها از فهرست اصلی
Comment[fi]=Lisää tai poista päävalikossa näytettäviä sovelluksia
Comment[fr]=Ajouter ou supprimer des applications à partir du menu principal
Comment[fur]=Zonte o gjave lis aplicazions dal menù principâl
Comment[gl]=Engadir ou desinstalar aplicativos desde o menú principal
Comment[he]=הוספה או הסרה של יישומים בתפריט הראשי
Comment[hi]=मुख्य मेनू से एप्लिकेशन जोड़ें या हटाएं
Comment[hr]=Dodaj ili ukloni aplikaciju iz glavnog izbornika
Comment[hu]=Alkalmazások hozzáadása vagy eltávolítása a főmenüből
Comment[id]=Tambah atau hapus aplikasi dari menu utama
Comment[ie]=Adjunter o remover applicationes de li menú principal
Comment[is]=Bæta við eða fjarlægja forrit úr aðalvalmynd
Comment[it]=Aggiungi o rimuovi applicazioni dal menu principale
Comment[ja]=メニュー・アイテムを追加、削除します
Comment[ka]=წაშალეთ და დაამატეთ აპლიკაციები მთავარი მენიუდან
Comment[kk]=Басты мәзірге қолданбаларды қосу немесе өшіру
Comment[lt]=Pridėti arba šalinti programas pagrindiniame meniu
Comment[lv]=Pievienot vai izņemt lietotnes no galvenās izvēlnes
Comment[nb]=Legg til eller fjern programmer fra hovedmenyen
Comment[pl]=Dodawanie i usuwanie programów z głównego menu
Comment[pt]=Adicionar ou remover aplicações do menu principal
Comment[pt_BR]=Altere quais aplicativos são mostrados no menu principal
Comment[ro]=Adaugă sau elimină aplicații din meniul principal
Comment[ru]=Добавить или удалить приложения из главного меню
Comment[sk]=Pridáva alebo odstraňuje aplikácie z hlavnej ponuky
Comment[sl]=Dodajanje in odstranjevanje programov v osnovnem meniju
Comment[sr]=Додајте или уклоните програме приказане у главном изборнику
Comment[sr@latin]=Dodajte ili uklonite programe prikazane u glavnom izborniku
Comment[sv]=Lägg till eller ta bort program från huvudmenyn
Comment[te]=ప్రధాన జాబితా నుండి అనువర్తనాలు జోడించండి లేదా తొలగించండి
Comment[th]=เพิ่มหรือลบแอปพลิเคชันต่างๆ ในเมนูหลัก
Comment[tr]=Ana menüye uygulama ekle ya da kaldır
Comment[uk]=Додавання програм до головного меню або вилучення їх з нього
Comment[zh_CN]=从主菜单中增加或移除应用程序
Comment[zh_HK]=從主選單加入或移除應用程式
Comment[zh_TW]=從主選單加入或移除應用程式
Comment=Add or remove applications from the main menu
Exec=alacarte
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;Utility;
Icon=alacarte
X-Desktop-File-Install-Version=0.28
OnlyShowIn=GNOME;
