[Desktop Entry]
Name=COSMIC Files
Name[af]=COSMIC Leêrs
Name[ar]=ملفات COSMIC
Name[be]=Файлы COSMIC
Name[bg]=Файлове на COSMIC
Name[ca]=Fitxers del COSMIC
Name[cs]=Soubory COSMIC
Name[da]=COSMIC Filhåndtering
Name[de]=COSMIC Dateien
Name[el]=Αρχεία COSMIC
Name[en]=COSMIC Files
Name[en_GB]=COSMIC Files
Name[es]=Archivos COSMIC
Name[es_419]=Archivos de COSMIC
Name[et]=COSMICu failid
Name[fa]=فایل‌های COSMIC
Name[fi]=COSMICin tiedostot
Name[fr]=Fichiers COSMIC
Name[fy]=COSMIC Bestannen
Name[ga]=Comhaid COSMIC
Name[gl]=Ficheiros COSMIC
Name[hi]=कॉस्मिक फाइल्स
Name[hu]=COSMIC Fájlok
Name[id]=Berkas COSMIC
Name[is]=COSMIC Skráastjóri
Name[it]=COSMIC Files
Name[ja]=COSMICファイル
Name[kab]=Ifuyla COSMIC
Name[kk]=COSMIC файлдары
Name[kmr]=Pelên COSMIC
Name[kn]=ಕಾಸ್ಮಿಕ್ ಫೈಲ್ಸ್
Name[ko]=COSMIC 파일
Name[lt]=COSMIC Failai
Name[nb_NO]=COSMIC Filer
Name[nl]=COSMIC Bestanden
Name[nn]=COSMIC Filer
Name[pa]=COSMIC ਫ਼ਾਇਲਾਂ
Name[pl]=Pliki COSMIC
Name[pt]=Ficheiros COSMIC
Name[pt_BR]=Gestor de Arquivos
Name[ro]=Fișiere COSMIC
Name[ru]=Файлы
Name[sk]=Súbory COSMIC
Name[sr]=Космик датотеке
Name[sr_Cyrl]=COSMIC Фајлови
Name[sv]=COSMIC Filer
Name[th]=ตัวจัดการไฟล์ COSMIC
Name[tr]=COSMIC Dosyalar
Name[uk]=Файли COSMIC
Name[zh_CN]=COSMIC 文件管理器
Name[zh_TW]=COSMIC 檔案
Comment=File manager for the COSMIC desktop
Comment[ar]=مدير ملفات لسطح مكتب COSMIC
Comment[ca]=Gestor de fitxers de l'escriptori COSMIC
Comment[cs]=Správce souborů pro prostředí COSMIC
Comment[da]=Filhåndteringsprogram til COSMIC-skrivebordet
Comment[de]=Dateimanager für den COSMIC Desktop
Comment[el]=Διαχείριση αρχείων για το περιβάλλον επιφάνειας εργασίας COSMIC
Comment[en]=File manager for the COSMIC desktop
Comment[en_GB]=File manager for the COSMIC desktop
Comment[es]=Gestor de archivos de COSMIC
Comment[fi]=Tiedostonhallinta COSMIC-työpöydälle
Comment[fr]=Explorateur de fichiers pour le bureau COSMIC
Comment[ga]=Bainisteoir comhad don deasc COSMIC
Comment[gl]=Xestor de ficheiros para o escritorio COSMIC
Comment[hu]=Fájlkezelő a COSMIC asztali környezethez
Comment[id]=Pengelola berkas untuk desktop COSMIC
Comment[it]=File manager per il desktop COSMIC
Comment[kab]=Amsefrak n yifuyla i tnarit COSMIC
Comment[kk]=COSMIC жұмыс үстелі үшін файлдар басқарушысы
Comment[kmr]=Rêveberê pelê ji bo sermaseya COSMIC
Comment[ko]=COSMIC 데스크톱용 위한 파일 관리자
Comment[lt]=COSMIC aplinkos failų tvarkyklė
Comment[nl]=Bestandsbeheerder voor COSMIC
Comment[pa]=COSMIC ਡੈਸਕਟਾਪ ਲਈ ਫ਼ਾਇਲ ਮੈਨੇਜਰ
Comment[pl]=Menedżer plików pulpitu COSMIC
Comment[pt]=Gerenciador de arquivos do COSMIC
Comment[pt_BR]=Gerenciador de arquivos do ambiente COSMIC
Comment[ru]=Файловый менеджер для среды COSMIC
Comment[sk]=Správca súborov pre prostredie COSMIC
Comment[sr]=Управник датотека за Космик радну површину
Comment[sv]=Filhanterare för skrivbordsmiljön COSMIC
Comment[tr]=COSMIC masaüstü için dosya yöneticisi
Comment[uk]=Менеджер файлів для середовища COSMIC
Comment[zh_CN]=COSMIC 桌面的文件管理器
Comment[zh_TW]=COSMIC 桌面檔案管理器
Exec=cosmic-files %U
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicFiles
Categories=COSMIC;Utility;FileManager;
Keywords=Folder;Manager;
Keywords[ar]=مجلد;ملف;مدير;
Keywords[ca]=Carpeta;Fitxers;Arxius;Gestor;Explorador;
Keywords[cs]=Složka;Složky;Správce;Manažer;Prohlížeč;
Keywords[da]=Mappe;Håndtering;
Keywords[de]=Ordner;Manager;
Keywords[el]=Αρχείο;Φάκελος;Διαχείριση;Folder;Manager;
Keywords[en]=Folder;Manager;
Keywords[en_GB]=Folder;Manager;
Keywords[es]=Archivos;Ficheros;Gestor;Explorador;
Keywords[fi]=Folder;Manager;Kansio;Hakemisto;Hallinta;Hallinnointi;Hallitse;Hallinnoi;
Keywords[fr]=Dossier;Gestionnaire;
Keywords[ga]=Fillteán;Bainisteoir;
Keywords[gl]=Cartafol;Xestor;
Keywords[hu]=mappa;fájl;kezelő;
Keywords[id]=Map;Pengelola;
Keywords[it]=File;Archivi;Cartelle;Explorer;
Keywords[kab]=Akaram;Amsefrak;
Keywords[kk]=Folder;Manager;Бума;Басқарушы;
Keywords[kmr]=Rêveber;Peldank;
Keywords[ko]=폴더;관리자;
Keywords[lt]=Aplankas;Tvarkyklė;
Keywords[nl]=Bestand;Map;Document;Verkenner
Keywords[pa]=ਫੋਲਡਰ;ਮੈਨੇਜਰ;
Keywords[pl]=Katalogi;Pliki;Menedżer;
Keywords[pt]=Pasta;Gestor;
Keywords[pt_BR]=Pasta;Gerenciador;
Keywords[ru]=Папка;Менеджер;
Keywords[sk]=Priečinok;Správca;Súbory;Manažér;Prehliadač;
Keywords[sr]=Folder;Manager;Фасцикла;Управник;fascikla;upravnik;
Keywords[sv]=Folder;Katalog;Mapp;Manager;
Keywords[tr]=Klasör;Yönetici;
Keywords[uk]=Тека;Папка;Провідник;Менеджер;Каталог;
Keywords[zh_CN]=文件夹;管理器;
Keywords[zh_TW]=資料夾;管理器;
MimeType=inode/directory;
