[Desktop Entry]
Name[af]=Naglig
Name[ar]=الإضاءة الليلية
Name[be]=Начное святло
Name[bg]=Нощен режим
Name[bn_IN]=নাইট লাইট
Name[ca]=Llum nocturna
Name[ca@valencia]=Llum nocturna
Name[ckb]=ڕووناکی شەو
Name[cs]=Noční světlo
Name[da]=Nattelys
Name[de]=Nachtmodus
Name[el]=Λειτουργία νυχτός
Name[en_GB]=Night Light
Name[en_US]=Night Light
Name[eo]=Noktlumo
Name[es]=Luz nocturna
Name[et]=Öövalgustus
Name[eu]=Gaueko argia
Name[fa]=نور شب
Name[fi]=Yövalo
Name[fr]=Mode nuit
Name[fur]=Lûs noturne
Name[gd]=Solas oidhche
Name[gl]=Luz nocturna
Name[he]=תאורת לילה
Name[hr]=Noćno osvjetljenje
Name[hu]=Éjszakai fény
Name[id]=Terang Malam
Name[is]=Næturlýsing
Name[it]=Luce notturna
Name[ja]=夜間モード
Name[ka]=ღამის სინათლე
Name[kk]=Түнгі жарық
Name[ko]=야간 모드
Name[lt]=Naktinis apšvietimas
Name[lv]=Nakts gaisma
Name[ml]=രാത്രി വെളിച്ചം
Name[ms]=Cahaya Malam
Name[nb]=Nattlys
Name[ne]=रातको उज्यालो
Name[nl]=Nachtlicht
Name[oc]=Mòde nuèit
Name[pa]=ਰਾਤ ਦੀ ਰੋਸ਼ਨੀ
Name[pl]=Nocne światło
Name[pt_BR]=Luz noturna
Name[pt_PT]=Luz noturna
Name[ro]=Lumină nocturnă
Name[ru]=Ночная подсветка
Name[sl]=Nočna osvetlitev
Name[sv]=Nattbelysning
Name[tr]=Gece Lambası
Name[uk]=Нічне світло
Name[vi]=Ánh sáng đêm
Name[zh_CN]=夜灯
Name[zh_TW]=夜光
Name=Night Light
Comment[ca]=Configureu els paràmetres de la llum nocturna
Comment[en_GB]=Configure night light settings
Comment[et]=Seadista öövalgustust
Comment[kk]=Түнгі жарық параметрлерін баптау
Comment[nl]=Instellingen voor nachtkleurenconfigureren
Comment[oc]=Configurar los paramètres de lum nuechenc
Comment[pl]=Skonfiguruj ustawienia oświetlenia nocnego
Comment[zh_TW]=設定夜覽
Comment=Configure night light settings
Exec=budgie-control-center night-light
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=night-light-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=Budgie
# Translators: Search terms to find the Night Light panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=nit;llum;blau;blava;desplaçament cap al vermell;color;posta de sol;sortida del sol;alba;càlid;pantalla;visualització;
Keywords[en_GB]=night;light;blue;redshift;color;sunset;sunrise;warm;screen;display;
Keywords[et]=night;light;blue;redshift;color;sunset;sunrise;warm;screen;display;valgus;öö;päev;öövalgus;sinine;värvid;toonid;päikesetõus;päikeseloojang;loojang;soe;silmad;tervis;ekraan;monitor;kuvar;punanihe;
Keywords[kk]=night;light;blue;redshift;color;sunset;sunrise;warm;screen;display;түн;жарық;көк;қызыл ауысу;түс;күн батуы;күн шығуы;жылы;экран;дисплей;
Keywords[nl]=nacht;licht;blauw;roodverschuiving;kleur;zonsondergang;zonsopgang;warm;scherm;display;
Keywords[oc]=nuèch;nuèit;lum;blava;redshift;color;alba;colc;ecran;afichatge;
Keywords[pl]=noc;światło;niebieski;przesunięcie ku czerwieni;kolor;zachód słońca;wschód słońca;ciepły;ekran;wyświetlacz;
Keywords[zh_TW]=night;light;blue;redshift;color;sunset;sunrise;warm;screen;display;夜晚;淺色;藍色;紅移;顏色;日落;日出;暖光;螢幕;顯示器
Keywords=night;light;blue;redshift;color;sunset;sunrise;warm;screen;display;

