[Desktop Entry]
Name=Budgie Desktop Settings
Name[af]=Budgie Desktop Instellings
Name[ar]=إعدادات واجهة Budgie
Name[bg]=Budgie Настройки на работния плот
Name[bg_BG]=Budgie Настройки на работния плот
Name[bn]=Budgie ডেস্কটপ সেটিংস
Name[ca]=Paràmetres de l'escriptori Budgie
Name[cs]=Nastavení plochy Budgie
Name[da]=Budgie-skrivebordsindstillinger
Name[de]=Budgie Desktop Einstellungen
Name[de_CH]=Budgie Desktop Einstellungen
Name[el_GR]=Ρυθμίσεις περιβάλλοντος εργασίας Budgie
Name[en_AU]=Budgie Desktop Settings
Name[en_GB]=Budgie Desktop Settings
Name[en_US]=Budgie Desktop Settings
Name[eo]=Agordoj de la labortablo "Budgie"
Name[es]=Ajustes del escritorio Budgie
Name[es_419]=Configuraciónes del Escritorio Budgie
Name[es_AR]=Ajustes de Budgie
Name[es_CL]=Ajustes del escritorio Budgie
Name[es_MX]=Configuraciónes del Escritorio Budgie
Name[es_PE]=Configuraciónes del Escritorio Budgie
Name[es_US]=Configuración del Escritorio Budgie
Name[et]=Budgie töölaua seadistused
Name[eu]=Budgie Mahaigainaren Ezarpenak
Name[fi]=Budgie-työpöydän asetukset
Name[fr]=Paramètres du Bureau Budgie
Name[fr_BE]=Paramètres du Bureau Budgie
Name[fr_FR]=Paramètres du Bureau Budgie
Name[ga]=Socruithe Deasc Budgie
Name[he]=הגדרות סביבת שולחן העבודה Budgie
Name[hr]=Postavke Budgie radne površine
Name[hu]=Budgie Desktop beállítása
Name[id]=Pengaturan Desktop Budgie
Name[it]=Impostazioni Budgie Desktop
Name[ja]=Budgie デスクトップの設定
Name[ka]=„Budgie Desktop“-ის მორგება
Name[kab]=Iɣewwaṛen n tnarit Budgie
Name[kk]=Budgie жұмыс үстелінің баптаулары
Name[ko]=Budgie 데스크톱 설정
Name[lt]=Budgie darbalaukio nustatymai
Name[lv]=Budgie darbvirsmas iestatījumi
Name[ms_MY]=Tetapan Desktop Budgie
Name[ne]=बज्जी डेस्कटप सेटिङ्गहरु
Name[nl]=Instellingen van Budgie Desktop
Name[nl_BE]=Budgie Bureaublad Instellingen
Name[nn]=Budgie-skrivebordsinstillingar
Name[no]=Budgie Desktop-inntillinger
Name[oc]=Paramètres del burèu Budgie
Name[pa]=ਬੱਜੀ ਡੈਸਕਟਾਪ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia Pulpitu Budgie
Name[pt]=Definições do Budgie
Name[pt_BR]=Configurações do Budgie Desktop
Name[ro]=Setări desktop Budgie
Name[ru]=Настройки рабочего стола Budgie
Name[sk]=Nastavenia desktopu Budgie
Name[sl]=Nastavite Budgie namizja
Name[sq]=Cilësimet e Desktopit Budgie
Name[sr@Cyrl]=Подешавање Budgie радне површине
Name[sr_RS]=Подешавање Budgie радне површине
Name[sr_RS@latin]=Подешавање Budgie радне површине
Name[sv]=Skrivbordsinställningar för Budgie
Name[tr]=Budgie Masaüstü Ayarları
Name[uk]=Налаштування середовища Budgie
Name[vi]=Cài đặt Desktop Budgie
Name[vi_VN]=Cài đặt Desktop Budgie
Name[zh]=Budgie桌面设置
Name[zh_HK]=Budgie 桌面設定
Name[zh_TW]=Budgie 桌面設定
Comment=Change desktop appearance and behavior
Comment[af]=Verander die voorkoms en gedrag van die werkskerm
Comment[ar]=تغيير مظهر و تصرف سطح المكتب
Comment[bg]=Промяна на външния вид и поведението на работния плот
Comment[bg_BG]=Промяна на външния вид и поведението на работния плот
Comment[bn]=ডেস্কটপের চেহারা ও আচরণ পরিবর্তন করুন
Comment[ca]=Canvieu l'aparença i el comportament de l'escriptori.
Comment[cs]=Přizpůsobit vzhled a chování plochy
Comment[da]=Skift skrivebordsudseende og -opførsel
Comment[de]=Aussehen und Verhalten des Desktops anpassen
Comment[de_CH]=Aussehen und Verhalten des Desktops anpassen
Comment[el_GR]=Αλλάξτε την εμφάνιση και συμπεριφορά της επιφάνειας εργασίας
Comment[en_AU]=Change desktop appearance and behavior
Comment[en_GB]=Change desktop appearance and behaviour
Comment[en_US]=Change desktop appearance and behavior
Comment[es]=Cambiar apariencia y comportamiento del escritorio
Comment[es_419]=Cambiar la apariencia del escritorio y comportamiento
Comment[es_AR]=Cambiar la apariencia del escritorio y comportamiento
Comment[es_CL]=Cambia la apariencia y comportamiento del escritorio
Comment[es_MX]=Cambiar la apariencia del escritorio y comportamiento
Comment[es_PE]=Cambiar la apariencia del escritorio y comportamiento
Comment[es_US]=Cambiar la apariencia y el comportamiento del escritorio
Comment[et]=Muuda töölaua välimust ja käitumist
Comment[fi]=Muuta työpöydän ulkoasua ja käytöstä
Comment[fr]=Modifier l'apparence et le comportement du bureau
Comment[fr_BE]=Modifier l'apparence et le comportement du bureau
Comment[fr_FR]=Modifier l'apparence et le comportement du bureau
Comment[ga]=Athraigh cuma agus iompraíocht na deisce
Comment[he]=שנה מראה והתנהגות שולחן העבודה
Comment[hr]=Promjeni izgled i ponašanje radne površine
Comment[hu]=Az asztali megjelenés és a viselkedés megváltoztatása
Comment[id]=Ubah penampilan dan perilaku desktop
Comment[it]=Cambia aspetto e comportamento del desktop
Comment[ja]=デスクトップの外観と振る舞いを変更
Comment[ka]=სამუშაო მაგიდის გარეგნობისა და ქცევის შეცვლა
Comment[kab]=Snifel arwes n tnarit akked Tiddin
Comment[kk]=Жұмыс үстелінің сыртқы түрі мен мінез-құлқын өзгерту
Comment[ko]=데스크톱 모양새와 행동방식 변경
Comment[lt]=Keisti darbalaukio išvaizdą ir elgseną
Comment[ms_MY]=Ubah penampilan dan kelakuan atas meja
Comment[nl]=Uiterlijk en gedrag van het bureaublad aanpassen
Comment[nl_BE]=Wijzig uiterlijk en gedrag van het bureaublad
Comment[no]=Endre skrivebordsadferd og utforming
Comment[oc]=Modificar l’aparéncia e lo compòrtament del burèu
Comment[pa]=ਡੈਸਕਟੌਪ ਦੀ ਦਿੱਖ ਅਤੇ ਵਿਵਹਾਰ ਬਦਲੋ
Comment[pl]=Zmień wygląd i zachowanie pulpitu
Comment[pt]=Mudar a aparência e comportamento do ambiente de trabalho
Comment[pt_BR]=Alterar a aparência e o comportamento da área de trabalho
Comment[ro]=Modificați aspectul și comportamentul desktopului
Comment[ru]=Изменить внешний вид и поведение рабочего стола
Comment[sk]=Zmeniť vzhľad a správnaie pracovnej plochy 
Comment[sl]=Spremeni videz in vedenje namizja
Comment[sq]=Ndryshoni pamjen dhe sjelljen e desktopit
Comment[sr@Cyrl]=Мења изглед и понашање радне површине
Comment[sr_RS]=Мења изглед и понашање радне површине
Comment[sr_RS@latin]=Мења изглед и понашање радне површине
Comment[sv]=Ändra skrivbordets utseende och beteende
Comment[tr]=Masaüstü görünümünü ve davranışını değiştir
Comment[uk]=Змінити зовнішній вигляд та поведінку стільниці
Comment[zh]=更改桌面外观和行为
Comment[zh_HK]=更改桌面外觀和行為
Comment[zh_TW]=更改桌面外觀和行為
Icon=preferences-desktop
Exec=budgie-desktop-settings
TryExec=budgie-desktop-settings
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
OnlyShowIn=Budgie;
StartupWMClass=budgie-desktop-settings
Keywords=Preferences;Settings;
