[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Corrida
Comment=Application for archivation of meteor observations
GenericName=Corrida
Exec=corrida %f
Icon=corrida
Categories=Astronomy;Education;
Terminal=false
X-Desktop-File-Install-Version=0.28
