[Desktop Entry]
Type=Application
Name=Budgie Screenshot
Name[ar]=تطبيق Budgie لإلتقاط الشاشة
Name[ca]=Captura de pantalla del Budgie
Name[da]=Budgie skærmbillede
Name[de]=Budgie Screenshot
Name[de_CH]=Budgie Screenshot
Name[el_GR]=Στιγμιότυπο Οθόνης Budgie
Name[en_AU]=Budgie Screenshot
Name[en_GB]=Budgie Screenshot
Name[en_US]=Budgie Screenshot
Name[es]=Captura de pantalla de Budgie
Name[es_419]=Captura de pantalla de Budgie
Name[es_AR]=Captura de pantalla de Budgie
Name[es_CL]=Captura de pantalla de Budgie
Name[es_MX]=Captura de pantalla de Budgie
Name[es_PE]=Captura de pantalla de Budgie
Name[et]=Budgie kuvatõmmis
Name[fi]=Budgie Kuvankaappaus
Name[fr]=Capture d'écran Budgie
Name[fr_BE]=Capture d'écran Budgie
Name[fr_FR]=Capture d'écran Budgie
Name[it]=Istantanea di Budgie
Name[ja]=Budgie スクリーンショット
Name[ka]=Budgie-ის ეკრანის ანაბეჭდი
Name[kab]=Tuṭṭfa n ugdil Budgie
Name[kk]=Budgie скриншоты
Name[ko]=Budgie 스크린숏
Name[lt]=Budgie ekrano kopija
Name[nl]=Budgie Schermopname
Name[nl_BE]=Budgie Screenshot
Name[oc]=Captura d’ecran Budgie
Name[pl]=Zrzut ekranu Budgie
Name[pt]=Captura de ecrã Budgie
Name[pt_BR]=Captura de tela Budgie
Name[ru]=Снимок экрана Budgie
Name[sk]=Snímka obrazovky
Name[tr]=Budgie Ekran Görüntüsü
Name[zh]=Budgie 截图
Name[zh_HK]=Budgie 截圖
Name[zh_TW]=Budgie 截圖
Comment=Budgie screenshot app
Comment[ar]=تطبيق Budgie لإلتقاط الشاشة
Comment[ca]=Aplicació de captura de pantalla del Budgie
Comment[da]=Budgie skærmbillede app
Comment[de]=Budgie Screenshot Anwendung
Comment[de_CH]=Budgie Screenshot Anwendung
Comment[el_GR]=Εφαρμογή καταγραφής οθόνης Budgie
Comment[en_AU]=Budgie screenshot app
Comment[en_GB]=Budgie screenshot app
Comment[en_US]=Budgie screenshot app
Comment[es]=Captura de pantalla de Budgie
Comment[es_419]=Captura de pantalla de Budgie
Comment[es_AR]=Captura de pantalla de Budgie
Comment[es_CL]=Captura de pantalla de Budgie
Comment[es_MX]=Captura de pantalla de Budgie
Comment[es_PE]=Captura de pantalla de Budgie
Comment[et]=Budgie kuvatõmmise rakendus
Comment[fi]=Budgie-kuvankaappausohjelma
Comment[fr]=Application de capture d'écran de Budgie
Comment[fr_BE]=Application de capture d'écran de Budgie
Comment[fr_FR]=Application de capture d'écran de Budgie
Comment[it]=Cattura schermo di Budgie
Comment[ja]=Budgie 用の画面撮影アプリ
Comment[kab]=Asnas n tuṭṭfiwin n ugdil Budgie
Comment[kk]=Budgie скриншот қолданбасы
Comment[ko]=Budgie 스크린숏 앱
Comment[nl]=Budgie Schermopname app
Comment[nl_BE]=Budgie screenshot app
Comment[oc]=Aplicacion de captura d’ecran Budgie
Comment[pl]=Aplikacja Budgie do zrzutów ekranu
Comment[pt]=Aplicação de captura de ecrã Budgie
Comment[pt_BR]=Aplicativo de captura de tela Budgie
Comment[ru]=Снимок экрана Budgie
Comment[sk]=Nástroj na snímku obrazovky
Comment[tr]=Budgie ekran görüntüsü uygulaması
Comment[zh]=Budgie 截图程序
Comment[zh_HK]=Budgie 截圖程式
Comment[zh_TW]=Budgie 截圖程式
Exec=org.buddiesofbudgie.BudgieScreenshot -i
Icon=org.buddiesofbudgie.BudgieScreenshot
Categories=Utility;
Keywords=Screenshot;Snip;
StartupWMClass=org.buddiesofbudgie.BudgieScreenshot
OnlyShowIn=Budgie
