[Desktop Entry]
Version=1.0
Type=Application
Name[ar]=أيجي سب
Name[be]=Aegisub
Name[bg]=Aegisub
Name[ca]=Aegisub
Name[cs]=Aegisub
Name[da]=Aegisub
Name[de]=Aegisub
Name[el]=Aegisub
Name[es]=Aegisub
Name[eu]=Aegisub
Name[fa]=Aegisub   
Name[fi]=Aegisub
Name[fr_FR]=Aegisub
Name[gl]=Aegisub
Name[hu]=Aegisub
Name[id]=Aegisub
Name[it]=Aegisub
Name[ja]=Aegisub
Name[ko]=Aegisub
Name[nl]=Aegisub
Name[pl]=Aegisub
Name[pt_BR]=Aegisub
Name[pt_PT]=Aegisub
Name[ru]=Aegisub
Name[sr_RS@latin]=Idžisab
Name[sr_RS]=Иџисаб
Name[tr]=Aegisub
Name[uk_UA]=Aegisub
Name[vi]=Aegisub
Name[zh_CN]=Aegisub
Name[zh_TW]=Aegisub
Name=Aegisub
GenericName[ar]=محرر ترجمة
GenericName[be]=Рэдактар субтытраў
GenericName[bg]=Редактор на субтитри
GenericName[ca]=Editor de subtítols
GenericName[cs]=Editor titulků
GenericName[de]=Untertitel-Editor
GenericName[el]=Επεξεργαστής Υπότιτλων
GenericName[es]=Editor de subtítulos
GenericName[eu]=Azpidatzi Editatzailea
GenericName[fi]=Tekstityseditori
GenericName[fr_FR]=Éditeur de sous-titres
GenericName[gl]=Editor de subtítulos
GenericName[hu]=Feliratszerkesztő
GenericName[id]=Penyunting Takarir
GenericName[it]=Editor Sottotitoli
GenericName[nl]=Ondertitel-editor
GenericName[pt_BR]=Editor de Legendas
GenericName[pt_PT]=Editor de Estilos
GenericName[ru]=Редактор субтитров
GenericName[sr_RS@latin]=Uređivač titlova
GenericName[sr_RS]=Уређивач титлова
GenericName[tr]=Altyazı Düzenleyici
GenericName[uk_UA]=Редактор субтитрів
GenericName[vi]=Trình biên tập phụ đề
GenericName[zh_CN]=字幕编辑器
GenericName[zh_TW]=字幕編輯器
GenericName=Subtitle Editor
Comment[ar]=إنشاء وتحرير الترجمات للأفلام والفيديوهات.
Comment[be]=Стварыць і рэдагаваць субтытры для фільмаў і відэа.
Comment[bg]=Създай и редактирай субтитри за видео.
Comment[ca]=Creeu i editeu subtítols per a pel·lícules i vídeos.
Comment[cs]=Tvorba a úprava titulků pro filmy.
Comment[de]=Erzeugt und bearbeitet Untertitel für Filme und Videos.
Comment[el]=Δημιουργία κι επεξεργασία υπότιτλων για ταινίες και βίντεο.
Comment[es]=Crea y edita subtítulos para películas y videos.
Comment[eu]=Sortu eta editatu azpidatziak filmentzat eta bideoentzat.
Comment[fi]=Luo ja muokkaa elokuvien ja videoiden tekstityksiä.
Comment[fr_FR]=Crée et modifie des sous-titres pour contenu vidéo.
Comment[gl]=Crear e editar subtítulos para películas e vídeos.
Comment[hu]=Feliratok készítése filmekhez és videókhoz.
Comment[id]=Buat dan sunting takarir untuk film dan video.
Comment[it]=Crea e modifica sottotitoli da film e video.
Comment[nl]=Ondertitels voor films en video's aanmaken en bewerken.
Comment[pt_BR]=Cria e modifica legendas para filmes e vídeos.
Comment[pt_PT]=Criar e editar legendas para filmes e vídeos.
Comment[ru]=Создание и редактирование субтитров для видео.
Comment[sr_RS@latin]=Pravite i uređujte titlove za filmove i video-snimke.
Comment[sr_RS]=Правите и уређујте титлове за филмове и видео-снимке.
Comment[tr]=Film ve videolar için altyazı oluştur ve düzenle.
Comment[uk_UA]=Створюйте і редагуйте субтитри для фільмів та відео.
Comment[vi]=Tạo và biên tập phụ đề cho phim và video
Comment[zh_CN]=为电影和视频创建和编辑字幕。
Comment[zh_TW]=為電影和視訊建立和編輯字幕。
Comment=Create and edit subtitles for film and videos.
Exec=aegisub %f
TryExec=aegisub
Icon=org.aegisub.Aegisub
Terminal=false
Categories=AudioVideo;AudioVideoEditing;GTK;
Keywords=subtitles;subtitle;captions;captioning;video;audio;
MimeType=application/x-srt;text/plain;text/x-ass;text/x-microdvd;text/x-ssa;
StartupNotify=true
StartupWMClass=aegisub
