[Desktop Entry]
Name=Panel
Name[ar]=اللوحة
Name[cs]=Panel
Name[de]=Panel
Name[el]=Γραμμή συστήματος
Name[en]=Panel
Name[es]=Barra
Name[fi]=Paneeli
Name[fr]=Panneau
Name[ga]=Painéal
Name[gl]=Panel
Name[hu]=Panel
Name[id]=Panel
Name[it]=Pannello
Name[kab]=Agalis
Name[kk]=Панель
Name[kmr]=Destgeh
Name[ko]=패널
Name[lt]=Skydelis
Name[nl]=Panel
Name[pa]=ਪੈਨਲ
Name[pl]=Panel
Name[pt]=Panel
Name[pt_BR]=Painel
Name[ru]=Панель
Name[sk]=Panel
Name[sr]=Површ
Name[sv]=Panel
Name[tr]=Panel
Name[uk]=Панель
Name[zh_CN]=面板
Name[zh_TW]=面板
Comment=Primary system bar for menus and applets.
Comment[ar]=شريط النظام الأساسي للقوائم والبريمجات
Comment[cs]=Hlavní systémová lišta pro nabídky a applety
Comment[de]=Primäre Systemleiste für Menüs und Applets
Comment[el]=Η κύρια γραμμή του συστήματος για μενού και μικροεφαρμογές
Comment[en]=Primary system bar for menus and applets
Comment[es]=Barra principal del sistema para menús y applets
Comment[fi]=Ensisijainen järjestelmäpalkki valikoille ja sovelmille
Comment[fr]=Barre système principale pour les menus et les applets
Comment[ga]=Barra córais phríomhúil le haghaidh biachláir agus feidhmchláiríní
Comment[gl]=Barra principal do sistema para menús e miniaplicativos
Comment[hu]=Fő rendszersáv menükhöz és kisalkalmazásokhoz
Comment[id]=Bilah sistem primer untuk menu dan applet
Comment[it]=Barra di sistema principale per il menù e le applet
Comment[kab]=Afeggag n unagraw agejdan i wumuɣen akked teplaḍin
Comment[kk]=Мәзірлер мен апплеттерге арналған негізгі жүйелік панель
Comment[kmr]=Benda pergalê sereke ya ji bo menu û sepanokan
Comment[lt]=Pagrindinė sistemos meniu ir apletų juosta
Comment[nl]=De standaard systeembalk voor menu's en applets
Comment[pa]=ਮੇਨੂ ਅਤੇ ਐਪਲਿਟਾਂ ਲਈ ਮੁੱਢਲੀ ਸਿਸਟਮ ਪੱਟੀ
Comment[pl]=Podstawowy panel z menu i apletami
Comment[pt]=Barra superior com controles e menus
Comment[pt_BR]=Barra de sistema primária para menus e miniaplicativos
Comment[ru]=Основная системная панель для меню и апплетов
Comment[sk]=Hlavný systémový panel pre menu a applety
Comment[sr]=Примарна системска трака за изборнике и програмчиће
Comment[sv]=Primärt systemfält för menyer och miniprogram
Comment[tr]=Menüler ve eklentiler için birincil sistem çubuğu
Comment[uk]=Головна панель з елементами керування та віджетами
Comment[zh_CN]=主系统栏，用于菜单和小部件
Comment[zh_TW]=用於選單和小程式的主要系統列
Type=Application
Exec=cosmic-settings panel
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Panel;Applet
Keywords[ar]=COSMIC;لوحة;بريمج
Keywords[cs]=COSMIC;Panel;Applet;
Keywords[de]=COSMIC;Panel;Applet
Keywords[el]=Μικροεφαρμογή;Γραμμή;Συστήματος;COSMIC;Panel;Applet
Keywords[en]=COSMIC;Panel;Applet
Keywords[fi]=COSMIC;Panel;Applet;paneeli;sovelma
Keywords[fr]=COSMIC;Panneau;Applet
Keywords[ga]=COSMIC;Painéal;Feidhmchláirín
Keywords[gl]=COSMIC;Panel;Miniaplicativo
Keywords[hu]=COSMIC;Panel;Kisalkalmazás;
Keywords[id]=COSMIC;Panel;Applet
Keywords[kab]=COSMIC;Agalis;Tappleṭ
Keywords[kk]=COSMIC;Панель;Апплет
Keywords[kmr]=COSMIC;Destgeh;Sepanok
Keywords[ko]=COSMIC;패널;애플릿
Keywords[lt]=COSMIC;Skydelis;Apletas
Keywords[pa]=COSMIC;ਪੈਨਲ;ਐਪਲਿਟ
Keywords[pl]=COSMIC;Panel;Aplet
Keywords[pt_BR]=COSMIC;Painel;Applet;Miniaplicativo
Keywords[ru]=COSMIC;Панель;Апплет
Keywords[sr]=COSMIC;Panel;Applet;Космик;површ;програмчић;Kosmik;površ;programčić
Keywords[sv]=COSMIC;Panel;Applet;Miniprogram
Keywords[tr]=COSMIC;Panel;Eklenti
Keywords[uk]=COSMIC;Панель;Віджет;КОСМІК;КОСМОС;КОСМІЧНЕ
Keywords[zh_CN]=COSMIC;面板;小部件
Keywords[zh_TW]=COSMIC;面板;小程式
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-panel
StartupNotify=true
