[Desktop Entry]
Name=COSMIC System Monitor
Name[ar]=مرقاب نظام COSMIC
Name[cs]=Sledování systému COSMIC
Name[da]=COSMIC-systemovervågning
Name[de]=COSMIC Systemmonitor
Name[el]=Εποπτεία συστήματος COSMIC
Name[en]=COSMIC System Monitor
Name[fi]=COSMICin järjestelmän valvonta
Name[fr]=Moniteur système COSMIC
Name[ga]=Monatóir Córais COSMIC
Name[gl]=Vixilante do Sistema de COSMIC
Name[hu]=COSMIC Rendszerfigyelő
Name[id]=Monitor Sistem COSMIC
Name[kk]=COSMIC жүйелік бақылаушысы
Name[kmr]=Çavdêrê pergalê COSMIC
Name[lt]=Išvaizda
Name[nl]=COSMIC Systeemmonitor
Name[pa]=COSMIC ਸਿਸਟਮ ਨਿਗਰਾਨ
Name[pl]=Monitor Systemu COSMIC
Name[pt_BR]=Monitor do sistema
Name[ru]=Системный монитор
Name[sv]=COSMIC Systemövervakare
Name[uk]=Системний монітор COSMIC
Name[zh_Hans]=COSMIC 系统监测器
Name[zh_Hant]=COSMIC 系統監視器
Comment=System monitor for the COSMIC desktop
Comment[ar]=مرقاب نظام لسطح مكتب COSMIC
Comment[cs]=Sledování systému pro prostředí COSMIC
Comment[da]=Systemovervågning til COSMIC-skrivebordet
Comment[de]=Systemmonitor für den COSMIC Desktop
Comment[el]=Πρόγραμμα εποπτείας συστήματος για το περιβάλλον επιφάνειας εργασίας COSMIC
Comment[en]=System monitor for the COSMIC desktop
Comment[fi]=Järjestelmän valvonta COSMIC-työpöydälle
Comment[fr]=Moniteur système pour le bureau COSMIC
Comment[ga]=Monatóir córais don deasc COSMIC
Comment[gl]=Vixilante do sistema para o escritorio COSMIC
Comment[hu]=Rendszerfigyelő a COSMIC asztali környezethez
Comment[id]=Monitor sistem untuk desktop COSMIC
Comment[kk]=COSMIC жұмыс үстеліне арналған жүйе мониторы
Comment[kmr]=Çavdêrê pergalê ji bo sermaseya COSMIC
Comment[lt]=Sistemos monitorius COSMIC aplinkai
Comment[nl]=Systeemmonitor voor COSMIC
Comment[pa]=COSMIC ਡੈਸਕਟਾਪ ਲਈ ਸਿਸਟਮ ਨਿਗਰਾਨ
Comment[pl]=Monitor Systemu dla środowiska COSMIC
Comment[pt_BR]=Monitor do sistema do ambiente COSMIC
Comment[ru]=Системный монитор для среды COSMIC
Comment[sv]=Systemövervakare för skrivbordsmiljön COSMIC
Comment[uk]=Системний монітор для COSMIC
Comment[zh_Hans]=COSMIC 桌面的系统监视器
Comment[zh_Hant]=COSMIC 桌面的系統監視器
Exec=cosmic-monitor
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicMonitor
Categories=COSMIC;System;Monitor;
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[ar]=المراقبة;النظام;العملية;معالج;الذاكرة;الشبكة;السجل;الاستخدام;
Keywords[cs]=Sledovat;Monitorovat;Systém;Správce;Úloha;Proces;CPU;Procesor;GPU;Grafika;RAM;Paměť;Disk;Síť;Historie;Využití;Zdroje;Prostředky;Výkon;
Keywords[da]=Overvågning;System;Proces;CPU;Hukommelse;Netværk;Historik;Forbrug;
Keywords[de]=Monitor;System;Prozess;CPU;Speicher;Netzwerk;Verlauf;Auslastung;
Keywords[el]=Εποπτεία;Παρακολούθηση;Σύστημα;Διεργασία;Μνήμη;Δίκτυο;Ιστορικό;Χρήση;Πόροι;Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[en]=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[fi]=Monitor;System;Process;CPU;Memory;Network;History;Usage;järjestelmä;prosessi;suoritin;muisti;verkko;historia;käyttö;
Keywords[fr]=Surveillance ;Système ;Processus ;Processeur ;Mémoire ;Réseau ;Historique ;Utilisation ;
Keywords[ga]=Monatóir;Córas;Próiseas;LAP;Cuimhne;Líonra;Stair;Úsáid;
Keywords[gl]=Monitor; Sistema; Proceso; CPU; Memoria; Rede; Historial; Uso;
Keywords[hu]=Figyelő;Rendszer;Folyamat;CPU;Memória;Hálózat;Előzmények;Használat;
Keywords[id]=Monitor;Sistem;Proses;CPU;Memori;Jaringan;Riwayat;Penggunaan;
Keywords[kk]=Монитор;Жүйе;Процесс;CPU;Жады;Желі;Тарих;Пайдалану;
Keywords[kmr]=Çavdêrî;Pergal;Pêvajo;YKN;Bîrdank;Tor;Dîrok; Bikaranîn;
Keywords[lt]=Monitorius;Sistema;Procesas;CPU;Atmintis;Tinklas;Istorija;Naudojimas;
Keywords[nl]=Systeemmonitor;Systeem;Monitor;Taakbeheer;Proces;Processor;CPU;Geheugen;Werkgeheugen;Netwerk;Geschiedenis;Gebruik;
Keywords[pa]=ਨਿਗਰਾਨ;ਸਿਸਟਮ;ਪ੍ਰੋਸੈਸ;ਪਰੋਸੈਸ;CPU;ਮੈਮੋਰੀ;ਨੈੱਟਵਰਕ;ਅਤੀਤ;ਵਰਤੋਂ;
Keywords[pl]=Monitor;Systemu;Procesy;CPU;Memory;Pamięć;Network;Sieć;Historia;Użycie;
Keywords[pt_BR]=Monitor;Sistema;Processo;CPU;Memória;Rede;Histórico;Uso;
Keywords[ru]=Монитор;Системный;Процесс;ЦП;Память;Сеть;История;Использование;Диспетчер;Задач;
Keywords[sv]=Övervakare;System;Process;Processor;Minne;Nätverk;Historik;Användning;Monitor;
Keywords[uk]=Monitor;System;Process;CPU;Memory;Network;Usage;Монітор;Система;Процес;ЦП;Пам’ять;Мережа;Історія;Використання;
Keywords[zh_Hans]=监测;系统;进程;CPU;内存;网络;历史;使用率;
Keywords[zh_Hant]=Monitor;System;Process;CPU;Memory;Network;History;Usage;監控;系統;程序;CPU;記憶體;網路;歷史紀錄;使用狀況;
