[Desktop Entry]
Categories=GNOME;GTK;Development;
Exec=d-spy
Icon=org.gnome.dspy
Name[az]=D-Spy
Name[be]=D-Spy
Name[bg]=D-Spy
Name[ca]=D-Spy
Name[cs]=D-Spy
Name[da]=D-Spy
Name[de]=D-Spy
Name[el]=D-Spy
Name[en_GB]=D-Spy
Name[eo]=D-Spiono
Name[es]=D-Spy
Name[eu]=D-Spy
Name[fa]=دی-اسپای
Name[fi]=D-Spy
Name[fr]=D-Spy
Name[fur]=D-Spy
Name[gl]=D-Spy
Name[he]=D-Spy
Name[hi]=D-Spy
Name[hu]=D-kém
Name[ia]=D-Spy
Name[id]=D-Spy
Name[it]=D-Spy
Name[ka]=D-Spy
Name[kab]=D-Spy
Name[kk]=D-Spy
Name[ko]=디-스파이
Name[kw]=D-Aspier
Name[lt]=D-Spy
Name[lv]=D-Spy
Name[nb]=D-Spy
Name[ne]=डि-स्पाई
Name[nl]=D-Spy
Name[oc]=D-Spy
Name[pl]=D-Spy
Name[pt]=D-Spy
Name[pt_BR]=D-Spy
Name[ro]=D-Spy
Name[ru]=D-Spy
Name[sk]=D-špión
Name[sl]=D-Spy
Name[sr]=Д-Шпијун
Name[sr@latin]=D-Špijun
Name[sv]=D-Spy
Name[tr]=D-Spy
Name[ug]=D-Spy
Name[uk]=D-Spy
Name[uz]=D-Spy
Name[zh_CN]=D-Spy
Name[zh_TW]=D-Spy
Name=D-Spy
Comment[az]=D-Bus xidmətlərini kəşf et və araşdır
Comment[be]=Даследаванне і агляд сэрвісаў D-Bus
Comment[bg]=Открийте и разгледайте услугите по D-Bus
Comment[ca]=Descobriu i exploreu els serveis de D-Bus
Comment[cs]=Objevujte a prozkoumávejte služby D-Bus
Comment[da]=Find og udforsk D-Bus-tjenester
Comment[de]=D-Bus-Dienste entdecken und erkunden
Comment[el]=Ανακαλύψτε και εξερευνήστε τις υπηρεσίες D-Bus
Comment[en_GB]=Discover and explore D-Bus services
Comment[eo]=Malkovri kaj esplori D-Bus-servojn
Comment[es]=Descubrir y explorar servicios de D-Bus
Comment[eu]=Aurkitu eta arakatu D-Bus zerbitzuak
Comment[fa]=کشف و مرور خدمات D-Bus
Comment[fi]=Löydä ja selaa D-Bus-palveluja
Comment[fr]=Découvrir et explorer des services D-Bus
Comment[fur]=Scuvierç e esplore i servizis D-Bus
Comment[gl]=Descubra e explore servizos de D-Bus
Comment[he]=גילוי וחקירת שירותי D-Bus
Comment[hi]=डी-बस सेवाओं की खोज और अन्वेषण करें
Comment[hu]=D-busz szolgáltatások felfedezése és vizsgálata
Comment[ia]=Discoperi e explora le servicios D-Bus
Comment[id]=Menemukan dan mengeksplorasi layanan D-Bus
Comment[it]=Scopri ed esplora i servizi D-Bus
Comment[ka]=აღმოაჩინეთ და დაათვალიერეთ D-Bus-ის სერვისები
Comment[kab]=Snirem imeẓla D-Bus
Comment[kk]=D-Bus сервистерін табу және зерттеу
Comment[ko]=D-Bus 서비스를 찾고 탐색합니다
Comment[kw]=Trovya ha furya gonisyow D-Bus
Comment[lt]=Aptikite ir tirkite D-Bus tarnybas
Comment[lv]=Atklāj un izpēti D-Bus pakalpojumus
Comment[nb]=Oppdag og utforsk D-Bus-tjenester
Comment[ne]=डी-बस सेवाहरू पत्ता लगाउनुहोस् र अन्वेषण गर्नुहोस्
Comment[nl]=Ontdek en verken D-Bus-diensten
Comment[oc]=Descobrir e explorar los servicis D-Bus
Comment[pl]=Okrywanie i badanie usług D-Bus
Comment[pt]=Descubra e explore os serviços D-Bus
Comment[pt_BR]=Descubra e explore serviços D-Bus
Comment[ro]=Descoperă și explorează servicii D-Bus
Comment[ru]=Навигация и изучение служб D-Bus
Comment[sk]=Objavuje a skúma služby zbernice D-Bus
Comment[sl]=Odkrivanje in raziskovanje storitev vodila D-Bus
Comment[sr]=Истражи и откриј сервисе на Д-магистрали
Comment[sr@latin]=Istraži i otkrij servise na D-magistrali
Comment[sv]=Upptäck och utforska D-Bus-tjänster
Comment[tr]=D-Bus hizmetlerini keşfet ve gez
Comment[ug]=D-Bus مۇلازىمىتىنى بايقاش ۋە ئىزدىنىش
Comment[uk]=Навігація і вивчення служб D-Bus
Comment[uz]=D-Bus xizmatlarini ko'ring va o'rganing
Comment[zh_CN]=发现和浏览 D-Bus 服务
Comment[zh_TW]=探索與檢視 D-Bus 服務
Comment=Discover and explore D-Bus services
Keywords[az]=dspy;dbus;
Keywords[be]=dspy;dbus;
Keywords[bg]=дбъс;дбус;dspy;dbus;
Keywords[ca]=dspy;dbus;
Keywords[cs]=dspy;dbus;
Keywords[da]=dspy;dbus;
Keywords[de]=dspy;dbus;D-Bus;
Keywords[el]=dspy;dbus;
Keywords[en_GB]=dspy;dbus;
Keywords[eo]=dspy;dbus;
Keywords[es]=dspy;dbus;
Keywords[eu]=dspy;dbus;
Keywords[fa]=dspy;dbus;دی‌باس;دی-اسپای;
Keywords[fi]=dspy;dbus;
Keywords[fr]=dspy;dbus;
Keywords[fur]=dspy;dbus;
Keywords[gl]=dspy;dbus;
Keywords[he]=dspy;dbus;חוקר אפיק;חוקר אפיק מערכת;דיבאס;
Keywords[hi]=dspy;dbus;
Keywords[hu]=dspy;dbus;
Keywords[ia]=dspy;dbus;
Keywords[id]=dspy;dbus;
Keywords[it]=dspy;dbus;
Keywords[ka]=dspy;dbus;
Keywords[kab]=dspy;dbus;
Keywords[kk]=dspy;dbus;
Keywords[ko]=dspy;디스파이;dbus;디;버스;디버스;스파이;
Keywords[kw]=dspy;dbus;
Keywords[lt]=dspy;dbus;
Keywords[lv]=dspy;dbus;
Keywords[nb]=dspy;dbus;
Keywords[ne]=dspy;dbus;
Keywords[nl]=dspy;dbus;
Keywords[oc]=dspy;dbus;
Keywords[pl]=dspy;dbus;
Keywords[pt]=dspy;dbus;
Keywords[pt_BR]=dspy;dbus;
Keywords[ro]=dspy;dbus;
Keywords[ru]=dspy;dbus;
Keywords[sk]=dšpión;dšpion;dspion;
Keywords[sl]=dspy;dbus;vodila;vodilo;
Keywords[sr]=dspy;dbus;дшпијун;дмагистрала;dšpijun;dmagistrala;
Keywords[sr@latin]=dspy;dbus;dšpijun;dmagistrala;dšpijun;dmagistrala;
Keywords[sv]=dspy;dbus;
Keywords[tr]=dspy;dbus;veriyolu;veri yolu;veri;yolu;
Keywords[ug]=dspy;dbus;باغلا؛ئېغىز؛ئاساسىي لىنىيە؛
Keywords[uk]=dspy;dbus;
Keywords[uz]=dspy;dbus;
Keywords[zh_CN]=dspy;dbus;连接;接口;总线;
Keywords[zh_TW]=dspy;dbus;
Keywords=dspy;dbus;
DBusActivatable=true
StartupNotify=true
Terminal=false
Type=Application
X-Flatpak-RenamedFrom=d-spy
Actions=new-window;

[Desktop Action new-window]
Exec=d-spy --new-window
Name[az]=Yeni Pəncərə
Name[be]=Новае акно
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[ka]=ახალი ფანჯარა
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[kw]=Fenester Nowydh
Name[lt]=Naujas langas
Name[ne]=नयाँ सञ्झ्याल
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Створити вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Name=New Window
