[Desktop Entry]
Name=Window management
Name[ar]=إدارة النوافذ
Name[cs]=Správa oken
Name[de]=Fensterverwaltung
Name[el]=Διαχείριση παραθύρων
Name[en]=Window Management
Name[es]=Gestión de ventanas
Name[fi]=Ikkunanhallinta
Name[fr]=Gestion des fenêtres
Name[ga]=Bainistíocht Fuinneog
Name[gl]=Xestión de xanelas
Name[hu]=Ablakkezelés
Name[id]=Pengelolaan Jendela
Name[it]=Gestione delle finestre
Name[kab]=Asefrek n yisfuyla
Name[kk]=Терезелерді басқару
Name[kmr]=Rêveberê çarçoveyê
Name[ko]=창 관리
Name[lt]=Langų Valdymas
Name[nl]=Vensterbeheer
Name[pa]=ਵਿੰਡੋ ਇੰਤਜ਼ਾਮ
Name[pl]=Zarządzanie oknami
Name[pt]=Gerenciamento de Janelas
Name[pt_BR]=Gerenciamento de janelas
Name[ru]=Управление окнами
Name[sk]=Správa okien
Name[sr]=Управљање прозорима
Name[sv]=Fönsterhantering
Name[tr]=Pencere Yönetimi
Name[uk]=Керування вікнами
Name[zh_CN]=窗口管理
Name[zh_TW]=視窗管理
Comment=Super key action, window control options, and additional window tiling options.
Comment[ar]=إجراء مفتاح Super وخيارات التحكم في النوافذ وخيارات إضافية تبليط النوافذ
Comment[cs]=Akce klávesy Super, možnosti ovládání oken a další možnosti dlaždicového režimu oken
Comment[de]=Super-Tasten-Aktion, Fenstersteuerungsoptionen und zusätzliche Fensterkachelungsoptionen
Comment[el]=Ενέργεια πλήκτρου Super, επιλογές ελέγχου παραθύρων και πρόσθετες επιλογές παράθεσης παραθύρων
Comment[en]=Super key action, window control options, and additional window tiling options
Comment[es]=Acción de la tecla Super, opciones de control de ventana y opciones adicionales de mosaico de ventana
Comment[fi]=Super-näppäimen toiminta, ikkunasäädinten valinnat, ikkunoiden asettelun lisävalinnat
Comment[fr]=Action de la touche Super, options de contrôle des fenêtres et options supplémentaires d'agencement des fenêtres
Comment[ga]=Gníomh na sár-eochrach, roghanna rialaithe fuinneoige, agus roghanna breise tíleála fuinneoige
Comment[gl]=Acción da tecla Super, opcións de control das xanelas e opcións adicionais de mosaico de xanelas
Comment[hu]=Super billentyű funkció, ablakkezelési és csempézési beállítások
Comment[id]=Tindakan tombol Super, opsi kontrol jendela, dan pengubinan jendela tambahan
Comment[it]=Azioni del tasto Super, opzioni del controllo delle finestre, e opzioni aggiuntive del tiling delle finestre
Comment[kk]=Super пернесінің әрекеті, терезелерді басқару опциялары және терезелерді қатар қоюдың қосымша опциялары
Comment[kmr]=Çalakiya bişkoka Super, vebijêrkên kontrolkirina çarçoveyan û vebijêrkên din ên berhevkirina çarçoveyan
Comment[lt]=„Super“ klavišo veiksmas, langų valdymo parinktys, papildomos langų klojimo parinktys
Comment[nl]=Opties voor de Supertoets, vensterbeheer en aanvullende opties voor het tegelen van vensters
Comment[pl]=Działanie klawisza Super, opcje kontroli oknami i dodatkowe ustawienia kafelkowania okien
Comment[pt]=Ação da tecla Super, opções de controle de janela e opções adicionais de janelas em mosaico
Comment[pt_BR]=Ação da tecla Super, opções de controle de janela e opções de janelas lado a lado (tiling)
Comment[ru]=Действие кнопки Super, параметры размещения и управления окнами
Comment[sk]=Akcia klávesu Super, možnosti ovládania okien a ďalšie možnosti dlaždicovania okien
Comment[sr]=Радња Супер тастера, могућности управљања прозором и додатне могућности поплочавања прозора
Comment[sv]=Åtgärd för Supertangent, fönsterkontrollalternativ, och ytterligare fönsterplaceringsalternativ
Comment[tr]=Süper tuş işlevi, pencere kontrol seçenekleri ve ek pencere döşeme seçenekleri
Comment[uk]=Дія клавіші Super, параметри керування вікнами та додаткові налаштування укладання вікон
Comment[zh_CN]=Super 键操作、窗口控制选项和额外的窗口平铺选项
Comment[zh_TW]=Super 鍵動作、視窗控制選項及附加視窗平鋪選項
Type=Application
Exec=cosmic-settings window-management
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Window;Management;Tiling;Super;Key;
Keywords[ar]=COSMIC;إدارة;النوافذ;التبليط;مفتاح;Super;
Keywords[cs]=COSMIC;Okno;Okna;Správa;Dlaždicový režim;Super;Klávesa;
Keywords[de]=COSMIC;Fenster;Verwaltung;Kachelung;Super;Taste;
Keywords[el]=Παράθυρο;Διαχείριση;Παράθεση;Πλήκτρο;COSMIC;Window;Management;Tiling;Super;Key;
Keywords[en]=COSMIC;Window;Management;Tiling;Super;Key;
Keywords[fi]=COSMIC;Window;Management;Tiling;Super;Key;ikkuna;ikkunanhallinta;laatoitus;laatoita;aseta;asettelu;
Keywords[fr]=COSMIC;Fenêtre;Gestion;Agencement;Super;Touche;
Keywords[ga]=COSMIC;Fuinneog;Bainistíocht;Tíliú;Super;Eochair;
Keywords[gl]=COSMIC;Xanela;Xestión;Mosaico;Super;Tecla;
Keywords[hu]=COSMIC;Ablak;Kezelés;Csempézés;Super;Billentyű;
Keywords[id]=COSMIC;Jendela;Pengelolaan;Pengubinan;Super;Tombol;
Keywords[kk]=COSMIC;Терезе;Басқару;Қатар қою;Super;Перне;
Keywords[kmr]=COSMIC;Çarçove;Rêveberî;Berhevkirin;Super;Kilît;
Keywords[ko]=COSMIC;창;관리;타일링;Super;키;
Keywords[lt]=COSMIC;Langas;Valdymas;Išklojimas;Super;Klavišas;
Keywords[pl]=COSMIC;Okna;Zarządzanie;Kafelkowanie;Super;Klawisz;Przycisk;
Keywords[pt_BR]=COSMIC;Janela;Gerenciamento;Tiling;Lado;Super;Tecla;
Keywords[ru]=COSMIC;Окно;Управление;Размещение;Тайлинг;Супер;Super;Клавиша;
Keywords[sr]=COSMIC;Window;Management;Tiling;Super;Key;Космик;Прозор;Управљање;Поплочавање;Супер;Тастер;kosmik;prozor;upravljanje;popločavanje;super;taster;
Keywords[sv]=COSMIC;Fönster;Hantering;Kaklande;Super;Tangent;
Keywords[tr]=COSMIC;Pencere;Yönetim;Döşeme;Süper;Anahtar;
Keywords[uk]=COSMIC;Керувати;Вікнами;Укладання;Мозаїка;Tiling;Клавіша;Super;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;窗口;管理;平铺;Super;键;
Keywords[zh_TW]=COSMIC;視窗;管理;平鋪;Super;鍵;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-window-management
StartupNotify=true
