[Desktop Entry]
Name[az]=Krossvord Redaktoru
Name[el]=Επεξεργαστής Σταυρόλεξων
Name[es]=Editor de Crucigramas
Name[eu]=Gurutzegramen editorea
Name[fr]=Éditeur de Mots croisés
Name[it]=Editor di parole crociate
Name[ka]=კროსვორდის რედაქტორი
Name[nl]=Kruiswoord­puzzel­bewerker
Name[de]=Kreuzworträtsel-Editor
Name[pl]=Edytor krzyżówek
Name[pt_BR]=Editor de palavras cruzadas
Name[ru]=Редактор кроссвордов
Name[sl]=Urejevalnik križank
Name[uk]=Редактор кросвордів
Name=Crossword Editor
Comment[az]=Krossvord tapmacaları yarat
Comment[el]=Δημιουργήστε σταυρόλεξα
Comment[es]=Crear crucigramas
Comment[eu]=Dortu gurutzegramak
Comment[fr]=Créez des mots croisés
Comment[it]=Crea parole crociate
Comment[nl]=Maak kruiswoordpuzzels
Comment[de]=Kreuzworträtsel erstellen
Comment[pl]=Tworzenie krzyżówek
Comment[pt_BR]=Crie palavras cruzadas
Comment[ru]=Создавайте кроссворды
Comment[sl]=Ustvarite križanke
Comment[uk]=Створення кросвордів
Comment=Create crossword puzzles
Exec=crossword-editor %F
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Crosswords.Editor
Terminal=false
Type=Application
MimeType=application/x-crossword;application/x-ipuz;application/x-jpz;application/x-xd-crossword
Categories=GNOME;GTK;Game;LogicGame;Construction;X-GameEditor;
StartupNotify=true
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[az]=krossvord;krossvord redaktoru;tapmacalar;tapmacalar redaktoru;xword;ipuz;şəbəkə;
Keywords[el]=σταυρόλεξο;επεξεργαστής σταυρόλεξου;γρίφος;επεξεργαστής γρίφου;xword;ipuz;πλέγμα;
Keywords[es]=crucigramas;editor de crucigramas;rompecabezas;editor de rompecabezas;xword;ipuz;cuadrícula;
Keywords[eu]=gurutzegrama;gurutzegrama editorea;puzzlea;puzzle editorea;xword;ipuz;sareta;
Keywords[fr]=mots-croisés;éditeur de mots-croisés;puzzle;éditeur de puzzle;xword;ipuz;grille;
Keywords[it]=cruciverba;parole;crociate;editor di parole crociate;editor di puzzle;xword;ipuz;griglia;
Keywords[nl]=crossword;editor;puzzle;xword;ipuz;grid;kruiswoordpuzzel;cryptogram;bewerker;puzzel;raster;
Keywords[de]=crossword;crossword editor;puzzle;puzzle editor;xword;ipuz;grid;Kreuzworträtsel;Kreuzworträtsel-Editor;Rätsel;Rätsel-Editor;Raster;
Keywords[pl]=krzyżówka;edytor krzyżówek;łamigłówka;edytor łamigłówek;układanka;edytor układanek;xword;ipuz;
Keywords[pt_BR]=crossword;crossword editor;puzzle;puzzle editor;palavras cruzadas;editor de palavras cruzadas;quebra-cabeça;editor de quebra-cabeças;xword;ipuz;grade;
Keywords[ru]=crossword;crossword editor;puzzle;puzzle editor;xword;ipuz;grid;кроссворд;редактор кроссвордов;пазл;редактор пазлов;сетка;
Keywords[sl]=križanka;urejevalnik križank;uganka;urejevalnik sestavljank;urejevalnik ugank;xword; ipuz; mreža;
Keywords[uk]=crossword;crossword editor;puzzle;puzzle editor;xword;ipuz;grid;кросворд;редактор кросвордів;головоломка;редактор головоломок;
Keywords=crossword;crossword editor;puzzle;puzzle editor;xword;ipuz;grid;
Version=1.0
DBusActivatable=true
