[Desktop Entry]
Name=Displays
Name[af]=Vertoonskerme
Name[ar]=شاشات العرض
Name[cs]=Obrazovky
Name[da]=Skærme
Name[de]=Bildschirme
Name[el]=Οθόνες
Name[en]=Displays
Name[es]=Pantallas
Name[fi]=Näytöt
Name[fr]=Écrans
Name[ga]=Taispeántais
Name[gl]=Pantallas
Name[hu]=Kijelzők
Name[id]=Layar
Name[it]=Schermo
Name[kab]=Ibeqqiḍen
Name[kk]=Экрандар
Name[kmr]=Dîmender
Name[ko]=표시
Name[lt]=Ekranai
Name[nl]=Beeldschermen
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Wyświetlacze
Name[pt]=Telas
Name[pt_BR]=Telas
Name[ru]=Экраны
Name[sk]=Displeje
Name[sr]=Екрани
Name[sv]=Skärmar
Name[tr]=Ekranlar
Name[uk]=Дисплеї
Name[zh_CN]=显示器
Name[zh_TW]=顯示器
Comment=Manage display configuration settings.
Comment[af]=Vertoonopsies, grafiese modusse en naglig
Comment[ar]=أدِر إعدادات تضبيط العرض
Comment[cs]=Správa nastavení obrazovek
Comment[da]=Administrer skærmkonfigurationsindstillinger
Comment[de]=Bildschirm-Konfigurationseinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων διαμόρφωσης οθονών
Comment[en]=Manage display configuration settings
Comment[es]=Opciones de pantalla, modos gráficos y luz nocturna
Comment[fi]=Hallitse näyttöön liittyviä asetuksia
Comment[fr]=Gérer les paramètres de configuration de l’affichage
Comment[ga]=Bainistigh socruithe cumraíochta taispeána
Comment[gl]=Xestionar a configuración da pantalla
Comment[hu]=Kijelzőbeállítások kezelése
Comment[id]=Kelola pengaturan konfigurasi layar
Comment[it]=Opzioni dello schermo, impostazioni e luce notturna
Comment[kab]=Sefrek iɣewwaṛen n twila n ubeqqeḍ
Comment[kk]=Экран конфигурациясының баптауларын басқару
Comment[kmr]=Sazkariyên rêkxistinê yên dîmenderê bi rê ve bibe
Comment[ko]=표시 구성 관리 설정
Comment[lt]=Tvarkyti ekrano nuostatas
Comment[nl]=Weergaveopties, grafische modi en nachtlicht
Comment[pa]=ਡਿਸਪਲੇਅ ਸੰਰਚਨਾ ਸੈਟਿੰਗਾਂ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzaj ustawieniami wyświetlania
Comment[pt]=Opções de tela, monitores, modos gráficos e luz noturna
Comment[pt_BR]=Gerenciar configurações de tela
Comment[ru]=Управление параметрами конфигурации экранов
Comment[sk]=Možnosti displeja, grafické režimy a nočné svetlo
Comment[sr]=Управљај подешавањима поставки екрана
Comment[sv]=Inställningar för skärmalternativ, grafiklägen, och nattljus
Comment[tr]=Ekran yapılandırma ayarlarını yönetin
Comment[uk]=Налаштування дисплея
Comment[zh_CN]=管理显示器设置
Comment[zh_TW]=管理顯示器設定
Type=Application
Exec=cosmic-settings displays
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Display;
Keywords[af]=COSMIC;Vertoonskerme;
Keywords[ar]=COSMIC;عرض;
Keywords[cs]=COSMIC;Obrazovka;Obrazovky;Displeje;Monitory;Zobrazení;Rozlišení;Měřítko;Škálování;Orientace;Obnovovací frekvence;Variabilní;VRR;
Keywords[da]=COSMIC;Skærm;
Keywords[de]=COSMIC;Bildschirm;
Keywords[el]=Οθόνη;COSMIC;Display;
Keywords[en]=COSMIC;Display;
Keywords[fi]=COSMIC;Display;näyttö;monitori;
Keywords[fr]=COSMIC;Écran;
Keywords[ga]=COSMIC;Taispeántas;
Keywords[gl]=COSMIC;Monitor;
Keywords[hu]=COSMIC;Kijelző;
Keywords[id]=COSMIC;Layar;
Keywords[kab]=COSMIC;Abeqqeḍ;
Keywords[kk]=COSMIC;Экран;
Keywords[kmr]=COSMIC;Dîmender;
Keywords[ko]=COSMIC;표시;
Keywords[lt]=COSMIC;Ekranas;
Keywords[pa]=COSMIC;ਡਿਸਪਲੇਅ;
Keywords[pl]=COSMIC;Wyświetlacz;Ekran;
Keywords[pt_BR]=COSMIC;Tela;Monitor;
Keywords[ru]=COSMIC;Экран;Монитор;Дисплей;
Keywords[sr]=COSMIC;Display;Космик;Екран;kosmik;ekran;
Keywords[sv]=COSMIC;Skärm;
Keywords[tr]=COSMIC;Ekran;
Keywords[uk]=COSMIC;Дисплей;Екран;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;显示器;屏幕;
Keywords[zh_TW]=COSMIC;顯示器;螢幕;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-displays
StartupNotify=true
