[Desktop Entry]
Name[ar]=مشغل الصوتيات
Name[be]=Аўдыяпрайгравальнік
Name[bg]=Програма за музика
Name[ca]=Reproductor d'àudio
Name[cs]=Zvukový přehrávač
Name[da]=Lydafspiller
Name[de]=Audioplayer
Name[el]=Αναπαραγωγέας ήχου
Name[en_GB]=Audio Player
Name[eo]=Sonludilo
Name[es]=Reproductor de sonido
Name[eu]=Audio-erreproduzigailua
Name[fa]=پخش‌کنندهٔ صدا
Name[fi]=Äänisoitin
Name[fr]=Lecteur audio
Name[fur]=Riprodutôr audio
Name[gl]=Reprodutor de audio
Name[he]=נגן שמע
Name[hi]=ऑडियो प्लेयर
Name[hu]=Hanglejátszó
Name[ia]=Reproductor de audio
Name[id]=Pemutar Audio
Name[is]=Hljóðspilari
Name[it]=Riproduttore audio
Name[ja]=音声プレイヤー
Name[ka]=მუსიკის დამკვრელი
Name[kab]=Imeɣri n umesli
Name[kk]=Аудио плеері
Name[ko]=오디오 재생기
Name[kw]=Gwarier Son
Name[lt]=Garso grotuvas
Name[nb]=Lydspiller
Name[ne]=अडियो प्लेयर
Name[nl]=Audiospeler
Name[oc]=Lector àudio
Name[pa]=ਆਡੀਓ ਪਲੇਅਰ
Name[pl]=Odtwarzacz dźwiękowy
Name[pt]=Leitor de áudio
Name[pt_BR]=Reprodutor de áudio
Name[ro]=Redare audio
Name[ru]=Аудиопроигрыватель
Name[sk]=Prehrávač zvuku
Name[sl]=Predvajalnik zvoka
Name[sr]=Програм за музику
Name[sr@latin]=Program za muziku
Name[sv]=Ljudspelare
Name[th]=เครื่องเล่นเสียง
Name[tr]=Ses Oynatıcı
Name[ug]=ئۈن قويغۇچ
Name[uk]=Аудіопрогравач
Name[uz]=Audio ijro vositasi
Name[zh_TW]=音訊播放器
Name[zh_CN]=音频播放器
Name=Audio Player
GenericName[ar]=مشغل الصوتيات
GenericName[be]=Аўдыяпрайгравальнік
GenericName[bg]=Програма за музика
GenericName[ca]=Reproductor d'àudio
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audioplayer
GenericName[el]=Αναπαραγωγέας ήχου
GenericName[en_GB]=Audio Player
GenericName[eo]=Sonludilo
GenericName[es]=Reproductor de sonido
GenericName[eu]=Audio-erreproduzigailua
GenericName[fa]=پخش‌کنندهٔ صدا
GenericName[fi]=Äänisoitin
GenericName[fr]=Lecteur audio
GenericName[fur]=Riprodutôr audio
GenericName[gl]=Reprodutor de audio
GenericName[he]=נגן שמע
GenericName[hi]=ऑडियो प्लेयर
GenericName[hu]=Hanglejátszó
GenericName[ia]=Reproductor de audio
GenericName[id]=Pemutar Audio
GenericName[is]=Hljóðspilari
GenericName[it]=Riproduttore audio
GenericName[ja]=音声プレイヤー
GenericName[ka]=მუსიკის დამკვრელი
GenericName[kab]=Imeɣri n umesli
GenericName[kk]=Аудио плеері
GenericName[ko]=오디오 재생기
GenericName[kw]=Gwarier Son
GenericName[lt]=Garso grotuvas
GenericName[nb]=Lydspiller
GenericName[ne]=अडियो प्लेयर
GenericName[nl]=Audiospeler
GenericName[oc]=Lector àudio
GenericName[pa]=ਆਡੀਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz dźwiękowy
GenericName[pt]=Leitor de áudio
GenericName[pt_BR]=Reprodutor de áudio
GenericName[ro]=Redare audio
GenericName[ru]=Аудиопроигрыватель
GenericName[sk]=Prehrávač zvuku
GenericName[sl]=Predvajalnik zvoka
GenericName[sr]=Програм за музику
GenericName[sr@latin]=Program za muziku
GenericName[sv]=Ljudspelare
GenericName[th]=เครื่องเล่นเสียง
GenericName[tr]=Ses Oynatıcı
GenericName[ug]=ئۈن قويغۇچ
GenericName[uk]=Аудіопрогравач
GenericName[uz]=Audio ijro vositasi
GenericName[zh_TW]=音訊播放器
GenericName[zh_CN]=音频播放器
GenericName=Audio Player
Comment[ar]=شغِّل الملفَّات الصوتية
Comment[be]=Прайграванне аўдыяфайлаў
Comment[bg]=Пускане на звукови файлове
Comment[ca]=Reprodueix fitxers d'àudio
Comment[cs]=Přehrávejte zvukové soubory
Comment[da]=Afspil lydfiler
Comment[de]=Audiodateien abspielen
Comment[el]=Αναπαραγωγή αρχείων ήχου
Comment[en_GB]=Play audio files
Comment[eo]=Ludi sondosierojn
Comment[es]=Reproduzca archivos de sonido
Comment[eu]=Erreproduzitu audio-fitxategiak
Comment[fa]=پخش پرونده‌های صوتی
Comment[fi]=Toista äänitiedostoja
Comment[fr]=Jouer des fichiers audio
Comment[fur]=Riprodûs files audio
Comment[gl]=Reproducir ficheiros de audio
Comment[he]=ניגון קובצי שמע
Comment[hi]=ऑडियो फाइलें चलाएं
Comment[hu]=Hangfájlok lejátszása
Comment[ia]=Reproduce files de audio
Comment[id]=Memainkan berkas audio
Comment[is]=Spila hljóðskrár
Comment[it]=Riproduci file audio
Comment[ja]=音声ファイルを再生
Comment[ka]=აუდიოფაილების დაკვრა
Comment[kab]=Urar ifuyla n umesli
Comment[kk]=Аудио файлдарын ойнату
Comment[ko]=오디오 파일을 재생합니다
Comment[kw]=Gwari restrennow son
Comment[lt]=Groti garso failus
Comment[nb]=Spill lydfiler
Comment[ne]=अडियो फाइल प्ले गर्नुहोस्
Comment[nl]=Beluister audiobestanden
Comment[oc]=Legir de fichièrs àudio
Comment[pa]=ਆਡੀਓ ਫ਼ਾਇਲਾਂ ਨੂੰ ਚਲਾਓ
Comment[pl]=Odtwarzanie plików dźwiękowych
Comment[pt]=Reproduzir ficheiros de áudio
Comment[pt_BR]=Reproduza arquivos de áudio
Comment[ro]=Redă fișiere audio
Comment[ru]=Воспроизведение аудио файлов
Comment[rw]=Kina amadosiye y'amajwi
Comment[sk]=Prehráva audio súbory
Comment[sl]=Predvajanje zvočnih datotek
Comment[sr]=Пуштајте звучне датотеке
Comment[sr@latin]=Puštajte zvučne datoteke
Comment[sv]=Spela ljudfiler
Comment[th]=เล่นไฟล์เสียง
Comment[tr]=Ses dosyalarını oynat
Comment[ug]=ئۈن ھۆججىتىنى قويىدۇ
Comment[uk]=Відтворювач аудіо файлів
Comment[uz]=Audio fayllarni ijro qilish
Comment[zh_TW]=播放音訊檔
Comment[zh_CN]=播放音频文件
Comment=Play audio files
TryExec=org.gnome.Decibels
Exec=org.gnome.Decibels %U
Icon=org.gnome.Decibels
Terminal=false
Type=Application
Categories=GNOME;GTK;Music;Audio;AudioVideo;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=الموسيقى;الصوتيات;الوسائط;المشغل;الدسبل;الديسيبل;music;player;media;audio;decibels;
Keywords[be]=music;player;media;audio;decibels;музыка;музычны;музыкальны;плэер;прайгравальнік;аўдыяплэер;аўдыяпрайгравальнік;медыя;аўдыё;аўдыя;дэцыбелы;
Keywords[bg]=музика;медия;звук;аудио;мултимедия;децибели;music;player;media;audio;
Keywords[ca]=música;reproductor;mèdia;àudio;decibels;
Keywords[cs]=hudba;přehrávač;média;audio;zvuk;decibely;
Keywords[da]=musik;afspiller;medie;lyd;decibels;
Keywords[de]=music;player;media;audio;Musik;Abspieler;Medien;Decibels;
Keywords[el]=μουσική;αναπαραγωγέας;πολυμέσα;ήχος;decibels;
Keywords[en_GB]=music;player;media;audio;decibels;
Keywords[eo]=muziko;ludilo;sono;decibeloj;
Keywords[es]=music;player;media;audio;decibels;música;reproductor;sonido;
Keywords[eu]=musika;erreproduzigailua;multimedia;audioa;decibels
Keywords[fa]=music;player:media;audio;decibels;آهنگ;موسیقی;صدا;صوت;آوا;پخش‌کننده;رسانه;دسی‌بل;
Keywords[fi]=music;player;media;audio;decibels;musiikki;soitin;ääni;desibelit;
Keywords[fr]=musique;lecteur;jouer;média;audio;décibels;
Keywords[fur]=musiche;riprodutôr;multimedia;audio;decibels;
Keywords[gl]=música;reprodutor;medios;audio;decibelios;
Keywords[he]=מוזיקה;מוסיקה;שמע;צליל;נגן;מדיה;אודיו;דציבלים;נגינה;
Keywords[hu]=zene;lejátszó;média;hang;decibelek;
Keywords[ia]=musica;reproductor;multimedia;audio;decibels;
Keywords[id]=musik;pemutar;media;audio;decibels;
Keywords[is]=tónlist;spilari;margmiðlun;hljóð;spilun;desíbel
Keywords[it]=musica;lettore;media;audio;decibels;
Keywords[ja]=music;player;media;audio;decibels;ミュージック;音楽;プレイヤー;メディア;オーディオ;音声;デシベルズ;
Keywords[ka]=music;player;media;audio;მუსიკა;დაკვრა;ხმა;მედია;
Keywords[kk]=музыка;ойнатқыш;медиа;аудио;децибелдер;
Keywords[ko]=music;음악;player;재생기;media;미디어;audio;오디오;음향;decibels;데시벨;
Keywords[kw]=ilow;gwarier;media;son;decibels;
Keywords[lt]=muzika;grotuvas;medija;audio;decibelai;
Keywords[nb]=musikk;spiller;media;lyd;decibels;
Keywords[ne]=संगीत; प्लेयर; मिडिया; अडियो; डेसिबल; संगीत; खेलाडी; मिडिया; अडियो; डेसिबल;
Keywords[nl]=music;player;media;audio;decibels;muziek;speler;
Keywords[oc]=musica;lector;mèdia;audio;àudio;decibels;
Keywords[pa]=ਸੰਗੀਤ;ਪਲੇਅਰ;ਮਿਊਜ਼ਕ;ਮੀਡੀਆ;ਆਡੀਓ;ਡੈਸੀਬਲਸ;ਗੀਤ;
Keywords[pl]=muzyka;odtwarzacz;multimedia;dźwięk;decybele;
Keywords[pt]=música;reprodutor;leitor;ficheiro;multimédia;áudio;decibéis;
Keywords[pt_BR]=música;player;mídia;áudio;decibéis;
Keywords[ro]=music;player;media;audio;decibels;muzică;
Keywords[ru]=music;player;media;audio;decibels;музыка;проигрыватель;медиа;аудио;децибелы;
Keywords[sk]=hudba;prehrávač;médiá;zvuk;decibely;
Keywords[sl]=player;glasba;predvajalnik;media;medij;zvok;avdio;audio;decibeli;decibels;
Keywords[sr]=музика;звук;аудио;медија;децибели;пуштач;music;player;media;audio;decibels;
Keywords[sr@latin]=muzika;zvuk;audio;medija;decibeli;puštač;music;player;media;audio;decibels;
Keywords[sv]=musik;spelare;media;audio;ljud;decibels;
Keywords[th]=เพลง;เครื่องเล่น;สื่อ;เสียง;decibels;
Keywords[tr]=music;player;media;audio;müzik;oynatıcı;ortam;medya;ses;müzik;muzik;decibels;
Keywords[ug]=music;player;media;audio;decibels;نەغمە؛قويغۇچ؛ۋاسىتە؛ئاۋاز؛
Keywords[uk]=music;player;media;audio;decibels;музика;аудіо;плеєр;медіа;звук;програвач;трек;музяка;відтворювач;плеєр;децибели;
Keywords[uz]=qo'shiq;ijro vositasi;media;audio;desibellar;
Keywords[zh_TW]=music;player;media;audio;decibels;音樂;播放器;媒體;音訊;分貝;
Keywords[zh_CN]=music;player;media;audio;decibels;音乐;播放器;媒体;音频;分贝;
Keywords=music;player;media;audio;decibels;
StartupNotify=true
X-SingleMainWindow=true
X-Purism-FormFactor=Workstation;Mobile;
DBusActivatable=true
MimeType=audio/mpeg;audio/wav;audio/x-aac;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-m4b;audio/x-mp1;audio/x-mp2;audio/x-mp3;audio/x-mpg;audio/x-mpeg;audio/x-mpegurl;audio/x-opus+ogg;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wavpack;
