[Desktop Entry]
Name=App Tray
Name[ar]=دُرج التطبيقات
Name[bg]=Меню за програми
Name[ca]=Safata d'Aplicacions
Name[cs]=Oblast aplikací
Name[da]=Programbakke
Name[de]=App-Übersicht
Name[el]=Περιοχή εφαρμογών
Name[en]=App Tray
Name[en_GB]=App Tray
Name[es]=Bandeja de aplicaciones
Name[fa]=نوار برنامه‌ها
Name[fi]=Sovellusalue
Name[fr]=Volet d'applis
Name[ga]=Tráidire na nAipeanna
Name[gl]=Bandexa de aplicacións
Name[hu]=Alkalmazástálca
Name[id]=Baki Aplikasi
Name[it]=Area applicazioni
Name[kab]=Afeggag n yisnasen
Name[kk]=Қолданбалар сөресі
Name[kmr]=Destgeha sepanan
Name[ko]=앱 트레이
Name[lt]=Aplikacijų Dėtuvė
Name[nl]=Taakbalk
Name[oc]=Cinta d’aplicacions
Name[pa]=ਐਪ ਟਰੇ
Name[pl]=Zasobnik aplikacji
Name[pt]=Área de notificação das aplicações
Name[pt_BR]=Bandeja de aplicativos
Name[ru]=Область приложений
Name[sk]=Panel aplikácií
Name[sr]=Системска касета
Name[sv]=Programfält
Name[uk]=Панель застосунків
Name[zh_CN]=应用托盘
Name[zh_Hant]=應用程式托盤
Comment=Launch pinned apps and manage open windows
Comment[ar]=شغِّل التطبيقات المثبتة وإدارة النوافذ المفتوحة
Comment[ca]=Inicieu aplicacions ancorades i gestioneu les finestres obertes
Comment[cs]=Správa otevřených oken a spouštění připnutých aplikací
Comment[da]=Start fastgjorte apps og håndter åbne vinduer
Comment[de]=Angeheftete Apps starten und geöffnete Fenster verwalten
Comment[el]=Εκκίνηση καρφιτσωμένων εφαρμογών και διαχείριση ανοικτών παραθύρων
Comment[en]=Launch pinned apps and manage open windows
Comment[en_GB]=Launch pinned apps and manage open windows
Comment[fi]=Käynnistä kiinnitettyjä sovelluksia ja hallitse avoimia ikkunoita
Comment[fr]=Lancer les applis épinglées et gérer les fenêtres ouvertes
Comment[ga]=Lainseáil aipeanna bioráilte agus bainistigh fuinneoga oscailte
Comment[gl]=Inicia as aplicacións fixadas e xestiona as xanelas abertas
Comment[hu]=Rögzített alkalmazások indítása és a megnyitott ablakok kezelése
Comment[id]=Luncurkan aplikasi tersematkan dan kelola jendela terbuka
Comment[it]=Avvia le app fissate e gestisci le finestre aperte
Comment[kab]=Sekker isnasen yettwasentḍen rnu sefrek isfuyla yeldin
Comment[kk]=Бекітілген қолданбаларды жөнелту және ашық терезелерді басқару
Comment[kmr]=Sepanên darxistî veke û çarçoveyên vekirî bi rê ve bibe
Comment[ko]=고정된 앱 실행과 열린 창 관리
Comment[lt]=Paleisti prisegtas aplikacijas ir valdyti atvertus langus
Comment[nl]=Start vastgemaakte toepassingen en beheer openstaande vensters
Comment[oc]=Lançar d’aplicacions penjadas e gerir las fenèstras dobèrtas
Comment[pl]=Uruchamianie przypiętych aplikacji i zarządzanie otwartymi oknami
Comment[pt_BR]=Iniciar aplicativos fixados e gerenciar janelas abertas
Comment[ru]=Запуск закреплённых приложений и управление открытыми окнами
Comment[sr]=Покрени закачене програме и управљај отвореним прозорима
Comment[sv]=Starta fästa program och hantera öppna fönster
Comment[uk]=Запуск закріплених застосунків і керування відкритими вікнами
Comment[zh_CN]=启动已固定应用和管理窗口
Comment[zh_Hant]=啟動釘板的應用程式並管理開啟視窗
Type=Application
Exec=cosmic-app-list
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Tray;List;Task;Bar;
Keywords[ar]=COSMIC;بريمج;تطبيق;صينية;قائمة;مهمة;شريط;
Keywords[cs]=COSMIC;Applet;Aplikace;Oblast;Seznam;Úloha;Úlohy;Lišta;
Keywords[da]=COSMIC;Applet;App;Statusområde;Liste;Opgave;Bjælke;
Keywords[de]=COSMIC;Applet;App;Übersicht;Liste;Aufgabe;Leiste;
Keywords[el]=Μικροεφαρμογή;Εφαρμογή;Περιοχή;Λίστα;Εργασία;Γραμμή;COSMIC;Applet;App;Tray;List;Task;Bar;
Keywords[en]=COSMIC;Applet;App;Tray;List;Task;Bar;
Keywords[en_GB]=COSMIC;Applet;App;Tray;List;Task;Bar;
Keywords[fi]=COSMIC;Applet;App;Tray;List;Task;Bar;sovelma;sovellus;sovellukset;appi;tehtävä;palkki;
Keywords[fr]=COSMIC;Applet;Appli;Volet;Liste;Tâche;Barre;
Keywords[ga]=COSMIC;Feidhmchláirín;Aip;Tráidire;Liosta;Tascanna;Barra;
Keywords[gl]=COSMIC;Miniaplicación;Aplicación;Bandexa;Lista;Tarefa;Barra;
Keywords[hu]=COSMIC;kisalkalmazás;alkalmazás;app;tálca;lista;sáv;
Keywords[id]=COSMIC;Applet;Aplikasi;Baki;Daftar;Tugas;Bilah;
Keywords[it]=COSMIC;Applet;Applicazione;Area di notifica;Elenco;Attività;Barra;
Keywords[kk]=COSMIC;Апплет;Қолданба;Науа;Тізім;Тапсырма;Панель;
Keywords[kmr]=COSMIC;Sepanok;Sepan;Destgeh;Lîste;Erk;Bend;
Keywords[ko]=COSMIC;애플릿;앱;트레이;목록;작업;바;
Keywords[lt]=COSMIC;Apletas;Applikacija;Dėtuvė;Sąrašas;Užduotis;Juosta;
Keywords[nl]=COSMIC;Applet;Toepassing;Taakbalk;Lijst;Taken;Balk;
Keywords[oc]=COSMIC;Applet;Ajuston;Microaplicacion;Miniaplicacion;App;Aplicacion;Cinta;Lista;Prètzfach;Prètzfait;Barra;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਐਪ;ਟਰੇ;ਲਿਸਟ;ਟਾਸਕ;ਪੱਟੀ;
Keywords[pl]=COSMIC;Aplet;Aplikacja;Apka;Lista;Zadanie;Panel;Zasobnik Aplikacji;
Keywords[pt]=COSMIC;Miniaplicação;Applet;Aplicação;Bandeja;Lista;Tarefa;Barra;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;App;Bandeja;Tray;Lista;Tarefas;Barra;
Keywords[ru]=COSMIC;Апплет;Приложения;Панель;задач;Список;Лоток;Область;
Keywords[sr]=COSMIC;Applet;App;Tray;List;Task;Bar;Космик;Програмчић;Програм;Касета;Списак;Задатак;Трака;kosmik;programčić;program;kaseta;spisak;zadatak;traka;
Keywords[sv]=COSMIC;Miniprogram;Program;List;Fält;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Панель;Застосунків;Список;
Keywords[zh_CN]=COSMIC;小部件;应用;应用托盘;列表;任务栏;
Keywords[zh_Hant]=COSMIC;小程式;應用程式;匣盤;列表;任務;列;
Icon=com.system76.CosmicAppList
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=5
X-OverflowPriority=100
X-OverflowMinSize=4
X-HostWaylandDisplay=true
