[Desktop Entry]
Name[ar]=أدوات الإشراف العائلي
Name[bg]=Родителски контрол
Name[ca]=Controls parentals
Name[cs]=Rodičovská kontrola
Name[da]=Forældrestyring
Name[de]=Kindersicherung
Name[es]=Controles parentales
Name[fa]=واپایش‌های والدین
Name[fr]=Contrôles parentaux
Name[hi]=पैरेंटल कंट्रोल 
Name[hu]=Szülői felügyelet
Name[id]=Pengawasan Orang Tua
Name[it]=Controlli parentali
Name[ka]=მშობლის კონტროლი
Name[kk]=Ата-ана бақылауы
Name[pl]=Kontrola rodzicielska
Name[pt_BR]=Controle parental
Name[ru]=Родительский контроль
Name[sl]=Starševski nadzor
Name[sv]=Föräldrakontroller
Name[tr]=Ebeveyn Denetimleri
Name[uk]=Батьківський контроль
Name[zh_CN]=家长控制
Name[zh_TW]=家長控制
Name=Parental Controls
Comment[ar]=قُم بضبط الإشراف العائلي ومراقبة الاستخدام بواسطة المستخدمين
Comment[bg]=Родителски контрол и следене на потребителска активност
Comment[ca]=Definir els controls parentals i supervisar-ne l'ús
Comment[cs]=Nastavte rodičovskou kontrolu a monitorujte používání uživateli
Comment[da]=Indstil forældrestyring og overvåg brugernes anvendelse
Comment[de]=Kindersicherungen erstellen und Computernutzung pro Benutzer verwalten
Comment[es]=Establezca controles parentales y supervise el uso por parte de los usuarios
Comment[fa]=تنظیم واپایش‌های والدین و پایش استفادهٔ کاربران
Comment[fr]=Configurer les contrôles parentaux et surveiller l'usage par les utilisateurs
Comment[hi]=पैरेंटल नियंत्रण सेट करें और उपयोगकर्ता द्वारा प्रयोग को मॉनीटर करें
Comment[hu]=Szülői felügyelet beállítása és a felhasználók tevékenységeinek megfigyelése
Comment[id]=Tata kontrol orangtua dan pantau pemakaian oleh pengguna
Comment[it]=Imposta i controlli parentali e monitora l'utilizzo degli utenti
Comment[ka]=დააყენეთ მშობლის კონტროლი და აკონტროლეთ მომხმარებლების ქცევა
Comment[kk]=Ата-ана бақылауын орнату және пайдаланушылардың қолданылуын бақылау
Comment[pl]=Kontrola rodzicielska i monitorowanie użycia
Comment[pt_BR]=Defina o controle parental e monitore o uso por usuários
Comment[ru]=Создание родительского контроля и управление использованием компьютера для каждого пользователя
Comment[sl]=Nastavite starševski nadzor in spremljajte uporabo s strani uporabnikov
Comment[sv]=Ställ in föräldrakontroller och övervaka användares användning
Comment[tr]=Ebeveyn denetimlerini ayarlayın ve kullanıcılarla kullanımı izleyin
Comment[uk]=Встановити батьківський контроль і стежити за користувачами
Comment[zh_CN]=设置家长控制以及监视用户的使用情况
Comment[zh_TW]=設定家長控制和監視孩童或青少年的使用情況
Comment=Set parental controls and monitor usage by users
Exec=malcontent-control
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.freedesktop.MalcontentControl
Terminal=false
Type=Application
Categories=GTK;GNOME;System;
StartupNotify=true
DBusActivatable=true
# Translators: Search terms to find this application. Do NOT translate or localise the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=إعدادات التحكم الأبوي؛ الوقت الذي يقضى بمشاهدة الشاشة؛ القيود الخاصة بالتطبيقات؛ القيود الخاصة بمتصفحات الإنترنت؛ فتح خدمة تقارير مؤتمتة؛ الاستخدام؛ حدود الاستخدام؛ الطفل؛ الطفل؛    
Keywords[bg]=родителски контрол;време на екрана;ограничения за програми;ограничения за Интернет браузъри;ползване;ограничение за ползване;дете;деца;parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;
Keywords[ca]=controls parentals;temps de pantalla;restriccions d'app;restriccions del navegador web;rems;ús;límit d'ús;criatura;nen;
Keywords[cs]=rodičovská kontrola;čas u obrazovky;omezení aplikací;omezení webového prohlížeče;oars;použití;omezení použití;dítě;děti;
Keywords[da]=forældrestyring;skærmtid;programbegrænsninger;webbrowserbegrænsninger;oars;anvendelse;anvendelsesbegrænsning;barn;børn;
Keywords[de]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;kindersicherung;bildschirmzeit;einschränkung;oars;limit;kind;
Keywords[es]=controles parentales;tiempo ante pantalla;restricciones de las aplicaciones;restricciones del navegador web;oars;uso;límite de uso;niño;hijo;infantil;
Keywords[fa]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;کنترل;واپایش;والدین;زمان;محدودیت;مرورگر;استفاده;فرزند;کودک;بچه;
Keywords[fr]=contrôles parentaux;temps d'écran;restrictions d'application;restrictions de navigateur web;oars;usage;limite d'usage;enfant;enfant
Keywords[hi]=अभिभावक नियंत्रण; स्क्रीन समय; ऐप प्रतिबंध; वेब ब्राउज़र पर प्रतिबंध; ऑर्स; उपयोग; उपयोग की सीमा; बच्चा;parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;
Keywords[hu]=szülői felügyelet;képernyőidő;alkalmazáskorlátozások;webböngésző-korlátozások;oars;használat;használati korlátozás;kölyök;gyerek;gyermek;
Keywords[id]=kontrol orang tua;waktu layar;pembatasan aplikasi;pembatasan peramban web;oars;penggunaan;batas penggunaan;anak;
Keywords[it]=controlli parentali;tempo schermo;tempo utilizzo;limitazione app;limitazioni browser web;utilizzo;limite utilizzo;utilizzazione;bambino;bambina;ragazzo;ragazza;
Keywords[ka]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;
Keywords[kk]=ата-ана бақылауы;экран уақыты;қолданба шектеулері;веб-браузер шектеулері;oars;қолданылуы;қолдану шектеуі;бала;балалар;
Keywords[pl]=kontrola rodzicielska;ograniczanie;restrykcje;ograniczenia programów;ograniczenia aplikacji;ograniczenia przeglądarki internetowej;www;oars;użycie;użytek;czas korzystania;limit korzystania;dziecko;dzieciak;dzieci;children;kids;
Keywords[pt_BR]=controle parental;controle dos pais;parental controls;tempo de tela;screen time;restrições de aplicativos;app restrictions;restrições de navegador web;web browser restrictions;oars;uso;usage;limite de uso;usage limit;criança;kid;filho;filha;child;
Keywords[ru]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;родительский контроль;ребенок;ограничение;
Keywords[sl]=starševski nadzor;čas pred zaslonom;omejitve za aplikacije;omejitve programov;omejitve spletnega brskalnika;raba;omejitev uporabe;uporaba;otrok;otroci;mladostnik;
Keywords[sv]=föräldrakontroller;skärmtid;programbegränsningar;appbegränsningar;webbläsarbegränsningar;oars;användning;användningsgräns;barn;
Keywords[tr]=ebeveyn denetimleri;ebeveyn denetimi;aile denetimleri;aile denetimi;ebeveyn kontrolleri;ebeveyn kontrolü;aile kontrolü;ekran zamanı;uygulama kısıtlamaları;uygulama sınırlamaları;yazılım kısıtlamaları;yazılım sınırlamaları;web tarayıcı kısıtlamaları;web tarayıcı sınırlamaları;internet tarayıcı kısıtlamaları;internet tarayıcı sınırlamaları;oars;kullanım;kullanım sınırı;kullanım kısıtı;çocuk;evlat;
Keywords[uk]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;батьківський контроль;час за комп'ютером;обмеження програм;обмеження інтернету;користування;використання;обмеження користування;дитина;дитячий;
Keywords[zh_CN]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;家长控制;屏幕时间;应用程序限制;网页浏览器限制;使用情况;使用限制;儿童;
Keywords[zh_TW]=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;家長控制;分級控制;電腦使用時間;應用程式限制;網頁瀏覽器限制;使用;使用限制;小孩;兒童;孩童;青少年;軟體限制;安裝限制;限制;
Keywords=parental controls;screen time;app restrictions;web browser restrictions;oars;usage;usage limit;kid;child;
