[Desktop Entry]
Name[ar]=أكسرسايزر
Name[as]=Accerciser
Name[ast]=Accerciser
Name[az]=Accerciser
Name[be]=Accerciser
Name[bg]=Accerciser
Name[bn]=Accerciser
Name[br]=Accerciser
Name[bs]=Accerciser
Name[ca]=Accerciser
Name[ca@valencia]=Accerciser
Name[cs]=Accerciser
Name[da]=Accerciser
Name[de]=Accerciser
Name[el]=Accerciser
Name[en_GB]=Accerciser
Name[es]=Accerciser
Name[et]=Hõlbustaja
Name[eu]=Accerciser
Name[fi]=Accerciser
Name[fr]=Accerciser
Name[fur]=Accerciser
Name[gl]=Accerciser
Name[he]=Accerciser
Name[hi]=एक्सेर्साइसर
Name[hu]=Akadálymentesítő
Name[hy]=Accerciser
Name[id]=Accerciser
Name[it]=Accerciser
Name[ja]=Accerciser
Name[ka]=Accerciser
Name[kab]=Accerciser
Name[kk]=Accerciser
Name[ko]=액서사이저
Name[km]=Accerciser
Name[lv]=Accerciser
Name[lt]=Accerciser
Name[ml]=അക്സര്‍സൈസര്‍
Name[ms]=Accerciser
Name[nb]=Accerciser
Name[ne]=एसस्रसाएइजर
Name[nl]=Accerciser
Name[oc]=Accerciser
Name[pl]=Accerciser
Name[pt]=Accerciser
Name[pt_BR]=Accerciser
Name[ro]=Accerciser
Name[ru]=Accerciser
Name[sk]=Accerciser
Name[sl]=Accerciser
Name[sr]=Аксерсајзер
Name[sr@latin]=Aksersajzer
Name[sq]=Accerciser
Name[sv]=Accerciser
Name[tr]=Accerciser
Name[te]=ఎక్సర్‌సైజర్
Name[th]=Accerciser
Name[ug]=Accerciser
Name[uk]=Accerciser
Name[zh_CN]=Accerciser
Name[zh_HK]=Accerciser
Name[zh_TW]=Accerciser
Name=Accerciser
Comment[ar]=تحقق من إتاحة برنامجك
Comment[as]=আপোনাৰ এপ্লিকেচনক এটা অভিগম্যতা প্ৰদান কৰক
Comment[ast]=Da-y a la to aplicación una capacidá pa ser accesible
Comment[az]=Tətbiqinizə əlçatanlıq testi keçirin
Comment[be]=Зрабіце вашу праграму даступнай
Comment[bg]=Проверете вашата програма за достъпност
Comment[bn]=আপনার অ্যাপ্লিকেশনে বিশেষ ব্যবহারের ক্ষমতা উপলব্ধ করুন
Comment[bn_IN]=আপনার অ্যাপ্লিকেশনে বিশেষ ব্যবহারের ক্ষমতা উপলব্ধ করুন
Comment[bs]=Dajte svom programu trening iz pristupačnosti
Comment[ca]=Feu una anàlisi d'accessibilitat a les aplicacions
Comment[ca@valencia]=Feu una anàlisi d'accessibilitat a les aplicacions
Comment[cs]=Zpřístupněte svoji aplikaci
Comment[da]=Giv dit program en tilgængelighedsoverhaling
Comment[de]=Gestalten Sie Ihre Anwendungen barrierefrei
Comment[dz]=ཁྱོད་རའི་ གློག་རིམ་ལུ་ འཛུལ་སྤྱོད་གཏན་འཁེལ་ཅིག་བྱིན་
Comment[el]=Δοκιμάστε την προσιτότητα της εφαρμογής σας
Comment[en_CA]=Give your application an accessibility workout
Comment[en_GB]=Give your application an accessibility workout
Comment[en@shaw]=𐑜𐑦𐑝 𐑿𐑼 𐑩𐑐𐑤𐑦𐑒𐑱𐑕𐑩𐑯 𐑩𐑯 𐑨𐑒𐑕𐑧𐑕𐑩𐑚𐑦𐑤𐑦𐑑𐑰 𐑢𐑻𐑒𐑶𐑑
Comment[es]=Dé a su aplicación una capacidad para ser accesible
Comment[et]=Testi oma rakenduse abistava tehnika tuge
Comment[eu]=Eman aplikazioari erabilerraza izateko ahalmena
Comment[fi]=Anna sovelluksellesi esteettömyysharjoitus
Comment[fr]=Soumettre votre application à un test d’accessibilité
Comment[fur]=Da ae tô aplicazion une pussibilitât par jessi acessibile
Comment[gl]=Fágalle unha proba de accesibilidade ao seu aplicativo
Comment[gu]=તમારા કાર્યક્રમને સુલભતા કાર્યક્રમ આપો
Comment[he]=חדר כושר לנגישות של יישומים
Comment[hi]=अपने अनुप्रयोग को अभिगम्यता व्यायाम का लाभ दें
Comment[hu]=Alkalmazások felmérése akadálymentesítési szempontból
Comment[hy]=Տալիս է ձեր ծրագրին հասանելիություն աշխատելու համար
Comment[id]=Memberikan kemampuan aksesibilitas kepada aplikasi Anda
Comment[it]=Verifica l'accessibilità delle proprie applicazioni
Comment[ja]=アプリケーションにアクセシビリティの機能を付与します
Comment[ko]=프로그램에 대한 접근성 개선책을 제시합니다
Comment[km]=ផ្ដល់​ឲ្យ​កុំព្យូទ័រ​របស់​អ្នក​នូវ​ការ​ចូល​ដំណើរការ​មធ្យោបាយ​ងាយស្រួល
Comment[lv]=Uzlabo savas lietotnes pieejamību
Comment[lt]=Ištestuokite savo programos prieinamumo palaikymą
Comment[mk]=Додајте ѝ на вашата апликација пристапност
Comment[ml]=നിങ്ങളുടെ പ്രയോഗത്തിനു് ഒരു ആക്സസിബിളിറ്റി അഭ്യാസം ലഭ്യമാക്കുക
Comment[mr]=अनुप्रयोगास प्रवेशीय कार्य करीता कार्यान्वीत करा
Comment[ms]=Beri aplikasi anda satu senaman kebolehcapaian
Comment[nb]=Sjekk støtte for hjelpeteknologi i ditt program
Comment[ne]=तपाईँको अनुप्रयोगलाई पहुँच कसरत दिनुहोस्
Comment[nl]=Geef uw toepassing een toegankelijkheidstraining
Comment[oc]=Sometre vòstra aplicacion a un tèst d'accessibilitat
Comment[or]=ଆପଣଙ୍କ ଅଭିଗମକୁ ଗୋଟିଏ ଅଭିଗମ୍ଯତା ତାଲିମ ଦିଅନ୍ତୁ
Comment[pl]=Ćwiczenia z dostępności dla programów
Comment[pt]=Faça um teste ao suporte de acessibilidade da sua aplicação
Comment[pt_BR]=Faça um exercício de acessibilidade em seu aplicativo
Comment[ro]=Verificați accesibilitatea aplicației dumneavoastră
Comment[ru]=Дайте вашему приложению возможность потренироваться в использовании специальных возможностей
Comment[sk]=Sprístupňuje vašu aplikáciu
Comment[sl]=Programu omogočite vaje iz dostopnosti
Comment[sr]=Дајте вашем програму тренинг приступачности
Comment[sr@latin]=Dajte vašem programu trening pristupačnosti
Comment[sq]=Verifikimi i açesibilitetit të aplikativëve të krijuar
Comment[sv]=Ge ditt program en omgång hjälpmedelsfunktioner
Comment[tr]=Uygulamanıza bir erişilebilirlik çalışma alanı verin
Comment[te]=మీ అనువర్తనమునకు అందుబాటు రూపమివ్వండి
Comment[tg]=Ба барномаи шумо санҷиши дастрасиро илова мекунад
Comment[th]=ช่วยพัฒนาสิ่งอำนวยความสะดวกในโปรแกรมของคุณ
Comment[ug]=پروگراممىغا ياردەمچى ئىقتىدار قوشۇش
Comment[uk]=Дослідження підтримки можливостей доступності
Comment[vi]=Thử ra khả năng truy cập của ứng dụng
Comment[zh_CN]=为您的应用提供无障碍功能测试
Comment[zh_HK]=為你的應用提供無障礙功能測試
Comment[zh_TW]=為您的應用提供無障礙功能測試
Comment=Give your application an accessibility workout
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[as]=অভিগম্যতা;উন্নয়ন;পৰিক্ষণ;
Keywords[az]=əlçatanlıq;inkişaf;test;
Keywords[be]=accessibility;development;test;даступнасць;спецыяльныя;магчымасці;распрацаванне;распрацоўка;тэсціраванне;
Keywords[bg]=достъпност;разработка;проверка;accessibility;development;test;
Keywords[bs]=pristupačnost;razvoj;test;
Keywords[ca]=accessibilitat;desenvolupament;prova;
Keywords[ca@valencia]=accessibilitat;desenvolupament;prova;
Keywords[cs]=přístupnost;vývoj;testování;
Keywords[da]=tilgængelighed;udvikling;test;
Keywords[de]=Barrierefreiheit;Entwicklung;Test;
Keywords[el]=προσβασιμότητα;ανάπτυξη;δοκιμή;accessibility;development;test;
Keywords[en_GB]=accessibility;development;test;
Keywords[es]=accesibilidad;desarrollo;pruebas;
Keywords[et]=universaalne ligipääs;ligipääs;arendus;testimine;
Keywords[eu]=erabilgarritasuna;garapena;proba;
Keywords[fi]=accessibility;development;test;esteettömyys;kehitys;testaus;
Keywords[fr]=accessibilité;développement;test;
Keywords[fur]=acessibilitât;svilup;prove;
Keywords[gl]=accesibilidade;desenvolvemento;proba;
Keywords[he]=נגישות;פיתוח;בדיקה;
Keywords[hi]=अभिगम्यता;विकास;परीक्षण;अभिगम्यता;विकास;परीक्षण;
Keywords[hu]=akadálymentesítés;fejlesztés;teszt;
Keywords[id]=aksesabilitas;pengembangan;tes;
Keywords[it]=accessibilità;sviluppo;test;
Keywords[ja]=accessibility;development;test;アクセシビリティ;開発;テスト;試験;検証;検査;
Keywords[ka]=accessibility;development;test;
Keywords[ko]=accessibility;접근성;development;개발;test;테스트;
Keywords[lv]=pieejamība;izstrāde;testēšana;
Keywords[lt]=prieiga;kūrimas;testavimas;
Keywords[ml]=accessibility;development;test;
Keywords[ms]=kebolehcapaian;pembangunan;ujian;
Keywords[nb]=tilgjengelighet;utvikling;test;
Keywords[ne]=accessibility;development;test;
Keywords[nl]=accessibility;development;test;toegankelijkheid;ontwikkeling;
Keywords[oc]=accessibilitat;desvolopament;tèst;
Keywords[pl]=dostępność;ułatwienia dostępu;rozwijanie;programowanie;development;test;testowanie;testuj;przetestuj;
Keywords[pt]=acessibilidade;desenvolvimento;teste;
Keywords[pt_BR]=acessibilidade;desenvolvimento;testes;teste;
Keywords[ro]=accessibility;development;test;accesibilitate;dezvoltare;
Keywords[ru]=удобство;использования;доступность;разработка;тест;accessibility;development;test;
Keywords[sk]=zjednodušenie ovládania;sprístupnenie;vývoj;testovanie;skúšanie;
Keywords[sl]=dostopnost;razvoj;preizkus;test;Python;
Keywords[sr]=приступачност;развој;испробавање;проба;тест;accessibility;development;test;
Keywords[sr@latin]=pristupačnost;razvoj;isprobavanje;proba;test;
Keywords[sv]=hjälpmedel;tillgänglighet;utveckling;test;
Keywords[tr]=accessibility;development;test;erişilebilirlik;geliştirme;sınama;
Keywords[ug]=accessibility;development;test;ياردەمچى ئىقتىدار;ئىجادىيەت;سىناق;
Keywords[uk]=accessibility;development;test;доступність;розробка;тестування;перевірка;
Keywords[zh_CN]=accessibility;development;test;辅助功能;开发;测试;无障碍;可达性;可访问性;
Keywords[zh_HK]=accessibility;development;test;無障礙;開發;測試;
Keywords[zh_TW]=accessibility;development;test;無障礙;開發;測試;
Keywords=accessibility;development;test;
Terminal=false
Type=Application
Exec=accerciser
StartupNotify=true
Categories=Development;GNOME;GTK;Accessibility;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=accerciser
