[Desktop Entry]
Name=CPU-X
Comment[ar]=يجمع معلومات عن المعالج، اللوحة الأم، وأكثر
Comment[cs_CZ]=Shromažďuje informace o procesoru, základní desce a další
Comment[de]=Sammelt Informationen über CPU, Hauptplatine und mehr
Comment[el]=Συγκεντρώνει πληροφορίες σχετικά με τη CPU, τη μητρική πλακέτα και άλλα
Comment[es]=Recopila información sobre CPU, placa madre y más
Comment[fr]=Récolte des informations sur le CPU, la carte-mère et plus
Comment[ga]=Bailíonn sé eolas ar LAP, máthairchlár agus go leor eile
Comment[id]=Mengumpulkan informasi CPU, papan induk, dan lainnya
Comment[it]=Raccoglie informazioni su CPU, scheda madre ed altro
Comment[ja]=CPU、マザーボードなどの情報を収集する
Comment[pl]=Zbiera informacje o procesorze, płycie głównej i nie tylko
Comment[pt]=Recolhe informações sobre a CPU, a placa-mãe e muito mais
Comment[pt_BR]=Coleta informações sobre sua CPU, placa-mãe and mais
Comment[ro]=Adună informații despre procesor, placa bază și multe altele
Comment[ru]=Собирает информацию о процессоре, материнской плате и многом другом
Comment[sv]=Samlar in information om CPU, moderkort och mer.
Comment[ta]=CPU, மதர்போர்டு மற்றும் பலவற்றில் தகவல்களைச் சேகரிக்கும்
Comment[tr]=İşlemci, anakart ve daha fazlası hakkında bilgi toplar
Comment[uk]=Збирає інформацію про процесор, материнську плату тощо
Comment[zh]=收集有关 CPU 和主板等的信息
Comment[zh_Hant]=收集 CPU、主機板等資訊
Comment=Gathers information on CPU, motherboard and more
Exec=cpu-x
Icon=io.github.thetumultuousunicornofdarkness.cpu-x
Type=Application
Categories=GTK;System;
Terminal=false
Keywords[ar]=المعالج;النظام;النواة;السرعة;الساعة;المعدل;Intel;AMD;اللوحة الأم;
Keywords[de]=CPU;System;Kern;Geschwindigkeit;Takt;Rate;Intel;AMD;Hauptplatine;
Keywords[es]=CPU;sistema;core;velocidad;reloj;tasa;Intel;AMD;placa madre;
Keywords[fr]=CPU;système;cœur;vitesse;fréquence;cadence;Intel;AMD;carte-mère;
Keywords[ga]=LAP;córas;croí;luas;clog;ráta;Intel;AMD;máthairchlár;
Keywords[id]=CPU;sistem;inti; kecepatan;clock;rate;Intel;AMD;papan induk;
Keywords[ja]=CPU;システム;コア;速度;クロック;レート;Intel;AMD;マザーボード;
Keywords[pl]=CPU;procesor;system;rdzeń;prędkość;taktowanie;Intel;AMD;płyta główna;
Keywords[pt]=CPU;sistema;núcleo;velocidade;relógio;taxa;Intel;AMD;placa-mãe;
Keywords[pt_BR]=CPU;system;core;speed;clock;rate;Intel;AMD;motherboard;
Keywords[ro]=CPU;sistem;nucleu;viteză;ceas;rată;Intel;AMD; placa bază;
Keywords[ru]=CPU;system;core;speed;clock;rate;Intel;AMD;motherboard;процессор;система;ядро;скорость;тактовая;частота;материнская плата;
Keywords[sv]=CPU;system;kärna;hastighet;klocka;betyg;Intel;AMD; Moderkort;
Keywords[ta]=CPU; அமைப்பு; கோர்; வேகம்; கடிகாரம்; வீதம்; இன்டெல்; AMD; மதர்போர்டு;
Keywords[tr]=CPU;sistem;çekirdek;hız;saat;oran;Intel;AMD;anakart;
Keywords[uk]=ЦП;система;ядро;швидкість;тактова частота;Intel;AMD;материнська плата;
Keywords[zh]=中央处理器;系统;核心;速度;时钟;频率;英特尔;AMD;主板;
Keywords=CPU;system;core;speed;clock;rate;Intel;AMD;motherboard;
