[Desktop Entry]
Name=Input Sources
Name[ar]=مصادر الإدخال
Name[bg]=Входни устройства
Name[cs]=Vstupní zdroje
Name[da]=Inputkilder
Name[de]=Eingangsquellen
Name[el]=Πηγές εισόδου
Name[en]=Input Sources
Name[en_GB]=Input Sources
Name[es]=Fuentes de entrada de teclado
Name[fi]=Syötelähteet
Name[fr]=Sources de saisie
Name[ga]=Foinsí Ionchuir
Name[gl]=Fontes de Entrada
Name[hi]=इनपुट स्रोत
Name[hu]=Beviteli források
Name[id]=Sumber Masukan
Name[it]=Sorgenti di input
Name[kab]=Iɣbula n unekcum
Name[kk]=Кіріс көздері
Name[kmr]=Çavkaniyên ketanê
Name[ko]=입력 소스
Name[lt]=Įvesties Šaltiniai
Name[nl]=Invoerbronnen
Name[oc]=Fonts d’entrada
Name[pa]=ਇਨਪੁੱਟ ਸਰੋਤ
Name[pl]=Źródła wprowadzdania danych
Name[pt]=Métodos de Entrada de Teclado
Name[pt_BR]=Fontes de entrada
Name[ru]=Источники ввода
Name[sk]=Vstupné zdroje
Name[sr]=Извори уноса
Name[sv]=Inmatningskällor
Name[uk]=Джерела введення
Name[zh_CN]=输入源
Name[zh_Hant]=輸入來源
Comment=Switch between input sources
Comment[ar]=بدّل بين مصادر الإدخال
Comment[cs]=Přepínání mezi vstupními zdroji
Comment[da]=Skift mellem inputkilder
Comment[de]=Zwischen Eingangsquellen wechseln
Comment[el]=Εναλλαγή μεταξύ πηγών εισόδου
Comment[en]=Switch between input sources
Comment[en_GB]=Switch between input sources
Comment[fi]=Vaihda syötelähteiden välillä
Comment[fr]=Changer de source de saisie
Comment[ga]=Athraigh idir foinsí ionchuir
Comment[gl]=Cambiar entre fontes de entrada
Comment[hi]=इनपुट स्रोतों के बीच स्विच करें
Comment[hu]=Váltás a beviteli források között
Comment[id]=Alihkan antara sumber masukan
Comment[it]=Passa da una sorgente di input all’altra
Comment[kab]=Senfel gar iɣbula n unekcum
Comment[kk]=Кіріс көздері арасында ауысу
Comment[kmr]=Di navbera çavkaniyên ketanê de biguhêrîne
Comment[ko]=입력 소스 간 전환
Comment[lt]=Perjungti įvesties šaltinius
Comment[nl]=Schakel tussen invoerbronnen
Comment[pa]=ਇਨਪੁੱਟ ਸਰੋਤਾਂ ਵਿਚਾਲੇ ਬਦਲੋ
Comment[pl]=Przełączanie pomiędzy źródłami wejścia
Comment[pt_BR]=Alternar entre fontes de entrada
Comment[ru]=Переключение между источниками ввода
Comment[sat]=ᱤᱱᱯᱩᱴ ᱥᱚᱨᱥ ᱠᱚ ᱛᱟᱞᱟ ᱨᱮ ᱵᱚᱫᱚᱞ ᱢᱮ
Comment[sr]=Пребацивање између извора уноса
Comment[sv]=Växla mellan inmatningskällor
Comment[uk]=Перемикання джерел введення тексту
Comment[zh_CN]=切换输入源
Comment[zh_Hant]=切換各輸入來源
Type=Application
Exec=cosmic-applet-input-sources
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Input;Source;
Keywords[ar]=COSMIC;بريمج;إدخال;مصدر;
Keywords[cs]=COSMIC;Applet;Vstupy;Zdroje;
Keywords[da]=COSMIC;Applet;Input;Kilde;
Keywords[de]=COSMIC;Applet;Eingang;Quelle;
Keywords[el]=Μικροεφαρμογή;Πηγή;Είσοδος;COSMIC;Applet;Input;Source;
Keywords[en]=COSMIC;Applet;Input;Source;
Keywords[en_GB]=COSMIC;Applet;Input;Source;
Keywords[fi]=COSMIC;Applet;Input;Source;sovelma;syöte;syöttö;sisääntulo;lähde;
Keywords[fr]=COSMIC;Applet;Saisie;Source;
Keywords[ga]=COSMIC;Feidhmchláirín;Ionchur;Foinse;
Keywords[gl]=COSMIC;Miniaplicación;Entrada;Fonte;
Keywords[hi]=COSMIC; Applet; इनपुट; स्रोत;
Keywords[hu]=COSMIC;kisalkalmazás;beviteli;forrás;
Keywords[id]=COSMIC;Applet;Masukan;Sumber;
Keywords[it]=COSMIC;Applet;Input;Sorgente;
Keywords[kab]=Cosmic;Tappleṭ;Anekcum;Aɣbalu;
Keywords[kk]=COSMIC;Апплет;Енгізу;Көз;
Keywords[kmr]=COSMIC;Sepanok;Ketan;Çavkanî;
Keywords[ko]=COSMIC;애플릿;입력;소스;
Keywords[lt]=COSMIC;Apletas;Įvestis;Šaltiniai;
Keywords[nl]=COSMIC;Applet;Invoer;Bron;Methode;Invoerbron;Invoermethode;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਇਨਪੁੱਟ;ਸਰੋਤ;
Keywords[pl]=COSMIC;Aplet;Wejście;Wejścia;Źródła;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Entrada;Input;Dispositivo;
Keywords[ru]=COSMIC;Апплет;Ввод;Ввода;Источник;Раскладка;
Keywords[sat]=ᱠᱚᱥᱢᱤᱠ; ᱮᱯᱞᱮᱴ; ᱤᱱᱯᱩᱴ; ᱥᱨᱚᱛ;
Keywords[sr]=COSMIC;Applet;Input;Source;Космик;Програмчић;Унос;Извор;kosmik;programčić;unos;izvor;
Keywords[sv]=COSMIC;Miniprogram;Inmatningskälla;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Джерело;Введення;Розкладка;Клавіатура;
Keywords[zh_CN]=COSMIC;小部件;输入;输入源;
Keywords[zh_Hant]=COSMIC;小程式;輸入;輸入源;
Icon=com.system76.CosmicAppletInputSources-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-HostWaylandDisplay=true
X-OverflowPriority=10
