[Desktop Entry]
Name[bg]=HandBrake
Name[ca]=HandBrake
Name[co]=HandBrake
Name[de]=HandBrake
Name[es]=HandBrake
Name[eu]=HandBrake
Name[fi]=HandBrake
Name[fr]=HandBrake
Name[gl_ES]=HandBrake
Name[it]=HandBrake
Name[ja]=HandBrake
Name[ko]=HandBrake
Name[nl]=HandBrake
Name[pt_BR]=HandBrake
Name[ru]=HandBrake
Name[sl_SI]=HandBrake
Name[sv]=HandBrake
Name[zh_CN]=HandBrake
Name=HandBrake
GenericName[co]=Trascudificatore di medià
GenericName[de]=Medientranscoder
GenericName[es]=Transcodificador de medios
GenericName[eu]=Multimedia transkodetzailea
GenericName[fi]=Mediatranskoodain
GenericName[fr]=Convertisseur de média
GenericName[gl_ES]=Transcodificador de Medios
GenericName[it]=Transcodificatore multimediale
GenericName[ja]=メディアトランスコーダー
GenericName[ko]=미디어 트랜스코더
GenericName[nl]=Media-transcodering
GenericName[pt_BR]=Transcodificador de mídia
GenericName[ru]=Медиа-транскодер
GenericName[sl_SI]=Prekodirnik vsebin
GenericName[sv]=Mediaomkodare
GenericName[zh_CN]=媒体转码器
GenericName=Media Transcoder
Comment[co]=Trascudificheghja DVD, Blu-ray è altri medià
Comment[de]=Transcodiert DVD, Blu-ray und andere Medien
Comment[es]=Transcodifica DVD, Blu-ray y otros medios
Comment[eu]=DVD, Blu-ray eta beste euskarri batzuk transkodetzen ditu
Comment[fi]=Transkoodaa DVD-, Bluray- ja muita tietovälineitä.
Comment[fr]=Convertit les DVD, Blu-ray et autres médias
Comment[gl_ES]=Transcodifica DVD, Blu-ray e outros medios
Comment[it]=Transcodifica DVD, Blu-ray e altri supporti
Comment[ja]=DVD、ブルーレイや他メディアのトランスコード
Comment[ko]=DVD, Blu-ray 및 기타 미디어를 트랜스코딩합니다
Comment[nl]=Transcodeert DVD, Blu-ray en andere media
Comment[pt_BR]=Transcodifica DVD, Blu-ray e outras mídias
Comment[ru]=Перекодирует DVD, Blu-ray и другие носители
Comment[sl_SI]=Prekodira DVD, Blu-ray in druge vsebine
Comment[sv]=Omkodar DVD, Blu-ray och andra media
Comment[zh_CN]=对DVD、蓝光和其他媒体进行转码
Comment=Transcodes DVD, Blu-ray, and other media
Exec=ghb %f
Icon=fr.handbrake.ghb
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Video;
Keywords[co]=Cunvertidore di furmatu ; Cudificatore video ;
Keywords[de]=Formatconverter;Videoencoder;
Keywords[es]=Convertidor de formato; codificador de vídeo;
Keywords[eu]=Formatu Bihurtzailea; Bideo-kodetzailea;
Keywords[fi]=Tiedostomuodon muunto;Videokoodain;
Keywords[fr]=Convertisseur de format;Encodeur vidéo;
Keywords[gl_ES]=Convertedor de Formato; Codificador de Vídeo;
Keywords[it]=Convertitore di formato;Codificatore video;
Keywords[ja]=形式変換;ビデオエンコーダー;
Keywords[ko]=포맷 컨버터;비디오 인코더;
Keywords[nl]=Formaatconverter; Video-codering;
Keywords[pt_BR]=Conversor de formatos; codificador de vídeo;
Keywords[ru]=Конвертер форматов; видеокодер;
Keywords[sl_SI]=Pretvornik formatov; video kodirnik;
Keywords[sv]=Formatkonverterare;Video-kodare;
Keywords[zh_CN]=Format Converter;Video Encoder;geshizhuanhuanqi;shipinbianmaqi;zhuanmaqi;格式转换器;视频编码器;转码器;
Keywords=Format Converter;Video Encoder;
MimeType=application/ogg;application/x-extension-mp4;application/x-flac;application/x-matroska;application/x-ogg;audio/ac3;audio/mp4;audio/mpeg;audio/ogg;audio/x-flac;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-mpeg;audio/x-vorbis;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/quicktime;video/vnd.divx;video/webm;video/x-avi;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-ms-wmv;video/ogg;video/x-ogm+ogg;video/x-theora+ogg;x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;
