[Desktop Entry]
Name=Network
Name[ar]=الشبكة
Name[bg]=Мрежа
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en]=Network
Name[en_GB]=Network
Name[es]=Red
Name[fi]=Verkko
Name[fr]=Réseau
Name[ga]=Líonra
Name[gl]=Rede
Name[hi]=नेटवर्क
Name[hu]=Hálózat
Name[id]=Jaringan
Name[it]=Rete
Name[kab]=Aẓeṭṭa
Name[kk]=Желі
Name[kmr]=Tor
Name[ko]=네트워크
Name[lt]=Tinklas
Name[nl]=Netwerk
Name[oc]=Ret
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ru]=Сеть
Name[sk]=Sieť
Name[sr]=Мрежа
Name[sv]=Nätverk
Name[uk]=Мережа
Name[zh_CN]=网络
Name[zh_Hant]=網路
Comment=Manage network connections
Comment[ar]=أدِر اتصالات الشبكة
Comment[cs]=Správa síťových připojení
Comment[da]=Administrer netværksforbindelser
Comment[de]=Netzwerkverbindungen verwalten
Comment[el]=Διαχείριση συνδέσεων δικτύου
Comment[en]=Manage network connections
Comment[en_GB]=Manage network connections
Comment[fi]=Hallitse verkkoyhteyksiä
Comment[fr]=Gérer les connexions réseau
Comment[ga]=Bainistigh naisc líonra
Comment[gl]=Xestionar as conexións de rede
Comment[hi]=नेटवर्क कनेक्शन प्रबंधित करें
Comment[hu]=Hálózati kapcsolatok kezelése
Comment[id]=Kelola sambungan jaringan
Comment[it]=Gestisci le connessioni di rete
Comment[kab]=Sefrek tuqqniwin n uzeṭṭa
Comment[kk]=Желілік қосылымдарды басқару
Comment[kmr]=Girêdanên torê bi rê ve bibe
Comment[ko]=네트워크 연결 관리
Comment[lt]=Valdyti tinklo ryšius
Comment[nl]=Beheer netwerkverbindingen
Comment[oc]=Gerir las connexion ret
Comment[pa]=ਨੈੱਟਵਰਕ ਕਨੈਕਸ਼ਨਾਂ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzanie połączeniami sieciowymi
Comment[pt_BR]=Gerenciar conexões de rede
Comment[ru]=Управление сетевыми подключениями
Comment[sr]=Управљај мрежним везама
Comment[sv]=Hantera nätverksanslutningar
Comment[uk]=Керування мережевими з’єднаннями
Comment[zh_CN]=管理网络连接
Comment[zh_Hant]=管理網路連接
Type=Application
Exec=cosmic-applet-network
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Network;
Keywords[ar]=COSMIC;بريمج;شبكة;
Keywords[cs]=COSMIC;Applet;Síť;
Keywords[da]=COSMIC;Applet;Netværk;
Keywords[de]=COSMIC;Applet;Netzwerk;
Keywords[el]=Μικροεφαρμογή;Δίκτυο;COSMIC;Applet;Network;
Keywords[en]=COSMIC;Applet;Network;
Keywords[en_GB]=COSMIC;Applet;Network;
Keywords[fi]=COSMIC;Applet;Network;sovelma;verkko;
Keywords[fr]=COSMIC;Applet;Réseau;
Keywords[ga]=COSMIC;Feidhmchláirín;Líonra;
Keywords[gl]=COSMIC;Miniaplicación;Rede;
Keywords[hu]=COSMIC;kisalkalmazás;hálózat;internet;
Keywords[id]=COSMIC;Applet;Jaringan;
Keywords[it]=COSMIC;Applet;Rete;
Keywords[kab]=COSMIC;Tappleṭ;Aẓeṭṭa;
Keywords[kk]=COSMIC;Апплет;Желі;
Keywords[kmr]=COSMIC;Sepanok;Tor;
Keywords[ko]=COSMIC;애플릿;네트워크;
Keywords[lt]=COSMIC;Apletas;Tinklas;
Keywords[nl]=COSMIC;Applet;Netwerk;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਨੈੱਟਵਰਕ;
Keywords[pl]=COSMIC;Aplet;Sieć;Połączenia;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Rede;
Keywords[ru]=COSMIC;Апплет;Сеть;
Keywords[sr]=COSMIC;Applet;Network;Космик;Програмчић;Мрежа;kosmik;programčić;mreža;
Keywords[sv]=COSMIC;Miniprogram;Nätverk;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Мережа;Інтернет;
Keywords[zh_CN]=COSMIC;小部件;网络;
Keywords[zh_Hant]=COSMIC;工具程式;網路;
Icon=com.system76.CosmicAppletNetwork-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
