[Desktop Entry]
Name=Wi-Fi
Name[ar]=واي فاي
Name[cs]=Wi-Fi
Name[de]=WLAN
Name[el]=Wi-Fi
Name[en]=Wi-Fi
Name[fi]=Wi-Fi
Name[fr]=Wi-Fi
Name[ga]=Wi-Fi
Name[gl]=WiFi
Name[hu]=Wi-Fi
Name[id]=Wi-Fi
Name[kab]=Wi-Fi
Name[kk]=Wi-Fi
Name[kmr]=Wi-Fi
Name[ko]=Wi-Fi
Name[lt]=Wi-Fi
Name[pa]=Wi-Fi
Name[pl]=WI-FI
Name[pt_BR]=Wi-Fi
Name[ru]=Wi-Fi
Name[sr]=Бежична
Name[sv]=Wi-Fi
Name[tr]=Wi-Fi
Name[uk]=Wi-Fi
Name[zh_CN]=Wi-Fi
Name[zh_TW]=Wi-Fi
Comment=Wi-Fi connections and connection profiles.
Comment[ar]=اتصالات الواي فاي وملفات تعريف الاتصال
Comment[cs]=Wi-Fi připojení a profily
Comment[de]=WLAN-Verbindungen und Verbindungsprofile
Comment[el]=Συνδέσεις Wi-Fi και προφίλ σύνδεσης
Comment[en]=Wi-Fi connections and connection profiles
Comment[es]=Conexiones Wi-Fi y perfiles de conexión
Comment[fi]=Wi-Fi-yhteydet ja -yhteysprofiilit
Comment[fr]=Connexions Wi-Fi et profils
Comment[ga]=Naisc Wi-Fi agus próifílí nasc
Comment[gl]=Conexións Wi-Fi e perfís de conexión
Comment[hu]=Wi-Fi-kapcsolatok és kapcsolódási profilok
Comment[id]=Sambungan Wi-Fi dan profil sambungan
Comment[it]=Connessioni Wi-Fi e profili di connessione
Comment[kab]=Tuqqniwin Wi-Fi akked imeɣna n tuqqna
Comment[kk]=Wi-Fi қосылымдары және қосылымдар профильдері
Comment[kmr]=Girêdanên Wi-Fi û profîlên girêdanê
Comment[ko]=Wi-Fi 연결 및 연결 프로필
Comment[lt]=Wi-Fi ryšiai ir ryšių profiliai
Comment[nl]=Wifiverbinding en verbindingsprofielen
Comment[pa]=Wi-Fi ਕਨੈਕਸ਼ਨ ਅਤੇ ਕਨੈਕਸ਼ਨ ਪਰੋਫ਼ਾਇਲ
Comment[pl]=Połączenia Wi-Fi i profile połączeń
Comment[pt]=Conexões de rede sem fio e perfis de conexão
Comment[pt_BR]=Conexões Wi-Fi e perfis de conexão
Comment[ru]=Wi-Fi-соединения и профили
Comment[sk]=Wi-Fi pripojenia a profily pripojení
Comment[sr]=Бежичне везе и профили везе
Comment[sv]=Wi-Fi-anslutningar och anslutningsprofiler
Comment[tr]=Wi-Fi bağlantıları ve bağlantı profilleri
Comment[uk]=Wi-Fi з'єднання і профілі підключення
Comment[zh_CN]=Wi-Fi 连接和配置文件
Comment[zh_TW]=Wi-Fi 連接與連接設定檔案
Type=Application
Exec=cosmic-settings wireless
Terminal=false
Categories=COSMIC
Keywords=COSMIC;WiFi;Wi-Fi;Network;Connection;
Keywords[ar]=COSMIC;واي فاي;Wi-Fi;شبكة;اتصال;
Keywords[cs]=COSMIC;WiFi;Wi-Fi;Síť;Připojení;
Keywords[de]=COSMIC;WLAN;Netzwerk;Verbindung;
Keywords[el]=Σύνδεση;Δίκτυο;COSMIC;WiFi;Wi-Fi;Network;Connection;
Keywords[en]=COSMIC;WiFi;Wi-Fi;Network;Connection;
Keywords[fi]=COSMIC;WiFi;Wi-Fi;Network;Connection;langaton;verkko;yhteys;
Keywords[fr]=COSMIC;WiFi;Wi-Fi;Réseau;Connexion;
Keywords[ga]=COSMIC;WiFi;Wi-Fi;Líonra;Ceangal;
Keywords[gl]=COSMIC;WiFi;Wi-Fi;Rede;Conexión;
Keywords[hu]=COSMIC;WiFi;Wi-Fi;Hálózat;Kapcsolat;
Keywords[id]=COSMIC;WiFi;Wi-Fi;Jaringan;Sambungan;
Keywords[kab]=COSMIC;WiFi;Wi-Fi;Aẓeṭṭa;Tuqqna;
Keywords[kk]=COSMIC;WiFi;Wi-Fi;Желі;Қосылым;
Keywords[kmr]=COSMIC;WiFi;Wi-Fi;Tor;Girêdan;
Keywords[ko]=COSMIC;WiFi;Wi-Fi;네트워크;연결;
Keywords[lt]=COSMIC;WiFi-Wi-Fi;Tinklas;Ryšys;
Keywords[pa]=COSMIC;ਵਾਈ-ਫਾਈ;ਵਾਈਫਾਈ;ਨੈੱਟਵਰਕ;ਕਨੈਕਸ਼ਨ;
Keywords[pl]=COSMIC;WiFi;Wi-Fi;Sieć;Połączenie;Łącze;
Keywords[pt_BR]=COSMIC;WiFi;Wi-Fi;Rede;Conexão;
Keywords[ru]=COSMIC;WiFi;Wi-Fi;Вайфай;Сеть;Подключение;Соединение;
Keywords[sr]=Космик;Бежична;Вај-фај;Мрежа;Веза;
Keywords[sv]=COSMIC;WiFi;Wi-Fi;Nätverk;Anslutning;
Keywords[tr]=COSMIC;WiFi;Wi-Fi;Ağ; Bağlantı;
Keywords[uk]=COSMIC;WiFi;Wi-Fi;Мережа;З'єднання;Підключення;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;WiFi;Wi-Fi;网络;连接;
Keywords[zh_TW]=COSMIC;WiFi;Wi-Fi;網路;連接;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wireless
StartupNotify=true
