[Desktop Entry]
Name=Appearance
Name[ar]=المظهر
Name[be]=Выгляд
Name[bg]=Външен вид
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Aussehen
Name[el]=Εμφάνιση
Name[en]=Appearance
Name[en_GB]=Appearance
Name[es]=Apariencia
Name[es_419]=Apariencia
Name[et]=Välimus
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[ga]=Dealramh
Name[gl]=Apariencia
Name[hi]=रुप-रंग
Name[hu]=Megjelenés
Name[id]=Tampilan
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[kab]=Timeẓri
Name[kk]=Сыртқы көрініс
Name[kmr]=Xuyang
Name[kn]=ರೂಪರೇಷೆ
Name[ko]=외관
Name[lt]=Išvaizda
Name[nb_NO]=Utseende
Name[nl]=Uiterlijk
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[sk]=Vzhľad
Name[sr]=Изглед
Name[sr_Cyrl]=Изглед
Name[sr_Latn]=Izgled
Name[sv]=Utseende
Name[th]=หน้าตา
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[zh_CN]=外观
Name[zh_TW]=外觀
Comment=Accent colors and theming.
Comment[af]=Aksentkleure en temas
Comment[ar]=ألوان التمييز والسمات
Comment[cs]=Barvy zvýraznění a motivy
Comment[da]=Accentfarver og temaer
Comment[de]=Akzentfarben und Themen
Comment[el]=Χρώματα έμφασης και θέματα
Comment[en]=Accent colors and theming
Comment[es]=Colores de énfasis y temas
Comment[fi]=Korostusvärit ja teemat
Comment[fr]=Couleurs d'accentuation et thèmes
Comment[ga]=Dathanna béime agus téamaí
Comment[gl]=Cores de acento e temas
Comment[hu]=Kiemelőszínek és témázás
Comment[id]=Warna aksen dan tema
Comment[it]=Colore d'accento e temi
Comment[kab]=Initen n uɣdebbu akked isental
Comment[kk]=Акцентті түстер және темалар
Comment[kmr]=Rengên taybet û rûkar
Comment[ko]=강조 색상과 테마
Comment[lt]=Akcentų spalvos ir stiliai
Comment[nl]=Accentkleuren en thema's
Comment[pl]=Kolory akcentów i styl
Comment[pt]=Cores de destaque e temas
Comment[pt_BR]=Cores de destaque e temas
Comment[ru]=Акцентные цвета и оформление
Comment[sk]=Akcentové farby a témy
Comment[sr]=Боје нагласка и теме
Comment[sv]=Accentfärger och teman
Comment[tr]=Vurgu renkleri ve tema
Comment[uk]=Акцентні кольори та оформлення
Comment[zh_CN]=主题色和个性化
Comment[zh_TW]=強調色和主題
Type=Application
Exec=cosmic-settings appearance
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Accent;Color;Icon;Font;Theme
Keywords[af]=COSMIC;Weergawe;Aksentkleure;Color;Icon;Font;Temas
Keywords[ar]=COSMIC;تمييز;لون;أيقونة;خط;سمة;نسق
Keywords[cs]=COSMIC;Zvýraznění;Barva;Barvy;Akcent;Ikona;Ikony;Font;Písmo;Písma;Témata;Motivy;
Keywords[da]=COSMIC;Accent;Farve;Ikon;Skrifttype;Tema
Keywords[de]=COSMIC;Akzent;Farbe;Symbol;Schriftart;Thema
Keywords[el]=Έμφαση;Χρώμα;Εικονίδιο;Γραμματοσειρά;Θέμα;COSMIC;Accent;Color;Icon;Font;Theme
Keywords[en]=COSMIC;Accent;Color;Icon;Font;Theme
Keywords[fi]=COSMIC;Accent;Color;Icon;Font;Theme;korostus;aksentti;väri;kuvake;ikoni;fontti;kirjasin;teema
Keywords[fr]=COSMIC;Accentuation;Couleur;Icône;Police;Thème
Keywords[ga]=COSMIC;Béim;Dath;Deilbhín;Cló;Téama
Keywords[gl]=COSMIC;Acento;Cor;Icona;Tipo de letra;Tema
Keywords[hu]=COSMIC;Kiemelő;Szín;Ikon;Betűkészlet;Téma;
Keywords[id]=COSMIC;Aksen;Warna;Ikon;Huruf;Tema
Keywords[kab]=COSMIC;Aɣdebbu;Ini;Tignit;Tasefsit;Asentel
Keywords[kk]=COSMIC;Акцент;Түс;Таңбаша;Қаріп;Тема
Keywords[kmr]=COSMIC;Reng;Îkon;Cûrenivîs;Rûkar
Keywords[ko]=COSMIC;강조;색상;아이콘;글꼴;테마
Keywords[nl]=COSMIC;Accent;Kleur;Accentkleur;Icoon;Iconen;Lettertype;Thema
Keywords[pl]=COSMIC;Akcenty;Kolor;Ikony;Czcionki;Wygląd;Styl
Keywords[pt_BR]=COSMIC;Destaque;Accent;Cor;Ícone;Fonte;Tema
Keywords[ru]=COSMIC;Акцентный;Цвет;Иконки;Значки;Шрифт;Тема;Оформление
Keywords[sr]=COSMIC;Accent;Color;Icon;Font;Theme;Космик;Нагласак;Боја;Иконица;Фонт;Тема;kosmik;naglasak;boja;ikonica;font;tema
Keywords[sv]=COSMIC;Accent;Färg;Ikon;Teckensnitt;Tema
Keywords[tr]=COSMIC;Vurgu;Renk;Simge;Yazı Tipi;Tema
Keywords[uk]=COSMIC;Колір;Акценту;Піктограма;Іконка;Значок;Шрифт;Черенки;Тема;КОСМІК;КОСМОС;КОСМІЧНЕ
Keywords[zh_CN]=COSMIC;主题色;颜色;图标;字体;主题
Keywords[zh_TW]=COSMIC;強調色;颜色;圖示;字體;主題
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-appearance
StartupNotify=true
