[Desktop Entry]
Type=Application
Name=Budgie Panel
Name[af]=Budgie Paneel
Name[ar]=شريط مهام Budgie
Name[bg]=Budgie Панел
Name[bg_BG]=Budgie Панел
Name[bn]=Budgie প্যানেল
Name[ca]=Plafó del Budgie
Name[cs]=Panel Budgie
Name[da]=Budgie-panel
Name[de]=Budgie Leiste
Name[de_CH]=Budgie Leiste
Name[el_GR]=Budgie Πάνελ
Name[en_AU]=Budgie Panel
Name[en_GB]=Budgie Panel
Name[en_US]=Budgie Panel
Name[eo]=Panelo de Budgie
Name[es]=Panel Budgie
Name[es_419]=Panel de Budgie
Name[es_AR]=Panel Budgie
Name[es_CL]=Panel de Budgie
Name[es_MX]=Panel de Budgie
Name[es_PE]=Panel de Budgie
Name[es_US]=Panel de Budgie
Name[et]=Budgie paneel
Name[eu]=Budgie Panela
Name[fi]=Budgie-paneeli
Name[fr]=Panneau Budgie
Name[fr_BE]=Panneau Budgie
Name[fr_FR]=Panneau Budgie
Name[ga]=Painéal Budgie
Name[he]=לוח Budgie
Name[hr]=Budgie panel
Name[hu]=Budgie Panel
Name[id]=Panel Budgie
Name[it]=Pannello Budgie
Name[ja]=Budgie パネル
Name[ka]=“Budgie”-ის პანელი
Name[kab]=Agalis Budgie
Name[kk]=Budgie панелі
Name[ko]=Budgie 작업표시줄
Name[lt]=Budgie skydelis
Name[ms_MY]=Panel Budgie
Name[nl]=Budgie Paneel
Name[nl_BE]=Budgie Paneel
Name[no]=Budgie panel
Name[oc]=Panèl Budgie
Name[pa]=ਬੱਜੀ ਪੈਨਲ
Name[pl]=Panel Budgie
Name[pt]=Painel Budgie
Name[pt_BR]=Painel do Budgie
Name[ro]=Panou Budgie
Name[ru]=Панель Budgie
Name[sk]=Panel Budgie
Name[sl]=Budgie Panel
Name[sq]=Paneli Budgie
Name[sv]=Budgie-panelen
Name[tr]=Budgie Paneli
Name[uk]=Панель Budgie
Name[vi]=Bảng Budgie
Name[vi_VN]=Bảng Budgie
Name[zh]=Budgie 面板
Name[zh_HK]=Budgie 面板
Name[zh_TW]=Budgie 面板
Comment=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[af]=Begin ander toepassings en bied verskillende programme om vensters te bestuur, die tyd te wys, ens.
Comment[ar]=تشغيل تطبيقات أخرى و توفير أدوات لإدارة النوافذ، إظهار الوقت، الخ.
Comment[bg]=Стартиране на други приложения и предоставяне на различни помощни програми за управление на прозорците, показване на времето и т.н.
Comment[bg_BG]=Стартиране на други приложения и предоставяне на различни помощни програми за управление на прозорците, показване на времето и т.н.
Comment[bn]=এ্যাপ্লিকেশনগুলো চালু করে এবং উইন্ডোগুলো নিয়ন্ত্রণ, সময় দেখানো ইত্যাদির জন্য বিভিন্ন সুবিধা দেয়।
Comment[ca]=Obre altres aplicacions i proporciona diverses utilitats per gestionar finestres, mostrar l'hora, etc.
Comment[cs]=Spouští další aplikace a poskytuje nástroje pro správu oken, zobrazení času, atd.
Comment[da]=Start andre programmer og giv diverse redskaber til at håndtere vinduer, vise klokkeslættet, osv.
Comment[de]=Andere Anwendungen öffnen und Funktionalitäten hinzufügen wie z.B. Hilfsmittel, um Fenster zu verwalten oder die Uhrzeit anzuzeigen.
Comment[de_CH]=Andere Anwendungen öffnen und Funktionalitäten hinzufügen wie z.B. Hilfsmittel, um Fenster zu verwalten oder die Uhrzeit anzuzeigen.
Comment[el_GR]=Εκτέλεση άλλων εφαρμογών και παροχή διάφορων εργαλείων για τη διαχείριση παραθύρων, εμφάνιση της ώρας, κλπ.
Comment[en_AU]=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[en_GB]=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[en_US]=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[eo]=Ĝi lanĉas aliajn aplikaĵojn kaj havigas kelkajn utilaĵojn por mastrumi vindozojn, montri la tempon, ktp.
Comment[es]=Iniciar otras aplicaciones y proveer utilidades varias para configurar las ventanas, el tiempo, etc.
Comment[es_419]=Lanzar otras aplicaciones y proveer varias utilidades para administrar ventanas, mostar la hora, etc.
Comment[es_AR]=Inicia otras aplicaciones y provee varias utilidades para administrar ventanas, mostrar la hora, etc.
Comment[es_CL]=Abre otras aplicaciones y provee varias utilidades para gestionar ventanas, mostrar la hora, etc.
Comment[es_MX]=Lanzar otras aplicaciones y proveer varias utilidades para administrar ventanas, mostar la hora, etc.
Comment[es_PE]=Lanzar otras aplicaciones y proveer varias utilidades para administrar ventanas, mostar la hora, etc.
Comment[es_US]=Ejecuta otras aplicaciones y provee diversas herramientas para administrar ventanas, mostrar el tiempo, etc.
Comment[et]=Käivita teisi rakendusi ja paku erinevaid tarvikuid akende haldamiseks, kellaaja kuvamiseks jne.
Comment[eu]=Beste aplikazio batzuk abiarazi eta leihoak kudeatzeko, denbora erakusteko, etab. hainbat utilitate eskaini.
Comment[fi]=Käynnistä muita sovelluksia ja tuo erinäisiä apuvälineitä ikkunoiden hallintaan, kellonajan näyttämiseen, jne.
Comment[fr]=Lance d'autres applications et fournit divers utilitaires pour gérer les fenêtres, afficher l'heure, etc.
Comment[fr_BE]=Lance d'autres applications et fournit divers utilitaires pour gérer les fenêtres, afficher l'heure, etc.
Comment[fr_FR]=Lance d'autres applications et fournit divers utilitaires pour gérer les fenêtres, afficher l'heure, etc.
Comment[ga]=Lainseáil feidhmchláir agus cuir áirgí ar fáil chun fuinneoga a bhainistiú, an t-am a thaispeáint, srl.
Comment[he]=הרץ יישומים אחרים וספק כלים שונים לנהל חלונות, הצגת השעה, וכו'.
Comment[hr]=Pokreće ostale aplikacije i prikazuje razne alate za upravljanje prozorima, prikazuje vrijeme, itd.
Comment[hu]=Alkalmazásokat indít, és segédprogramokat biztosít az ablakok kezeléséhez, az idő megjelenítéséhez, stb.
Comment[id]=Luncurkan aplikasi lain dan sediakan berbagai utilitas untuk mengelola jendela, menunjukkan waktu, dll.
Comment[it]=Avvia altre applicazioni e fornisci diverse utilità per gestire finestre, mostrare l'ora, ecc.
Comment[ja]=色々なアプリケーションの起動やウィンドウの管理、時間の表示といった様々なユーティリティを提供します。
Comment[ka]=ჩართე სხვა აპლიკაციები და მაჩვენე გარკვეული უტილიტები ფანჯრის კონტროლისთვის, დროის ჩვენებისთვის და ა.შ.
Comment[kab]=Senker isnasen-nniḍen daɣen mudd-d tiɣawsiwin yemgaraden akken ad tesferkeḍ isfuyla, sken akud, atg. 
Comment[kk]=Басқа қолданбаларды іске қосу және терезелерді басқару, уақытты көрсету және т.б. үшін түрлі утилиталарды ұсыну.
Comment[ko]=창 관리, 시간 표시 등을 위한 유틸리티를 제공하고 다른 응용프로그램 실행하기.
Comment[ms_MY]=Lancar lain-lain aplikasi dan menyediakan pelbagai utiliti untuk mengurus tetingkap, tunjuk waktu, dll.
Comment[nl]=Andere apps opstarten die diverse tools verstrekken om vensters in te stellen ,de tijd tonen, etc.
Comment[nl_BE]=Andere toepassingen opstarten die diverse tools verstrekken om vensters in te stellen ,de tijd tonen, etc.
Comment[no]=Starter programmer og gir deg verktøy for å behandle vinduer, vise tiden etc.
Comment[oc]=Aviar d'autras aplicacions e diferents utilitaris per gerir las fenèstras, indicar l'ora, etc.
Comment[pa]=ਹੋਰ ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਾਂਚ ਕਰੋ ਅਤੇ ਵਿੰਡੋਜ਼ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰਨ, ਸਮਾਂ ਦਰਸਾਉਣ ਆਦਿ ਲਈ ਕਈ ਸਹੂਲਤਾਂ ਪ੍ਰਦਾਨ ਕਰੋ.
Comment[pl]=Uruchom inne aplikacje i udostępnij różne narzędzia do zarządzania oknami, pokazywania czasu, itd.
Comment[pt]=Lançar outras aplicações e fornecer várias utilidades para gerir janelas, mostrar a hora, etc.
Comment[pt_BR]=Executa outros aplicativos e fornece vários utilitários para gerenciar janelas, exibir data e hora, etc.
Comment[ro]=Lansează alte aplicații și furnizează utilități pentru administrarea ferestrelor, arătarea orei, etc.
Comment[ru]=Запуск других приложений и предоставление различных утилит для управления окнами, отображения времени и т. д.
Comment[sk]=Spúšťa daľšie aplikácie a poskytuje nástroje na správu okien, zobrazenia času, atď.
Comment[sl]=Zaženi druge aplikacije in ponudi različne pripomočke za upravljanje oken, prikaz časa, itd.
Comment[sq]=Nisni aplikacione të tjera dhe siguroni shërbime të ndryshme për të menaxhuar dritaret, për të treguar kohën, etj.
Comment[sv]=Starta andra program och verktyg för att hantera fönster, visa tiden med mera.
Comment[tr]=Başka uygulamaları başlat ve pencereleri yönetmek, saati göstermek, vs. için araçlar sağla.
Comment[uk]=Запускає інші додатки та надає різноманітні інструменти для керування вікнами, показу часу, і т.д.
Comment[vi]=Chạy các chương trình khác và cho nhiều công cụ để quản lí cửa sổ, hiển thị thời gian, vv.
Comment[vi_VN]=Chạy các chương trình khác và cho nhiều công cụ để quản lí cửa sổ, hiển thị thời gian, vv.
Comment[zh]=启动其他程序并提供各种工具来管理窗口，显示时间等。
Comment[zh_HK]=啟動其他程式並提供各種工具來管理視窗，顯示時間等。
Comment[zh_TW]=啟動其他程式並提供各種工具來管理視窗，顯示時間等。
Icon=preferences-desktop
Exec=budgie-panel
Terminal=false
Categories=GNOME;GTK;System;Core;
NoDisplay=true
StartupNotify=true
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=Panel
X-GNOME-Provides=panel
OnlyShowIn=Budgie;
