[Desktop Entry]
Name=System & Accounts
Name[ar]=النظام والحسابات
Name[cs]=Systém a účty
Name[de]=System & Konten
Name[el]=Σύστημα και λογαριασμοί
Name[en]=System & Accounts
Name[es]=Sistema y cuentas
Name[fi]=Järjestelmä ja tilit
Name[fr]=Système et comptes
Name[ga]=Córas & Cuntais
Name[gl]=Sistema e contas
Name[hu]=Rendszer és fiókok
Name[id]=Sistem & Akun
Name[it]=Sistema e account
Name[kab]=Anagraw akked Imiḍanen
Name[kk]=Жүйе және тіркелгілер
Name[kmr]=Pergal & Jimar
Name[ko]=시스템 & 계정
Name[lt]=Sistema ir Paskyros
Name[nl]=Systeem en gebruikersaccount
Name[pa]=ਸਿਸਟਮ ਅਤੇ ਖਾਤੇ
Name[pl]=System i konta
Name[pt]=Sistema e Contas
Name[pt_BR]=Sistema e contas
Name[ru]=Система и учётные записи
Name[sk]=Systém & Účty
Name[sr]=Систем и налози
Name[sv]=System & konton
Name[tr]=Sistem & Hesaplar
Name[uk]=Система і обліковки
Name[zh_CN]=系统与账户
Name[zh_TW]=系統與帳號
Comment=System information, accounts, and firmware updates.
Comment[ar]=معلومات النظام والحسابات وتحديثات البرامج الثابتة
Comment[cs]=Informace o systému, účty a aktualizace firmwaru
Comment[de]=Systeminformationen, Konten und Firmware-Aktualisierungen
Comment[el]=Πληροφορίες συστήματος, λογαριασμοί και ενημερώσεις υλικολογισμικού
Comment[en]=System information, accounts, and firmware updates
Comment[es]=Información del sistema, cuentas y firmware
Comment[fi]=Järjestelmän tiedot, tilit ja laiteohjelmistopäivitykset
Comment[fr]=Informations système, comptes et mises à jour du firmware
Comment[ga]=Faisnéis chórais, cuntais, agus nuashonruithe dochtearraí
Comment[gl]=Información do sistema, contas e actualizacións de firmware
Comment[hu]=Rendszerinformációk, fiókok és firmware-frissítések
Comment[id]=Informasi sistem, akun, dan pembaruan firmware
Comment[kab]=Talɣut n unagraw, imiḍanen akked ileqman n ufreɣẓan
Comment[kk]=Жүйе туралы ақпарат, тіркелгілер және микробағдарлама жаңартулары
Comment[kmr]=Zanyariyên pergalê, jimar û rojanekirinên firmwareyê
Comment[ko]=시스템 정보와 계정 및 펌웨어 업데이트
Comment[lt]=Sistemos informacija, paskyros ir programinės aparatinės įrangos naujiniai
Comment[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ, ਖਾਤੇ ਅਤੇ ਫਿਰਮਵੇਅਰ ਅੱਪਡੇਟ
Comment[pl]=Informacje o Systemie, konta i aktualizacje firmware
Comment[pt_BR]=Informações do sistema, contas e atualizações de firmware
Comment[ru]=Сведения о системе, учётные записи и обновления прошивки
Comment[sk]=Systémové informácie, používatelia a firmware
Comment[sr]=Подаци о систему, налози и ажурирања фирмвера
Comment[sv]=Systeminformation, konton och uppdateringar av fast programvara
Comment[tr]=Sistem bilgileri, hesaplar ve cihaz yazılımı güncellemeleri
Comment[uk]=Система, облікові записи та оновлення мікропрограми
Comment[zh_CN]=系统信息、账户和固件更新
Comment[zh_TW]=系統資訊、帳號及韌體更新
Type=Application
Exec=cosmic-settings system
Terminal=false
Categories=COSMIC
Keywords=COSMIC;System;Info;Accounts;Firmware;
Keywords[ar]=COSMIC;النظام;المعلومات;الحسابات;البرمجيات الثابتة;
Keywords[cs]=COSMIC;Systém;Informace;Účty;Účet;Firmware;
Keywords[de]=COSMIC;System;Info;Konten;Firmware;
Keywords[el]=Σύστημα;Πληροφορίες;Λογαριασμοί;Υλικολογισμικό;COSMIC;System;Info;Accounts;Firmware;
Keywords[en]=COSMIC;System;Info;Accounts;Firmware;
Keywords[fi]=COSMIC;System;Info;Accounts;Firmware;järjestelmä;tiedot;tilit;laiteohjelmisto;
Keywords[fr]=COSMIC;Système;Info;Comptes;Firmware;
Keywords[ga]=COSMIC;Córas;Eolas;Cuntais;Dochtearraí;
Keywords[gl]=COSMIC;Sistema;Información;Contas;Firmware;
Keywords[hu]=COSMIC;Rendszer;Információk;Fiókok;Firmware;
Keywords[id]=COSMIC;Sistem;Info;Akun;Firmware;
Keywords[kab]=COSMIC;Anagraw;Talɣut;Imiḍanen;Afreɣẓan;
Keywords[kk]=COSMIC;Жүйе;Ақпарат;Тіркелгілер;Микробағдарлама;
Keywords[kmr]=COSMIC;Pergal;Zanyarî;Jimar;Firmware;
Keywords[ko]=COSMIC;시스템;정보;계정;펌웨어;
Keywords[lt]=COSMIC;Sistema;Informacija;Paskyros;Programinė aparatinė įranga;
Keywords[pa]=COSMIC;;;
Keywords[pl]=COSMIC;System;Informacje;Konta;Firmware;Mikrooprogramowanie;
Keywords[pt_BR]=COSMIC;Sistema;Info;Contas;Firmware;
Keywords[ru]=COSMIC;Система;Информация;Сведения;Учетные;Записи;Аккаунты;Прошивка;
Keywords[sr]=COSMIC;System;Info;Accounts;Firmware;Космик;Систем;Подаци;Налози;Фирмвер;kosmik;sistem;podaci;nalozi;firmver;
Keywords[sv]=COSMIC;System;Info;Konton;Fast programvara;
Keywords[tr]=COSMIC;Sistem;Bilgi;Hesaplar;Cihaz Yazılımı;
Keywords[uk]=COSMIC;Про;Систему;Система;Інформація;Облікові;Записи;Обліковка;Мікропрограма;Прошивка;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;系统;信息;账户;固件;
Keywords[zh_TW]=COSMIC;系統;資訊;帳號;韌體;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-system-and-accounts
StartupNotify=true
