[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=xcb
Exec=systemsettings kcm_colord
Icon=preferences-desktop-color
Name=Color Management
Name[ar]=إدارة الألوان
Name[az]=Rənglərin idarə edilməsi
Name[bg]=Управление на цветовете
Name[ca@valencia]=Gestió del color
Name[ca]=Gestió del color
Name[cs]=Správa barev
Name[de]=Farbverwaltung
Name[el]=Διαχείριση χρωμάτων
Name[en_GB]=Colour Management
Name[eo]=Kolormastrumado
Name[es]=Gestión del color
Name[eu]=Kolore kudeaketa
Name[fi]=Värinhallinta
Name[fr]=Gestionnaire de couleurs
Name[gl]=Xestión de cores
Name[he]=ניהול צבעים
Name[hu]=Színkezelés
Name[ia]=Gerente de color
Name[id]=Pengelolaan Warna
Name[is]=Litastýring
Name[it]=Gestione del colore
Name[ja]=カラーマネジメント
Name[ka]=ფერების მართვა
Name[ko]=색 관리
Name[lt]=Spalvų tvarkymas
Name[lv]=Krāsu pārvaldnieks
Name[nl]=Kleurbeheer
Name[nn]=Fargestyring
Name[pa]=ਰੰਗ ਇੰਤਜ਼ਾਮ
Name[pl]=Zarządzanie kolorem
Name[pt]=Gestão de Cores
Name[pt_BR]=Gerenciamento de cores
Name[ro]=Gestiunea culorilor
Name[ru]=Управление цветом
Name[sa]=रङ्ग प्रबन्धन
Name[sk]=Správa farieb
Name[sl]=Upravljanje barv
Name[sv]=Färghantering
Name[tr]=Renk Yönetimi
Name[ug]=رەڭ باشقۇرۇش
Name[uk]=Керування кольорами
Name[zh_CN]=色彩管理
Name[zh_TW]=色彩管理
