[Desktop Entry]
Type=Application
Name[ar]=حسابات الإنترنت
Name[be]=Сеткавыя ўліковыя запісы
Name[bg]=Регистрации в Интернет
Name[ca]=Comptes en línia
Name[cs]=Účty on-line
Name[da]=Online-konti
Name[de]=Online-Konten
Name[el]=Διαδικτυακοί Λογαριασμοί
Name[en_GB]=Online Accounts
Name[eo]=Retaj kontoj
Name[es]=Cuentas en línea
Name[eu]=Lineako kontuak
Name[fa]=حساب‌های کاربری برخط
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[fur]=Online Accounts
Name[gl]=Contas en liña
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन खाते
Name[hu]=Internetes fiókok
Name[id]=Akun Daring
Name[it]=Account in linea
Name[ja]=オンラインアカウント
Name[ka]=ონლაინ ანგარიშები
Name[kk]=Желідегі тіркелгілер
Name[ko]=온라인 계정
Name[lt]=Internetinės paskyros
Name[lv]=Tiešsaistes konti
Name[nb]=Nettkontoer
Name[ne]=अनलाईन खाताहरू
Name[nl]=Online-accounts
Name[oc]=Comptes en linha
Name[pa]=ਆਨਲਾਈਨ ਖਾਤੇ
Name[pl]=Konta online
Name[pt]=Contas Online
Name[pt_BR]=Contas on-line
Name[ro]=Conturi online
Name[ru]=Сетевые учетные записи
Name[sk]=Účty služieb
Name[sl]=Spletni računi
Name[sr]=Налози на мрежи
Name[sr@latin]=Nalozi na mreži
Name[sv]=Nät­kont­on
Name[th]=บัญชีออนไลน์
Name[tr]=Çevrim İçi Hesaplar
Name[ug]=توردىكى ھېسابات
Name[uk]=Облікові записи в інтернеті
Name[uz]=Onlayn hisoblar
Name[zh_CN]=在线账号
Name[zh_TW]=線上帳號
Name=Online Accounts
Comment[bg]=Известия от демона за регистрациите в Интернет
Comment[ca]=Notificacions mostrades pel dimoni de comptes en línia
Comment[cs]=Upozornění zobrazovaná démonem Účtů on-line
Comment[da]=Påmindelser vist af Online-konti-dæmonen
Comment[de]=Benachrichtigungen, die vom Online-Konten-Dämon angezeigt werden
Comment[el]=Ειδοποιήσεις που εμφανίζονται από το πρόγραμμα διαδικτυακών λογαριασμών
Comment[en_GB]=Notifications shown by Online Accounts daemon
Comment[es]=Notificaciones mostradas por el demonio de Cuentas en línea
Comment[eu]=Lineako kontuen daemon-ak erakutsitako jakinarazpenak
Comment[fa]=آگاهی‌های نمایشی به دست خدمت حساب‌های برخط
Comment[fi]=Verkkotilien taustapalvelun näyttämiä ilmoituksia
Comment[fr]=Notifications affichées par le démon Comptes en ligne
Comment[gl]=Notificacións mostradas no daemon de Contas en liña
Comment[he]=התראות שנשלחות על ידי סוכן החשבונות המקוונים
Comment[hu]=Az internetes fiókok démonja által megjelenített értesítések
Comment[ja]=オンラインアカウントデーモンからの通知
Comment[ka]=ინტერნეტ-ანგარიშების დემონის მიერ ნაჩვენები გაფრთხილებები
Comment[kk]=Желідегі тіркелгілер қызметі көрсететін хабарландырулар
Comment[ko]=온라인 계정 데몬에서 나타내는 알림
Comment[lt]=Internetinių paskyrų tarnybos rodomi pranešimai
Comment[oc]=Notificacions afichadas pel demòni de Comptes en linha
Comment[pl]=Powiadomienia pokazywane przez usługę Kont online
Comment[pt]=Notificações exibidas pelo serviço Contas Online
Comment[pt_BR]=Notificação mostrada através do daemon do Contas on-line
Comment[ro]=Notificări afișate de serviciul Conturi online
Comment[ru]=Уведомления, отображаемые демоном сетевых учетных записей
Comment[sk]=Upozornenia zobrazované démonom Účtov služieb
Comment[sl]=Obvestila, ki jih prikazuje prikriti proces spletnih računov
Comment[sr]=Обавештења које приказује позадинска услуга Налога на мрежи
Comment[sv]=Aviseringar visade av Nätkonton-demon
Comment[tr]=Çevrim İçi Hesaplar art alan hizmetince gösterilen bildirimler
Comment[ug]=توردىكى ھېساب نازارەتچىسى كۆرسەتكەن ئۇقتۇرۇش
Comment[uk]=Показані фоновою службою «Облікові записи у мережі» сповіщення
Comment[zh_CN]=由在线账号守护进程显示的通知
Comment=Notifications shown by Online Accounts daemon
Icon=org.gnome.goa-daemon-symbolic
Exec=/usr/libexec/goa-daemon
Terminal=false
NoDisplay=true
X-GNOME-UsesNotifications=true
X-systemd-skip=true
