[Desktop Entry]
Name[az]=Bustle
Name[de]=Bustle
Name[en_GB]=Bustle
Name[es]=Bustle
Name[eu]=Bustle
Name[fr]=Bustle
Name[he]=Bustle
Name[hi]=Bustle
Name[hu]=Bustle
Name[ia]=Bustle
Name[nl]=Bustle
Name[pt_BR]=Bustle
Name[ru]=Bustle
Name[sl]=Bustle
Name[sv]=Bustle
Name[tr]=Bustle
Name[uk]=Bustle
Name[zh_CN]=Bustle
Name=Bustle
Comment[az]=D-Bus fəaliyyətini vizuallaşdırın
Comment[de]=D-Bus-Aktivität visualisieren
Comment[en_GB]=Visualise D-Bus activity
Comment[es]=Visualizar la actividad de D-Bus
Comment[eu]=Bistaratu D-Bus jarduera
Comment[fr]=Visualisez l’activité D-Bus
Comment[he]=המחשת הפעילות של D-Bus
Comment[hi]=डी-बस गतिविधि को देखें
Comment[hu]=D-busz tevékenység láthatóvá tétele
Comment[ia]=Visualisa le activitate de D-Bus
Comment[nl]=Visualiseer D-Bus-activiteit
Comment[pt_BR]=Visualize atividade do D-Bus
Comment[ru]=Визуализация активности D-Bus
Comment[sl]=Ponazoritev dejavnosti vodila D-Bus
Comment[sv]=Visualisera D-Bus-aktivitet
Comment[tr]=D-Bus etkinliğini görselleştir
Comment[uk]=Візуалізація дій D-Bus
Comment[zh_CN]=可视化 D-Bus 活动
Comment=Visualize D-Bus activity
Type=Application
Exec=bustle %F
Terminal=false
Categories=GTK;Development;Debugger;Profiling;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[az]=xəta ayırma;profil;d-bus;dbus;ardıcıllıq;monitor;
Keywords[de]=debug;profile;d-bus;dbus;sequence;monitor;Fehlersuche;Profile;D-Bus;Sequenz;Monitor;
Keywords[en_GB]=debug;profile;d-bus;dbus;sequence;monitor;
Keywords[es]=depurar;perfilar;d-bus;secuencia;monitor;
Keywords[eu]=arazketa;profila;d-bus;sbus;sekuentzia;monitorizazioa;
Keywords[fr]=déboguer;profiler;d-bus;dbus;séquencer;surveiller;
Keywords[he]=ניפוי שגיאות;פרופיל;דיבאס;די-באס;די-בס;d-bus;רצף;תרשים הרצף;מעקב;צג;מוניטור;אפיק המערכת;אפיק נתונים;אפיק ההפעלה;אפיק הפעלה;אפיק מערכת;אפיק;באס;בס;באסטל;
Keywords[hi]=डिबग;प्रोफाइल;डी-बस;डीबस;अनुक्रम;निगरानी;
Keywords[hu]=hibakeresés;profil;d-bus;d-busz;dbus;sorozat;szekvencia;megfigyelés;
Keywords[ia]=depuration;profilo;d-bus;dbus;sequentia;monitor;
Keywords[nl]=debug;profile;d-bus;dbus;sequence;monitor;profiel;sequentie;
Keywords[pt_BR]=depuração;perfil;d-bus;dbus;sequência;debug;profile;monitor;
Keywords[ru]=debug;profile;d-bus;dbus;sequence;monitor;отладка;профиль;монитор;
Keywords[sl]=debug;razhroščevanje;odpravljanje;napake;napak;profil;profiliranje;vodilo;d-bus;dbus; zaporedje; monitor;beleženje;spremljanje;
Keywords[sv]=debug;felsök;profil;d-bus;dbus;sekvens;övervakning;
Keywords[tr]=debug;profile;d-bus;dbus;sequence;monitor;hata ayıkla;sekans;dizi;monitör;izle;
Keywords[uk]=debug;profile;d-bus;dbus;sequence;monitor;діагностика;профіль;ді-бас;послідовність;монітор;спостереження;
Keywords[zh_CN]=debug;profile;d-bus;dbus;sequence;monitor;调试;配置文件;序列;监视器;
Keywords=debug;profile;d-bus;dbus;sequence;monitor;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.freedesktop.Bustle
DBusActivatable=true
StartupNotify=true
MimeType=application/vnd.tcpdump.pcap;
Actions=new-window;

[Desktop Action new-window]
Exec=bustle --new-window
Name[az]=Yeni Pəncərə
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[eu]=Leiho berria
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[nl]=Nieuw venster
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sl]=Novo okno
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name=New Window
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=window-new
