[Desktop Entry]
Name=Time & Language
Name[ar]=الوقت واللغة
Name[cs]=Čas a jazyk
Name[de]=Uhrzeit & Sprache
Name[el]=Ώρα και γλώσσα
Name[en]=Time & Language
Name[es]=Hora e Idioma
Name[fi]=Aika ja kieli
Name[fr]=Heure et langue
Name[ga]=Am & Teanga
Name[gl]=Hora e lingua
Name[hu]=Idő és nyelv
Name[id]=Waktu & Bahasa
Name[it]=Ora e lingua
Name[kab]=Asrag & Tutlayt
Name[kk]=Уақыт және тіл
Name[kmr]=Dem & Ziman
Name[ko]=시간 & 언어
Name[lt]=Laikas ir Kalba
Name[nl]=Tijd- en taalinstellingen
Name[pa]=ਸਮਾਂ ਅਤੇ ਭਾਸ਼ਾ
Name[pl]=Czas i język
Name[pt]=Hora e Idioma
Name[pt_BR]=Hora e idioma
Name[ru]=Время и язык
Name[sk]=Čas & Jazyk
Name[sr]=Време и језик
Name[sv]=Tid & språk
Name[tr]=Zaman & Dil
Name[uk]=Дата та час
Name[zh_CN]=时间与语言
Name[zh_TW]=時間與語言
Comment=Manage system date, time, region, and language.
Comment[ar]=أدِر نظام التاريخ والتوقيت والمنطقة واللغة
Comment[cs]=Správa systémového data, času, regionu a jazyka
Comment[de]=Systemdatum, Uhrzeit, Region und Sprache verwalten
Comment[el]=Διαχείριση ημερομηνίας, ώρας, περιοχής και γλώσσας συστήματος
Comment[en]=Manage system date, time, region, and language
Comment[fi]=Hallitse järjestelmän päivää, kellonaikaa, aluetta ja kieltä
Comment[fr]=Gérer la date, l’heure, la région et la langue du système
Comment[ga]=Bainistigh dáta an chórais, am, réigiún agus teanga
Comment[gl]=Xestionar a data, a hora, a rexión e a lingua do sistema
Comment[hu]=Rendszerdátum, idő, régió és a nyelv kezelése
Comment[id]=Kelola tanggal, waktu, wilayah, dan bahasa sistem
Comment[kab]=Sefrek azemz n unagraw, asrag, tamnaḍt akked tutlayt
Comment[kk]=Жүйелік күн, уақыт, аймақ және тілді басқару
Comment[kmr]=Dîroka pergalê, dem, herêm û ziman bi rê ve bibe
Comment[ko]=시스템 날짜와 시간, 지역 및 언어 관리
Comment[lt]=Tvarkyti sistemos datą, laiką, regioną ir kalbą
Comment[pa]=ਸਿਸਟਮ ਤਾਰੀਖ, ਸਮਾਂ, ਖੇਤਰ ਅਤੇ ਭਾਸ਼ਾ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzaj datą, czasem, regionem i językiem systemu
Comment[pt_BR]=Gerenciar data, hora, região e idioma do sistema
Comment[ru]=Управление системной датой, временем, регионом и языком
Comment[sk]=Nastavenia času a jazyka
Comment[sr]=Управљај системским датумом, временом, облашћу и језиком
Comment[sv]=Hantera systemets datum, tid, region och språk
Comment[tr]=Sistem tarihini, saatini, bölgesini ve dilini yönetin
Comment[uk]=Керування датою, часом, регіоном і мовою системи
Comment[zh_CN]=管理系统日期、时间、地区和语言
Comment[zh_TW]=管理系統日期、時間、區域及語言
Type=Application
Exec=cosmic-settings time
Terminal=false
Categories=COSMIC
Keywords=COSMIC;System;Time;Date;Region;Language;
Keywords[ar]=COSMIC;النظام;الوقت;التاريخ;المنطقة;اللغة;
Keywords[cs]=COSMIC;Systém;Čas;Datum;Region;Oblast;Jazyk;
Keywords[de]=COSMIC;System;Uhrzeit;Datum;Region;Sprache;
Keywords[el]=Σύστημα;Ώρα;Ημερομηνία;Περιοχή;Γλώσσα;COSMIC;System;Time;Date;Region;Language;
Keywords[en]=COSMIC;System;Time;Date;Region;Language;
Keywords[fi]=COSMIC;System;Time;Date;Region;Language;järjestelmä;aika;kello;päivä;alue;kieli;
Keywords[fr]=COSMIC;Système;Heure;Date;Région;Langue;
Keywords[ga]=COSMIC;Córas;Am;Dáta;Réigiún;Teanga;
Keywords[gl]=COSMIC;Sistema;Hora;Data;Rexión;Lingua;
Keywords[hu]=COSMIC;Rendszer;Idő;Dátum;Régió;Nyelv;
Keywords[id]=COSMIC;Sistem;Waktu;Tanggal;Wilayah;Bahasa;
Keywords[kab]=COSMIC;Anagraw;Asrag;Azemz;Tamnaḍt;Tutlayt;
Keywords[kk]=COSMIC;Жүйе;Уақыт;Күн;Аймақ;Тіл;
Keywords[kmr]=COSMIC;Pergal;Dem;Dîrok;Herêm;Ziman;
Keywords[ko]=COSMIC;시스템;시간;날짜;지역;언어;
Keywords[lt]=COSMIC;Sistema;Laikas;Data;Regionas;Kalba;
Keywords[pa]=COSMIC;ਸਿਸਟਮ;ਸਮਾਂ;ਤਾਰੀਖ;ਖੇਤਰ;ਭਾਸ਼ਾ;
Keywords[pl]=COSMIC;System;Czas;Data;Region;Język;
Keywords[pt_BR]=COSMIC;Sistema;Hora;Data;Região;idioma;
Keywords[ru]=COSMIC;Система;Время;Дата;Регион;Язык;
Keywords[sr]=COSMIC;System;Time;Date;Region;Language;Космик;систем;време;датум;област;језик;Kosmik;sistem;vreme;datum;oblast;jezik;
Keywords[sv]=COSMIC;System;Tid;Datum;Region;Språk;
Keywords[tr]=COSMIC;Sistem;Saat;Tarih;Bölge;Dil;
Keywords[uk]=COSMIC;Система;Час;Дата;Регіон;Мова;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;系统;时间;日期;地区;语言;
Keywords[zh_TW]=COSMIC;系統;時間;日期;地區;語言;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-time-and-language
StartupNotify=true
