[Desktop Entry]
Name=Dasher
Name[af]=Dasher
Name[ar]=داشر
Name[as]=Dasher
Name[ast]=Dasher
Name[az]=Dasher
Name[be]=Dasher
Name[be@latin]=Dasher
Name[bg]=Dasher
Name[bn]=Dasher
Name[bn_IN]=Dasher
Name[bs]=Dasher
Name[ca]=El Dasher
Name[ca@valencia]=El Dasher
Name[cs]=Dasher
Name[cy]=Dasher
Name[da]=Dasher
Name[de]=Dasher
Name[dz]=ཌེ་ཤར།
Name[el]=Dasher
Name[en@shaw]=·𐑛𐑨𐑖𐑼
Name[en_CA]=Dasher
Name[en_GB]=Dasher
Name[es]=Dasher
Name[et]=Dasher
Name[eu]=Dasher
Name[fa]=دَشِر
Name[fi]=Dasher
Name[fr]=Dasher
Name[ga]=Dasher
Name[gl]=Dasher
Name[gu]=ડેશર
Name[he]=Dasher
Name[hi]=डैशर
Name[hr]=Dasher
Name[hu]=Dasher
Name[id]=Dasher
Name[it]=Dasher
Name[ja]=Dasher
Name[kn]=Dasher
Name[ko]=대셔
Name[ku]=Dasher
Name[ky]=Dasher
Name[lt]=Dasher
Name[lv]=Dasher
Name[mai]=डैशर
Name[mg]=Dasher
Name[mk]=Dasher
Name[ml]=Dasher
Name[mn]=Дашэр
Name[mr]=Dasher
Name[ms]=Dasher
Name[nb]=Dasher
Name[ne]=ड्यासर
Name[nl]=Dasher
Name[nn]=Dasher
Name[oc]=Dasher
Name[or]=Dasher
Name[pa]=ਡੈਸ਼ਰ
Name[pl]=Dasher
Name[ps]=ډېشر
Name[pt]=Dasher
Name[pt_BR]=Dasher
Name[ro]=Dasher
Name[ru]=Dasher
Name[sk]=Náčrtník
Name[sl]=Dasher
Name[sq]=Dasher
Name[sr]=Јуришник
Name[sr@latin]=Jurišnik
Name[sv]=Dasher
Name[ta]=டேஷர்
Name[te]=డాషర్
Name[th]=Dasher
Name[tk]=Däşer
Name[tr]=Dasher
Name[ug]=Dasher
Name[uk]=Dasher
Name[uz@cyrillic]=Dasher
Name[vi]=Dasher
Name[zh_CN]=Dasher
Name[zh_HK]=Dasher
Name[zh_TW]=Dasher
GenericName=Predictive text entry
GenericName[af]=Voorspellende tekstoevoer
GenericName[ar]=ادخال كتابة تنبئيا
GenericName[as]=আনুমানিক টেক্সট লিখা ব্যৱস্থা
GenericName[ast]=Entrada de testu predictivu
GenericName[be]=Прадказальны ўвод тэксту
GenericName[be@latin]=Pradkazvany ŭvod tekstu
GenericName[bg]=Въвеждане на текст с предсказване
GenericName[bn]=আনুমানিক টেক্সট ভুক্তি
GenericName[bn_IN]=আনুমানিক টেক্সট লিখন ব্যবস্থা
GenericName[bs]=Unos teksta s predviđanjem
GenericName[ca]=Entrada de text predictiu
GenericName[ca@valencia]=Entrada de text predictiu
GenericName[cs]=Prediktivní vstup textu
GenericName[da]=Forudsigende tekstindtastning
GenericName[de]=Voraussagende Texteingabe
GenericName[dz]=སྔོན་ཤེས་ཅན་གྱི་ ཚིག་ཡིག་ཐོ་བཀོད།
GenericName[el]=Εισαγωγή κειμένου με πρόβλεψη
GenericName[en@shaw]=𐑐𐑮𐑦𐑛𐑦𐑒𐑑𐑦𐑝 𐑑𐑧𐑒𐑕𐑑 𐑧𐑯𐑑𐑮𐑦
GenericName[en_CA]=Predictive text entry
GenericName[en_GB]=Predictive text entry
GenericName[es]=Entrada de texto predictivo
GenericName[et]=Ennustav tekstisisestus
GenericName[eu]=Sarrerako testu-aurresalea
GenericName[fa]=ورودی متن پیشگو
GenericName[fi]=Ennustava tekstisyöttö
GenericName[fr]=Saisie prédictive de texte
GenericName[gl]=Entrada preditiva de texto
GenericName[gu]=ધારણાવાળું લખાણ પ્રવેશ
GenericName[he]=הזנת טקסט חזוי
GenericName[hi]=अनुमानित पाठ प्रविष्टि
GenericName[hu]=Prediktív szövegbevitel
GenericName[id]=Isian teks yang prediktif
GenericName[it]=Inserimento testo predittivo
GenericName[ja]=文字列の候補を予測しながら文字列を入力します
GenericName[kn]=ಊಹಾತ್ಮಕ ಪಠ್ಯ ನಮೂದು
GenericName[ko]=예측 텍스트 입력창
GenericName[ku]=Têketina nivîsa eletexmînî
GenericName[lt]=Prognozuojamo teksto įvedimas
GenericName[lv]=Pareģojoša teksta ievade
GenericName[mai]=अनुमानित पाठ प्रविष्टि
GenericName[mg]=Lahabolana vinavina
GenericName[mk]=Предвидливо внесување на текст
GenericName[ml]=പ്രെഡിക്റ്റീവ് ടെക്സ്റ്റ് എന്‍ട്രി
GenericName[mn]=Текстийг урьдчилан оруулах
GenericName[mr]=भाकित पाठ प्रविष्ट
GenericName[nb]=Felt for forutseende tekst
GenericName[ne]=अनुमानित पाठ प्रविष्टि
GenericName[nl]=Tekstinvoer met voorspelling
GenericName[nn]=Framsynt tekstinnskriving
GenericName[oc]=Picada de tèxte predictiva
GenericName[or]=ଅନୁମାନିତ ପାଠ୍ଯ ଭରଣ
GenericName[pa]=ਪ੍ਰੀ-ਡਿਕਟਿਵ ਟੈਕਸਟ ਐਂਟਰੀ
GenericName[pl]=Przewidujące wpisywanie tekstu
GenericName[pt]=Introdução profética de texto
GenericName[pt_BR]=Entrada preditiva de texto
GenericName[ro]=Introducere predictivă text
GenericName[ru]=Предикативный ввод текста
GenericName[sk]=Prediktívne zadávanie textu
GenericName[sl]=Napovedovanje besedila
GenericName[sq]=Shtimi i tekstit të propozuar
GenericName[sr]=Унос предвидивог текста
GenericName[sr@latin]=Unos predvidivog teksta
GenericName[sv]=Prediktiv textinmatning
GenericName[ta]=முன் கணிக்கும் உரை உள்ளீடு
GenericName[te]=ఊహాజనిత పాఠ్య ప్రవేశము
GenericName[th]=โปรแกรมป้อนข้อความด้วยหลักสถิติ
GenericName[tr]=Tahmini metin girişi
GenericName[ug]=مۆلچەرلەپ تېكىست كىرگۈزۈش
GenericName[uk]=Предикативний ввід тексту
GenericName[vi]=Nhập văn bản dự đoán
GenericName[zh_CN]=预测型文本输入
GenericName[zh_HK]=預測方式輸入文字
GenericName[zh_TW]=預測方式輸入文字
Comment=Enter text without a keyboard
Comment[af]=Tik teks sonder 'n sleutelbord
Comment[ar]=أدخل نصا دون لوحة مفاتيح
Comment[as]=চাবিৰফলক নোহোৱাকে লিপি নিবেশ কৰক
Comment[ast]=Introduz testu ensin un tecláu
Comment[be]=Увод тэксту без клавіятуры
Comment[be@latin]=Pisańnie tekstu biez klavijatury
Comment[bg]=Въвеждане на текст без клавиатура
Comment[bn]=কীবোর্ড ছাড়াই টেক্সট প্রবেশ করান
Comment[bn_IN]=কি-বোর্ড বিনা পাসওয়ার্ড লিখুন
Comment[bs]=Unesite tekst bez tastature
Comment[ca]=Introduïu text sense teclat
Comment[ca@valencia]=Introduïu text sense teclat
Comment[cs]=Vložit text bez klávesnice
Comment[da]=Skriv tekst uden et tastatur
Comment[de]=Texteingabe ohne Tastatur
Comment[el]=Εισάγετε κείμενο χωρίς πληκτρολόγιο
Comment[en@shaw]=𐑧𐑯𐑑𐑼 𐑑𐑧𐑒𐑕𐑑 𐑢𐑦𐑞𐑬𐑑 𐑩 𐑒𐑰𐑚𐑪𐑮𐑛
Comment[en_GB]=Enter text without a keyboard
Comment[es]=Introduzca texto sin un teclado
Comment[et]=Teksti sisestamine ilma klaviatuuri abita
Comment[eu]=Idatzi testua teklaturik gabe
Comment[fa]=وارد کردن متن بدون صفحه کلید
Comment[fi]=Syötä tekstiä ilman näppäimistöä
Comment[fr]=Saisir du texte sans clavier
Comment[gl]=Introducir texto sen un teclado
Comment[gu]=કિબોર્ડ વગર લખાણનો પ્રવેસ કરો
Comment[he]=הזנת טקסט ללא מקלדת
Comment[hi]=बिना कुंजीपट के पाठ दाखिल करें
Comment[hu]=Szövegbevitel billentyűzet nélkül
Comment[id]=Masukan teks tanpa papan tik
Comment[it]=Inserimento testo senza tastiera
Comment[ja]=キーボードを使わずに文字を入力します
Comment[kn]=ಜಾಗತಿಕ ಕೀಲಿಮಣೆ ಗ್ರಾಬ್
Comment[ko]=키보드 없이 텍스트 입력
Comment[ku]=Bê klavye nivîs têkeve
Comment[lt]=Įveskite tekstą be klaviatūros
Comment[lv]=Ievadiet tekstu bez tastatūras
Comment[mk]=Внесувајте текст без тастатура
Comment[ml]=കീബോര്‍ഡില്ലാതെ വാചകം എന്റര്‍ ചെയ്യുക
Comment[mr]=पाठ्य विना मुळशब्द प्रविष्ट करा
Comment[nb]=Skriv inn tekst uten et tastatur
Comment[nl]=Tekst invoeren zonder toetsenbord
Comment[nn]=Skriv inn tekst utan eit tastatur
Comment[oc]=Picar de tèxte sens clavièr
Comment[or]=କିବୋର୍ଡ ବିନା ପାଠ୍ଯକୁ ଭରଣ କରନ୍ତୁ
Comment[pa]=ਕੀਬੋਰਡ ਬਿਨਾਂ ਟੈਕਸਟ ਐਂਟਰੀ
Comment[pl]=Wprowadzanie tekstu bez klawiatury
Comment[ps]=بې له کليدړې ليکنه وکړﺉ
Comment[pt]=Introduzir texto sem um teclado
Comment[pt_BR]=Digite texto sem um teclado
Comment[ro]=Introducere text fără o tastatură
Comment[ru]=Вводите текст без клавиатуры
Comment[sl]=Vnesite besedilo brez tipkovnice
Comment[sq]=Shkruaj tekst pa një tastierë
Comment[sr]=Уносите текст без употребе тастатуре
Comment[sr@latin]=Unosite tekst bez upotrebe tastature
Comment[sv]=Mata in text utan ett tangentbord
Comment[ta]=விசைப்பலகை இல்லாமல் உரையை உள்ளிடுக
Comment[te]=టెక్‍స్ట్‌ను కీబోర్‍డ్‌తో కాకుండా ప్రవేశపెట్టండి
Comment[th]=ป้อนข้อความโดยไม่ใช้แป้นพิมพ์
Comment[tr]=Metni klavye olmadan girin
Comment[ug]=ھەرپتاختا ئىشلەتمەي تېكىست كىرگۈزۈڭ
Comment[uk]=Введення тексту без клавіатури
Comment[vi]=Nhập văn bản mà không có bàn phím
Comment[zh_CN]=不使用键盘输入文本
Comment[zh_HK]=不使用鍵盤輸入文字
Comment[zh_TW]=不使用鍵盤輸入文字
Exec=dasher
Icon=dasher
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dasher
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=5.0.0
