[Desktop Entry]
Name=Power & Battery
Name[ar]=الطاقة والمُدَّخرة
Name[bg]=Захранване и батерия
Name[cs]=Napájení a baterie
Name[da]=Strøm og batteri
Name[de]=Energie & Akku
Name[el]=Ενέργεια και μπαταρία
Name[en]=Power & Battery
Name[en_GB]=Power & Battery
Name[fi]=Virranhallinta ja akku
Name[fr]=Alimentation et batterie
Name[ga]=Cumhacht & Ceallraí
Name[gl]=Enerxía e Batería
Name[hi]=पावर और बैटरी
Name[hu]=Energia és akkumulátor
Name[id]=Daya & Baterai
Name[it]=Potenza e batteria
Name[kab]=Tanezmert & Weẓru
Name[kk]=Қуат және батарея
Name[kmr]=Hêz & Betarî
Name[ko]=전원 & 배터리
Name[lt]=Energija ir Baterija
Name[nl]=Energie en batterij
Name[oc]=Energia e batariá
Name[pa]=ਪਾਵਰ ਅਤੇ ਬੈਟਰੀ
Name[pl]=Zasilanie i bateria
Name[pt]=Energia e bateria
Name[pt_BR]=Energia e bateria
Name[ru]=Питание и аккумулятор
Name[sk]=Napájanie a batéria
Name[sr]=Напајање и батерија
Name[sv]=Ström & batteri
Name[uk]=Живлення та акумулятор
Name[zh_CN]=电源与电池
Name[zh_Hant]=電源與電池
Comment=Power modes and power saving options
Comment[ar]=أوضاع الطاقة وخيارات توفير الطاقة
Comment[cs]=Režimy napájení a možnosti úspory energie
Comment[da]=Strømtilstande og strømspareindstillinger
Comment[de]=Energiemodi und Energiesparoptionen
Comment[el]=Λειτουργίες ενέργειας και επιλογές εξοικονόμησης ενέργειας
Comment[en]=Power modes and power saving options
Comment[en_GB]=Power modes and power saving options
Comment[fi]=Tehotilat ja virranhallinnan asetukset
Comment[fr]=Modes d’alimentation et options d’économie d’énergie
Comment[ga]=Modhanna cumhachta agus roghanna coigilte cumhachta
Comment[gl]=Modos de enerxía e opcións de aforro enerxético
Comment[hi]=पावर मोड और ऊर्जा बचत विकल्प
Comment[hu]=Energiamódok és energiagazdálkodási beállítások
Comment[id]=Mode daya dan opsi penghematan daya
Comment[it]=Modalità di alimentazione e opzioni di risparmio energetico
Comment[kab]=Iskaren n tnezmart akked tnefrunin n weḥraz n tnezmart
Comment[kk]=Қуат режимдері және қуатты үнемдеу опциялары
Comment[kmr]=Awayên hêzê û vebijêrkên parastina hêzê
Comment[ko]=전원 모드와 절전 옵션
Comment[lt]=Energijos režimai ir energijos taupymo parinktys
Comment[nl]=Instellingen voor prestaties en energieverbruik
Comment[oc]=Mòdes d’energia e opcions d’estalvi d’energia
Comment[pa]=ਪਾਵਰ ਮੋਡ ਅਤੇ ਪਾਵਰ ਬੱਚਤ ਚੋਣਾਂ
Comment[pl]=Tryby zasilania oraz oszczędzanie energii
Comment[pt_BR]=Modos de energia e opções de economia de energia
Comment[ru]=Режимы питания и опции энергосбережения
Comment[sr]=Режими напајања и могућности уштеде енергије
Comment[sv]=Strömlägen och energialternativ
Comment[uk]=Режими живлення та енергозбереження
Comment[zh_CN]=电源模式和节能选项
Comment[zh_Hant]=電源模式與省電設定
Type=Application
Exec=cosmic-applet-battery
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Power;Battery;
Keywords[ar]=COSMIC;بريمج;الطاقة;البطارية;المدخرة;
Keywords[cs]=COSMIC;Applet;Napájení;Baterie;
Keywords[da]=COSMIC;Applet;Strøm;Batteri;
Keywords[de]=COSMIC;Applet;Energie;Akku;
Keywords[el]=Μικροεφαρμογή;Ενέργεια;Ισχύς;Μπαταρία;COSMIC;Applet;Power;Battery;
Keywords[en]=COSMIC;Applet;Power;Battery;
Keywords[en_GB]=COSMIC;Applet;Power;Battery;
Keywords[fi]=COSMIC;Applet;Power;Battery;sovelma;virta;virranhallinta;akku;sähkö;energia;
Keywords[fr]=COSMIC;Applet;Alimentation;Batterie;
Keywords[ga]=COSMIC;Feidhmchláirín;Cumhacht;Ceallraí;
Keywords[gl]=COSMIC;Miniaplicación;Enerxía;Batería;
Keywords[hi]=COSMIC;ऐपलेट;पावर;बैटरी
Keywords[hu]=COSMIC;kisalkalmazás;energia;akkumulátor;
Keywords[id]=COSMIC;Applet;Daya;Baterai;
Keywords[it]=COSMIC;Applet;Potenza;Batteria;
Keywords[kab]=COSMIC;Tappleṭ;Tanezmart;Aẓru;
Keywords[kk]=COSMIC;Апплет;Қуат;Батарея;
Keywords[kmr]=COSMIC;Sepanok;Hêz;Betarî;
Keywords[ko]=COSMIC;애플릿;전원;배터리;
Keywords[lt]=COSMIC;Apletas;Energija;Baterija;
Keywords[nl]=COSMIC;Applet;Energie;Verbruik;Energieverbruik;Batterij;Stroom;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਪਾਵਰ;ਬੈਟਰੀ;
Keywords[pl]=COSMIC;Aplet;Zasilanie;Bateria;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Energia;Bateria;
Keywords[ru]=COSMIC;Апплет;Питание;Батарея;Аккумулятор;
Keywords[sr]=COSMIC;Applet;Power;Battery;Космик;Програмчић;Напајање;Батерија;kosmik;programčić;napajanje;baterija;
Keywords[sv]=COSMIC;Miniprogram;Ström;Batteri;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Живлення;Акумулятор;Рівень;Наснаження;
Keywords[zh_CN]=COSMIC;小部件;电源;电池;
Keywords[zh_Hant]=COSMIC;小程式;電源;電池;
Icon=com.system76.CosmicAppletBattery-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
