[Desktop Entry]
Name=Tiling
Name[ar]=تبليط
Name[bg]=Прилепване на прозорци
Name[cs]=Dlaždicový režim oken
Name[da]=Opdeling
Name[de]=Kachelung
Name[el]=Παράθεση
Name[en]=Tiling
Name[en_GB]=Tiling
Name[es]=Ventanas mosaico
Name[fi]=Asettelu
Name[fr]=Mosaïque
Name[ga]=Tíliú
Name[gl]=Mosaico
Name[hi]=टाइलिंग
Name[hu]=Csempézés
Name[id]=Pengubinan
Name[it]=Affiancamento finestre
Name[kab]=Afser
Name[kk]=Тайлинг
Name[kmr]=Berhevkirin
Name[ko]=타일링
Name[nl]=Vensters tegelen
Name[pl]=Kafelkowanie
Name[pt]=Janelas Lado a Lado
Name[pt_BR]=Janelas lado a lado
Name[ru]=Размещение окон
Name[sk]=Dláždenie okien
Name[sr]=Поплочавање
Name[sv]=Kakling
Name[uk]=Укладання
Name[zh_CN]=平铺
Name[zh_Hant]=平鋪
Comment=Manage the active hint, current & per-workspace auto-tiling
Comment[ar]=أدِر التلميح النشط والتنظيم التلقائي الحالي وللمساحات المكتبية
Comment[cs]=Správa ohraničení aktivního okna a dlaždicového režimu pro pracovní plochy
Comment[da]=Administrer aktiv hint samt automatisk opdeling for aktuelt og pr. arbejdsområde
Comment[de]=Verwalte den Aktiv-Hinweis, die aktuelle und die arbeitsflächenspezifische automatische Kachelung
Comment[el]=Διαχείριση της ένδειξης ενεργού παραθύρου, αυτόματη παράθεση παραθύρων στον τρέχοντα χώρο εργασίας και ανά χώρο εργασίας
Comment[en]=Manage the active hint, current & per-workspace auto-tiling
Comment[en_GB]=Manage the active hint, current & per-workspace auto-tiling
Comment[fi]=Hallitse aktiivisen vihjeistystä, nykyistä ja työtilakohtaista automaattista asettelua
Comment[fr]=Gérer l’indice actif, l'agencement automatique courant et par espace de travail
Comment[ga]=Bainistigh an leid ghníomhach, an tíleáil uathoibríoch reatha & in aghaidh an spáis oibre
Comment[gl]=Xestiona a indicación activa e o mosaico automático actual e por espazo de traballo
Comment[hi]=सक्रिय हिंट, वर्तमान और प्रति-वर्कस्पेस ऑटो-टाइलिंग प्रबंधित करें
Comment[hu]=Az aktív ablakkiemelés, valamint a jelenlegi és munkaterületenkénti automatikus csempézés kezelése
Comment[id]=Kelola petunjuk aktif, saat ini & pengubinan otomatis per-ruang kerja
Comment[it]=Gestisci il suggerimento attivo e l’affiancamento automatico corrente e per aree di lavoro
Comment[kk]=Белсенді нұсқауды, ағымдағы және әрбір жұмыс орны бойынша авто-тайлингті басқару
Comment[kmr]=Berhevkirina xweber a çalak, ya niha û ya her qada xebatê bi rê ve bibe
Comment[ko]=활성 창 강조, 현재 및 작업 공간별 자동 타일링 관리
Comment[nl]=Beheer de vensterfocus-aanduiding en tegelen voor huidige en nieuwe werkbladen
Comment[pl]=Zarządzaj podkreśleniem aktywnego okna, automatyczne kafelkowanie na obecnym i dla konkretnego obszaru roboczego
Comment[pt]=Gerir a sugestão ativa e o agrupamento automático de janelas em cada área de trabalho
Comment[pt_BR]=Gerenciar o realce da janela ativa e o modo de janelas lado a lado em cada espaço de trabalho
Comment[ru]=Управление активной подсказкой и авторазмещением окон для текущего и отдельных рабочих столов
Comment[sr]=Управљај активним саветом, тренутним и самопоплочавањем по радном простору
Comment[sv]=Hantera indikator för aktivt fönster och kakling för arbetsytor
Comment[uk]=Керування підказкою та автoукладанням вікон
Comment[zh_CN]=管理聚焦窗口提示、当前和每个工作区自动平铺
Comment[zh_Hant]=管理啟用提示、當前和每個工作區自動視窗平鋪
Type=Application
Exec=cosmic-applet-tiling
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Tiling;Hint;Workspace;
Keywords[ar]=COSMIC;بريمح;تبليط;تلميح;مساحة عمل
Keywords[cs]=COSMIC;Applet;Dlaždicový;Ohraničení;Zvýraznění;Aktivní;Okna;Pracovní;Plocha;Plochy;
Keywords[da]=COSMIC;Applet;Opdeling;Hint;Arbejdsområde;
Keywords[de]=COSMIC;Applet;Kachelung;Hinweis;Arbeitsfläche;
Keywords[el]=Μικροεφαρμογή;Παράθεση;Ένδειξη;Χώρος;Εργασίας;COSMIC;Applet;Tiling;Hint;Workspace;
Keywords[en]=COSMIC;Applet;Tiling;Hint;Workspace;
Keywords[en_GB]=COSMIC;Applet;Tiling;Hint;Workspace;
Keywords[fi]=COSMIC;Applet;Tiling;Hint;Workspace;sovelma;laatoitus;asettelu;vihje;työtila;
Keywords[fr]=COSMIC;Applet;Mosaïque;Indice;Espace de travail;
Keywords[ga]=COSMIC;Feidhmchláirín;Tíliú;Leid;Spás Oibre;
Keywords[gl]=COSMIC;Miniaplicación;Mosaico;Indicación;Espazo de traballo;
Keywords[hu]=COSMIC;kisalkalmazás;csempézés;kiemelés;munkaterületek;
Keywords[id]=COSMIC;Applet;Pengubinan;Petunjuk;Ruang Kerja;
Keywords[it]=COSMIC;Applet;Affiancamento;Suggerimento;Area di lavoro;
Keywords[kab]=Cosmic;Tappleṭ;Afser;Amatar;Tallunt n umahil;
Keywords[kk]=COSMIC;Апплет;Тайлинг;Нұсқау;Жұмыс орны;
Keywords[kmr]=COSMIC;Sepanok;Berhevkirin;Nîşander;Navenda xebatê;
Keywords[ko]=COSMIC;애플릿;타일링;힌트;작업 공간;
Keywords[nl]=COSMIC;Applet;Tegelen;Venster;Focus;Aanduiding;Werkblad;
Keywords[pl]=COSMIC;Aplet;Kafelkowanie;Podkreślenie;Obszar roboczy;
Keywords[pt]=COSMIC;Miniaplicação;Applet;Agrupamento;Sugestão;Área;Trabalho;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Tiling;Lado;Dica;Workspace;Espaço;Trabalho;
Keywords[ru]=COSMIC;Апплет;Плитки;Подсказка;Рабочий;Стол;Размещение;Тайлинг;
Keywords[sr]=COSMIC;Applet;Tiling;Hint;Workspace;Космик;Програмчић;Поплочавање;Помоћ;Радни простор;kosmik;programčić;popločavanje;pomoć;radni prostor;
Keywords[sv]=COSMIC;Applet;Kakling;Indikator;Arbetsyta;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Укладання;Тайлінг;Вікна;Робочий;Простір;
Keywords[zh_CN]=COSMIC;小部件;平铺;提示;工作区;
Keywords[zh_Hant]=COSMIC;小程式;平鋪;提示;工作區;
Icon=com.system76.CosmicAppletTiling-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
