[Desktop Entry]
Encoding=UTF-8
Name=Alliance: FSM Viewer
Exec=/usr/lib/alliance/bin/xfsm
Icon=xfsm.png
Type=Application
Terminal=false
GenericName=xfsm
Categories=Electronics;Engineering;
Comment=View Finite State Machines
X-Desktop-File-Install-Version=0.27
