[Desktop Entry]
Name[es]=Diffuse
Name[fr]=Diffuse
Name[ka]=Diffuse
Name[nl]=Diffuse
Name[pt]=Diffuse
Name[pt_BR]=Diffuse
Name[sv]=Diffuse
Name[tr]=Diffuse
Name=Diffuse
Comment[cs]=Grafický nástroj pro slučování a porovnávání textových souborů
Comment[de]=Werkzeug zum Mischen und Vergleichen von Textdateien
Comment[es]=Herramienta gráfica para fusionar y comparar archivos de texto
Comment[fr]=Outil graphique pour fusionner et comparer des fichiers texte
Comment[it]=Strumento grafico per l'unione e il confronto di file
Comment[ja]=テキストファイルをマージして比較するためのグラフィックツール
Comment[ka]=გრაფიკული პროგრამა ტექსტური ფაილების შედარებისა და შერწყმისთვის
Comment[ko]=텍스트 파일을 병합하고 비교하기위한 도구
Comment[nl]=Grafische toepassing voor het vergelijken en samenvoegen van tekstbestanden
Comment[pl]=Graficzne narzędzie do łączenia i porównywania plików tekstowych
Comment[pt]=Ferramenta gráfica para unir e comparar ficheiros de texto
Comment[pt_BR]=Ferramenta gráfica para unificar e comparar arquivos de texto
Comment[ru]=Графический инструмент для слияния и сравнения текстовых файлов
Comment[sv]=Grafiskt verktyg för jämförelse och sammanfogning av textfiler
Comment[th]=เครื่องมือแบบกราฟิกสำหรับเปรียบเทียบและผสานแฟ้มข้อความ
Comment[tr]=Metin dosyalarını birleştirmek ve karşılaştırmak için grafiksel araç
Comment[zh_CN]=图形化的比较和合并文本文件的工具
Comment[zh_TW]=比較與合併文字檔案的圖形化工具
Comment=Graphical tool for merging and comparing text files
Exec=diffuse -s %F
Icon=io.github.mightycreak.Diffuse
Terminal=false
Type=Application
MimeType=text/plain;text/x-csrc;text/x-chdr;
Categories=Development;GTK;
StartupNotify=true
