[Desktop Entry]
Name=Desktop
Name[ar]=سطح المكتب
Name[cs]=Plocha
Name[da]=Skrivebord
Name[de]=Desktop
Name[el]=Επιφάνεια εργασίας
Name[en]=Desktop
Name[es]=Escritorio
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[ga]=Deasc
Name[gl]=Escritorio
Name[hu]=Asztal
Name[id]=Desktop
Name[it]=Desktop
Name[kab]=Tanarit
Name[kk]=Жұмыс үстелі
Name[kmr]=Sermase
Name[ko]=데스크톱
Name[lt]=Darbalaukis
Name[nl]=Bureaublad
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt]=Área de Trabalho
Name[pt_BR]=Área de trabalho
Name[ru]=Рабочий стол
Name[sk]=Pracovná plocha
Name[sr]=Радна површина
Name[sv]=Skrivbord
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Comment=Wallpaper, appearance, panel, dock, window management and workspace settings.
Comment[ar]=إعدادات خلفية الشاشة والمظهر واللوحة والإرساء وإدارة النوافذ ومساحة العمل
Comment[cs]=Tapeta, vzhled, panel, dok, správa oken a nastavení pracovní plochy
Comment[da]=Baggrund, udseende, panel, dock, vindueshåndtering og arbejdsområder
Comment[de]=Hintergrundbild, Aussehen, Panel, Dock, Fensterverwaltung und Arbeitsflächeneinstellungen
Comment[el]=Ρυθμίσεις ταπετσαρίας, εμφάνισης, γραμμής συστήματος, μπάρας εφαρμογών, διαχείρισης παραθύρων και χώρων εργασίας
Comment[en]=Wallpaper, appearance, panel, dock, window management and workspace settings
Comment[fi]=Taustakuva, ulkoasu, paneeli, telakka, ikkunanhallinta ja työtilojen asetukset
Comment[fr]=Fond d’écran, apparence, panneau, dock, gestion des fenêtres et paramètres des espaces de travail
Comment[ga]=Socruithe cúlbhrat, cuma, painéal, duga, bainistíocht fuinneoga agus spás oibre
Comment[gl]=Fondo de pantalla, aparencia, panel, dock, xestión de xanelas e configuración dos espazos de traballo
Comment[hu]=Háttérkép, megjelenés, panel, dokk, ablakkezelés és munkaterület-beállítások
Comment[id]=Pengaturan wallpaper, tampilan, panel, dok, pengelolaan jendela dan ruang kerja
Comment[kab]=Aɣrab n ugdil, timeẓri, agalis, adekkan, asefrek n yisfuyla akked yiɣewwaṛen n tallunt n umahil
Comment[kk]=Тұсқағаз, сыртқы түрі, панель, док, терезелерді басқару және жұмыс орындарының баптаулары
Comment[kmr]=Wêneya dîwêr, xuyang, destgeh, bender, rêveberê çarçoveyê û sazkairyên qada xebatê
Comment[ko]=바탕화면과 외관, 패널, 독, 창 관리 및 작업 공간 설정
Comment[lt]=Darbalaukio fonas, išvaizda, skydelis, dokas, langų valdymo ir darbo sričių nuostatos
Comment[nl]=Schermachtergrond, uiterlijk, paneel, dock, vensterbeheer, en werkbladinstellingen
Comment[pa]=ਵਾਲਪੇਪਰ, ਦਿੱਖ, ਪੈਨਲ, ਡੌਕ, ਵਿੰਡੋ ਮੈਨਜੇਮੈਂਟ ਅਤੇ ਵਰਕਸਪੇਸ ਸੈਟਿੰਗਾਂ
Comment[pl]=Tapeta, wygląd, panel, dok, zarządzanie oknami i ustawienia obszarów roboczych
Comment[pt]=Papel de parede, aparência, painel, doca, gestão de janelas e definições de áreas de trabalho
Comment[pt_BR]=Plano de fundo, aparência, painel, dock, gerenciamento de janelas e configurações de espaços de trabalho
Comment[ru]=Фон, оформление, панель, док, управление окнами и параметры рабочих столов
Comment[sk]=Nastavenia pracovnej plochy, vzhľadu a správania okien
Comment[sr]=Позадина, изглед, окно, док, управљање прозорима и подешавања радног простора
Comment[sv]=Inställningar för bakgrundsbild, utseende, panel, docka, fönsterhantering och arbetsytor
Comment[tr]=Duvar kağıdı, görünüm, panel, dock, pencere yönetimi ve çalışma alanı ayarları
Comment[uk]=Тло, вигляд, панель, область завдань, керування вікнами та налаштування робочого простору
Comment[zh_CN]=壁纸、外观、面板、程序坞、窗口管理和工作区设置
Comment[zh_TW]=桌布、外觀、面板、Dock、視窗管理和工作區設定
Type=Application
Exec=cosmic-settings desktop
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Desktop;
Keywords[ar]=COSMIC;سطح المكتب;
Keywords[cs]=COSMIC;Plocha;
Keywords[da]=COSMIC;Skrivebord;
Keywords[de]=COSMIC;Desktop;
Keywords[el]=Επιφάνεια;Εργασίας;COSMIC;Desktop;
Keywords[en]=COSMIC;Desktop;
Keywords[fi]=COSMIC;Desktop;työpöytä;
Keywords[fr]=COSMIC;Bureau;
Keywords[ga]=COSMIC;Deasc;
Keywords[gl]=COSMIC;Escritorio;
Keywords[hu]=COSMIC;Asztal;
Keywords[id]=COSMIC;Desktop;
Keywords[kab]=COSMIC;Tanarit;
Keywords[kk]=COSMIC;Жұмыс үстелі;
Keywords[kmr]=COSMIC;Sermase;
Keywords[ko]=COSMIC;데스크톱;
Keywords[lt]=COSMIC;Darbalaukis;
Keywords[nl]=COSMIC;Bureaublad;
Keywords[pa]=COSMIC;ਡੈਸਕਟਾਪ;
Keywords[pl]=COSMIC;Środowisko Graficzne;
Keywords[pt_BR]=COSMIC;Desktop;Área;Trabalho;
Keywords[ru]=COSMIC;Рабочий;Стол;
Keywords[sr]=COSMIC;Desktop;Космик;Радна површина;kosmik;radna površina;
Keywords[sv]=COSMIC;Skrivbord;
Keywords[tr]=COSMIC;Masaüstü;
Keywords[uk]=COSMIC;Стільниця;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;桌面;
Keywords[zh_TW]=COSMIC;桌面;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop
StartupNotify=true
