[Desktop Entry]
Hidden=true
Name[an]=Monitor d'o sistema
Name[ar]=مرقاب النّظام
Name[as]=চিস্টেম মনিটৰ
Name[ast]=Monitor del Sistema
Name[az]=Sistem İzləyicisi
Name[be]=Сістэмны манітор
Name[be@latin]=Systemny naziralnik
Name[bg]=Наблюдение на системата
Name[bn]=সিস্টেম পর্যবেক্ষক
Name[bn_IN]=System Monitor
Name[bs]=Nadzor sistema
Name[ca]=Monitor del sistema
Name[ca@valencia]=Monitor del sistema
Name[cs]=Sledování systému
Name[cy]=Arsylwr System
Name[da]=Systemovervågning
Name[de]=Systemüberwachung
Name[dz]=རིམ་ལུགས་ལྟ་རྟོག་པ།
Name[el]=Παρακολούθηση συστήματος
Name[en_CA]=System Monitor
Name[en_GB]=System Monitor
Name[en@shaw]=𐑕𐑦𐑕𐑑𐑩𐑥 𐑥𐑪𐑯𐑦𐑑𐑼
Name[eo]=Sistemmonitoro
Name[es]=Monitor del sistema
Name[et]=Süsteemijälgija
Name[eu]=Sistemaren monitorea
Name[fa]=پایشگر سامانه
Name[fi]=Järjestelmän valvonta
Name[fr]=Moniteur système
Name[fur]=Monitor di sisteme
Name[ga]=Monatóir an Chórais
Name[gd]=Monatair an t-siostaim
Name[gl]=Monitor do sistema
Name[gu]=સિસ્ટમ મૉનિટર
Name[he]=צג המערכת
Name[hi]=सिस्टम मॉनीटर
Name[hr]=Nadgledatelj sustava
Name[hu]=Rendszerfigyelő
Name[id]=Monitor Sistem
Name[ie]=Monitor del sistema
Name[is]=Kerfisvakt
Name[it]=Monitor di sistema
Name[ja]=システムモニター
Name[ka]=სისტემური მონიტორი
Name[kab]=Asefrak n unagraw
Name[kk]=Жүйелік бақылаушы
Name[km]=កម្មវិធី​ត្រួត​​ពិនិត្យ​ប្រព័ន្ធ
Name[kn]=ಗಣಕ ಮೇಲ್ವಿಚಾರಕ
Name[ko]=시스템 정보
Name[ku]=Temaşekerê Pergalê
Name[ky]=Тутум монитору
Name[li]=Prosesbeheer
Name[lt]=Sistemos monitorius
Name[lv]=Sistēmas pārraugs
Name[mai]=सिस्टम मानीटर
Name[mg]=Mpanara-maso ny rafitra
Name[mjw]=System Monitor
Name[mk]=Надгледувач на системот
Name[ml]=സിസ്റ്റം നിരീക്ഷകന്‍
Name[mn]=Системийн монитор
Name[mr]=प्रणाली मॉनिटर
Name[ms]=Pemantau Sistem
Name[nb]=Systemmonitor
Name[nds]=Sysmonitor
Name[ne]=प्रणाली निगरानी
Name[nl]=Systeemmonitor
Name[nn]=Systemovervakar
Name[oc]=Monitor sistèma
Name[or]=ତନ୍ତ୍ର ପ୍ରଦର୍ଶିକା
Name[pa]=ਸਿਸਟਮ ਨਿਗਰਾਨ
Name[pl]=Monitor systemu
Name[ps]=غونډال ليدانی
Name[pt]=Monitor do sistema
Name[pt_BR]=Monitor do sistema
Name[ro]=Monitor de sistem
Name[ru]=Системный монитор
Name[si]=පද්ධති නිරීක්‍ෂකය
Name[sk]=Monitor systému
Name[sl]=Nadzornik sistema
Name[sq]=Monitori i sistemit
Name[sr]=Праћење система
Name[sr@latin]=Praćenje sistema
Name[sv]=Systemövervakare
Name[ta]=கணினி கண்காணிப்புக் கருவி
Name[te]=వ్యవస్థ పర్యవేక్షకం
Name[tg]=Монитори система
Name[th]=เครื่องมือเฝ้าสังเกตระบบ
Name[tr]=Sistem Gözlemcisi
Name[ug]=سىستېما كۆزەتكۈچ
Name[uk]=Системний монітор
Name[uz]=Tizim monitori
Name[vi]=Theo dõi hệ thống
Name[zh_CN]=系统监视器
Name[zh_HK]=系統監控
Name[zh_TW]=系統監控
Name=System Monitor
Comment[an]=Veyer os procesos actuals y monitorizar o estau d'o sistema
Comment[ar]=اعرض العمليات الحالية و راقب حالة النظام
Comment[as]=বৰ্তমান প্ৰক্ৰিয়াসমূহ চাওক আৰু চিস্টেমৰ অবস্থা নিৰীক্ষণ কৰক
Comment[ast]=Adicar los procesos autuales y monitorizar l'estáu del sistema
Comment[az]=Hazırda baş verən gedişatları göstər və sistemin vəziyyətinə nəzarət et
Comment[be]=Прагляд актыўных працэсаў і назіранне за станам сістэмы
Comment[be@latin]=Prahladaj dziejnyja pracesy i adsočvaj stan systemy
Comment[bg]=Показване на текущите процеси и следене на състоянието на системата
Comment[bn]=বর্তমান প্রসেস দেখুন ও সিস্টেমের অবস্থা পর্যবেক্ষন করুন
Comment[bn_IN]=চলমান প্রসেস দেখুন ও সিস্টেমের অবস্থা নিরীক্ষণ করুন
Comment[bs]=Pregled trenutnih procesa i nadzor stanja sistema
Comment[ca]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[ca@valencia]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[cs]=Zobrazit aktuální procesy a sledovat stav systému
Comment[cy]=Gweld prosesau cyfredol ac arsylwi cyflwr y system
Comment[da]=Vis aktive processer og overvåg systemets status
Comment[de]=Momentan laufende Prozesse betrachten und den Systemzustand überwachen
Comment[dz]=ད་ལྟོའི་ལས་སྦྱོར་དང་ ལྟ་རྟོག་རིམ་ལུགས་ཀྱི་ གནས་ལུགས་སྟོན།
Comment[el]=Προβολή τρεχουσών διεργασιών και παρακολούθηση κατάστασης συστήματος
Comment[en_CA]=View current processes and monitor system state
Comment[en_GB]=View current processes and monitor system state
Comment[en@shaw]=𐑝𐑿 𐑒𐑳𐑮𐑩𐑯𐑑 𐑐𐑮𐑴𐑕𐑧𐑕𐑩𐑟 𐑯 𐑥𐑪𐑯𐑦𐑑𐑼 𐑕𐑦𐑕𐑑𐑩𐑥 𐑕𐑑𐑱𐑑
Comment[eo]=Montras aktualajn procezojn kaj sistemstaton
Comment[es]=Vea los procesos actuales y monitorizar el estado del sistema
Comment[et]=Süsteemi oleku ja protsesside jälgimine
Comment[eu]=Ikusi uneko prozesuak eta monitorizatu sistemaren egoera
Comment[fa]=دیدن فرایند‌های جاری و پایش حالت سامانه
Comment[fi]=Katsele aktiivisia prosesseja ja valvo järjestelmän tilaa
Comment[fr]=Afficher les processus en cours et surveiller l’état du système
Comment[fur]=Visualize i procès curints e controle il stât dal sisteme
Comment[ga]=Taispeáin próisis reatha agus déan monatóireacht ar staid an chórais
Comment[gd]=Seall na pròiseasan làithreach agus cum sùil air staid an t-siostaim
Comment[gl]=Ver os procesos actuais e monitorizar o estado do sistema
Comment[gu]=વર્તમાન પ્રક્રિયાને જુઓ અને સિસ્ટમની સ્થિતિનું ધ્યાન રાખો
Comment[he]=הצגת התהליכים הנוכחיים ומעקב אחר מצב המערכת
Comment[hi]=वर्तमान प्रक्रिया दिखाता है और सिस्टम अवस्था मॉनीटर करता है
Comment[hr]=Pregled trenutnih procesa i nadzor stanja sustava
Comment[hu]=A jelenlegi folyamatok megtekintése és a rendszerállapot figyelése
Comment[id]=Melihat proses yang sedang berjalan serta memantau keadaan sistem
Comment[is]=Skoða stöðu kerfisins og keyrandi ferli
Comment[it]=Visualizza i processi correnti e controlla lo stato del sistema
Comment[ja]=現在のプロセスを表示してシステムの状態を監視します
Comment[ka]=მიმდინარე პროცესების დათვალიერება და სისტემის მდგომარეობის მონიტორინგი
Comment[kab]=Wali akal n melmi kan akked waddad n unagraw n usefrak
Comment[kk]=Ағымдағы үрдістерді қарау және жүйе қалып-күйін бақылау
Comment[km]=មើល​ដំណើរការ​បច្ចុប្បន្ន និង​ត្រួតពិនិត្យ​ស្ថានភាព​ប្រព័ន្ធ
Comment[kn]=ಪ್ರಸಕ್ತ ಪ್ರಕ್ರಿಯೆಗಳು ಹಾಗು ಮೇಲ್ವಿಚಾರಣ ವ್ಯವಸ್ಥೆಯ ಸ್ಥಿತಿಯನ್ನು ನೋಡಿ
Comment[ko]=현재 프로세스와 시스템 상태를 봅니다
Comment[ky]=Кезектеги жараяндарды көрүү жана тутумдун абалын көзөмөлдөө
Comment[li]=Tuin huijig proses en bekiek systeemtoesjtandj
Comment[lt]=Rodo šiuo metu paleistus procesus ir sistemos būseną
Comment[lv]=Skatīt pašreizējos procesus un pārraudzīt sistēmas stāvokli
Comment[mai]=वर्तमान प्रक्रिया देखबैत अछि आओर सिस्टम अवस्था मानीटर करैत अछि
Comment[mg]=Hijery ireo asa mandeha sy ny toetry ny rafitr'ilay mpanara-maso amin'izao fotoana izao
Comment[mk]=Погледни ги моментално активните процеси и состојбата на системот
Comment[ml]=നിലവിലുളള പ്രക്രിയകള്‍ വീക്ഷിക്കുകയും സിസ്റ്റത്തിന്റെ അവസ്ഥ നിരീക്ഷിക്കുകയും ചെയ്യുന്നു
Comment[mn]=Идэвхитэй процессуудыг харах ба системын төлвийг шалгах
Comment[mr]=चालू प्रक्रिया पहा आणि प्रणाली स्थिती मॉनिटर करा
Comment[ms]=Lihat proses semasa dan pantau keadaan sistem
Comment[nb]=Vis aktive prosesser og overvåk systemets tilstand
Comment[nds]=Aktuelle Prozesse un Systemtostandsmonitor opwiesen
Comment[ne]=हालका प्रक्रिया र मोनिटर प्रणाली स्थिति हेर्नुहोस्
Comment[nl]=Bekijk actieve processen bekijken en beheer de systeemstatus
Comment[nn]=Vis aktive prosessar og overvak systemtilstanden
Comment[oc]=Afichar los procèssus en cors e susvelhar l'estat del sistèma
Comment[or]=ପ୍ରଚଳିତ ପ୍ରକ୍ରିୟାକୁ ଦେଖନ୍ତୁ ଏବଂ ତନ୍ତ୍ର ସ୍ଥିତି ଉପରେ ଦୃଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਮੌਜੂਦਾ ਪਰੋਸੈੱਸ ਵੇਖੋ ਅਤੇ ਸਿਸਟਮ ਹਾਲਤ ਦੀ ਨਿਗਰਾਨੀ
Comment[pl]=Wyświetlanie istniejących procesów i monitorowanie stanu systemu
Comment[ps]=اوسني بهيرونه ليدل او غونډال انکړ څارل
Comment[pt]=Ver processos em curso e monitorizar o estado do sistema
Comment[pt_BR]=Veja os processos atuais e monitore o estado do sistema
Comment[ro]=Vizualizează procesele în curs și monitorizează starea sistemului
Comment[ru]=Просмотр текущих процессов и мониторинг состояния системы
Comment[si]=දැනට ඇති සැකසුම් දර්ශනය සහ පද්ධති තත්වය නිරීක්‍ෂණය
Comment[sk]=Zobrazuje aktuálne procesy a monitoruje stav systému
Comment[sl]=Ogled trenutnih opravil in nadzor stanja sistema
Comment[sq]=Shfaq proçeset aktualë dhe monitoron gjëndjen e sistemit
Comment[sr]=Прегледајте текуће процесе и пратите стање система
Comment[sr@latin]=Pregledajte tekuće procese i pratite stanje sistema
Comment[sv]=Visa aktuella processer och övervaka systemtillståndet
Comment[ta]=தற்போதைய செயல் மற்றும் கணினியின் நிலையை பார்க்கவும்
Comment[te]=ప్రస్తుత ప్రోసెస్ దర్శించు మరియు వ్యవస్థ స్థితిని పర్యవేక్షించు
Comment[tg]=Намоиши равандҳои ҷорӣ ва назорати ҳолати система
Comment[th]=แสดงโพรเซสปัจจุบันและเฝ้าสังเกตสถานะของระบบ
Comment[tr]=Çalışan süreçleri ve sistem durumunu gösterir
Comment[ug]=نۆۋەتتىكى جەرياننى كۆرسىتىپ ۋە سىستېما ھالىتىنى كۆزىتىدۇ
Comment[uk]=Перегляд поточних процесів та контроль стану системи
Comment[uz]=Joriy jarayonlarni ko’ring va tizim holatini kuzatib boring
Comment[vi]=Xem các tiến trình hiện đang chạy và theo dõi tình trạng hệ thống
Comment[zh_CN]=查看当前进程及监视系统状态
Comment[zh_HK]=顯示目前的程序並監控系統的狀態
Comment[zh_TW]=檢視執行中的程序與監控系統運作狀況
Comment=View current processes and monitor system state
TryExec=gnome-system-monitor
Exec=gnome-system-monitor
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.SystemMonitor
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
StartupWMClass=gnome-system-monitor
Categories=GNOME;GTK;System;Monitor;
NotShowIn=KDE;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=مراقب;مرقاب;نظام;عملية;معالج;ذاكرة;شبكة;تأريخ;تاريخ;استخدام;أداء;مهمة;مهام;مدير;
Keywords[be]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;Назіральнік;Манітор;Сістэма;Працэс;ЦП;Працэсар;CPU;Памяць;Сетка;Сеціва;Гісторыя;Графік;Выкарыстанне;Прадукцыйнасць;Рэсурсы;Дыспетчар:Задач;
Keywords[bg]=monitor;system;process;cpu;memory;network;history;usage;performance;task;manager;activity;наблюдение;система;процес;процесор;памет;мрежа;история;използване;производителност;задача;управление;
Keywords[ca]=Monitor;Sistema;Procés;CPU;Memòria;Xarxa;Història;Ús;Rendiment;Tasca;Gestor;Activitat;
Keywords[ca@valencia]=Monitor;Sistema;Procés;CPU;Memòria;Xarxa;Història;Ús;Rendiment;Tasca;Gestor;Activitat;
Keywords[cs]=sledování;systém;proces;CPU;procesor;paměť;RAM;síť;historie;využití;zátěž;výkon;úloha;úlohy;správa;aktivita;činnost;
Keywords[da]=Overvågning;System;Proces;CPU;Processor;Hukommelse;Netværk;Historik;Forbrug;Ydelse;Opgave;Håndtering;Aktivitet
Keywords[de]=Überwachung;System;Prozess;CPU;Speicher;Netzwerk;Chronik;Last;Leistung;Aufgabe;Dienst;Verwaltung;
Keywords[el]=Παρακολούθηση;Σύστημα;Διεργασία;CPU;Μνήμη;Δίκτυο;Ιστορικό;Χρήση;Απόδοση;Εργασία;Διαχειριστής;Δραστηριότητα;Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[en_GB]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[eo]=Monitoro;Sistemo;Procezo;Ĉefprocesoro;Memoro;Reto;Historio;Uzo;Rendimento;Tasko;Administrilo;Aktiveco;
Keywords[es]=Monitor;Sistema;Proceso;CPU;Memoria;Red;Histórico;Uso;Rendimiento;Tarea:Gestor;Actividad;
Keywords[eu]=Monitorea;Sistema;Prozesua;PUZ;Memoria;Sarea;Historia;Erabilera;Errendimendua;Zeregina;Ataza;Kudeatzailea;Jarduera;
Keywords[fa]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;پایش;سامانه;پردازش;حافظه;شبکه;تاریخچه;استفاده;CPU;کارایی;مدیریت;وظایف;
Keywords[fi]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;Tarkkaile;Järjestelmä;Prosessi;Suoritin;Muisti;Verkko;Historia;Käyttö;Suorituskyky;Tehtävänhallinta;
Keywords[fr]=Moniteur;Système;Processus;CPU;Mémoire;Réseau;Historique;Utilisation;Performance;Tâche;Activité;
Keywords[fur]=Monitor;Control;Sisteme;Procès;CPU;Memorie;Rêt;Network;Cronologjie;Utilizazion;Prestazions;Performance;Task;Lavôrs;Manager;Gjestion;Ativitât;
Keywords[gd]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;Monatair;Siostam;Pròiseas;Cuimhne;Lìonra;Eachdraidh;Cleachdadh;Saothair;Saothraichean;Manaidsear;Gnìomhachd;
Keywords[gl]=Monitor;Sistema;Procesos;CPU;Memoria;Rede;Historial;Uso;Rendemento;Tarefas;Xestor;Actividade;
Keywords[he]=צג;מוניטור;מעקב;מערכת;תהליך;מעבד;זיכרון;זכרון;רשת;היסטוריה;שימוש;ניצולת;ניצול;בצוע;ביצוע;משימה;משימות;מנהל;פעילות;
Keywords[hi]=निगरानी;प्रणाली;प्रक्रिया;CPU;मेमोरी;नेटवर्क;इतिहास;उपयोग;निष्पादन;काम;प्रबंधक;गतिविधि;
Keywords[hr]=Nadgledaj;Sustav;Proces;CPU;Memorija;Mreža;Povijest;Upotreba;Performanse;Zadatak;Upravitelj;Aktivnost;
Keywords[hu]=Figyelő;Rendszer;Folyamat;CPU;Processzor;Memória;Hálózat;Előzmények;Használat;Teljesítmény;Feladat;Kezelő;Tevékenység;
Keywords[id]=Pemantauan;Sistem;Proses;CPU;Memori;Jaringan;Riwayat;Pemakaian;Kinerja;Tugas;Manajer;Aktivitas;
Keywords[is]=Vöktun;Kerfi;Ferli;CPU;Örgjörvi:Minni;Netkerfi;Ferill;Notkun;Afköst;Verk;Stjórnun;
Keywords[it]=Monitor;Controllo;Sistema;Processo;Processi;CPU;Memoria;Network;Rete;Cronologia;Utilizzo;Uso;Prestazioni;Performance;Task;Lavori;Manager;Gestione;Attività;
Keywords[ja]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;モニター;システム;プロセス;メモリ;ネットワーク;履歴;使用量;パフォーマンス;性能;タスク;アクティビティ;
Keywords[ka]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[kab]=Asefrak;Anagraw;Akala;CPU;Takatut;Azeṭṭa;Azray;Aseqdec;Tamellit;Tamsektit;Amsefrak;Armud;
Keywords[kk]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;Бақылау;Жүйе;Үрдіс;Процессор;Жады;Желі;Тарихы;Қолданылуы;Өнімділік;Тапсырма;Басқарушы;Белсенділік;
Keywords[ko]=Monitor;감시;System;시스템;Process;프로세스;CPU;프로세서;Memory;메모리;Network;네트워크;History;기록;Usage;내역;Performance;성능;Task;작업;Manager;관리;Activity;활동;
Keywords[lt]=Monitorius;Sistema;Procesas;CPU;Atmintis;Tinklas;Retrospektyva;Naudojimas;Našumas;Užduotis;Tvarkytuvė;Veikla;
Keywords[lv]=Pārraugs;Sistēma;Process;CPU;Procesors;Atmiņa;Tīkls;Vēsture;Lietojums;Veiktspēja;Uzdevums;Pārvaldnieks;Aktivitāte;
Keywords[mjw]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[ml]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[ms]=Pemantau;Sistem;Proses;CPU;Ingatan;Rangkaian;Sejarah;Penggunaan;Prestasi;Tugas;Pengurus;Aktiviti;
Keywords[nb]=Skjerm;System;Prosess;CPU;Minne;Nettverk;Historikk;Bruk;Ytelse;Oppgave;Behandler;Aktivitet;
Keywords[ne]=निगरानी;प्रणाली;प्रक्रिया;CPU;स्मृति;सञ्जाल;ईतिहास;प्रयोग;प्रदर्शन;कार्य;प्रबन्धक;क्रियाकलाप;
Keywords[nl]=Monitor;System;Systeem;Process;CPU;Memory;Geheugen;Network;History;Usage;Gebruik;Performance;Prestaties;Task;Taak;Manager;Beheer;Activity;Activiteit;
Keywords[oc]=Monitor;Sistèma;Procèssus;CPU;Memòria;Ret;Istoric;Utilizacion;Performança;Prètzfait;Performança;activitat;gestionari;malhum;processor;activitat;
Keywords[pa]=ਨਿਗਾਰਨੀ;ਸਿਸਟਮ;ਕਾਰਵਾਈ;ਪਰੋਸੈਸ;ਸੀਪੀਯੂ;ਪ੍ਰੋਸੈਸਰ;ਨੈੱਟਵਰਕ;ਅਤੀਤ;ਵਰਤੋਂ;ਮੈਮੋਰੀ;ਕਾਰਗੁਜ਼ਾਰੀ;ਟਾਸਕ;ਕੰਮ;ਮੈਨੇਜਰ;ਪਰੋਸੈਸਰ;ਸਰਗਰਮੀ;
Keywords[pl]=Monitor;System;Proces;Procesor;CPU;Pamięć;Sieć;Historia;Użycie;Zużycie;Wydajność;Zadanie;Zadania;Zadań;Menedżer;Menadżer;Manadżer;Manedżer;Manager;Aktywność;
Keywords[pt]=Monitor;Sistema;Processo;CPU;Memória;Rede;Histórico;Utilização;Desempenho;Tarefa;Gestor;Atividade;
Keywords[pt_BR]=Monitor;Sistema;Processo;CPU;Memória;Rede;Histórico;Uso;Desempenho;Performance;Tarefa;Gerenciador;Atividade;
Keywords[ro]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;Monitor;Sistem;Proces;Memorie;Rețea;Cronologia;Istoric;Utilizare;Performanță;Sarcină;Lucru;Administrator;Activitate;
Keywords[ru]=Монитор;Система;Процесс;ЦП;Процессор;Память;Сеть;История;Использование;Производительность;Задача;Менеджер;Диспетчер;
Keywords[sk]=Monitor;Systém;Proces;Procesor;CPU;Pamäť;Sieť;História;Využitie;Výkon;Úloha;Správca;Aktivita;
Keywords[sl]=Nadzor;sistem;opravila;CPE;OPE;pomnilnik;omrežje;zgodovina;uporaba;zmožnost;naloge;upravljalnik;dejavnost;monitor;system;aktivnost;proces;memory;network;spomin;performanca;
Keywords[sr]=праћење;систем;процес;монитор;процесор;меморија;мрежа;историјат;употреба;задатак;управник;активност;Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[sr@latin]=praćenje;sistem;proces;monitor;procesor;memorija;mreža;istorijat;upotreba;zadatak;upravnik;aktivnost;Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[sv]=Övervakning;System;Process;CPU;Processor;Minne;Nätverk;Historik;Användning;Prestanda;Uppgift;Hanterare;Aktivitet;
Keywords[th]=เฝ้าสังเกต;ระบบ;โพรเซส;ซีพียู;หน่วยความจำ;เครือข่าย;สถิติ;การใช้งาน;ประสิทธิภาพ;งาน;เครื่องมือจัดการ;กิจกรรม;
Keywords[tr]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;İzleyici;Gözlemci;Sistem;Süreç;İşlem;MİB;CPU;Bellek;Ağ;Geçmiş;Kullanım;Performans;Başarım;Görev;Yönetici;Etkinlik;
Keywords[ug]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;كۆزەتكۈچ;سىستېما;جەريان;CPU;ئەسلەك;تور;تارىخ;ئىشلىتىشى;ئۈنۈمى;ۋەزىپە;باشقۇرغۇچ;پائالىيەت;
Keywords[uk]=Монітор;Система;Процес;Процесор;Пам'ять;Мережа;Історія;Використання;Завдання;Менеджер;діяльність;Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Keywords[uz]=Monitor; Tizim; Jarayon; CPU; Xotira; Tarmoq; Tarix; Foydalanish; Ishlash; Vazifa; Menejer; Faoliyat;
Keywords[vi]=Monitor;Theo;dõi;System;Hệ;Thống;he;thong;Process;Tiến;Trình;tien;trinh;CPU;Memory;Bộ;Nhớ;bo;nho;Network;Mạng;History;Lịch;sử;lich;su;Usage;Sử;dụng;cách;dùng;dung;Performance;Năng;suất;nang;suat;Hiệu năng;Task;công;việc;tác;vụ;Manager;quản;lý;quan;ly;Activity;Hoạt động;Hoat dong;
Keywords[zh_CN]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;监视器;系统;进程;中央处理器;内存;网络;历史;用量;绩效;任务;管理员;活动;
Keywords[zh_TW]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;監視器;監控;系統;程序;處理器;記憶體;網路;紀錄;使用量;效能;工作;管理員;活動;
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
