[Desktop Entry]
Name=Notifications Center
Name[ar]=مركز الإشعارات
Name[bg]=Център за известия
Name[cs]=Centrum oznámení
Name[da]=Notifikationscenter
Name[de]=Benachrichtigungszentrum
Name[el]=Κέντρο ειδοποιήσεων
Name[en]=Notifications Center
Name[en_GB]=Notifications Centre
Name[es]=Centro de notificaciones
Name[fi]=Ilmoituskeskus
Name[fr]=Centre de notifications
Name[ga]=Ionad Fógraí
Name[gl]=Centro de notificacións
Name[hi]=नोटिफ़िकेशन सेंटर
Name[hu]=Értesítési központ
Name[id]=Pusat Notifikasi
Name[it]=Centro notifiche
Name[kab]=Ammas n yilɣa
Name[kk]=Хабарландырулар орталығы
Name[kmr]=Navenda Agahdariyan
Name[ko]=알림 센터
Name[lt]=Pranešimų Centras
Name[nl]=Meldingscentrum
Name[oc]=Centre de notificacions
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਕੇਂਦਰ
Name[pl]=Centrum powiadomień
Name[pt]=Central de Notificações
Name[pt_BR]=Central de notificações
Name[ru]=Центр уведомлений
Name[sk]=Centrum oznámení
Name[sr]=Центар за обавештења
Name[sv]=Aviseringscentral
Name[uk]=Центр сповіщень
Name[zh_CN]=通知中心
Name[zh_Hant]=通知中心
Comment=Manage notifications and Do Not Disturb
Comment[ar]=أدِر الإشعارات و عدم الإزعاج
Comment[cs]=Správa oznámení a režimu Nerušit
Comment[da]=Administrer notifikationer og Forstyr ikke
Comment[de]=Benachrichtigungen und Nicht stören verwalten
Comment[el]=Διαχείριση ειδοποιήσεων και λειτουργία «Μην ενοχλείτε»
Comment[en]=Manage notifications and Do Not Disturb
Comment[en_GB]=Manage notifications and Do Not Disturb
Comment[fi]=Hallitse ilmoituksia ja Älä häiritse -tilaa
Comment[fr]=Gérer les notifications et le mode Ne pas déranger
Comment[ga]=Bainistigh fógraí agus Ná Cuir Isteach
Comment[gl]=Xestionar as notificacións e o modo Non molestar
Comment[hi]=नोटिफ़िकेशन और डु नॉट डिस्टर्ब प्रबंधित करें
Comment[hu]=Értesítések és a Ne zavarjanak kezelése
Comment[id]=Kelola notifikasi dan Jangan Ganggu
Comment[it]=Gestisci le notifiche e “Non disturbare”
Comment[kab]=Sefrek ilɣa akked Ur ttcewwil ara
Comment[kk]=Хабарландыруларды және Мазаламау режимін басқару
Comment[kmr]=Agahdarî û rawestandina balkişiyê bi rê ve bibe
Comment[ko]=알림 관리 및 방해 금지
Comment[lt]=Valdyti pranešimus ir Netrukdyti režimą
Comment[nl]=Beheer meldingen en niet storen
Comment[oc]=Gerir las notificacions e lo mòde Destorbar pas
Comment[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨਾਂ ਅਤੇ ਤੰਗ ਨਾ ਕਰੋ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzanie powiadomieniami i tryb „Nie Przeszkadzać”
Comment[pt_BR]=Gerenciar notificações e o modo "não perturbe"
Comment[ru]=Управление уведомлениями и режим «Не беспокоить»
Comment[sr]=Управљај обавештењима и режимом „Не узнемиравај“
Comment[sv]=Hantera aviseringar och Stör ej
Comment[uk]=Керування сповіщеннями та режимом Не турбувати
Comment[zh_CN]=管理通知和勿扰模式
Comment[zh_Hant]=管理通知和勿擾模式
Type=Application
Exec=cosmic-applet-notifications
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Notification;
Keywords[ar]=COSMIC;بريمج;إشعار;
Keywords[cs]=COSMIC;Applet;Oznámení;
Keywords[da]=COSMIC;Applet;Notifikation;
Keywords[de]=COSMIC;Applet;Benachrichtigung;
Keywords[el]=Μικροεφαρμογή;Ειδοποίηση;COSMIC;Applet;Notification;
Keywords[en]=COSMIC;Applet;Notification;
Keywords[en_GB]=COSMIC;Applet;Notification;
Keywords[fi]=COSMIC;Applet;Notification;sovelma;ilmoitus;
Keywords[fr]=COSMIC;Applet;Notification;
Keywords[ga]=COSMIC;Feidhmchláirín;Fógra;
Keywords[gl]=COSMIC;Miniaplicación;Notificación;
Keywords[hu]=COSMIC;kisalkalmazás;értesítések;
Keywords[id]=COSMIC;Applet;Notifikasi;
Keywords[it]=COSMIC;Applet;Notifiche;
Keywords[kab]=Cosmic;Tappleṭ;Alɣu;
Keywords[kk]=COSMIC;Апплет;Хабарландыру;
Keywords[kmr]=COSMIC;Sepanok;Agahdarî;
Keywords[ko]=COSMIC;애플릿;알림;
Keywords[lt]=COSMIC;Apletas;Pranešimas;
Keywords[nl]=COSMIC;Applet;Melding;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਨੋਟੀਫਿਕੇਸ਼ਨ;
Keywords[pl]=COSMIC;Aplet;Powiadomienia;Nie Przeszkadzać;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Notificação;
Keywords[ru]=COSMIC;Апплет;Уведомление;
Keywords[sr]=COSMIC;Applet;Notification;Космик;Програмчић;Обавештење;kosmik;programčić;obaveštenje;
Keywords[sv]=COSMIC;Miniprogram;Aviseringar;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Сповіщення;
Keywords[zh_CN]=COSMIC;小部件;通知;
Keywords[zh_Hant]=COSMIC;工具程式;通知;
Icon=com.system76.CosmicAppletNotifications-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-NotificationsApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
