[Desktop Entry]
Name=Input Devices
Name[af]=Invoertoestelle
Name[ar]=أجهزة الإدخال
Name[cs]=Vstupní zařízení
Name[da]=Inputenheder
Name[de]=Eingabegeräte
Name[el]=Συσκευές εισόδου
Name[en]=Input Devices
Name[es]=Dispositivos de entrada
Name[fi]=Syötelaitteet
Name[fr]=Périphériques d'entrée
Name[ga]=Gléasanna Ionchuir
Name[gl]=Dispositivos de Entrada
Name[hu]=Beviteli eszközök
Name[id]=Perangkat Masukan
Name[it]=Dispositivi di immissione
Name[kab]=Ibenkan n unekcum
Name[kk]=Енгізу құрылғылары
Name[kmr]=Amûrên ketanê
Name[ko]=입력 장치
Name[lt]=Įvesties Įrenginiai
Name[nl]=Invoerapparaten
Name[pa]=ਇਨਪੁੱਟ ਡਿਵਾਈਸ
Name[pl]=Urządzenia wprowadzania danych
Name[pt]=Dispositivos de Entrada
Name[pt_BR]=Dispositivos de entrada
Name[ru]=Устройства ввода
Name[sk]=Vstupné zariadenia
Name[sr]=Улазни уређаји
Name[sv]=Inmatningsenheter
Name[tr]=Giriş Cihazları
Name[uk]=Пристрої введення
Name[zh_CN]=输入设备
Name[zh_TW]=輸入裝置
Comment=Keyboard and mouse settings.
Comment[af]=Sleutelbord, muis, ens
Comment[ar]=لوحة المفاتيح، المؤشر، إلخ
Comment[cs]=Nastavení klávesnice a myši
Comment[da]=Tastatur- og museindstillinger
Comment[de]=Tastatur- und Mauseinstellungen
Comment[el]=Ρυθμίσεις πληκτρολογίου και ποντικιού
Comment[en]=Keyboard and mouse settings
Comment[es]=Teclado, ratón, etc.
Comment[fi]=Näppäimistön ja hiiren asetukset
Comment[fr]=Paramètres du clavier et de la souris
Comment[ga]=Socruithe méarchláir agus luiche
Comment[gl]=Axustes de teclado e rato
Comment[hu]=Billentyűzet- és egérbeállítások
Comment[id]=Pengaturan papan ketik dan tetikus
Comment[it]=Tastiera, mouse, ecc.
Comment[kab]=Iɣewwaṛen n unasiw akked tɣerdayt
Comment[kk]=Пернетақта мен тышқан баптаулары
Comment[kmr]=Sazkariyên kilîtdankê û mişkê
Comment[ko]=키보드와 마우스 설정
Comment[lt]=Klaviatūros ir pelės nuostatos
Comment[nl]=Toetsenbord, muis, enz.
Comment[pa]=ਕੀਬੋਰਡ ਅਤੇ ਮਾਊਸ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia klawiatury i myszy
Comment[pt_BR]=Configurações de teclado e mouse
Comment[ru]=Параметры клавиатуры и мыши
Comment[sk]=Klávesnica, kurzor a ďalšie
Comment[sr]=Подешавања тастатуре и миша
Comment[sv]=Inställningar för tangentbord och mus
Comment[tr]=Klavye ve fare ayarları
Comment[uk]=Клавіатура, курсор тощо
Comment[zh_CN]=键盘与光标设置
Comment[zh_TW]=鍵盤與滑鼠設定
Type=Application
Exec=cosmic-settings input
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Input;Keyboard;Mouse;Mice;
Keywords[ar]=COSMIC;إدخال;لوحة مفاتيح;ماوس;فأرة;
Keywords[cs]=COSMIC;Vstup;Klávesnice;Myš;Myši;
Keywords[da]=COSMIC;Input;Tastatur;Mus;Mus;
Keywords[de]=COSMIC;Eingabe;Tastatur;Maus;Mäuse;
Keywords[el]=Εισαγωγή;Είσοδος;Πληκτρολόγιο;Ποντίκι;Ποντίκια;COSMIC;Input;Keyboard;Mouse;Mice;
Keywords[en]=COSMIC;Input;Keyboard;Mouse;Mice;
Keywords[fi]=COSMIC;Input;Keyboard;Mouse;Mice;syöte;sisääntulo;näppäimistö;hiiri;
Keywords[fr]=COSMIC;Saisie;Clavier;Souris;Souris;
Keywords[ga]=COSMIC;Ionchur;Méarchlár;Luch;Luchóga;
Keywords[gl]=COSMIC;Entrada;Teclado;Rato;Ratos;
Keywords[hu]=COSMIC;Bevitel;Billentyűzet;Egér;Egerek;
Keywords[id]=COSMIC;Masukan;Papan Ketik;Tetikus;Tetikus;
Keywords[kk]=COSMIC;Енгізу;Пернетақта;Тышқан;Тышқандар;
Keywords[kmr]=COSMIC;Ketan;Kilîtdank;Mişk;
Keywords[ko]=COSMIC;입력;키보드;마우스;마우스;
Keywords[lt]=COSMIC;Įvestis;Klaviatūra;Pelė;Pelytė;
Keywords[pa]=COSMIC;ਇਨਪੁੱਟ;ਕੀਬੋਰਡ;ਮਾਊਸ;
Keywords[pl]=COSMIC;Wejście;Klawiatura;Mysz;Myszka;
Keywords[pt_BR]=COSMIC;Entrada;Teclado;Mouse;
Keywords[ru]=COSMIC;Ввод;Клавиатура;Мышь;Мышка;
Keywords[sr]=COSMIC;Input;Keyboard;Mouse;Mice;Космик;Унос;Тастатура;Миш;Мишеви;kosmik;unos;tastatura;miš;miševi;
Keywords[sv]=COSMIC;Inmatning;Tangentbord;Mus;Möss;
Keywords[tr]=COSMIC;Giriş;Klavye;Fare;Fareler;
Keywords[uk]=COSMIC;Ввід;Клавіатура;Миша;Миші;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;输入;键盘;鼠标;
Keywords[zh_TW]=COSMIC;輸入;鍵盤;滑鼠;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-input-devices
StartupNotify=true
