[Desktop Entry]
Encoding=UTF-8
Name=smdiag
GenericName=smdiag
Comment=AX25-tools Linux soundcard packet radio modem driver diagnostics utility
Exec=smdiag
Icon=ax25-tools
Terminal=false
Type=Application
Categories=Network;HamRadio;
Version=1.0
X-Desktop-File-Install-Version=0.28
