[Desktop Entry]
Version=1.0
Type=Application
Name=Alexandria Book Collection Manager
Name[cs]=Alexandria správce sbírek knih
Name[cy]=Trefnydd Casgliad Llyfrau Alexandria
Name[de]=Alexandria Büchersammlungs-Manager
Name[el]=Διαχειριστής Συλλογής Βιβλίων Alexandria
Name[es]=Alexandria: gestor de colecciones de libros
Name[fr]=Gestionnaire de collection de livres Alexandria
Name[gl]=Administrador de Coleccións de Libros Alexandria
Name[it]=Alexandria - Gestione biblioteca
Name[ja]=Alexandria ブック・コレクション・マネージャ
Name[mk]=Александрија Управувач со збирки на книги
Name[nb]=Boksamlingsverktøyet Alexandria
Name[nl]=Alexandria Boekcollectiebeheerder
Name[pl]=Menedżer domowej biblioteki Aleksandria
Name[pt]=Gestor da Colecção de Livros Alexandria
Name[pt_BR]=Gerenciador de coleções de livros Alexandria
Name[ru]=Каталог книг Alexandria
Name[sk]=Alexandria - Správca kníh
Name[sv]=Boksamlingshanteraren Alexandria
Name[uk]=Alexandria  - менеджер книжкових зібрань
Name[zh_TW]=Alexandria 的藏書管理小幫手
GenericName=Book Collection Manager
GenericName[cs]=Správce sbírky knih
GenericName[cy]=Trefnydd Casgliad Llyfrau
GenericName[de]=Büchersammlungs-Manager
GenericName[el]=Διαχειριστής Συλλογής Βιβλίων
GenericName[es]=Gestor de colecciones de libros
GenericName[fr]=Gestionnaire de collection de livres
GenericName[gl]=Administrador de Coleccións de Libros
GenericName[it]=Gestore biblioteca
GenericName[ja]=ブック・コレクション・マネージャ
GenericName[mk]=Управувач со збирка на книги
GenericName[nb]=Boksamlingsverktøy
GenericName[nl]=Boekcollectiebeheerder
GenericName[pl]=Menedżer domowej biblioteki
GenericName[pt]=Gestor da Colecção de Livros
GenericName[pt_BR]=Gerenciador de coleções de livros
GenericName[ru]=Управление коллекцией книг
GenericName[sk]=Správca kníh
GenericName[sv]=Boksamlingshanterare
GenericName[uk]=Менеджер книжкових зібрань
GenericName[zh_TW]=藏書管理小幫手
Comment=Manage your book collection
Comment[cs]=Spravovat vaši sbírku knih
Comment[cy]=Trefnu eich casgliad llyfrau
Comment[de]=Ordnen sie ihre Büchersammlung.
Comment[el]=Διαχειριστείτε τη συλλογή βιβλίων σας
Comment[es]=Organiza tu colección de libros
Comment[fr]=Gérez votre collection de livres
Comment[gl]=Administre a súa colección de libros
Comment[it]=Gestisce la vostra biblioteca
Comment[ja]=ブック・コレクション管理お手伝いプログラム
Comment[mk]=Управа со збирката
Comment[nb]=Ordne boksamlingen din
Comment[nl]=Beheer uw boekcollectie
Comment[pl]=Zarządzanie domową biblioteką
Comment[pt]=Faça a gestão da sua colecção de livros
Comment[pt_BR]=Gerencie a sua coleção de livros
Comment[ru]=Управление вашей коллекцией книг
Comment[sk]=Program na správu kníh a knižníc
Comment[sv]=Hantera din boksamling
Comment[uk]=Керуйте своїми книжковими зібраннями
Comment[zh_TW]=管理你的藏書
Exec=/usr/bin/alexandria
Terminal=false
Categories=GNOME;GTK;Office;Database;
Icon=alexandria
X-Desktop-File-Install-Version=0.28
