[Desktop Entry]
Name[ab]=Азгәаҭақәа
Name[af]=Notas
Name[ar]=ملاحظات
Name[as]=টোকাসমূহ
Name[be]=Нататкі
Name[bg]=Бележки
Name[bs]=Napomene
Name[ckb]=تێبینییەکان
Name[cs]=Poznámky
Name[ca]=Notes
Name[ca@valencia]=Notes
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[en_AU]=Notes
Name[en_GB]=Notes
Name[eo]=Notaro
Name[es]=Notas
Name[et]=Märkmed
Name[eu]=Oharrak
Name[fa]=یادداشت‌ها
Name[fi]=Muistilaput
Name[fr]=Notes
Name[fur]=Notis
Name[ga]=Nótaí
Name[gl]=Notas
Name[he]=פתקיות
Name[hr]=Bilješke
Name[hu]=Jegyzetek
Name[id]=Catatan
Name[is]=Minnispunktar
Name[it]=Note
Name[ja]=メモ
Name[ka]=შენიშვნები
Name[kk]=Естеліктер
Name[ko]=메모
Name[lt]=Rašteliai
Name[lv]=Piezīmes
Name[ml]=കുറിപ്പുകള്‍
Name[ms]=Nota
Name[nb]=Notater
Name[ne]=द्रष्टव्यहरू
Name[nl]=Notities
Name[oc]=Nòtas
Name[or]=ଟିପ୍ପଣୀ
Name[pa]=ਨੋਟ
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notițe
Name[ru]=Заметки
Name[sk]=Poznámky
Name[sl]=Sporočilca
Name[sr]=Белешке
Name[sr@latin]=Beleško
Name[sv]=Anteckningar
Name[ta]=குறிப்புகள்
Name[te]=చీటీలు
Name[tg]=Ёддоштҳо
Name[tr]=Notlar
Name[uk]=Примітки
Name[uz]=Notes
Name[vi]=Trình ghi chú
Name[zh_CN]=便笺
Name[zh_HK]=筆記
Name[zh_TW]=筆記
Name=Notes
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ab]=Азгәаҭақәа;агәаларшәарақәа;анҵарҭа шәҟәы,анҵамҭақәа
Keywords[af]=notas;herinner;notaboek;plak;
Keywords[be]=запісы;напамін;нататнік;ліпкія нататкі;
Keywords[bg]=бележки;напомняне;бележник;лепящи;лепливи;бележки;notes;reminder;notebook;sticky notes;
Keywords[cs]=poznámky;tahák;blbníček;zapomnětníček;připomenutí;sešit;lepicí poznámky;
Keywords[ca]=notes;recordatori;llibre de notes;notes enganxoses;
Keywords[da]=noter;påmindelse;notesbog;selvklæbende noter;
Keywords[de]=Notizen;Erinnerungen;Notizbuch;Haftnotizen;
Keywords[el]=σημειώσεις;υπενθύμιση;σημειωματάριο;καρφιτσωμένες σημειώσεις;notes;reminder;notebook;sticky notes;
Keywords[en_GB]=notes;reminder;notebook;sticky notes;
Keywords[eo]=notoj;memorigilo;notlibro;
Keywords[es]=notas;recordatorio;cuaderno;adhesivas;
Keywords[eu]=oharrak;oroigarria;koadernoa;ohar itsaskorrak;
Keywords[fa]=notes;reminder;notebook;sticky notes;یادداشت;دفترچه;دفتر;
Keywords[fi]=notes;reminder;notebook;sticky notes;muistilaput;
Keywords[fr]=note;rappel;pense-bête;carnet de notes;carnet;notes autocollantes;post-it;
Keywords[fur]=notis;promemorie;tacuin;notis adesivis;
Keywords[gl]=notas:recordatorio;bloc de notas;notas pegañentas;
Keywords[he]=הערות;פתקיות;תזכורות;תזכורת;הערה;פתקית;מדבקות;פתקים דביקים;
Keywords[hr]=bilješke;podsjetnik;bilježnica;ljepljive bilješke;
Keywords[hu]=jegyzet;emlékeztető;jegyzetfüzet;ragadós;cetli;
Keywords[id]=catatan;pengingat;buku catatan;catatan tempel;
Keywords[is]=minnismiðar;minnispunktar;áminning;glósa;
Keywords[it]=note;promemoria;appunti;note adesive;
Keywords[ja]=notes;reminder;notebook;sticky notes;メモ;リマインダー;ノート;付箋;
Keywords[ka]=notes;reminder;notebook;sticky notes;
Keywords[kk]=notes;reminder;notebook;sticky notes;естеліктер;еске түсіру;блокнот;жабысқақ естеліктер;
Keywords[ko]=notes;메모;reminder;알림;notebook;기록장;메모책;sticky notes;끈적이;
Keywords[lt]=rašteliai;priminimai;užrašinė;lipnūs rašteliai;
Keywords[lv]=piezīmes;atgādinājums;piezīmju bloks;līmlapiņas;
Keywords[ml]=notes;reminder;notebook;sticky notes;
Keywords[ms]=nota;peringatan;buku nota;nota lekat;
Keywords[nb]=notater;påminnelse;notisblokk;gule lapper;
Keywords[ne]=नोटहरू;रिमाइन्डर;नोटबुक;स्टिकिनोटहरू;
Keywords[nl]=notes;reminder;notebook;sticky notes;notities;herinnering;notitieboek;plakbriefjes;
Keywords[oc]=notes;reminder;notebook;sticky notes;nòtas; nòta;rapèl;
Keywords[pl]=notatki;notatka;notki;notka;przypomnienia;przypominanie;notatnik;sticky notes;karteczka;karteczki;samoprzylepne;
Keywords[pt]=notas;lembretes;bloco de notas; sticky notes;caderno;
Keywords[pt_BR]=notes;lembrete;notebook;notas adesivas;
Keywords[ro]=notes;reminder;notebook;sticky notes;notițe;memento;carnețel;notițe lipicioase;postit;post-it;
Keywords[ru]=notes;reminder;notebook;sticky notes;заметки;напоминания;записная;книжка;записки;
Keywords[sk]=poznámky;pripomienka;pripomienky;zápisník;notebook;lepkavé poznámky;
Keywords[sl]=sporočilca;sporočila;opomniki;seznami;zapiski,papirčki;
Keywords[sr]=notes;reminder;notebook;sticky notes;белешке;подсетник;свеска;beleške;podsetnik;sveska;
Keywords[sr@latin]=notes;reminder;notebook;sticky notes;beleške;podsetnik;sveska;beleške;podsetnik;sveska;
Keywords[sv]=anteckningar;påminnelse;anteckningsblock;klisterlappar;
Keywords[ta]=குறிப்புகள்;நினைவூட்டல்;குறிப்பேடு;ஒட்டும் குறிப்புகள்;
Keywords[tr]=notlar;anımsatıcı;hatırlatıcı;not defteri;yapışkan notlar;
Keywords[uk]=нотатки;нагадування;записник;наліпки;примітки;notes;reminder;notebook;sticky notes;
Keywords[uz]=eslatmalar;reminder;daftar;qaydnoma;
Keywords[vi]=notes;ghi chú;ghi;chú;ghi chép;ghi;chép;ghi chu;ghi;chu;ghi chep;chep;reminder;nhắc việc;nhắc;việc;nhac viec;nhac;viec;notebook;sổ ghi chú;sổ;so ghi chu;so;sticky notes;dán tường;dán;tường;dan tuong;dan;tuong;
Keywords[zh_CN]=notes;reminder;notebook;sticky notes;便笺;提醒;便笺本;笔记;
Keywords[zh_TW]=notes;reminder;notebook;sticky notes;筆記;記事;備忘;
Keywords=notes;reminder;notebook;sticky notes;
Comment[ab]=Иаҧышәҵала азгәаҭақәа, иазгәашәҭала афаилқәа
Comment[af]=Plaas notas, merk lêers!
Comment[ar]=دوّن الملاحظات، أوسِم الملفات!
Comment[as]=টোকাসমূহ পস্ট কৰক, ফাইলসমূহ টেগ কৰক!
Comment[be]=Размяшчайце запісы, адзначайце файлы!
Comment[bg]=Публикуване на бележки, отбелязване на файлове!
Comment[bs]=Piši napomene, označavaj datoteke!
Comment[cs]=Vylepujte si poznámky, štítkujte soubory!
Comment[ca]=Publiqueu notes i etiqueteu fitxers
Comment[ca@valencia]=Publiqueu notes i etiqueteu fitxers
Comment[da]=Lav noter, mærk filer!
Comment[de]=Schreiben Sie Notizen, etikettieren Sie Dateien!
Comment[el]=Στείλτε σημειώσεις, δώστε ετικέτες σε αρχεία!
Comment[en_AU]=Post notes, tag files!
Comment[en_GB]=Post notes, tag files!
Comment[eo]=Skribi notojn, marki dosierojn!
Comment[es]=Publique notas y etiquete archivos
Comment[et]=Postita märkmeid, sildista faile!
Comment[eu]=Editatu oharrak, etiketatu fitxategiak.
Comment[fa]=یادداشت بفرستید، پرونده‌ها را برچسب بزنید!
Comment[fi]=Tee muistilappuja, lisää tunnisteita tiedostoille!
Comment[fr]=Publier des notes, étiqueter des fichiers !
Comment[fur]=Publiche notis, etichete i file!
Comment[ga]=Postáil nótaí, clibeáil comhaid!
Comment[gl]=Envía notas, etiqueta ficheiros!
Comment[he]=לפרסם פתקיות, לתייג קבצים!
Comment[hr]=Dodajte bilješke, označite datoteke!
Comment[hu]=Írjon jegyzeteket, címkézzen fájlokat!
Comment[id]=Kirim catatan, tag berkas!
Comment[is]=Birta minnismiða, merkja skrár!
Comment[it]=Pubblica note, etichetta file
Comment[ja]=メモを取って整理しよう!
Comment[ka]=დაპოსტეთ შენიშვნები, დაუსვით ჭდეები ფაილებს!
Comment[kk]=Естеліктерді жариялау, файлдарға тегтерді беру!
Comment[ko]=메모를 쓰고 파일을 태그합니다!
Comment[lt]=Rašykite raštelius, žymėkite failus!
Comment[lv]=Raksti zīmītes, marķē datnes!
Comment[ml]=കുറിപ്പ് തയ്യാറാക്കു, ഫയലുകള്‍ അടയാളപ്പെടുത്തു!
Comment[ms]=Hantar nota, tag fail!
Comment[nb]=Legg ut notater, merk filer!
Comment[ne]=द्रष्टव्यहरू, ट्याग फाइलहरू पोस्ट गर्नुहोस्!
Comment[nl]=Plaats notities, voorzie bestanden van een label!
Comment[oc]=Publicar de nòtas, etiquetar de fichièrs !
Comment[or]=ଟିପ୍ପଣୀ ଦିଅନ୍ତୁ, ଫାଇଲଗୁଡ଼ିକୁ ଲଗାନ୍ତୁ!
Comment[pa]=ਨੋਟਿਸ, ਟੈਗ ਫਾਇਲਾਂ ਪੋਸਟ ਕਰੋ!
Comment[pl]=Robienie notatek
Comment[pt]=Publique notas, etiquete ficheiros!
Comment[pt_BR]=Crie notas, aplique etiquetas em arquivos!
Comment[ro]=Publică notițe, etichetează fișiere!
Comment[ru]=Создавайте заметки, отмечайте файлы!
Comment[sk]=Zapíšte si poznámky, označte súbory!
Comment[sl]=Objava sporočilc, označevanje datotek!
Comment[sr]=Поставите белешке, назначите датотеке!
Comment[sr@latin]=Postavite beleške, naznačite datoteke!
Comment[sv]=Gör anteckningar, tagga filer!
Comment[te]=చీటీలను టపాకట్టి, దస్త్రాలకు ముడివేయండి!
Comment[tg]=Ёддоштҳоро фиристонед, файлҳоро барчасп кунед!
Comment[tr]=Not bırak, dosyaları etiketle!
Comment[uk]=Створюйте примітки, залишайте мітки на файлах!
Comment[uz]=Qaydlarni joylashtiring, fayllarni belgilang!
Comment[vi]=Đăng ghi chú, đánh thẻ tập tin!
Comment[zh_CN]=发布便笺，为文件做好标签哟！
Comment[zh_HK]=隨手貼筆記，為檔案上標籤！
Comment[zh_TW]=隨手貼筆記，為檔案上標籤！
Comment=Post notes, tag files!
GenericName[ab]=Афымцатә ҩыга
GenericName[af]=Neem notas
GenericName[ar]=آخذ الملاحظات
GenericName[as]=টোকা-গ্ৰাহক
GenericName[be]=Сродак занатоўвання
GenericName[bg]=Бележник
GenericName[bs]=Pisanje napomena
GenericName[cs]=Poznámky
GenericName[ca]=Prendre notes
GenericName[ca@valencia]=Prendre notes
GenericName[da]=Noteprogram
GenericName[de]=Notizanwendung
GenericName[el]=Πρόγραμμα λήψης σημειώσεων
GenericName[en_AU]=Note-taker
GenericName[en_GB]=Note-taker
GenericName[eo]=Notilo
GenericName[es]=Para tomar notas
GenericName[et]=Märkmete tegija
GenericName[eu]=Ohar hartzailea
GenericName[fa]=یادداشت‌بردار
GenericName[fi]=Muistio
GenericName[fr]=Éditeur de notes
GenericName[fur]=Anotazions
GenericName[ga]=Scríobhaí Nótaí
GenericName[gl]=Caderno de notas
GenericName[he]=רישום פתקיות
GenericName[hr]=Zabilježivač
GenericName[hu]=Jegyzetkezelő
GenericName[id]=Perekam catatan
GenericName[is]=Glósuforrit
GenericName[it]=Annotazioni
GenericName[ja]=メモツール
GenericName[ka]=შენიშვნების ამღები
GenericName[kk]=Естеліктерді сақтау
GenericName[ko]=메모장
GenericName[lt]=Užrašinė
GenericName[lv]=Piezīmju blociņš
GenericName[ml]=കുറിപ്പെടുക്കല്‍
GenericName[ms]=Pencatat-nota
GenericName[nb]=Notater
GenericName[ne]=द्रष्टव्य-प्रापक
GenericName[nl]=Notitieopnemer
GenericName[oc]=Editor de nòtas
GenericName[or]=ନୋଟ-ଗ୍ରହଣକାରୀ
GenericName[pa]=ਨੋਟ-ਕਰਤਾ
GenericName[pl]=Notatnik
GenericName[pt]=Bloco de notas
GenericName[pt_BR]=Tomador de notas
GenericName[ro]=Carnețel de notițe
GenericName[ru]=Электронная ручка
GenericName[sk]=Záznam poznámok
GenericName[sl]=Zapisovalnik sporočilc
GenericName[sr]=Хватач белешки
GenericName[sr@latin]=Hvatač beleški
GenericName[sv]=Anteckningsprogram
GenericName[te]=చీటీ-గ్రాహకం
GenericName[tg]=Ёддоштнавис
GenericName[tr]=Not tutucu
GenericName[uk]=Електронна ручка
GenericName[uz]=Eslatma oluvchi
GenericName[vi]=Bộ viết ghi chú
GenericName[zh_CN]=便笺记录工具
GenericName[zh_HK]=做筆記
GenericName[zh_TW]=做筆記
GenericName=Note-taker
Exec=bijiben %u
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Notes
MimeType=x-scheme-handler/note;
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
Actions=new-note

[Desktop Action new-note]
Name[ab]=Азгәаҭа ҿыц аҧҵара
Name[be]=Стварыць новую нататку
Name[bg]=Създаване на нова бележка
Name[cs]=Vytvořit novou poznámku
Name[ca]=Crea una nota nova
Name[da]=Opret ny note
Name[de]=Eine neue Notiz erstellen
Name[el]=Δημιουργία νέας σημείωσης
Name[en_GB]=Create New Note
Name[eo]=Krei novan noton
Name[es]=Crear una nota nueva
Name[eu]=Sortu ohar berria
Name[fa]=ایجاد یادداشت جدید
Name[fi]=Luo uusi muistilappu
Name[fr]=Créer une nouvelle note
Name[fur]=Cree une gnove note
Name[gl]=Crear unha nova nota
Name[he]=יצירת פתקית חדשה
Name[hr]=Stvori novu bilješku
Name[hu]=Új jegyzet létrehozása
Name[id]=Buat Catatan Baru
Name[is]=Búa til nýjan minnispunkt
Name[it]=Crea nuova nota
Name[ja]=新しいメモを作成
Name[ka]=ახალი შენიშვნის შექმნა
Name[kk]=Жаңа естелікті жасау
Name[ko]=새 메모 만들기
Name[lt]=Sukurti naują raštelį
Name[lv]=Izveidot jaunu piezīmi
Name[nb]=Lag et nytt notat
Name[ne]=नयाँ द्रष्टव्य सिर्जना गर्नुहोस्
Name[nl]=Nieuwe notitie maken
Name[oc]=Crear una novèla nòta
Name[pl]=Utwórz nową notatkę
Name[pt]=Criar uma Nova Nota
Name[pt_BR]=Crie uma nova nota
Name[ro]=Creează o notiță nouă
Name[ru]=Создать новую заметку
Name[sk]=Vytvoriť novú poznámku
Name[sl]=Ustvari novo sporočilce
Name[sr]=Направи нову белешку
Name[sv]=Skapa ny anteckning
Name[ta]=புதிய குறிப்பை உருவாக்கு
Name[tr]=Yeni Not Oluştur
Name[uk]=Створити примітку
Name[uz]=Yangi qayd yaratish
Name[vi]=Tạo một ghi chú mới
Name[zh_CN]=创建新便笺
Name[zh_TW]=建立新筆記
Name=Create New Note
Exec=bijiben --new-note
