[Desktop Entry]
Name=Anjuta
Name[ar]=أنجوتا
Name[ast]=Anjuta
Name[be@latin]=Anjuta
Name[bg]=Anjuta
Name[bs]=Anjuta
Name[ca]=Anjuta
Name[ca@valencia]=Anjuta
Name[cs]=Anjuta
Name[da]=Anjuta
Name[de]=Anjuta
Name[dz]=ཨན་ཇུ་ཊ།
Name[el]=Anjuta
Name[en@shaw]=·𐑨𐑯𐑡𐑵𐑑𐑩
Name[en_CA]=Anjuta
Name[en_GB]=Anjuta
Name[eo]=Anjuto
Name[es]=Anjuta
Name[eu]=Anjuta
Name[fi]=Anjuta
Name[fr]=Anjuta
Name[fur]=Anjuta
Name[ga]=Anjuta
Name[gl]=Anjuta
Name[gu]=Anjuta
Name[he]=Anjuta
Name[hi]=Anjuta
Name[hu]=Anjuta
Name[hy]=Anjuta
Name[id]=Anjuta
Name[it]=Anjuta
Name[ja]=Anjuta
Name[kk]=Anjuta
Name[km]=Anjuta
Name[kn]=Anjuta
Name[ko]=안주타
Name[lt]=Anjuta
Name[lv]=Anjuta
Name[mk]=Anjuta
Name[ml]=അഞ്ജുത
Name[mr]=Anjuta
Name[nb]=Anjuta
Name[ne]=अन्जुता
Name[nl]=Anjuta
Name[oc]=Anjuta
Name[pl]=Anjuta
Name[pt]=Anjuta
Name[pt_BR]=Anjuta
Name[ro]=Anjuta
Name[ru]=Интегрированная среда разработки Anjuta
Name[sk]=Anjuta
Name[sl]=Anjuta
Name[sr]=Ањута
Name[sr@latin]=Anjuta
Name[sv]=Anjuta
Name[te]=అంజుత
Name[th]=แอนจูตา
Name[tr]=Anjuta
Name[ug]=ئانجۇتا(Anjuta)
Name[uk]=Anjuta
Name[vi]=Anjuta
Name[zh_CN]=Anjuta
Name[zh_HK]=Anjuta
Name[zh_TW]=Anjuta
GenericName=Integrated Development Environment
GenericName[ar]=بيئة التطوير المتكاملة
GenericName[ast]=Entornu Integráu de Desendolcu
GenericName[az]=İnteqrasiya Edilmiş İnkişaf Vasitəsi
GenericName[be@latin]=Intehravanaje asiarodździe raspracoŭki
GenericName[bg]=Интегрирана среда за разработка
GenericName[bs]=Integrisano razvojno okruženje
GenericName[ca]=Entorn integrat de desenvolupament
GenericName[ca@valencia]=Entorn integrat de desenvolupament
GenericName[cs]=Integrované vývojové prostředí
GenericName[da]=Integreret udviklingsmiljø (IDE)
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[dz]=གོང་འཕེལ་མཐའ་འཁོར་གྱི་ཆིག་སྒྲིལ་འབད་ཡོད་མི།
GenericName[el]=Ολοκληρωμένο περιβάλλον προγραμματισμού (IDE)
GenericName[en@shaw]=𐑦𐑯𐑑𐑩𐑜𐑮𐑱𐑑𐑩𐑛 𐑛𐑦𐑝𐑧𐑤𐑩𐑐𐑥𐑩𐑯𐑑 𐑧𐑯𐑝𐑲𐑼𐑯𐑥𐑩𐑯𐑑
GenericName[en_CA]=Integrated Development Environment
GenericName[en_GB]=Integrated Development Environment
GenericName[eo]=Programada Ĉirkaŭaĵo
GenericName[es]=Entorno Integrado de Desarrollo
GenericName[eu]=Garapen-ingurune integratua
GenericName[fi]=Integroitu kehitysympäristö
GenericName[fr]=Environnement de développement intégré
GenericName[fur]=Ambient di svilup integrât
GenericName[gl]=Ambiente de desenvolvemento integrado (IDE)
GenericName[he]=סביבת פיתוח משולבת
GenericName[hu]=Integrált fejlesztői környezet
GenericName[hy]=Նախագծման Ինտեգրված Միջավայր
GenericName[id]=Lingkungan Pengembangan Terpadu
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境
GenericName[kk]=Интеграцияланған өндіру ортасы
GenericName[km]=បរិស្ថាន​អភិវឌ្ឍ​ដែល​បាន​រួមបញ្ចូល
GenericName[kn]=ಸಂಘಟಿತ ಅಭಿವೃದ್ಧಿ ವಾತಾವರಣ
GenericName[ko]=통합 개발 환경
GenericName[lt]=Integruota programavimo aplinka
GenericName[lv]=Integrēta izstrādes vide
GenericName[mk]=Интегрирана развојна околина 
GenericName[ml]=ഏകോപിത വികസന പരിസ്ഥിതി
GenericName[mr]=एकत्रीत निर्माण वातावरण
GenericName[ms]=Persekitaran Pembangunan Bersepadu
GenericName[nb]=Integrert utviklingsmiljø
GenericName[ne]=एकीकृत विकास परिवेस
GenericName[nl]=Geïntegreerde ontwikkelomgeving
GenericName[oc]=Environament de desvolopament integrat
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt]=Ambiente Integrado de Desenvolvimento (IDE)
GenericName[pt_BR]=Ambiente de desenvolvimento integrado (IDE)
GenericName[ro]=Mediu integrat de dezvoltare
GenericName[ru]=Интегрированная среда разработки
GenericName[si]=සංගෘහිත නිමැවුම් පරිසරය
GenericName[sk]=Integrované vývojové prostredie
GenericName[sl]=Združeno razvojno okolje
GenericName[sq]=Mjedis i integruar zhvillimi
GenericName[sr]=Интегрисано развојно окружење
GenericName[sr@latin]=Integrisano razvojno okruženje
GenericName[sv]=Integrerad utvecklingsmiljö (IDE)
GenericName[te]=సమైక్య అభివృధ్ధి ఆవరణము
GenericName[th]=ชุดเครื่องมือพัฒนาเบ็ดเสร็จ
GenericName[tr]=Bütünleşik Geliştirme Ortamı
GenericName[ug]=يۈرۈشلەشتۈرۈلگەن ئىجادىيەت مۇھىتى
GenericName[uk]=Інтегроване середовище розробки
GenericName[vi]=Môi trường phát triển thống nhất
GenericName[zh_CN]=集成开发环境
GenericName[zh_HK]=整合式開發環境
GenericName[zh_TW]=整合式開發環境
Comment=Develop software in an integrated development environment
Comment[ar]=طوّر برمجياتٍ في بيئة تطوير متكاملة
Comment[ast]=Software de desendolcu nun entornu integráu de desendolcu
Comment[be@latin]=Raspracoŭvaj prahramy ŭ intehravanym asiarodździ
Comment[bg]=Разработване на софтуер в интегрирана среда за разработка
Comment[bs]=Programirajte u integrisanom razvojnom okruženju
Comment[ca]=Desenvolupeu programari en un entorn integrat de desenvolupament
Comment[ca@valencia]=Desenvolupeu programari en un entorn integrat de desenvolupament
Comment[cs]=Vývoj softwaru v integrovaném vývojovém prostředí
Comment[da]=Skriv software i et integreret udviklingsmiljø
Comment[de]=Software in einer integrierten Umgebung entwickeln
Comment[dz]=ཆིག་སྒྲིལ་འབད་ཡོད་མི་གོང་འཕེལ་མཐའ་འཁོར་ཅིག་ནང་མཉེན་ཆས་གོང་འཕེལ་གཏང་།
Comment[el]=Ανάπτυξη λογισμικού σε ένα ολοκληρωμένο περιβάλλον ανάπτυξης
Comment[en@shaw]=𐑛𐑦𐑝𐑧𐑤𐑩𐑐 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯 𐑩𐑯 𐑦𐑯𐑑𐑩𐑜𐑮𐑱𐑑𐑩𐑛 𐑛𐑦𐑝𐑧𐑤𐑩𐑐𐑥𐑩𐑯𐑑 𐑧𐑯𐑝𐑲𐑼𐑯𐑥𐑩𐑯𐑑
Comment[en_CA]=Develop software in an integrated development environment
Comment[en_GB]=Develop software in an integrated development environment
Comment[eo]=Krei programaron per Programada Ĉirkaŭaĵo
Comment[es]=Software de desarrollo en un entorno integrado de desarrollo
Comment[eu]=Garatu softwarea garapen-ingurune integratuan
Comment[fi]=Kehitä ohjelmia integroidussa kehitysympäristössä
Comment[fr]=Développer des applications dans un environnement intégré
Comment[fur]=Svilupe software intun ambient di svilup integrât
Comment[gl]=Desenvolver software nun ambiente de desenvolvemento integrado
Comment[he]=פיתוח תוכנה בסביבת פיתוח משולבת
Comment[hu]=Szoftverfejlesztés integrált fejlesztői környezetben
Comment[hy]=Ծրագրակազմի մշակում նախագծման ինտեգրված միջավայրում
Comment[id]=Mengembangkan perangkat lunak di dalam suatu lingkungan pengembangan terpadu
Comment[it]=Sviluppa software in un ambiente di lavoro integrato
Comment[ja]=統合開発環境でソフトウェアを開発します
Comment[km]=អភិវឌ្ឍ​កម្មវិធី​ក្នុង​បរិស្ថាន​អភិវឌ្ឍន៍​ដែល​បាន​រួមបញ្ចូល
Comment[kn]=ಸಂಘಟಿತ ಅಭಿವೃದ್ಧಿ ವಾತಾವರಣದಲ್ಲಿ ತಂತ್ರಾಂಶವನ್ನು ಅಭಿವೃದ್ಧಿಪಡಿಸುತ್ತದೆ
Comment[ko]=통합 개발 환경에서 프로그램을 개발하세요
Comment[lt]=Kurti programas integruotoje programavimo aplinkoje
Comment[lv]=Izstrādā programmatūru integrētā izstrādes vidē
Comment[mk]=Развивајте софтвер во интегрирана средина за развивање
Comment[ml]=ഏകോപിത വികസന പരിസ്ഥിതി (ide)യില്‍ സോഫ്റ്റ്‌വെയറുകള്‍ വികസിപ്പിക്കുക
Comment[mr]=एकत्रीत निर्माण वातावरणात सॉफ्टवेअरचे निर्माण करा
Comment[nb]=Utvikle programvare i et integrert utviklingsmiljø
Comment[ne]=एकीकृत विकास परिवेसमा सफ्टवेयर विकास गर्नुहोस्
Comment[nl]=Software ontwikkelen in een geïntegreerde ontwikkelomgeving
Comment[oc]=Desvolopar d'aplicacions dins un environament integrat
Comment[pl]=Rozwijanie oprogramowania w zintegrowanym środowisku programistycznym
Comment[pt]=Desenvolva aplicações num ambiente integrado de desenvolvimento (IDE)
Comment[pt_BR]=Desenvolva software em um ambiente de desenvolvimento integrado (IDE)
Comment[ro]=Dezvoltă software într-un mediu integrat de dezvoltare
Comment[ru]=Разработка приложений в интегрированной среде разработки
Comment[si]=සංගෘහිත පරිසරයක් තුල මෘදුකාංග නිමවයි
Comment[sk]=Vývoj softvéru v integrovanom vývojovom prostredí
Comment[sl]=Programska oprema v združenem razvojnem okolju
Comment[sq]=Zhvillo software në një mjedis zhvillimi të integruar
Comment[sr]=Програмирајте у интегрисаном развојном окружењу
Comment[sr@latin]=Programirajte u integrisanom razvojnom okruženju
Comment[sv]=Utveckla programvara i en integrerad utvecklingsmiljö
Comment[te]=ఒక సమైక్య అభివృధ్ధి ఆవరణములోని సాఫ్ట్వేర్ని అభివృధ్ధి చేయు
Comment[th]=พัฒนาซอฟต์แวร์ด้วยชุดเครื่องมือพัฒนาเบ็ดเสร็จ
Comment[tr]=Bir bütünleşik geliştirme ortamında yazılım geliştirin
Comment[ug]=يۈرۈشلەشتۈرۈلگەن يۇمشاق دېتال ئىجادىيەت مۇھىتى
Comment[uk]=Середовище для розробки програм
Comment[vi]=Phát triển phần mềm trong một môi trường phát triển thống nhất
Comment[zh_CN]=在集成开发环境中开发软件
Comment[zh_HK]=在整合式開發環境中開發軟件
Comment[zh_TW]=在整合式開發環境中開發軟體
Keywords=IDE;development;programming;
Keywords[bg]=програмиране;разработка;IDE;development;programming;
Keywords[bs]=IDE;razvoj;programiranje;
Keywords[ca]=IDE;desenvolupament;programació;
Keywords[ca@valencia]=IDE;desenvolupament;programació;
Keywords[cs]=ide;integrované vývojové prostředí;vývoj;programování;
Keywords[da]=IDE;udvikling;progammering;
Keywords[de]=IDE;Entwicklung;Programmierung;
Keywords[el]=IDE;ανάπτυξη;προγραμματισμός;development;programming;
Keywords[en_GB]=IDE;development;programming;
Keywords[es]=IDE;desarrollo;programación;
Keywords[eu]=IDE;garapena;programatzea;
Keywords[fr]=EDI;développement;programmation;
Keywords[fur]=IDE;svilup;programazion;
Keywords[gl]=IDE;desenvolvemento;programación;
Keywords[hu]=IDE;fejlesztés;programozás;
Keywords[id]=IDE;development;programming;pengembangan;pemrograman;
Keywords[it]=IDE;sviluppo;programmazione;
Keywords[ja]=IDE;development;programming;統合開発環境;開発;プログラミング;プログラム;
Keywords[ko]=IDE;통합 개발 환경;development;개발;programming;프로그래밍;
Keywords[lt]=IDE;kūrimas;programavimas;
Keywords[lv]=IDE;izstrāde;programmēšana;
Keywords[ml]=IDE;development;programming;
Keywords[nb]=IDE;utvikling;programmering;
Keywords[oc]=EDI;desvolopament;programacion;
Keywords[pl]=IDE;rozwijanie;development;programowanie;
Keywords[pt]=AID;desenvolvimento;programação;
Keywords[pt_BR]=IDE;desenvolvimento;programação;ambiente de desenvolvimento;
Keywords[ru]=IDE;разработка;программирование;
Keywords[sk]=IDE;vývoj;programovanie;
Keywords[sl]=IDE;razvoj;programiranje;
Keywords[sr]=ИДЕ;развој;програмирање;
Keywords[sr@latin]=IDE;razvoj;programiranje;
Keywords[sv]=IDE;utveckling;programmering;
Keywords[th]=IDE;พัฒนา;เขียนโปรแกรม;
Keywords[tr]=IDE;BGO;geliştirme;programlama;
Keywords[ug]=IDE;development;programming;ئىجادىيەت;پروگرامما ئىشلەش;
Keywords[zh_CN]=IDE;development;programming;集成开发环境;开发;编程;
Keywords[zh_HK]=IDE;development;programming;整合式開發環境;開發;程式;
Keywords[zh_TW]=IDE;development;programming;整合式開發環境;開發;程式;
Exec=anjuta %U
Icon=anjuta
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Development;IDE;
StartupNotify=true
MimeType=application/x-anjuta;application/x-anjuta-project-template;application/x-anjuta-compressed-project-template;inode/directory;
X-GNOME-DocPath=anjuta/anjuta-manual.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=anjuta
X-GNOME-Bugzilla-Version=3.34.0
X-GNOME-Bugzilla-Component=unknown
