[Desktop Entry]
Name[ar]=مشاركة الملفات
Name[be]=Супольны доступ да файлаў
Name[bg]=Споделяне на файлове
Name[bn]=নথি শেয়ারিং
Name[ca]=Compartició de fitxers
Name[ckb]=بڵاوکردنەوەی پەڕگە
Name[cs]=Sdílení souborů
Name[da]=Fildeling
Name[de]=Dateifreigabe
Name[el]=Κοινή χρήση αρχείων
Name[en_GB]=File Sharing
Name[eo]=Dosier-kunhavigado
Name[es]=Compartición de archivos
Name[eu]=Fitxategiak partekatzea
Name[fa]=هم‌رسانی پرونده
Name[fi]=Tiedostonjako
Name[fil]=Pagbabahagi ng File
Name[fr]=Partage de fichiers
Name[fur]=Condivision dai File
Name[gl]=Compartición de ficheiros
Name[he]=שיתוף קבצים
Name[hi]=फाइल साझाकरण
Name[hr]=Dijeljenje datoteka
Name[hu]=Fájlmegosztás
Name[id]=Berbagi Berkas
Name[ie]=Partition de files
Name[is]=Skráadeiling
Name[it]=Condivisione file
Name[ja]=ファイル共有
Name[ka]=ფაილების გაზიარება
Name[kab]=Beṭṭu n ifuyla
Name[kk]=Файлдарды бөлісу
Name[ko]=파일 공유
Name[lt]=Dalinimasis failais
Name[lv]=Datņu koplietošana
Name[mjw]=File Sharing
Name[ms]=Perkongsian Fail
Name[nb]=Fildeling
Name[ne]=फाइल साझेदारी
Name[nl]=Bestanden delen
Name[oc]=Partiment de fichièrs
Name[pa]=ਫਾਇਲ ਸਾਂਝ
Name[pl]=Udostępnianie plików
Name[pt]=Partilha de ficheiros
Name[pt_BR]=Compartilhamento de arquivos
Name[ro]=Distribuie fișiere
Name[ru]=Общий доступ к файлам
Name[sk]=Sprístupnenie súborov
Name[sl]=Souporaba datotek
Name[sr]=Дељење датотека
Name[sv]=Fildelning
Name[ta]=கோப்பு பகிர்வு
Name[th]=การแบ่งปันไฟล์
Name[tr]=Dosya Paylaşımı
Name[uk]=Спільний доступ до файлів
Name[uz]=Fayl ulashish
Name[vi]=Chia sẻ tập tin
Name[zh_CN]=文件共享
Name[zh_TW]=檔案分享
Name=File Sharing
Comment[ab]=Иаҿакызар, азеиԥш неира  ахатә фаилқәа рахь аартра
Comment[ar]=شغِّل مشاركة الملفات إذا كانت مُفعّلة
Comment[be]=Калі ўключана, запускаецца супольны доступ да файлаў
Comment[bg]=Стартиране на споделянето на файлове, ако е позволено
Comment[bn]=সক্রিয় থাকলে নতি শেয়ারিং চালু করুন
Comment[ca]=Executa la compartició de fitxers si està habilitat
Comment[ckb]=بچۆ بڵاوکردنەوەی پەڕگە ئەگەر کارایە
Comment[cs]=Spustit Sdílení souborů, je-li povoleno
Comment[da]=Start fildeling hvis aktiveret
Comment[de]=Dateifreigabe starten, wenn aktiv
Comment[el]=Εκκίνηση κοινής χρήσης αρχείων, αν είναι ενεργοποιημένη
Comment[en_GB]=Launch File Sharing if enabled
Comment[eo]=Lanĉi dosierkunhavigon se ebligita
Comment[es]=Lanzar la compartición de archivos personales si está activada
Comment[eu]=Abiarazi fitxategiak partekatzea, gaituta badago
Comment[fa]=اجرای هم‌رسانی پرونده در صورت فعّال بودن
Comment[fi]=Käynnistä tiedostonjako, jos käytössä
Comment[fil]=Buksan ang Pagbabahagi ng File kung naka-enable
Comment[fr]=Lance le partage de fichiers s’il est activé
Comment[fur]=Fâs partî la Condivision dai File se abilitade
Comment[gl]=Inicia a Compartición de ficheiros se está activado
Comment[he]=להפעיל שיתוף קבצים אם הוא הופעל
Comment[hi]=सक्षम होने पर फाइल साझाकरण लॉन्च करें
Comment[hr]=Pokreni dijeljenje datoteka ako je omogućeno
Comment[hu]=Fájlmegosztás indítása, ha engedélyezett
Comment[id]=Luncurkan Berbagi Berkas jika diaktifkan
Comment[ie]=Lansar Partition de files si permisset
Comment[is]=Opna skráadeilingu ef þetta er virkt
Comment[it]=Avvia la condivisione di file se abilitata
Comment[ja]=ファイル共有を起動します (可能な場合)
Comment[ka]=თუ ჩართულია, ფაილების გაზიარების გაშვება
Comment[kab]=Senker beṭṭu n yifuyla ma yermed
Comment[kk]=Іске қосулы болса, файлдарды бөлісуді іске қосу
Comment[ko]=파일 공유를 시작합니다 (공유 기능을 사용할 경우)
Comment[lt]=Paleisti dalinimąsi failais, jei įjungta
Comment[lv]=Palaist datņu koplietošanu (ja tā ir ieslēgta)
Comment[ms]=Lancar Perkongsian Fail jika dibenarkan
Comment[nb]=Start fildeling hvis aktivert
Comment[ne]=यदि सक्षम पारिएमा फाइल साझेदारी सुरुआत गर्नुहोस्
Comment[nl]=‘Bestanden delen’ opstarten indien ingeschakeld
Comment[oc]=Avia lo partiment de fichièrs s'es activat
Comment[pa]=ਜੇ ਚਾਲੂ ਹੁੰਦਾ ਹੈ ਤਾਂ ਫਾਇਲ ਸਾਂਝ ਚਲਾਓ
Comment[pl]=Uruchamia udostępnianie plików, jeśli jest włączone
Comment[pt]=Inicia a partilha de ficheiros pessoais, se ativado
Comment[pt_BR]=Inicie o compartilhamento de arquivos, se habilitado
Comment[ro]=Pornește distribuirea fișierelor dacă este activată
Comment[ru]=Открыть общий доступ к личным файлам, если включено
Comment[sk]=Ak je povolené, spustí sprístupnenie súborov
Comment[sl]=Zaženi souporabo datotek, če je ta omogočena
Comment[sr]=Покрени дељење датотека ако је омогућено
Comment[sv]=Starta fildelning om aktiverat
Comment[ta]=இயக்கப்பட்டிருந்தால் கோப்பு பகிர்வைத் தொடங்கவும்
Comment[th]=เรียกใช้การแบ่งปันไฟล์หากถูกเปิดใช้
Comment[tr]=Eğer etkinse Dosya Paylaşımını başlat
Comment[uk]=Запустити «Спільний доступу до файлів», якщо увімкнено
Comment[uz]=Agar yoqilgan bo’lsa, Fayl ulashishni ishga tushiring
Comment[vi]=Khởi chạy “Chia sẻ tập tin” nếu được bật
Comment[zh_CN]=如果启用则启动文件共享
Comment[zh_TW]=若啟用則執行檔案分享
Comment=Launch File Sharing if enabled
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=deel;lêers;http;netwerk;kopieer;stuur;
Keywords[ar]=share;files;http;network;copy;send;مشاركة;ملفات;بلوتوث;شبكة;نسخ;إرسال;
Keywords[be]=share;files;http;network;copy;send;супольны;доступ;абагуліць;агульнадаступныя;файлы;сеткавы;рэсурс;капіраванне;капіяваць;паслаць;адпраўка;адправіць;
Keywords[bg]=share;files;bluetooth;obex;http;network;copy;send;споделяне;файлове;уеб;мрежа;копиране;изпращане;
Keywords[bn]=শেয়ার;ফাইল;http;নেটওয়ার্ক;কপি;পাঠান;অনুলিপি;
Keywords[ca]=comparteix;fitxers;http;xarxa;copia;envia;
Keywords[ca@valencia]=comparteix;fitxers;http;xarxa;copia;envia;
Keywords[ckb]=share;files;http;network;copy;send;
Keywords[cs]=sdílet;sdílení;http;síť;kopírovat;kopírování;poslat;posílání;
Keywords[da]=del;deling;filer;http;netværk;kopier;send;
Keywords[de]=Freigabe;Dateien;http;Netzwerk;kopieren;Transfer;teilen;
Keywords[el]=κοινή χρήση;αρχεία;δίκτυο;αντιγραφή;αποστολή;share;files;http;network;copy;send;
Keywords[en_GB]=share;files;http;network;copy;send;
Keywords[eo]=kunhavigi;dosieroj;http;reto;kopii;sendi;
Keywords[es]=compartir;archivos;http;red;copiar;enviar;
Keywords[eu]=partekatu;fitxategiak;http;sarea;kopiatu;bidali;
Keywords[et]=share;files;http;network;copy;send;jagamine;failid;faile;võrk;kopeerimine;saatmine;saada;
Keywords[fa]=share;files;http;network;copy;send;اشتراک;هم‌رسانی;شبکه;ارسال;فرستادن;
Keywords[fi]=share;files;http;network;copy;send;jako;jakaminen;verkko;lähetys;kopiointi;
Keywords[fil]=share;files;http;network;copy;send;magbahagi;ibahagi;kopyahin;ipadala;magpadala;
Keywords[fr]=partager;fichiers;http;réseau;copier;envoi;envoyer;
Keywords[fur]=condividi;file;http;rêt;copiâ;inviâ;
Keywords[gd]=share;files;http;network;copy;send;co-roinneadh;faidhle;faidhlichean;lìonra;lethbhreac;cuir;cur;
Keywords[gl]=compartir;ficheiros;http;rede;copiar;enviar;
Keywords[gu]=વહેંચવુ;ફાઇલો;http;નેટવર્ક;નકલ;મોકલો;
Keywords[he]=שיתוף;קבצים;רשת;העתקה;שליחה;
Keywords[hi]=share;files;http;network;copy;send;साझा;फाइलें;नेटवर्क;कॉपी;भेजें;
Keywords[hr]=dijeli;datoteka;http;mreža;kopiraj;pošalji;
Keywords[hu]=megosztás;fájlok;http;hálózat;másolás;küldés;
Keywords[id]=berbagi;bersama;berkas;http;jaringan;salin;kirim;
Keywords[ie]=partite;partir;files;http;rete;copiar;inviar;
Keywords[is]=deila;skrár;http;netkerfi;afrit;senda;
Keywords[it]=condividere;file;http;rete;copiare;inviare;
Keywords[ja]=share;files;http;network;copy;send;共有;ファイル;ネットワーク;コピー;複製;送信;
Keywords[ka]=share;files;http;network;copy;send;
Keywords[kab]=beṭṭu;bḍu,ifuyla;http;azeṭṭa;nɣel;senṭeḍ;
Keywords[kk]=share;files;http;network;copy;send;бөлісу;файлдар;желі;көшіріп алу;жіберу;
Keywords[ko]=share;공유;files;파일;http;network;네트워크;인터넷;copy;복사;send;보내기;
Keywords[ln]=Kabola;fichiers;http;rezo;copier;tinda;
Keywords[lt]=dalintis;failai;http;tinklas;kopijuoti;siųsti;
Keywords[lv]=koplietot;datnes;http;tīkls;kopēt;sūtīt;
Keywords[mjw]=share;files;http;network;copy;send;
Keywords[ml]=share;files;http;network;copy;send;
Keywords[ms]=kongsi;fail;http;rangkaian;salin;hantar;
Keywords[nb]=del;filer;http;nettverk;kopier;send;
Keywords[ne]=साझा;फाईल;http;नेटवर्क;प्रतिलिपि;पठाउन;
Keywords[nl]=share;files;http;network;copy;send;delen;bestanden;netwerk;kopiëren;versturen;verzenden;
Keywords[oc]=partejar;fichièrs;http;ret;copiar;mandadís;mandar;partiment;paratge;malhum;dorsièr;dossièr;local;
Keywords[pa]=ਸਾਂਝ;ਫਾਇਲਾਂ;ਸ਼ੇਅਰ;http;ਨੈੱਟਵਰਕ;ਕਾਪੀ;ਭੇਜੋ;
Keywords[pl]=udostępnianie;współdzielenie;pliki;plików;http;sieć;sieci;skopiuj;kopia;wyślij;wysyłanie;
Keywords[pt]=partilha;ficheiros;http;rede;copiar;enviar;
Keywords[pt_BR]=compartilhar;arquivos;http;rede;copiar;enviar;
Keywords[ro]=share;files;http;network;copy;send;partajare;distribuie;fișiere;rețea;copiază;trimite;
Keywords[ru]=доступ;файлы;http;сеть;копировать;отправить;
Keywords[sk]=sprístupniť;sprístupnenie;zdieľať;zdieľanie;súbory;http;sieť;kopírovať;kopírovanie;odoslať;odoslanie;
Keywords[sl]=souporaba;datoteke;http;omrežje;kopiranje;pošiljanje;
Keywords[sr]=дели;дељење;датотеке;хттп;мрежа;умножи;копирај;пошаљи;share;files;http;network;copy;send;
Keywords[sr@latin]=deli;deljenje;datoteke;http;mreža;umnoži;kopiraj;pošalji;
Keywords[sv]=dela;filer;http;nätverk;kopiera;skicka;
Keywords[ta]=பகிர்;கோப்புகள்;http;பிணையம்;நகல்;அனுப்பு;
Keywords[th]=แบ่งปัน;ไฟล์;http;เครือข่าย;คัดลอก;ส่ง;
Keywords[tr]=share;files;http;network;copy;send;paylaş;dosyalar;http;ağ;kopyala;gönder;
Keywords[uk]=оприлюднити;файли;http;мережа;копіювати;надіслати;
Keywords[uz]=ulashish;fayllar;http;tarmoq;nusxa olish;yuborish;
Keywords[vi]=share;chia;sẻ;se;files;tập;tin;tap;network;mạng;mang;copy;chép;chep;send;gửi;gui;
Keywords[zh_CN]=share;files;bluetooth;obex;http;network;copy;send;共享;文件;蓝牙;网络;复制;发送;
Keywords[zh_TW]=share;files;http;network;copy;send;分享;檔案;網路;複製;傳送;
Keywords=share;files;http;network;copy;send;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=folder-remote
Exec=/usr/libexec/gnome-user-share-webdav
Terminal=false
Type=Application
NoDisplay=true
Categories=
