[Desktop Entry]
Name=Applications
Name[af]=Toepassings
Name[ar]=التطبيقات
Name[cs]=Aplikace
Name[da]=Applikationer
Name[de]=Anwendungen
Name[el]=Εφαρμογές
Name[en]=Applications
Name[es]=Aplicaciones
Name[es_419]=Aplicaciones
Name[fi]=Sovellukset
Name[fr]=Applications
Name[ga]=Feidhmchláir
Name[gl]=Aplicacións
Name[hu]=Alkalmazások
Name[id]=Aplikasi
Name[it]=Applicazioni
Name[kab]=Isnasen
Name[kk]=Қолданбалар
Name[kmr]=Sepan
Name[ko]=앱
Name[lt]=Programos
Name[nl]=Toepassingen
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Aplikacje
Name[pt]=Aplicativos
Name[pt_BR]=Aplicativos
Name[ru]=Приложения
Name[sk]=Aplikácie
Name[sr]=Програми
Name[sv]=Program
Name[tr]=Uygulamalar
Name[uk]=Застосунки
Name[zh_CN]=应用程序
Name[zh_TW]=應用程式
Comment=Default applications, startup applications, and X11 application compatibility settings.
Comment[ar]=التطبيقات المبدئية وتطبيقات بدء التشغيل وإعدادات توافق تطبيقات اكس11
Comment[cs]=Výchozí aplikace, automaticky spouštěné aplikace a nastavení kompatibility aplikací X11
Comment[da]=Standardprogrammer, opstartsprogrammer og X11 program kompatibilitetsindstillinger
Comment[de]=Standardanwendungen, Startanwendungen und Kompatibilitätseinstellungen für X11-Anwendungen
Comment[el]=Προεπιλεγμένες εφαρμογές, εφαρμογές εκκίνησης και ρυθμίσεις συμβατότητας εφαρμογών με το X11
Comment[en]=Default applications, startup applications, and X11 application compatibility settings
Comment[es]=Gestionar configuración de aplicaciones
Comment[fi]=Oletussovellukset, käynnistettävät sovellukset ja X11-sovellusten yhteensopivuusasetukset
Comment[fr]=Applications par défaut, applications au démarrage et paramètres de compatibilité des applications X11
Comment[ga]=Feidhmchláir réamhshocraithe, feidhmchláir tosaithe, agus socruithe comhoiriúnachta feidhmchlár X11
Comment[gl]=Aplicacións predeterminadas, aplicacións de inicio e configuracións de compatibilidade con aplicacións X11
Comment[hu]=Alapértelmezett alkalmazások, indítási alkalmazások és X11 alkalmazáskompatibilitási beállítások
Comment[id]=Pengaturan aplikasi bawaan, aplikasi pemulaian, dan kompatibilitas aplikasi X11
Comment[it]=Gestione delle impostazioni delle applicazioni
Comment[kab]=Isnasen imezwar, isnasen n usekker akked iɣewwaṛen n umṣada n yisnasen X11
Comment[kk]=Әдепкі қолданбалар, автоқосылатын қолданбалар және X11 қолданбаларының үйлесімділік баптаулары
Comment[kmr]=Sepanên kesane, sepanên destpêkê, û sazkariyên lihevhatina sepanên X11
Comment[ko]=기본 앱과 시작 앱 및 X11 앱 호환성 설정
Comment[lt]=Numatytosios programos, pradžios programos ir X11 programų suderinamumo nuostatos
Comment[nl]=Standaardtoepassingen, autostart-toepassingen, en X11-compatibiliteitsinstellingen
Comment[pl]=Domyślne aplikacje, aplikacje startowe oraz ustawienia zgodności aplikacji X11
Comment[pt]=Gerenciar configurações de aplicativos
Comment[pt_BR]=Aplicativos padrão, aplicativos de inicialização e configurações de compatibilidade com aplicativos X11
Comment[ru]=Приложения по умолчанию, автозагрузка и совместимость приложений для X11
Comment[sk]=Spravovať nastavenia aplikácií
Comment[sr]=Подразумевани програми, почетни програми и подешавања усаглашености програма за Икс-11
Comment[sv]=Standardprogram, uppstartsprogram och kompatibilitetsinställningar för X11-program
Comment[tr]=Varsayılan uygulamalar, başlangıç uygulamaları ve X11 uygulama uyumluluk ayarları
Comment[uk]=Типові застосунки, автозапуск і сумісність X11
Comment[zh_CN]=默认应用程序、自动启动应用程序和 X11 应用程序兼容性设置
Comment[zh_TW]=預設應用程式、啟動應用程式和 X11 應用程式兼容性設定
Type=Application
Exec=cosmic-settings applications
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Default;Application;Startup;X11;Compatibility
Keywords[ar]=COSMIC;افتراضي;تطبيق;بدء التشغيل;X11;توافقية;مبدئي;اكس11
Keywords[cs]=COSMIC;Výchozí;Aplikace;Automatické;Spuštění;Spouštění;Start;X11;Kompatibilita;
Keywords[da]=COSMIC;Standard;Program;Opstart;X11;Kompatibilitet
Keywords[de]=COSMIC;Standard;Anwendung;Start;X11;Kompatibilität
Keywords[el]=Προεπιλογή;Προεπιλεγμένες;Εφαρμογές;Εφαρμογή;Εκκίνηση;Συμβατότητα;COSMIC;Default;Application;Startup;X11;Compatibility
Keywords[en]=COSMIC;Default;Application;Startup;X11;Compatibility
Keywords[fi]=COSMIC;Default;Application;Startup;X11;Compatibility;oletus;ohjelma;sovellus;äppi;käynnistys;yhteensopivuus
Keywords[fr]=COSMIC;Défaut;Application;Démarrage;X11;Compatibilité
Keywords[ga]=COSMIC;Réamhshocrú;Feidhmchlár;Tosaithe;X11;Comhoiriúnacht
Keywords[gl]=COSMIC;Predeterminada;Aplicación;Inicio;X11;Compatibilidade
Keywords[hu]=COSMIC;Alapértelmezett;Alkalmazások;Indítás;X11;Támogatás;
Keywords[id]=COSMIC;Bawaan;Aplikasi;Pemulaian;X11;Kompatibilitas
Keywords[kab]=COSMIC;Amezwer;Asnas;Asekker;X11;Amṣada
Keywords[kk]=COSMIC;Әдепкі;Қолданба;Автоқосылу;X11;Үйлесімділік
Keywords[kmr]=COSMIC;Berdest;Sepan;Destpêk;X11;Lihevhatin
Keywords[ko]=COSMIC;기본;앱;시작;X11;호환성
Keywords[lt]=COSMIC;Numatytieji;Programa;Paleistis;X11;Suderinamumas
Keywords[nl]=COSMIC;Standaard;Opstart;Autostart;Toepassingen;Standaardtoepassingen;Autostarttoepassingen;X11;Compatibiliteit;
Keywords[pl]=COSMIC;Domyślnie;Aplikacje;Startowe;X11;Zgodność
Keywords[pt_BR]=COSMIC;Padrão;Aplicativo;Inicialização;Iniciar;X11;Compatibilidade
Keywords[ru]=COSMIC;По;умолчанию;Приложения;Запуск;X11;Иксы;Совместимость;Автозапуск;Автозагрузка
Keywords[sr]=COSMIC;Default;Application;Startup;X11;Compatibility;Космик;Подразумевано;Програм;Покретање;Икс-11;Усаглашеност;kosmik;podrazumevano;program;pokretanje;iks-11;usaglašenost
Keywords[sv]=COSMIC;Standard;Program;Uppstart;X11;Kompatibilitet
Keywords[tr]=COSMIC;Varsayılan;Uygulama;Başlangıç;X11;Uyumluluk
Keywords[uk]=COSMIC;Автозапуск;X11;Типові;Застосунок;Програма;Запуск;Сумісність;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;默认;应用程序;自动启动;X11;兼容性
Keywords[zh_TW]=COSMIC;預設;應用程式;啟動;X11;兼容性
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-applications
StartupNotify=true
