[Desktop Entry]
Name[az]=Krossvordlar
Name[el]=Σταυρόλεξα
Name[es]=Crucigramas
Name[eu]=Gurutzegramak
Name[fr]=Mots croisés
Name[it]=Parole crociate
Name[ka]=Crosswords
Name[nl]=Kruiswoord­puzzels
Name[de]=Kreuzworträsel
Name[pl]=Krzyżówki
Name[pt_BR]=Palavras cruzadas
Name[ru]=Кроссворды
Name[sl]=Križanke
Name[uk]=Кросворди
Name=Crosswords
Comment[az]=Krossvord tapmacalarını həll et
Comment[el]=Λύστε σταυρόλεξα
Comment[es]=Resolver crucigramas
Comment[eu]=Ebatzi gurutzegramak
Comment[fr]=Résolvez des mots croisés
Comment[it]=Risolvi parole crociate
Comment[nl]=Los kruiswoordpuzzels op
Comment[de]=Kreuzworträtsel lösen
Comment[pl]=Rozwiązywanie krzyżówek
Comment[pt_BR]=Resolva palavras cruzadas
Comment[ru]=Решайте кроссворды
Comment[sl]=Rešujte križanke
Comment[uk]=Розв'язування кросвордів
Comment=Solve crossword puzzles
Exec=crosswords %F
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Crosswords
Terminal=false
Type=Application
MimeType=application/x-crossword;application/x-ipuz;application/x-jpz;application/x-xd-crossword
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[az]=krossvord;xword;ipuz;şəbəkə;tapmacalar;oyun;
Keywords[el]=σταυρόλεξο;xword;ipuz;πλέγμα;γρίφος;παιχνίδι;crossword;grid;puzzle;game;
Keywords[es]=crucigramas;xword;ipuz;cuadrícula;juego;
Keywords[eu]=gurutzegrama;hitz gurutzatua;ipuz;sareta;puzzlea;jokoa;
Keywords[fr]=crossword;xword;ipuz;mots croisés;grille;puzzle;jeu;
Keywords[it]=cruciverba;parole;crociate;xword;ipuz;griglia;puzzle;gioco;
Keywords[nl]=crossword;kruiswoord;xword;ipuz;grid;raster;puzzle;puzzel;game;spel;
Keywords[de]=crossword;xword;ipuz;grid;puzzle;game;Kreuzworträtsel;Raster;Rätsel;Spiel;
Keywords[pl]=krzyżówka;krzyżówki;łamigłówka;łamigłówki;zagadka;zagadki;układanka;układanki;gra;gry;xword;ipuz;
Keywords[pt_BR]=crossword;puzzle;game;palavras cruzadas;xword;ipuz;grade;quebra-cabeça;jogo;
Keywords[ru]=crossword;xword;ipuz;grid;puzzle;game;кроссворд;пазл;сетка;игра;
Keywords[sl]=križanka;xwoord;ipuz;mreža;uganka;igra;beseda;besedna;besede;
Keywords[uk]=crossword;xword;ipuz;grid;puzzle;game;кросворд;головоломка;гра;
Keywords=crossword;xword;ipuz;grid;puzzle;game;
Version=1.0
DBusActivatable=true
