[Desktop Entry]
Name[be]=Дыягностыка
Name[bg]=Диагностика
Name[bn_IN]=নিদানবিদ্যা
Name[ca]=Diagnòstics
Name[cs]=Diagnostiky
Name[da]=Diagnostik
Name[de]=Fehlerdiagnose
Name[el]=Διαγνωστικά
Name[en_GB]=Diagnostics
Name[en_US]=Diagnostics
Name[eo]=Diagnozo
Name[es]=Diagnósticos
Name[et]=Diagnostika
Name[eu]=Diagnostikoa
Name[fa]=عیب‌یابی
Name[fi]=Diagnostiikka
Name[fr]=Diagnostics
Name[fur]=Diagnostiche
Name[gl]=Diagnóstico
Name[he]=אבחון
Name[hr]=Dijagnostika
Name[hu]=Diagnosztika
Name[id]=Diagnostik
Name[is]=Greining vandamála
Name[it]=Diagnostica
Name[ja]=診断プログラム
Name[ka]=დიაგნოსტიკა
Name[kk]=Диагностика
Name[ko]=진단
Name[lt]=Diagnostika
Name[lv]=Diagnostika
Name[ms]=Diagnostik
Name[nb]=Diagnostikk
Name[ne]=निदान
Name[nl]=Bevindingen
Name[oc]=Diagnostics
Name[pa]=ਪੜਤਾਲ
Name[pl]=Diagnostyka
Name[pt_BR]=Diagnóstico
Name[pt_PT]=Diagnósticos
Name[ro]=Diagnostice
Name[ru]=Диагностика
Name[sl]=Diagnostika napak
Name[sv]=Diagnostik
Name[tr]=Tanılama
Name[uk]=Діагностика
Name[vi]=Chẩn đoán
Name[zh_CN]=诊断
Name[zh_TW]=診斷
Name=Diagnostics
Comment[be]=Паведаміць аб праблеме
Comment[bg]=Докладвайте проблем
Comment[bn_IN]=আপনার সমস্যা রিপোর্ট করুন
Comment[ca]=Informeu de problemes
Comment[cs]=Nahlásit problémy
Comment[da]=Rapportér dine problemer
Comment[de]=Melden Sie Ihre Probleme
Comment[el]=Αναφορά των προβλημάτων σας
Comment[en_GB]=Report your problems
Comment[en_US]=Report your problems
Comment[eo]=Raporti viajn problemojn
Comment[es]=Informar de problemas
Comment[et]=Teata ettetulnud vigadest
Comment[eu]=Eman zure arazoen berri
Comment[fa]=گزارش مشکلاتتان
Comment[fi]=Ilmoita ongelmista
Comment[fr]=Signaler des problèmes
Comment[fur]=Segnale i problemis
Comment[gl]=Informar os seus erros
Comment[he]=דיווח על בעיות
Comment[hr]=Prijavite svoje probleme
Comment[hu]=Problémák bejelentése
Comment[id]=Laporkan masalah Anda
Comment[is]=Tilkynntu vandamál
Comment[it]=Segnala il problema
Comment[ja]=問題を報告します
Comment[ka]=პრობლემის შესახებ შეტყობინება
Comment[kk]=Мәселелер туралы хабарлау
Comment[ko]=문제점 보고하기
Comment[lt]=Pranešti apie jūsų problemas
Comment[lv]=Ziņot par problēmām
Comment[ms]=Lapor masalah anda
Comment[nb]=Rapporter problemene dine
Comment[ne]=तपाईँको समस्याहरू प्रतिवेदन गर्नुहोस्
Comment[nl]=Meld uw problemen
Comment[oc]=Senhalar vòstres problèmas
Comment[pa]=ਆਪਣੀਆਂ ਸਮੱਸਿਆਵਾ ਬਾਰੇ ਰਿਪੋਰਟ ਦਿਓ
Comment[pl]=Zgłaszanie problemów
Comment[pt_BR]=Relate seus problemas
Comment[pt_PT]=Relate os seus problemas
Comment[ro]=Raportați problemele
Comment[ru]=Сообщить об ошибках
Comment[sl]=Pošiljajte poročila o težavah
Comment[sv]=Rapportera dina problem
Comment[tr]=Sorunları raporla
Comment[uk]=Повідомити про помилки
Comment[vi]=Báo cáo vấn đề trục trặc của bạn
Comment[zh_CN]=报告问题
Comment[zh_TW]=回報您遇到的問題
Comment=Report your problems
Exec=budgie-control-center diagnostics
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.buddiesofbudgie.Settings-diagnostics-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=Budgie
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=экран;блакіраванне;заблакіраваць;дыягностыка;аварыя;прыватны;нядаўні;часовы;назва;імя;сетка;сеціва;ідэнтыфікацыя;асоба;прыватнасць;
Keywords[bg]=екран;монитор;дисплей;заключване;затъмняване;диагностика;забиване;частен;личен;таен;скрит;временен;индекс;име;мрежа;идентичност;защита;данни;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat;
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[en_US]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[eo]=ekrano;ŝlosi;ŝloso;diagnozo;kraŝo;privata;lastatempa;provizora;tmp;indekso;nomo;reto;identeco;privateco;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[et]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ekraan;lukk;lukustuss;diagnostika;kokkujooksmine;krahh;privaatne;privaatsus;ajutine;kaust;indeks;nimi;identiteet;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[is]=skjár;læsa;greining;hrun;einka;nýlegt;bráðabirgða;tmp;yfirlit;nafn;netkerfi;auðkenna;gagnaleynd;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[ka]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;프라이버시;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nb]=skjerm;lås;diagnostikk;krash;privat;nylige filer;midlertidig;tmp;indeks;navn;nettverk;identitet;personvern;
Keywords[ne]=पर्दा;ताल्चा;निदान;क्र्यास;निजी;हालैको;अस्थायी;tmp;index;नाम;सञ्जाल;पहिचान;गोपनीयता;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;diagnose;prive;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[oc]=ecran;verrolhar;verrolhatge;diagnotic;confidencialitat;recent;temporari;nom;ret;malhum;identitat;tmp;privat;privada;vida;
Keywords[pa]=ਸਕਰੀਨ;ਲਾਕ;ਜਾਂਚ;ਪੜਤਾਲ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਆਰਜ਼ੀ;ਇੰਡੈਕਸ;ਨਾਂ;ਨੈੱਟਵਰਕ;ਪਛਾਣ;ਕਰੈਸ਼;ਤਾਜ਼ਾ;ਪਰਦੇਦਾਰੀ;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[pt_PT]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[ru]=экран;блокировка;диагностика;сбой;личный;приватный;недавние;временные;tmp;индекс;имя;сеть;идентификация;личность;конфиденциальность;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;tmp;index;namn;nätverk;identitet;sekretess;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[vi]=screen;màn;hình;man;hình;lock;khóa;khoa;diagnostics;chẩn;đoán;chan;doan;crash;hư;hu;private;riêng;tư;rieng;tu;recent;mới;dùng;moi;dung;gần;đây;gan;day;temporary;tạm;tam;tmp;index;name;tên;ten;network;mạng;mang;identity;thực;thể;thuc;the;privacy;chính sách riêng tư;chinh sach rieng tu;
Keywords[zh_CN]=屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
