[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Exec=dialect
Name[ca]=Dialecte
Name[cs]=Dialekt
Name[de]=Dialect
Name[eo]=Dialect
Name[es]=Dialect
Name[eu]=Dialect
Name[fa]=دایالکت
Name[fi]=Dialekti
Name[fr]=Dialect
Name[gl]=Dialecto
Name[he]=Dialect
Name[hi]=Dialect
Name[hr]=Dialect
Name[hu]=Dialect
Name[id]=Dialect
Name[it]=Dialect
Name[ka]=დიალექტი
Name[kmr]=Devok
Name[ko]=다이얼렉트
Name[lt]=Dialektas
Name[nb_NO]=Dialect
Name[nl]=Dialect
Name[oc]=Dialècte
Name[pl]=Dialect
Name[pt]=Dialect
Name[pt_BR]=Dialeto
Name[ru]=Dialect
Name[sv]=Dialect
Name[tr]=Dialect
Name[ar]=ديالكت
Name[uk]=Dialect
Name[kn]=ಡಯಲೆಕ್ಟ್‌
Name[zh_CN]=Dialect
Name[ja]=Dialect
Name[lv]=Dialect
Name[sk]=Dialect
Name[si]=ඩයලෙක්ට්
Name[fy]=Dialekt
Name[el]=Dialect
Name[sr]=Dialect
Name[da]=Dialect
Name[bn]=ডায়ালেক্ট
Name[ta]=கிளைமொழி
Name[zh_Hant]=Dialect
Name[zgh]=Dialect
Name[ur]=ڈایلیکٹ
Name[fur]=Dialect
Name[en_GB]=Dialect
Name[az]=Dialect
Name[ro]=Dialect
Name[be]=Dialect
Name[kab]=Dialect
Name[bg]=Dialect
Name[ga]=Dialect
Name[sc]=Dialect
Name[et]=Dialect
Name[te_IN]=Dialect
Name=Dialect
Comment[ca]=Traduïu entre diverses llengües
Comment[cs]=Překládejte mezi jazyky
Comment[de]=Zwischen Sprachen übersetzen
Comment[eo]=Traduki inter lingvoj
Comment[es]=Traduce entre idiomas
Comment[eu]=Itzuli hizkuntzen artean
Comment[fa]=بازگردانی میان زبان‌ها
Comment[fi]=Käännä eri kielille
Comment[fr]=Traduire entre les langues
Comment[gl]=Traducir entre idiomas
Comment[he]=תרגום בין שפות
Comment[hi]=भाषाओं के बीच अनुवाद करें
Comment[hr]=Prevodi između jezika
Comment[hu]=Fordítás nyelvek között
Comment[id]=Terjemahkan antar bahasa
Comment[it]=Traduzioni in diverse lingue
Comment[ka]=თარგმნა ენებს შორის
Comment[kmr]=Di navbera zimanan de wergerîne
Comment[ko]=다른 언어를 번역합니다
Comment[lt]=Vertimas tarp skirtingų kalbų
Comment[nb_NO]=Oversett mellom språk
Comment[nl]=Vertaal woorden en teksten
Comment[oc]=Traduire entre mantuna lenga
Comment[pl]=Tłumacz pomiędzy językami
Comment[pt]=Traduza entre idiomas
Comment[pt_BR]=Traduza entre idiomas
Comment[ru]=Перевод между языками
Comment[sv]=Översätt mellan olika språk
Comment[tr]=Diller arasında çevir
Comment[ar]=ترجِم بين اللغات
Comment[uk]=Переклад між мовами
Comment[kn]=ಭಾಷೆಗಳ ನಡುವೆ ಭಾಷಾಂತರಿಸಿ
Comment[zh_CN]=在语言之间翻译
Comment[ja]=言語を翻訳
Comment[lv]=Valodu tulkošana
Comment[sk]=Prekladá medzi jazykmi
Comment[si]=භාෂා අතර පරිවර්තනය
Comment[fy]=Fan 'e iene nei de oare taal oersette
Comment[el]=Μεταφράστε διαφορετικές γλώσσες
Comment[sr]=Prevodi između jezika
Comment[da]=Oversæt imellem sproge
Comment[bn]=বিভিন্ন ভাষায় অনুবাদ করুন
Comment[ta]=மொழிகளுக்கு இடையே மொழிபெயர்க்கவும்
Comment[zh_Hant]=在不同語言之間翻譯
Comment[zgh]=ⴰⵙⵓⵖⵍ ⵏⴳⵔ ⵜⵓⵜⵍⴰⵢⵉⵏ
Comment[ur]=زبانوں کے درمیان ترجمہ کریں
Comment[fur]=Volte tra lis lenghis
Comment[en_GB]=Translate between languages
Comment[az]=Dillər arasında tərcümə edin
Comment[ro]=Traduceri în diferite limbi
Comment[be]=Пераклад паміж мовамі
Comment[kab]=Asuqel ger tutlayin
Comment[bg]=Преведи към други езици
Comment[ga]=Aistrigh idir teangacha
Comment[sc]=Borta da una limba a s'àtera
Comment[et]=Tõlgi eri keelete vahel
Comment[te_IN]=భాషల మధ్య అనువదించండి
Comment=Translate between languages
Categories=Network;GTK;
Icon=app.drey.Dialect
# Translators: These are search terms to find this application. Do NOT translate or localize the semicolons. The list MUST also end with a semicolon.
Keywords[ca]=tradueix;traducció;Google Translate;LibreTranslate;Lingva Translate;Traductor de Bing Microsoft;Traductor de Bing;Traductor de Microsoft;Traductor de Yandex; 
Keywords[cs]=přeložit;překlad;Google Překladač;LibreTranslate;Lingva Překladač;Bing Microsoft Překladač;Bing Překladač;Microsoft Překladač;Yandex Překladač; 
Keywords[de]=übersetzen;Übersetzung;Google Übersetzer;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[eo]=traduki;tradukilo;traduko;tradukado;Google-tradukilo;LibreTranslate;Lingva-tradukilo;Bing-tradukilo;Microsoft-tradukilo;Yandex-tradukilo; 
Keywords[es]=traducir;traduccion;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[fa]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;ترجمه;بازگردانی;گوگل;بینگ;مایکروسافت;یندکس; 
Keywords[fi]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;käännös;kieli;käännä; 
Keywords[fr]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[he]=תרגום;המתרגם;מתרגם;גוגל תרגום;גוגל טרנסלייט;Google;LibreTranslate;Lingva Translate;בינג;מיקרוסופט;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;יאנדקס; 
Keywords[hi]=अनुवाद;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[hr]=prevodi;prijevod;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[hu]=fordít;fordítás;Google fordító;LibreTranslate;Lingva fordító;Bing Microsoft fordító;Bing fordító;Microsoft fordító;Yandex fordító; 
Keywords[it]=translate;translation;traduci;traduzione;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[ko]=번역;번역;Google 번역;LibreTranslate;Lingva 번역;Bing Microsoft 번역기;Bing 번역기;Microsoft 번역기;Yandex 번역; 
Keywords[nb_NO]=oversetting;oversettelser;språk;Google Translate;LibreTranslate;Lingva Translate;Bing Translator;Microsoft Trnslator;Yandex Translate;DeepL; 
Keywords[nl]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;vertalen;vertaling;vertaal; 
Keywords[oc]=traduire;tradusir;revirar;virar;traduccion;Google Translate;Libre Translate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[pl]=tłumacz;tłumaczenie;Tłumacz Google;LibreTranslate;Lingva Translate;Tłumacz Microsoft Bing;Tłumacz Bing;Tłumacz Microsoft;Tłumacz Yandex; 
Keywords[pt]=traduzir;tradução;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[pt_BR]=Traduzir;tradução;Google Tradutor;LibreTranslate;Lingva Translate;Bing Microsoft Tradutor;Bing Tradutor;Microsoft Tradutor;Yandex Tradutor; 
Keywords[ru]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;перевод;переводчик;гугл переводчик;яндекс переводчик; 
Keywords[sv]=översätt;översättare;Google översätt;LibreTranslate;Lingva Translate;Bing Microsoft översättare;Bing översättare;Microsoft översättare;Yandex översätt; 
Keywords[tr]=çevir;çeviri;Google Çeviri;LibreTranslate;Lingva Çeviri;Bing Microsoft Çeviri;Bing Çeviri;Microsoft Çeviri;Yandex Çeviri; 
Keywords[ar]=ترجم;ترجمة;جوجل;ليبري;لينغفا;مايكروسوفت بينغ;بينغ;مايكروسوفت;ياندكس; 
Keywords[uk]=перекласти;переклад;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Яндекс Перекладач; 
Keywords[zh_CN]=翻译;谷歌翻译;LibreTranslate;Lingva 翻译;必应翻译;微软翻译;Yandex 翻译; 
Keywords[el]=μεταφράστε;μετάφραση;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[ta]=மொழியாக்கம்;மொழிபெயர்ப்பு;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[zh_Hant]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;翻譯; 
Keywords[fur]=translate;translation;tradûs;volte;traduzion;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[en_GB]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[az]=tərcümə;tərcümə;Google Translate;LibreTranslate;Lingva Tərcümə;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[ro]=translate;translation;tradu;traducere;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[be]=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate;пераклад;пераклад; 
Keywords[kab]=suqel;tasuqilt;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[bg]=преведи;превод;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[ga]=aistrigh; aistriúchán; Google Translate; LibreTranslate; Lingva Translate; Bing Microsoft Translator; Aistritheoir Bing; Microsoft Translator; Yandex Aistriú; 
Keywords[sc]=tradue;tradutzione;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[et]=tõlgi;tõlge;tõlkimine;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
Keywords[te_IN]=అనువదించు; అనువాదం; గూగుల్ అనువాదం; లిబ్రే అనువాదం  లింగ్వా అనువాదం;బింగ్ మైక్రోసాఫ్ట్ అనువాదకుడు బింగ్ అనువాదకుడు మైక్రోసాఫ్ట్ అనువాదకుడు;యాండెక్స్ అనువాదం;
Keywords=translate;translation;Google Translate;LibreTranslate;Lingva Translate;Bing Microsoft Translator;Bing Translator;Microsoft Translator;Yandex Translate; 
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
