[Desktop Entry]
Name=Launcher Button
Name[ar]=زر المشغل
Name[bg]=Бутон за стартера
Name[cs]=Tlačítko spouštěče
Name[da]=Starterknap
Name[de]=Starter-Schaltfläche
Name[el]=Κουμπί γραμμής εκκίνησης
Name[en]=Launcher Button
Name[en_GB]=Launcher Button
Name[es]=Botón del lanzador
Name[fi]=Käynnistinpainike
Name[fr]=Bouton Lanceur
Name[ga]=Cnaipe Lainseálaí
Name[gl]=Botón do lanzador
Name[hi]=लॉन्चर बटन
Name[hu]=Indító gomb
Name[id]=Tombol Peluncur
Name[it]=Pulsante del launcher
Name[kab]=Taqeffalt n usekker
Name[kk]=Жөнелткіш батырмасы
Name[kmr]=Bişkoka destpêker
Name[ko]=런처 버튼
Name[nl]=Snelstarterknop
Name[pa]=ਲਾਂਚਰ ਬਟਨ
Name[pl]=Przycisk programu startowego
Name[pt]=Botão Lançador de Aplicativos
Name[pt_BR]=Botão do lançador
Name[ru]=Кнопка «Панель запуска»
Name[sat]=ᱞᱚᱱᱪᱟᱨ ᱵᱩᱛᱟᱢ
Name[sk]=Tlačidlo spúšťača
Name[sr]=Дугме покретача
Name[sv]=Knapp för programstartare
Name[uk]=Запускач
Name[zh_CN]=启动器按钮
Name[zh_Hant]=啟動器按鈕
Comment=Open the launcher to search applications and run commands
Comment[ar]=افتح المشغل للبحث عن التطبيقات وتشغيل الأوامر
Comment[cs]=Přístup ke spouštěči pro vyhledávání aplikací a spouštění příkazů
Comment[da]=Åbn starteren for at søge efter programmer og køre kommandoer
Comment[de]=Öffne den Starter, um nach Anwendungen zu suchen und Befehle auszuführen
Comment[el]=Άνοιγμα της γραμμής εκκίνησης για αναζήτηση εφαρμογών και εκτέλεση εντολών
Comment[en]=Open the launcher to search applications and run commands
Comment[en_GB]=Open the launcher to search applications and run commands
Comment[fi]=Avaa käynnistin etsiäksesi sovelluksia ja suorittaaksesi komentoja
Comment[fr]=Ouvrir le lanceur pour rechercher des applis et exécuter des commandes
Comment[ga]=Oscail an lainseálaí chun feidhmchláir a chuardach agus orduithe a rith
Comment[gl]=Abre o lanzador para buscar aplicacións e executar ordes
Comment[hi]=एप्लिकेशन खोजने और कमांड चलाने के लिए लॉन्चर खोलें
Comment[hu]=Az indító megnyitása alkalmazások kereséséhez és parancsok futtatásához
Comment[id]=Buka peluncur untuk mencari aplikasi dan menjalankan perintah
Comment[it]=Apri il launcher per cercare applicazioni ed eseguire comandi
Comment[kab]=Ldi amsekker i unadi n yisnasen akked uselkem tiludna
Comment[kk]=Қолданбаларды іздеу және командаларды орындау үшін жөнелткішті ашу
Comment[kmr]=Destpêkerê ji bo lêgerîna sepanan û xebitandina fermanan veke
Comment[ko]=앱 검색 및 명령어 실행을 위한 런처 열기
Comment[nl]=Open de snelstarter om toepassingen te zoeken en commando's uit te voeren
Comment[pl]=Otwórz program startowy by wyszukać aplikacje lub uruchomić komendy
Comment[pt_BR]=Abrir o lançador para procurar aplicativos e executar comandos
Comment[ru]=Открытие панели запуска для поиска приложений и выполнения команд
Comment[sr]=Отвори покретач да бисте претражили програме и покренули наредбе
Comment[sv]=Öppna programstartaren för att söka efter program och köra kommandon
Comment[uk]=Пошук застосунків і виконання команд
Comment[zh_CN]=打开启动器以搜索应用以及执行命令
Comment[zh_Hant]=開啟啟動器以搜尋應用程式以及執行命令
Type=Application
Exec=cosmic-panel-button com.system76.CosmicLauncher
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Launcher;Runner;
Keywords[cs]=COSMIC;Applet;Spouštěč;Vyhledávání;Příkazy;
Keywords[da]=COSMIC;Applet;Starter;Kører;
Keywords[de]=COSMIC;Applet;Starter;Runner;
Keywords[el]=Μικροεφαρμογή;Μενού;Εκκίνηση;Εκτέλεση;COSMIC;Applet;Launcher;Runner;
Keywords[en]=COSMIC;Applet;Launcher;Runner;
Keywords[en_GB]=COSMIC;Applet;Launcher;Runner;
Keywords[fi]=COSMIC;Applet;Launcher;Runner;sovelma;käynnistin;käynnistä;käynnistys;suoritus;
Keywords[fr]=COSMIC;Applet;Lanceur;Exécuteur;
Keywords[ga]=COSMIC;Feidhmchláirín;Lainseálaí;Reathaí;
Keywords[gl]=COSMIC;Miniaplicación;Lanzador;Executor de ordes;
Keywords[hu]=COSMIC;kisalkalmazás;indító;futtató;
Keywords[id]=COSMIC;Applet;Peluncur;Penjalan;
Keywords[it]=COSMIC;Applet;Launcher;Runner;
Keywords[kab]=COSMIC;Tappleṭ;Amsekker;Amselkam;
Keywords[kk]=COSMIC;Апплет;Жөнелткіш;Орындаушы;
Keywords[kmr]=COSMIC;Sepanok;Destpêker;Rêveber;
Keywords[ko]=COSMIC;애플릿;런처;실행기;
Keywords[nl]=COSMIC;Applet;Snelstarter;Uitvoeren;
Keywords[pa]=COSMIC;ਐਪਲਿਟ;ਲਾਂਚਰ;ਰਨਰ;
Keywords[pl]=COSMIC;Aplet;Program startowy;Uruchamianie Programów;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Applet;Lançador;Launcher;Runner;Executar;
Keywords[ru]=COSMIC;Апплет;Панель;Запуска;
Keywords[sr]=COSMIC;Applet;Launcher;Runner;Космик;Програмчић;Покретач;Покретач;kosmik;programčić;pokretač;pokretač;
Keywords[sv]=COSMIC;Miniprogram;Programstartare;Körare;Applet;
Keywords[uk]=COSMIC;КОСМІК;КОСМОС;КОСМІЧНЕ;Віджет;Віджети;Запускач;Launcher;Пошук;Команди;
Keywords[zh_CN]=COSMIC;小部件;启动器;
Keywords[zh_Hant]=COSMIC;小程式;啟動器;
Icon=com.system76.CosmicPanelLauncherButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
