[Desktop Entry]
Encoding=UTF-8
Name=Alliance: Petri Nets Viewer
Exec=/usr/lib/alliance/bin/xvpn
Icon=xvpn.png
Type=Application
Terminal=false
GenericName=xpvn
Categories=Electronics;Engineering;
Comment=View the Petri Nets
X-Desktop-File-Install-Version=0.27
