[Desktop Entry]
Type=Application
Name[ja]=Agenda
Name[nl]=Agenda
Name[oc]=Agenda
Name[pt]=Agenda
Name[ru]=Повестка дня
Name=Agenda
Comment[ja]=タスクを完了しましょう
Comment[nl]=Rond taken af
Comment[oc]=Complissètz vòstres prètzfaches
Comment[pt]=Faça as suas coisas
Comment[ru]=Довести до завершения
Comment=Get things done
GenericName[ja]=タスクリスト
GenericName[nl]=Takenlijst
GenericName[oc]=Lista de prètzfaches
GenericName[pt]=Lista de tarefas
GenericName[ru]=Список задач
GenericName=Task List
Exec=com.github.dahenson.agenda
Icon=com.github.dahenson.agenda
Terminal=false
X-GNOME-Gettext-Domain=agenda
X-GNOME-UsesNotifications=true
Categories=Utility;Office;ProjectManagement;
Keywords[ja]=Todo;Tasks;やること;タスク;
Keywords[nl]=Taak;Taken;
Keywords[oc]=Todo;Tasks;Prètzfach:Prètzfait;
Keywords[pl]=Do zrobienia;Zadania;
Keywords[pt]=Fazer;Tarefas;
Keywords[ru]=Выпонить;Задачи;Завершить;Сделать;
Keywords=Todo;Tasks;
