[Desktop Entry]
Name[be]=Гісторыя файлаў і сметніца
Name[bg]=История на файловете и кошчето
Name[bn_IN]=ফাইলের ইতিহাস এবং ট্র্যাশ
Name[ca]=Historial dels fitxers i paperera
Name[cs]=Historie souborů a koš
Name[da]=Filhistorik & papirkurv
Name[de]=Dateichronik und Papierkorb
Name[el]=Ιστορικό αρχείου & Κάδος απορριμάτων
Name[en_GB]=File History & Wastebasket
Name[en_US]=File History & Trash
Name[eo]=Dosierhistorio & rubujo
Name[es]=Histórico de archivos y papelera
Name[et]=Failide ajalugu ja prügikast
Name[eu]=Fitxategien historia eta zakarrontzia
Name[fa]=تاریخچهٔ پرونده و زباله‌دان
Name[fi]=Tiedostohistoria ja roskakori
Name[fr]=Historique des fichiers et corbeille
Name[fur]=Cronologjie file e Scovacere
Name[gl]=Historial de ficheiros e lixo
Name[he]=היסטוריית קבצים ואשפה
Name[hr]=Povijest datoteka i smeće
Name[hu]=Fájlelőzmények és kuka
Name[id]=Riwayat Berkas dan Tong Sampah
Name[is]=Ferill skráa og rusl
Name[it]=Cronologia file e cestino
Name[ja]=ファイルの履歴＆ゴミ箱
Name[ka]=ფაილის ისტორია & ნაგავი
Name[kk]=Файлдар тарихы және қоқыс шелегі
Name[ko]=파일 히스토리 및 휴지통
Name[lt]=Failų istorija ir šiukšlinė
Name[lv]=Datņu vēsture un miskaste
Name[ms]=Sejarah & Tong Sampah Fail
Name[nb]=Filhistorikk og papirkurv
Name[ne]=फाइल इतिहास र रद्दीटोकरी
Name[nl]=Bestandsgeschiedenis & prullenbak
Name[oc]=Istoric e escobilhièr
Name[pa]=ਫਾਇਲ ਅਤੀਤ ਤੇ ਰੱਦੀ
Name[pl]=Historia plików i kosz
Name[pt_BR]=Histórico de arquivos & lixeira
Name[pt_PT]=Histórico de ficheiros e Lixo
Name[ro]=Gunoi și istoricul fișierelor
Name[ru]=История файлов и корзина
Name[sl]=Zgodovina datoteke in smeti
Name[sv]=Filhistorik & papperskorg
Name[tr]=Dosya Geçmişi ve Çöp
Name[uk]=Журнал файлів та смітник
Name[vi]=Lịch sử tập tin & Thùng rác
Name[zh_CN]=文件历史与回收站
Name[zh_TW]=檔案歷程記錄與回收筒
Name=File History & Trash
Comment[be]=Не пакідаць слядоў
Comment[bg]=Без оставяне на следи
Comment[bn_IN]=ট্রেস ছেড়ে যাবেন না
Comment[ca]=No deixis rastres
Comment[cs]=Nezanechávejte po sobě stopy
Comment[da]=Efterlad ingen spor
Comment[de]=Keine Spuren hinterlassen
Comment[el]=Να μην αφήνονται ίχνη
Comment[en_GB]=Don't leave traces
Comment[en_US]=Don't leave traces
Comment[eo]=Ne lasi ŝpurojn
Comment[es]=No dejar trazas
Comment[et]=Ära jäta jälgi
Comment[eu]=Ez utzi aztarnarik
Comment[fa]=برجا نگذاشتن اثر
Comment[fi]=Älä jätä jälkiä
Comment[fr]=Ne laisser aucune trace
Comment[fur]=No sta lassâ olmis
Comment[gl]=Non deixar rastro
Comment[he]=לא להשאיר עקבות
Comment[hr]=Ne ostavljaj tragove
Comment[hu]=Ne hagyjon nyomokat
Comment[id]=Jangan tinggalkan jejak
Comment[is]=Ekki skilja eftir spor
Comment[it]=Non lasciare tracce
Comment[ja]=痕跡を残さないようにします
Comment[ka]=კვალის არ დატოვება
Comment[kk]=Із қалдырмау
Comment[ko]=흔적 남기지 않기
Comment[lt]=Nepalikti pėdsakų
Comment[lv]=Neatstāt pēdas
Comment[ms]=Jangan tinggalkan jejak
Comment[nb]=Ikke etterlat spor
Comment[ne]=चिन्ह हरू नछोड्नुहोस्
Comment[nl]=Geen sporen achterlaten
Comment[oc]=Daissar pas cap de traças
Comment[pa]=ਨਿਸ਼ਾਨ ਨਾ ਛੱਡੋ
Comment[pl]=Nie zostawiaj śladów
Comment[pt_BR]=Não deixe rastros
Comment[pt_PT]=Não deixar rastros
Comment[ro]=Nu lăsa urme
Comment[ru]=Не оставлять следов
Comment[sl]=Ne puščaj sledi
Comment[sv]=Lämna inga spår
Comment[tr]=İz bırakma
Comment[uk]=Не залишати слідів
Comment[vi]=Đừng để lại dấu vết
Comment[zh_CN]=不留痕迹
Comment[zh_TW]=不留下追蹤
Comment=Don't leave traces
Exec=budgie-control-center usage
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.buddiesofbudgie.Settings-file-history-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=Budgie
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=экран;блакіраванне;заблакіраваць;дыягностыка;аварыя;прыватны;нядаўні;часовы;назва;імя;сетка;сеціва;ідэнтыфікацыя;асоба;прыватнасць;
Keywords[bg]=екран;монитор;дисплей;заключване;затъмняване;диагностика;забиване;частен;личен;таен;скрит;временен;индекс;име;мрежа;идентичност;защита;данни;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat;
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[en_US]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[eo]=ekrano;ŝlosi;ŝloso;diagnozo;kraŝo;privata;lastatempa;provizora;tmp;indekso;nomo;reto;identeco;privateco;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[et]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ekraan;lukk;lukustuss;diagnostika;kokkujooksmine;krahh;privaatne;privaatsus;ajutine;kaust;indeks;nimi;identiteet;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[is]=skjár;læsa;greining;hrun;einka;nýlegt;bráðabirgða;tmp;yfirlit;nafn;netkerfi;auðkenna;gagnaleynd;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[ka]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;프라이버시;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nb]=skjerm;lås;diagnostikk;krash;privat;nylige filer;midlertidig;tmp;indeks;navn;nettverk;identitet;personvern;
Keywords[ne]=पर्दा;ताल्चा;निदान;क्र्यास;निजी;हालैको;अस्थायी;tmp;index;नाम;सञ्जाल;पहिचान;गोपनीयता;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;diagnose;prive;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[oc]=ecran;verrolhar;verrolhatge;diagnotic;confidencialitat;recent;temporari;nom;ret;malhum;identitat;tmp;privat;privada;vida;
Keywords[pa]=ਸਕਰੀਨ;ਲਾਕ;ਜਾਂਚ;ਪੜਤਾਲ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਆਰਜ਼ੀ;ਇੰਡੈਕਸ;ਨਾਂ;ਨੈੱਟਵਰਕ;ਪਛਾਣ;ਕਰੈਸ਼;ਤਾਜ਼ਾ;ਪਰਦੇਦਾਰੀ;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[pt_PT]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[ru]=экран;блокировка;диагностика;сбой;личный;приватный;недавние;временные;tmp;индекс;имя;сеть;идентификация;личность;конфиденциальность;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;tmp;index;namn;nätverk;identitet;sekretess;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[vi]=screen;màn;hình;man;hình;lock;khóa;khoa;diagnostics;chẩn;đoán;chan;doan;crash;hư;hu;private;riêng;tư;rieng;tu;recent;mới;dùng;moi;dung;gần;đây;gan;day;temporary;tạm;tam;tmp;index;name;tên;ten;network;mạng;mang;identity;thực;thể;thuc;the;privacy;chính sách riêng tư;chinh sach rieng tu;
Keywords[zh_CN]=屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
