[Desktop Entry]
Name=Auriferous
Comment=Game inspired by the classic Loderunner
Exec=auriferous
Icon=auriferous
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=Game;Arcade;Retro;
X-Desktop-File-Install-Version=0.28
