[Desktop Entry]
Name[ab]=Devhelp
Name[ar]=مساعدة المطورين
Name[as]=Devhelp
Name[ast]=Devhelp
Name[az]=DevHelp
Name[be]=Devhelp
Name[bg]=Devhelp
Name[bn]=Devhelp
Name[bn_IN]=Devhelp
Name[bs]=DevHelp
Name[ca]=Devhelp
Name[ca@valencia]=Devhelp
Name[cs]=DevHelp
Name[da]=Devhelp
Name[de]=Devhelp
Name[dz]=ཌེབ་ཧལཔ།
Name[el]=Devhelp
Name[en_CA]=Devhelp
Name[en_GB]=Devhelp
Name[en@shaw]=·𐑛𐑧𐑝𐑣𐑧𐑤𐑐
Name[eo]=Devhelpo
Name[es]=Devhelp
Name[et]=Devhelp
Name[eu]=Devhelp
Name[fa]=دِوهلپ
Name[fi]=Devhelp
Name[fr]=Devhelp
Name[fur]=Devhelp
Name[gl]=Devhelp
Name[gu]=વિકાસ મદદ
Name[he]=DevHelp
Name[hi]=Devhelp
Name[hr]=Devhelp
Name[hu]=Devhelp
Name[hy]=Devhelp
Name[id]=Devhelp
Name[is]=Devhelp
Name[it]=Devhelp
Name[ja]=Devhelp
Name[ka]=Devhelp
Name[kk]=Devhelp
Name[km]=Devhelp
Name[ko]=개발 도움말
Name[lt]=Devhelp
Name[lv]=Devhelp
Name[mk]=Devhelp
Name[ml]=Devhelp
Name[ms]=DevHelp
Name[nb]=Devhelp
Name[ne]=विकासकर्ताको मद्दत
Name[nl]=Devhelp
Name[nn]=Devhelp
Name[oc]=Devhelp
Name[or]=Devhelp
Name[pa]=ਵਿਕਾਸਸਹਾਈ
Name[pl]=Devhelp
Name[ps]=ډېوهېلپ
Name[pt]=Devhelp
Name[pt_BR]=Devhelp
Name[ro]=Devhelp
Name[ru]=Devhelp
Name[si]=Devhelp
Name[sk]=Devhelp
Name[sl]=Devhelp
Name[sq]=Devhelp
Name[sr]=Девхелп
Name[sr@latin]=Devhelp
Name[sv]=Devhelp
Name[ta]=டேவு உதவி(Devhelp)
Name[te]=డెవ్ సహాయం
Name[th]=Devhelp
Name[tr]=Devhelp
Name[ug]=Devhelp
Name[uk]=Devhelp
Name[vi]=Devhelp
Name[zh_CN]=Devhelp
Name[zh_HK]=Devhelp
Name[zh_TW]=Devhelp
Name=Devhelp
Comment[be]=Прылада для распрацоўшчыкаў, прызначаная для агляду і пошуку дакументацыі да праграмных інтэрфейсаў
Comment[ca]=Una eina de desenvolupament per a navegar i cercar documentació de l'API
Comment[cs]=Vývojářský nástroj pro procházení a vyhledávání v dokumentaci API
Comment[da]=Et udviklerværktøj til at gennemse og søge i API-dokumentation
Comment[de]=Ein Entwicklerwerkzeug zum Durchsuchen der API-Dokumentation
Comment[el]=Ένα εργαλείο προγραμματιστών για την περιήγηση και την αναζήτηση τεκμηρίωσης API
Comment[en_GB]=A developer tool for browsing and searching API documentation
Comment[eo]=Programista ilo por foliumi kaj serĉi API dokumtaron
Comment[es]=Una herramienta para desarrolladores que sirve para explorar y buscar documentación de la API
Comment[eu]=API dokumentazioa arakatu eta bilatzeko garatzaile-tresna bat
Comment[fa]=یک ابزار توسعه برای مرور و جست‌وجوی مستندات API
Comment[fi]=Kehittäjätyökalu rajapintadokumentaation selaamiseen ja hakemiseen
Comment[fr]=Un outil de développement pour naviguer et rechercher dans les documentations d’API
Comment[fur]=Un strument di svilupadôrs par navigâ e cirî la documentazion des API
Comment[gl]=Unha ferramenta de desenvolvemento para explorar e buscar documentación de API
Comment[he]=כלי פיתוח לדפדוף וחיפוש תיעוד API
Comment[hr]=Devhelp je alat razvijatelja za pregledavanje i pretraživanje API dokumentacije
Comment[hu]=Fejlesztői eszköz API dokumentációk böngészéséhez és kereséséhez
Comment[id]=Alat pengembang untuk meramban dan mencari dokumentasi API
Comment[it]=Uno strumento per sviluppatori per esplorare e cercare la documentazione delle API
Comment[kk]=API құжаттарын қарауға және іздеуге арналған әзірлеуші ​​құралы
Comment[ko]=API 문서를 보고 검색하는 개발자 도구
Comment[lt]=Kūrėjo įrankis, skirtas API dokumentacijos naršymui ir paieškai
Comment[lv]=Rīks izstrādātājiem, ar ko pārlūkot un meklēt API dokumentāciju
Comment[ms]=Satu alat pembangun untuk melayar dan menggelintar dokumentasi API
Comment[nb]=Et utviklerverktøy for å vise og søke i API-dokumentasjon
Comment[nl]=Een ontwikkelhulpmiddel voor het bladeren en zoeken door API-documentatie
Comment[oc]=Una aisina de desvolopament per navigar e recercar dins las documentacions d’API
Comment[pl]=Narzędzie dla programistów do przeglądania i przeszukiwania dokumentacji API
Comment[pt]=Uma ferramenta de programador para navegar e procurar documentação de API
Comment[pt_BR]=Uma ferramenta de desenvolvimento para navegar e pesquisar documentação de API
Comment[ro]=O unealtă de dezvoltator pentru navigarea și căutarea în documentație API
Comment[ru]=Инструмент разработчика для поиска и просмотра документации к API.
Comment[sl]=Brskalnik dokumentacije API, namenjen razvijalcem programske opreme.
Comment[sr]=Програмерска алатка за прегледање и претраживање АПИ документације
Comment[sr@latin]=Programerska alatka za pregledanje i pretraživanje API dokumentacije
Comment[sv]=Ett utvecklingsverktyg för att bläddra genom samt söka i API-dokumentation
Comment[tr]=API belgelendirmesini taramak ve gözden geçirmek için geliştirici aracı
Comment[uk]=Інструмент розробника для навігації і пошуку у документації із програмних інтерфейсів
Comment[vi]=Một công cụ dành cho nhà phát triển phần mềm duyệt và tìm kiếm tài liệu API
Comment[zh_CN]=一款用于浏览和搜索 API 文档的开发工具
Comment[zh_TW]=瀏覽與搜尋 API 文件的開發者工具
Comment=A developer tool for browsing and searching API documentation
GenericName[be]=Аглядальнік дакументацыі да праграмных інтэрфейсаў
GenericName[ca]=Navegador de documentació de l'API
GenericName[cs]=Prohlížeč dokumentace API
GenericName[da]=API-dokumentationsfremviser
GenericName[de]=API-Dokumentationsbrowser
GenericName[el]=Περιηγητής τεκμηρίωσης API
GenericName[en_GB]=API Documentation Browser
GenericName[eo]=API dokumentara foliumilo
GenericName[es]=Explorador de documentación de la API
GenericName[eu]=API dokumentazioaren arakatzailea
GenericName[fa]=مرورگر مستندات API
GenericName[fi]=Rajapintojen dokumentaatioselain
GenericName[fr]=Navigateur de documentation d’API
GenericName[fur]=Navigadôr di documentazion API
GenericName[gl]=Explorador de documentación de API
GenericName[he]=דפדפן תיעוד API
GenericName[hr]=API preglednik dokumentacije
GenericName[hu]=API dokumentáció böngésző
GenericName[id]=Peramban Dokumentasi API
GenericName[it]=Esplorazione documentazione API
GenericName[ja]=API ドキュメントブラウザー
GenericName[kk]=API құжаттамасын шолушысы
GenericName[ko]=API 문서 보기
GenericName[lt]=API dokumentacijos naršyklė
GenericName[lv]=API dokumentācijas pārlūks
GenericName[ms]=Pelayar Dokumentasi API
GenericName[nb]=Vis API-dokumentasjon
GenericName[nl]=API-documentatiebrowser
GenericName[oc]=Navigador de documentacion d’API
GenericName[pl]=Przeglądarka dokumentacji API
GenericName[pt]=Navegador de documentação de API
GenericName[pt_BR]=Navegador de documentação de API
GenericName[ro]=Navigator documentație API
GenericName[ru]=Просмотр документации API
GenericName[sl]=Pregledovalnik dokumentacije API
GenericName[sr]=Прегледач АПИ документације
GenericName[sr@latin]=Pregledač API dokumentacije
GenericName[sv]=API-dokumentationsläsare
GenericName[tr]=API Belgeleri Tarayıcısı
GenericName[uk]=Переглядач документації з програмного інтерфейсу
GenericName[vi]=Bộ duyệt tài liệu API
GenericName[zh_CN]=API 文档浏览器
GenericName[zh_TW]=API 文件瀏覽器
GenericName=API Documentation Browser
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[as]=তথ্যচিত্ৰ;তথ্য;হাতপুথি;উন্নয়নকাৰী;api;
Keywords[be]=дакументацыя;інфармацыя;звесткі;даведнік;падручнік;распрацоўшчык;праграміст;api;
Keywords[bg]=документация;информация;ръководство;апи;разработка;documentation;information;manual;developer;api;
Keywords[bs]=dokumentacija;informacija;priručnik;razvoj;api;
Keywords[ca]=documentació;informació;manual;desenvolupador;api;
Keywords[ca@valencia]=documentació;informació;manual;desenvolupador;api;
Keywords[cs]=dokumentace;informace;příručka;návod;vývojář;vývoj;api;
Keywords[da]=dokumentation;information;oplysninger;manual;håndbog;udvikler;api;
Keywords[de]=Dokumentation;Information;Handbuch;Entwickler;API;
Keywords[el]=τεκμηρίωση;πληροφορίες;εγχειρίδιο;ανάπτυξη;api;documentation;information;manual;developer;
Keywords[en_GB]=documentation;information;manual;developer;api;
Keywords[eo]=dokumentaro;informo;manlibro;programisto;verkisto;helpo;api;
Keywords[es]=documentación;información;manual;desarrollador;api;
Keywords[et]=dokumentatsioon;informatsioon;andmed;käsiraamat;manuaal;arendajad;arendus;api;
Keywords[eu]=dokumentazioa;informazioa;eskuliburua;garatzailea;APIa;
Keywords[fa]=documentation;information;manual;developer;api;مستندات;اطلاعات;راهنما;توسعه‌دهنده;api;
Keywords[fi]=documentation;information;manual;developer;api;dokumentaatio;käsikirja;ohje;kehittäjä;kehitys;ohjelmointirajapinta;
Keywords[fr]=documentation;information;manuel;développeur;api;
Keywords[fur]=documentazion;informazion;manuâl;svilupadôr;api;
Keywords[gl]=documentación;información;manual;desenvolvedor;api;
Keywords[he]=תיעוד;מידע;פרטים;הדרכה;מדריך;פיתוח;תכנות;מפתח;מתכנת;api;
Keywords[hr]=dokumentacija;informacija;priručnik;razvijatelj;api;
Keywords[hu]=dokumentáció;információ;kézikönyv;fejlesztő;api;
Keywords[id]=dokumentasi;informasi;manual;pengembang;api;
Keywords[it]=documentazione;informazioni;manuale;manuali;sviluppo;api;
Keywords[ja]=documentation;information;manual;developer;api;ドキュメンテーション;ドキュメント;情報;リファレンスマニュアル;開発者;
Keywords[kk]=documentation;information;manual;developer;api;құжаттама;ақпарат;нұсқаулық;өндіруші;
Keywords[ko]=documentation;문서;information;정보;manual;설명서;매뉴얼;developer;개발자;api;레퍼런스;
Keywords[lt]=dokumentacija;informacija;vadovas;kūrėjas;api;
Keywords[lv]=dokumentācija;informācija;rokasgrāmata;izstrāde;api;
Keywords[ml]=documentation;information;manual;developer;api;
Keywords[ms]=dokumentasi;maklumat;panduan;pembangun;api;
Keywords[nb]=dokumentasjon;informasjon;håndbok;utvikler;api;
Keywords[ne]=अभिलेखीकरण;सूचना;मैनुअल;मद्दत;API
Keywords[nl]=documentation;information;manual;developer;documentatie;informatie;handleiding;ontwikkeling;api;
Keywords[oc]=documentacion;informacion;manual;desvolopaire;api;
Keywords[pl]=dokumentacja;informacje;podręcznik;przewodnik;programista;developer;deweloper;api;
Keywords[pt]=documentação;informação;manual;programador;api;
Keywords[pt_BR]=documentação;documentações;informações;manual;desenvolvedor;programador;api;
Keywords[ro]=documentation;information;manual;developer;api;documentație;informație;dezvoltator;
Keywords[ru]=документация;информация;руководство;разработчик;api;
Keywords[sk]=dokumentácia;informácie;návod;vývojár;api;rozhranie;
Keywords[sl]=dokumentacija;podrobnosti;podatki;priročnik;razvoj;api;
Keywords[sr]=документација;подаци;информације;обавештења;упутство;програмер;апи;documentation;information;manual;developer;api;
Keywords[sr@latin]=dokumentacija;podaci;informacije;obaveštenja;uputstvo;programer;api;documentation;information;manual;developer;api;
Keywords[sv]=dokumentation;information;manual;utvecklare;api;
Keywords[th]=เอกสารประกอบ;สอบถาม;คู่มือ;นักพัฒนา;api;
Keywords[tr]=belgelendirme;bilgiler;el kitabı;rehber;kılavuz;geliştirici;api;
Keywords[ug]=documentation;information;manual;developer;api;قوللانما;ئۇچۇر;چۈشەندۈرۈشى;ئىجادىيەتچى;پروگرامما ئېغىزى;
Keywords[uk]=документація;інформація;посібник;розробник;api;
Keywords[vi]=documentation;information;manual;developer;api;tài liệu;tai lieu;thông tin;thong tin;hướng dẫn sử dụng;huong dan su dung;phát triển;phat trien;
Keywords[zh_CN]=documentation;information;manual;developer;api;文档;信息;手册;说明书;开发;
Keywords[zh_HK]=documentation;information;manual;developer;api;文件;資訊;手冊;開發者;
Keywords[zh_TW]=documentation;information;manual;developer;api;文件;資訊;手冊;開發者;
Keywords=documentation;information;manual;developer;api;
Exec=devhelp
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Devhelp
Categories=GNOME;GTK;Development;
StartupNotify=true
DBusActivatable=true
