[Desktop Entry]
Name[ca]=Centre de control del Budgie
Name[da]=Budgie Control Center
Name[de]=Budgie Control Center
Name[en_GB]=Budgie Control Centre
Name[en_US]=Budgie Control Center
Name[es]=Centro de Control de Budgie
Name[et]=Budgie juhtimiskeskus
Name[fi]=Budgie-ohjauskeskus
Name[fr]=Centre de contrôle Budgie
Name[it]=Impostazioni Budgie
Name[ja]=Budgie コントロールセンタ
Name[kk]=Budgie басқару орталығы
Name[ko]=Budgie 제어 센터
Name[lt]=Budgie valdymo centras
Name[nl]=Budgie Instellingen
Name[oc]=Centre de contraròtle de Budgue
Name[pl]=Centrum sterowania Budgie
Name[pt_BR]=Centro de Controle do Budgie
Name[pt_PT]=Centro de Controlo Budgie
Name[ru]=Центр управления Budgie
Name[tr]=Budgie Denetim Merkezi
Name[zh_CN]=Budgie控制中心
Name[zh_TW]=Budgie 控制中心
Name=Budgie Control Center
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.buddiesofbudgie.Settings
Exec=budgie-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=Budgie
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=voorkeure;instelling;opstelling;
Keywords[an]=Preferencias;Configuración;
Keywords[ar]=تفضيلات;إعدادات;
Keywords[as]=পছন্দসমূহ;সংহতিসমূহ;
Keywords[be]=Settings;Налады;Параметры;Настройкі;Настаўленні;
Keywords[bg]=настройки;конфигурация;опции;preferences;settings;
Keywords[bn_IN]=অগ্রাধিকার;সেটিং;
Keywords[bs]=Postavke;Podešavanja;
Keywords[ca]=Preferències;Configuració;
Keywords[ca@valencia]=Preferències;Paràmetres;
Keywords[ckb]=Preferences;Settings;
Keywords[cs]=předvolby;nastavení;
Keywords[da]=Indstillinger;Opsætning;
Keywords[de]=Einstellungen;
Keywords[el]=Προτιμήσεις;Ρυθμίσεις;Preferences;Settings;
Keywords[en_GB]=Preferences;Settings;
Keywords[en_US]=Preferences;Settings;
Keywords[eo]=Preferoj;Agordoj;
Keywords[es]=Preferencias;Configuración;
Keywords[et]=Eelistused;Sätted;Seaded;Seadistused;
Keywords[eu]=Hobespenak;Ezarpenak;
Keywords[fa]=Preferences;Settings;ترجیحات;تنظیمات;
Keywords[fi]=Ominaisuudet;Asetukset;Preferences;Settings;
Keywords[fr]=Préférences;Paramètres;Réglages;
Keywords[fur]=Preferencis;Impostazions;
Keywords[gd]=Roghainnean;
Keywords[gl]=Preferencias;Configuración;
Keywords[gu]=પસંદગીઓ;સુયોજનો;
Keywords[he]=העדפות;הגדרות;
Keywords[hi]=वरीयताएँ;सेटिंग्स;
Keywords[hr]=Osobitosti;Postavke;
Keywords[hu]=Tulajdonságok;Beállítások;
Keywords[id]=Preferensi;Pengaturan;
Keywords[is]=Kjörstillingar;Uppsetning;
Keywords[it]=Preferenze;Impostazioni;
Keywords[ja]=Preferences;Settings;設定;
Keywords[ka]=მორგება;
Keywords[kk]=Preferences;Settings;Баптаулар;Қалаулар;
Keywords[kn]=ಆದ್ಯತೆಗಳು;ಸಿದ್ಧತೆಗಳು;
Keywords[ko]=Preferences;환경설정;Settings;설정;
Keywords[lt]=Nuostatos;Nustatymai;
Keywords[lv]=Iestatījumi;Uzstādījumi;Konfigurācija;Preferences;Settings;
Keywords[ml]=Preferences;Settings;
Keywords[mr]=पसंती;सेटिंग्स्;
Keywords[ms]=Keutamaan;Tetapan;
Keywords[nb]=Brukervalg;Innstillinger;
Keywords[ne]=प्राथमिकता;सेटिङ;
Keywords[nl]=Preferences;Settings;Voorkeuren;Instellingen;
Keywords[oc]=Preferéncias;Paramètres;Reglatges;
Keywords[or]=ପସନ୍ଦ;ସେଟିଙ୍ଗଗୁଡ଼ିକ;
Keywords[pa]=ਮੇਰੀ ਪਸੰਦ;ਸੈਟਿੰਗ;
Keywords[pl]=Preferencje;Ustawienia;Konfiguracja;Opcje;
Keywords[pt_BR]=Preferências;Configurações;Ajustes;
Keywords[pt_PT]=Preferências;Definições;
Keywords[ro]=Preferences;Settings;Preferințe;Configurări;
Keywords[ru]=Предпочтения;Настройки;
Keywords[sl]=Možnosti;Nastavitve;
Keywords[sv]=Inställningar;
Keywords[ta]=விருப்பங்கள்;அமைப்புகள்;
Keywords[te]=ప్రాధాన్యతలు;అమరికలు;
Keywords[tg]=Хусусиятҳо;Танзимот;
Keywords[th]=ปรับแต่ง;ตั้งค่า;
Keywords[tr]=Tercihler;Ayarlar;
Keywords[uk]=Налаштування;Параметри;
Keywords[vi]=Preferences;Tùy;thích;Tuy;thich;Cấu;hình;Cau;hinh;Settings;Thiết;lập;Thiet;lap;Cài;đặt;cai;dat;Tùy;chọn;Tuy;chon;Cá;ca;nhân;nhan;hóa;hoa;
Keywords[zh_CN]=首选项;设置;
Keywords[zh_HK]=Preferences;Settings;偏好設定;設定值;
Keywords[zh_TW]=Preferences;Settings;偏好設定;設定值;
Keywords=Preferences;Settings;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
