[Desktop Entry]
Name=Notifications
Name[ar]=الإشعارات
Name[cs]=Oznámení
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[en]=Notifications
Name[es]=Notificaciones
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[ga]=Fógraí
Name[gl]=Notificacións
Name[hu]=Értesítések
Name[id]=Notifikasi
Name[it]=Notifiche
Name[kab]=Ilɣa
Name[kk]=Хабарландырулар
Name[kmr]=Agahdarî
Name[ko]=알림
Name[lt]=Pranešimai
Name[nl]=Meldingsinstellingen
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ru]=Уведомления
Name[sk]=Oznámenia
Name[sr]=Обавештења
Name[sv]=Aviseringar
Name[tr]=Bildirimler
Name[uk]=Сповіщення
Name[zh_CN]=通知
Name[zh_TW]=通知
Comment=Do Not Disturb, lockscreen notifications, and per-application settings.
Comment[ar]=عدم الإزعاج، إشعارات شاشة القفل، وإعدادات لكل تطبيق
Comment[cs]=Režim Nerušit, oznámení na zamykací obrazovce a nastavení jednotlivých aplikací
Comment[de]=Nicht stören, Sperrbildschirm-Benachrichtigungen und Einstellungen pro Anwendung
Comment[el]=Λειτουργία «Μην ενοχλείτε», ειδοποιήσεις οθόνης κλειδώματος και ρυθμίσεις ανά εφαρμογή
Comment[en]=Do Not Disturb, lockscreen notifications, and per-application settings
Comment[es]=No molestar, notificaciones de pantalla de bloqueo y ajustes de aplicación
Comment[fi]=Älä häiritse, lukitusnäytön ilmoitukset ja sovelluskohtaiset asetukset
Comment[fr]=Ne pas déranger, notifications sur l'écran de verrouillage et paramètres par application
Comment[ga]=Ná Cuir Isteach, fógraí glasála scáileáin, agus socruithe in aghaidh an fheidhmchláir
Comment[gl]=Non molestar, notificacións da pantalla de bloqueo e configuración por aplicación
Comment[hu]=Ne zavarjanak mód, a zárolási képernyő értesítései és alkalmazásonkénti beállítások
Comment[id]=Pengaturan Jangan Ganggu, notifikasi layar kunci, dan per-aplikasi
Comment[it]=Non disturbare, notifiche su schermata di blocco e impostazioni per applicazioni
Comment[kk]="Мазаламаңыз" режимі, экранды құлыптау хабарландырулары және әр қолданбаға арналған баптаулар
Comment[kmr]=Sazkariyên rawestandina balkêşiyê, agahdariyên dîmendera kilîtê û sazkariyên taybetî yên sepanan
Comment[ko]=방해 금지와 잠금 화면 알림 및 애플리케이션별 설정
Comment[lt]=Režimas „Netrukdyti“, užrakinto ekrano pranešimai ir programų nuostatos
Comment[nl]="Niet storen", meldingen op het vergrendelingsscherm en meldingsinstellingen per app
Comment[pa]=ਤੰਗ ਨਾ ਕਰੋ, ਲਾਕ-ਸਕਰੀਨ ਸੂਚਨਾਵਾਂ ਅਤੇ ਪ੍ਰੀ-ਐਪਲੀਕੇਸ਼ਨ ਸੈਟਿੰਗਾਂ
Comment[pl]=Tryb „nie przeszkadzać”, powiadomienia na ekranie blokady i ustawienia poszczególnych aplikacji
Comment[pt]="Não Perturbe", notificações na tela de bloqueio e ajustes por aplicativo
Comment[pt_BR]=Modo "Não perturbe", notificações no bloqueio de tela e configurações por aplicativo
Comment[ru]=Режим «Не беспокоить», уведомления на экране блокировки и параметры по приложениям
Comment[sk]=Nerušiť, oznámenia na uzamknutej obrazovke a nastavenia pre aplikácie
Comment[sr]=Не узнемиравај, обавештења на закључаном екрану и подешавања по програмима
Comment[sv]=Stör ej, aviseringar på låsskärm, och inställningar per program
Comment[tr]=Rahatsız Etme modu, kilit ekranı bildirimleri ve uygulama bazlı ayarlar
Comment[uk]=Не турбувати, сповіщення на екрані блокування, налаштування застосунків
Comment[zh_CN]=勿扰模式、锁屏通知和每个应用程序的设置
Comment[zh_TW]=勿擾模式、鎖定螢幕通知、及各個應用程式設定
Type=Application
Exec=cosmic-settings notifications
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Notification;Lock;
Keywords[ar]=COSMIC;إشعار;قفل;
Keywords[cs]=COSMIC;Oznámení;Zámek;Zamykání;Zamykací;
Keywords[de]=COSMIC;Benachrichtigung;Sperre;
Keywords[el]=Ειδοποίηση;Κλείδωμα;COSMIC;Notification;Lock;
Keywords[en]=COSMIC;Notification;Lock;
Keywords[fi]=COSMIC;Notification;Lock;ilmoitus;lukitus;
Keywords[fr]=COSMIC;Notification;Verrouillage;
Keywords[ga]=COSMIC;Fógra;Glasáil;
Keywords[gl]=COSMIC;Notificación;Bloqueo;
Keywords[hu]=COSMIC;Értesítés;Zárolás;Ne zavarjanak;
Keywords[id]=COSMIC;Notifikasi;Kunci;
Keywords[kab]=COSMIC;Alɣu;Asekkeṛ;
Keywords[kk]=COSMIC;Хабарландыру;Құлыптау;
Keywords[kmr]=COSMIC;Agahdarî;Kilîtkirin;
Keywords[ko]=COSMIC;알림;잠금;
Keywords[lt]=COSMIC;Pranešimai;Užraktas;
Keywords[pa]=COSMIC;ਨੋਟੀਫਿਕੇਸ਼ਨ;ਲਾਕ;
Keywords[pl]=COSMIC;Powiadomienia;Blokada;
Keywords[pt_BR]=COSMIC;Notificação;Bloqueio;
Keywords[ru]=COSMIC;Уведомления;Блокировка;
Keywords[sr]=COSMIC;Notification;Lock;Космик;обавештење;закључавање;Kosmik;obaveštenje;zaključavanje;
Keywords[sv]=COSMIC;Avisering;Lås;
Keywords[tr]=COSMIC;Bildirim;Kilit;
Keywords[uk]=COSMIC;Сповіщення;Блокування;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;通知;锁屏;
Keywords[zh_TW]=COSMIC;通知;鎖定;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
