[Desktop Entry]
Name=Network & Wireless
Name[ar]=الشبكة والاتصالات اللاسلكية
Name[cs]=Síť a Wi-Fi
Name[de]=Netzwerk & Drahtlos
Name[el]=Δίκτυα και ασύρματη σύνδεση
Name[en]=Network & Wireless
Name[es]=Red e inalámbrico
Name[fi]=Verkko ja langaton
Name[fr]=Réseau et sans fil
Name[ga]=Líonra & Gan Sreang
Name[gl]=Rede e conexións sen fíos
Name[hu]=Hálózat és Wi-Fi
Name[id]=Jaringan & Nirkabel
Name[it]=Rete e connessioni Wi-Fi
Name[kab]=Aẓeṭṭa akked tuqqna war agatu
Name[kk]=Желі және сымсыз байланыс
Name[kmr]=Tor
Name[ko]=네트워크 & 무선
Name[lt]=Tinklas ir Belaidis ryšys
Name[nl]=Netwerk en wifi
Name[pa]=ਨੈੱਟਵਰਕ ਅਤੇ ਬੇਤਾਰ
Name[pl]=Sieć i połączenia bezprzewodowe
Name[pt]=Rede e Wi-Fi
Name[pt_BR]=Rede e conexão sem fio
Name[ru]=Сеть и Wi-Fi
Name[sk]=Sieť & Bezdrôtové
Name[sr]=Мрежа и бежична веза
Name[sv]=Nätverk & Wi-Fi
Name[tr]=Ağ & Kablosuz
Name[uk]=Мережа та Wi‑Fi
Name[zh_CN]=网络与无线
Name[zh_TW]=網路與無線
Comment=Manage network connections
Comment[ar]=أدِر اتصالات الشبكة
Comment[cs]=Správa síťových připojení
Comment[de]=Netzwerkverbindungen verwalten
Comment[el]=Διαχείριση συνδέσεων δικτύου
Comment[en]=Manage network connections
Comment[es]=Gestionar conexiones de red
Comment[fi]=Hallitse verkkoyhteyksiä
Comment[fr]=Gérer les connexions réseau
Comment[ga]=Bainistigh naisc líonra
Comment[gl]=Xestionar as conexións de rede
Comment[hu]=Hálózati kapcsolatok kezelése
Comment[id]=Kelola sambungan jaringan
Comment[it]=Gestisci le connessioni di rete
Comment[kab]=Sefrek tuqqniwin n uẓeṭṭa
Comment[kk]=Желілік байланыстарды басқару
Comment[kmr]=Girêdanên torê bi rê ve bibe
Comment[ko]=네트워크 연결 관리
Comment[lt]=Tvarkyti tinklo ryšius
Comment[nl]=Netwerkverbindingen beheren
Comment[pa]=ਨੈੱਟਵਰਕ ਕਨੈਕਸ਼ਨਾਂ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzaj połączeniami sieciowymi
Comment[pt]=Gerenciar conexões de rede
Comment[pt_BR]=Gerenciar conexões de rede
Comment[ru]=Управление сетевыми подключениями
Comment[sk]=Spravovať sieťové pripojenia
Comment[sr]=Управљај мрежним везама
Comment[sv]=Hantera nätverksanslutningar
Comment[tr]=Ağ bağlantılarını yönetin
Comment[uk]=Керуйте мережевими з’єднаннями
Comment[zh_CN]=管理网络连接
Comment[zh_TW]=管理網路連線
Type=Application
Exec=cosmic-settings network
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Network;Wireless;WiFi;VPN;
Keywords[ar]=COSMIC;شبكة;لاسلكي;واي فاي;VPN;ش‌خ‌ف;شبكة خاصة افتراضية;
Keywords[cs]=COSMIC;Síť;Bezdrátové;WiFi;VPN;
Keywords[de]=COSMIC;Netzwerk;Drahtlos;WLAN;VPN;
Keywords[el]=Δίκτυο;Δικτύωση;Ασύρματο;COSMIC;Network;Wireless;WiFi;VPN;
Keywords[en]=COSMIC;Network;Wireless;WiFi;VPN;
Keywords[fi]=COSMIC;Network;Wireless;WiFi;VPN;verkko;langaton;erillisverkko;
Keywords[fr]=COSMIC;Réseau;Sans fil;Wi-Fi;VPN;
Keywords[ga]=COSMIC;Líonra;Gan Sreang;WiFi;VPN;
Keywords[gl]=COSMIC;Rede;SenFíos;WiFi;VPN;
Keywords[hu]=COSMIC;Hálózat;Vezeték;Nélküli;WiFi;VPN;
Keywords[id]=COSMIC;Jaringan;Nirkabel;WiFi;VPN;
Keywords[kab]=COSMIC;Aẓeṭṭa;War agatu;WiFi;VPN;
Keywords[kk]=COSMIC;Желі;Сымсыз;WiFi;VPN;
Keywords[kmr]=COSMIC;Tor;Bêtêlî;WiFi;VPN;
Keywords[ko]=COSMIC;네트워크;무선;WiFi;VPN;
Keywords[lt]=COSMIC;Tinklas;Bevielis ryšys;WiFi;VPN;
Keywords[pa]=COSMIC;ਨੈੱਟਵਰਕ;ਬੇਤਾਰ;ਵਾਈਫਾਈ;ਵੀਪੀਐਨ;
Keywords[pl]=COSMIC;Sieci;Bezprzewodowe;WIFI;VPN;
Keywords[pt_BR]=COSMIC;Rede;Conexão;fio;Wireless;WiFi;VPN;
Keywords[ru]=COSMIC;Сеть;Беспроводная;Связь;WiFi;VPN;Вайфай;ВПН;
Keywords[sr]=COSMIC;Network;Wireless;WiFi;VPN;Космик;мрежа;бежична веза;бежична;ВПН;Kosmik;mreža;bežična veza;bežična;vpn;
Keywords[sv]=COSMIC;Nätverk;Trådlöst;WiFi;VPN;
Keywords[tr]=COSMIC;Ağ;Kablosuz;WiFi;VPN;
Keywords[uk]=COSMIC;Мережа;Бездротове;WiFi;VPN;КОСМІК;КОСМОС;КОСМІЧНЕ;
Keywords[zh_CN]=COSMIC;网络;无线;WiFi;VPN;
Keywords[zh_TW]=COSMIC;網路;無線;WiFi;VPN;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-network-and-wireless
StartupNotify=true
