[Desktop Entry]
Type=Application
Name=Compass
GenericName=Application Launcher
Comment=A fast, extensible command palette for Linux
Exec=vicinae start
Icon=com.vicinae.Vicinae
Terminal=false
Categories=Utility;
Keywords=launcher;search;command;palette;
StartupWMClass=com.vicinae.Vicinae
