[Unit]
Description=Compass launcher
Documentation=https://github.com/tuna-os/compass
After=graphical-session.target
Requires=dbus.socket
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=compass start --hidden
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
